[2015-04-20 17:39] Swisyn opened #1 "gradle?"
Have you tried jar file on android studio? It seems that it doesn't work. Would you please add the library to maven?

[2015-04-23 22:05] jkasten2 commented on #1
Our SDK jar has been tested to work with Android Studio. You can drop our jar into the libs folder.

Also add the following 2 libraries:
- Android Support Library v4 (v13 works too if you already have it added)
- Google Play services

[code]

You can then follow the rest of the our [setup guide](http://documentation.onesignal.com/v2.0/docs/installing-the-onesignal-android-sdk#next-you-will-need-to

[2015-04-29 13:41] skywall opened #3 "onPause NPE"
Hi,

I'm trying to share some content with ACTION_SEND intents. Before share dialog (chooser) is shown application crashes with following exception:

java.lang.RuntimeException: Unable to pause activity {cz...../cz.....activity.MainActivity}: java.lang.NullPointerException
            at android.app.ActivityThread.performPauseActivity(ActivityThread.java:3086)
            at android.app.ActivityTh

[2015-05-01 20:10] jkasten2 commented on #3
Hello,

Are you calling `OneSignal.init()` before OneSignal.onPaused(); gets called in your app? I believe this is creating the crash in your app. We will add a check for this order in our SDK in a future version so this does not crash.

Thanks.

[2015-05-04 06:51] skywall commented on #3
Hi,

thanks for answer. You're right. OneSignal.init() hasn't been called. When user came back to application after "share action", other than "Launcher" activity has been started.

Thanks.

[2015-05-05 08:22] alvivi commented on #1
You should add this project to Maven Central. Is the only one dependency that is not handled by Maven in our projects.

[2015-05-09 06:51] Swisyn commented on #1
Also if you don't know  how to host an library in maven, check it out; http://zserge.com/blog/gradle-maven-publish.html or more users will continue to using pushbots.

[2015-05-13 21:52] jkasten2 commented on #1
We just made our SDK available on Maven Central and create [installation instructions for Android Studio](https://dash.readme.io/project/gamethrive/v2.0/docs/android-studio-sdk-installation).

Thanks.

[2015-05-18 22:42] #1 closed

[2015-06-02 00:38] #3 closed

[2015-06-02 00:39] jkasten2 commented on #3
Fixed, no longer crashes even if init is not called or is called out of order.

commit d053c5ff54d17031af356e104779118070a84d85
version 1.9.0

[2015-07-14 14:23] AndreiD opened #4 "failed to resolve: com.onesignal:OneSignal:1.10.2+"
greetings

when I put in the gradle app file:

compile 'com.onesignal:OneSignal:1.10.2+@aar'

I get.

Error:(38, 13) Failed to resolve: com.onesignal:OneSignal:1.10.2+

Any thoughts on this ?

[2015-07-14 14:29] AndreiD commented on #4
works with compile 'com.onesignal:OneSignal:1.+@aar'
but it's not good practice..

[2015-07-14 23:52] jkasten2 commented on #4
Hello,

1.10.2 was pushed to maven center a few hours before your post. It may have not been available yet or Android Studio did not pull for the latest maven central versions when you built.

We recommend running with the latest with `'com.onesignal:OneSignal:1.+@aar'`, as YY releases (format `XX.YY.ZZ`) normally include bug fixes as well as new features. However, we added a note to our [setup in

[2015-07-16 19:43] #4 closed

[2015-09-18 07:17] daisy1754 opened #5 "Potentially dangerous cast inside Onesignal.Log method"
https://github.com/one-signal/OneSignal-Android-SDK/blob/b05676b9f4844bac4658bab5021ed0b94dd997f1/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignal.java#L378

Since context here is Context type, `(Activity)context` can raise RuntimeException if caller passes non-Activity context as argument. OneSignal.Log method is public, so anyone can call it.

I believe right approach here is impleme

[2015-09-18 20:43] jkasten2 commented on #5
Hello,

Thanks for reporting this, our `OneSignal.Log` methods were not designed to be called by the app developer but they were left open originally due to some namespace differences at one point. I have locked them down to package-private(no modifier) and private.

Thanks for the suggestion on the runOnUiThread thread. However an Activity is the only Context type that can display a dialog. I hav

[2015-09-24 21:12] #5 closed

[2015-11-18 12:02] jagatappv opened #6 "Issue with com.loopj.android:android-async-http:1.4.9 lib integration"

[2015-11-19 16:14] ITurchenko opened #7 "OneSignal.init cause Activity leaking"
LeakCanary reports that activity used in OneSignal.Init method is keeping in memory after going to another activities.

[2015-11-19 20:06] jkasten2 commented on #6
We are removing the loopj library from our SDK in the next major release. I'll update this issue when it is released.

Thanks.

[2015-11-19 20:08] jkasten2 commented on #7
We are changing our Activity handling in the next major release of our SDK. I'll update this issue when it is available.

Thanks.

[2015-11-30 11:41] jagatappv commented on #6
Can you tell me the date when you will release a new version with updates after removing the loopj lib?

Thanks for support

[2015-12-02 11:54] abhimediratta opened #8 "DatabaseNotClosedException raised when notification arrives"
I'm running the app in StrictMode. I get the following exception when notification comes on the app:

Finalizing a Cursor that has not been deactivated or closed. database = /data/data/com.patientapp/databases/OneSignal.db, table = notification, query = SELECT notification_id FROM notification WHERE notification_id = ?
12-02 17:20:45.025 4035-4044/com.patientapp E/StrictMode: android.database.sqli

[2015-12-09 20:28] sealskej commented on #6
+1

[2015-12-10 09:29] sealskej commented on #7
+1

[2015-12-12 07:22] jkasten2 commented on #6
Version 2.0.0 of the SDK is released which includes the removal of android-async-http (loopj) that fixes this conflict issue. See the release and update notes for details
https://github.com/one-signal/OneSignal-Android-SDK/releases/tag/2.0.0

Thanks.

[2015-12-12 07:22] #6 closed

[2015-12-12 07:23] jkasten2 commented on #7
Version 2.0.0 of the SDK is released fixes the Activity leak issue. See the release and update notes for details.
https://github.com/one-signal/OneSignal-Android-SDK/releases/tag/2.0.0

Feel free to reopen this issue if you're still seeing an Activity leak.

Thanks.

[2015-12-12 07:23] #7 closed

[2015-12-12 07:27] jkasten2 commented on #8
Thanks for reporting the issue, we will be looking into this issue next week. Could you provide step by step instructions to reproduce this issue to help us quickly fix it?

Thanks.

[2015-12-18 06:55] jkasten2 commented on #8
Just fixed the open cursor from your stack trace as well as a few other open resources in commit 4028737ff3d839dbcdac14352c7b3902119381bd

Thanks.

[2015-12-18 06:55] #8 closed

[2016-01-04 19:51] dbystVF opened #9 "Gradle configuration"
Hey..I have my android project. I created 2 applications in OneSignal...Staging and Production...
How can I setup 2 different onesignal_app_id: for different build types in my project.

android {
    defaultConfig {
        manifestPlaceholders = [manifestApplicationId: "${applicationId}",
                                onesignal_app_id: "b2f7f966-d8cc-11e4-bed1-df8f05be55ba",

[2016-01-07 04:36] varunnayak opened #10 "setPriority option missing"
setPriority(Notification.PRIORITY_MAX) can be used to show Heads-up Notifications

[2016-01-07 04:50] varunnayak opened #11 "Option to disable sound and vibrate from api"

[2016-01-09 04:32] jkasten2 commented on #9
Hello,

You can define different `manifestPlaceholders` for each of your `buildTypes`.

Example:
[code]

Thanks.

[2016-01-11 12:19] dbystVF commented on #9
Yep, exactly what i need...Thanks

[2016-01-11 12:19] #9 closed

[2016-01-19 23:08] jkasten2 commented on #10
Thanks for the suggestion, we look into adding support for this in the future.

[2016-01-19 23:11] jkasten2 commented on #11
Currently we do have these options available for all OneSignal notifications received by the app via the [enableVibrate](https://documentation.onesignal.com/docs/android-sdk-api#section-enablevibrate) and [enableSound](https://documentation.onesignal.com/docs/android-sdk-api#section-enablesound) SDK methods.

We will look into adding these options to our REST API as well.

[2016-02-01 09:54] varunnayak opened #12 "Notification received callback option"
Please provide a callback when a notification is received so that I can show badge on app icon. It would be even better if you could integrate with https://github.com/leolin310148/ShortcutBadger

[2016-02-02 11:28] gcrescent opened #13 "Can not delete tag with number value"
I have a tag that has number as it's value, and whenever I tried to delete the tag I got:

java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Number
                                                               at com.onesignal.OneSignalStateSynchronizer.generateJsonDiff(OneSignalStateSynchronizer.java:94)
                                                               at c

[2016-02-03 04:27] jkasten2 commented on #12
We provide a `com.onesignal.BackgroundBroadcast.RECEIVE` action that fire when you set `android_background_data` on our [create notification](https://documentation.onesignal.com/docs/notifications-create-notification) REST API POST call. See our [Android Background Data](https://documentation.onesignal.com/docs/android-notification-customizations#background-data-silent-notifications) information f

[2016-02-08 15:55] alisherafat opened #14 "I cant't subscribe to One Signal .. why?"
Hi... my project is completely similar to your github app but i included jar library file (v 2.0.8 ) because i wasn't able to compile your library via compile 'com.onesignal:OneSignal:2.+@aar'. and when i run my app nothing happen and there is no user in my dashboard!  and i get a null pointer exeption (showing in logcat) in my application class on this line > OneSignal.startInit(this)  (just like

[2016-02-10 21:28] jkasten2 commented on #14
Hello,

Adding `compile 'com.onesignal:OneSignal:2.+@aar'` to your project should automatically download it from Maven Central. Can you verify that you added it to your `build.gradle (Module: app)` file and not your root project one? Also please make sure you are using Android Studio 1.4 or newer. You can also check the "Gradle Console" for any errors. The setup process is much easier if you can u

[2016-02-12 16:15] burtbenigni commented on #13
Same problem!
Please fix it or nobody can delete any int type tag.

[2016-02-12 16:17] illambo commented on #13
+1

[2016-02-12 17:32] alisherafat commented on #14
the problem is i'm using Jcenter() repositories and download libraries from there but your library is in maven!

[2016-02-12 23:47] jkasten2 commented on #14
Maven Central should be used [by default in Android Studio](http://developer.android.com/tools/building/configuring-gradle.html). However you can add it to your gradle file if it isn't find it.

[code]

Are you building with gradle directly?

[2016-02-13 05:27] jkasten2 commented on #13
Just fixed this in version 2.1.0.

[2016-02-13 05:27] #13 closed

[2016-02-15 21:03] codercampos commented on #14
I should recommend using gradle Build tools, from Android Studio is kinda complex (to me at least) to build correctly. With gradle was so simple with just one command to generate de .aar file for Xamarin

[2016-02-19 07:05] pikachuShy opened #17 "One Signal Android SDK getTags can't get all tags from server"
When using the getTags function, the return json only return one value for every first time i open the app(uninstall and install). For example in the dashboard, i saw that i already consists three tags, after i called the getTags, it only return me the first tag.
Is it a bug?

[2016-02-23 05:30] jkasten2 commented on #17
Currently the getTags method only returns the device's local tags. We will look into changing this logic to fetch the tags the first time from the server.

[2016-02-24 14:03] natangr opened #19 "Set default color missing"
It would be great to be able to set the default color of the notifications on the app side.

[2016-02-24 14:32] natangr opened #20 "Option to handle notification display missing"
It'd be awesome to be able to manually handle the notification display on the app side. Maybe you could implement something like the touch event handled pattern, where we return true and it means that the notification has already been displayed and the library doesn't need to display it again.

[2016-02-25 05:39] vivekebics opened #21 "Notification is not delivered"
I have done sample app for push notification. I am able to get the UserID and Google Registration Id. It shows correctly. But When sent message from the OneSingle. I am unable to get the notification.Please help me to solve this ?

[2016-02-25 06:52] #21 closed

[2016-02-26 21:09] vsayer opened #23 "POST Error thrown from network stack causes ConcurrentModificationException"
This issue was caught developing the Xamarin SDK which builds on top of OneSignal-Android-SDK 2.1.1.

The issue appears to be occurring after DeleteTags.

DeleteTags was called to clean up any tags on the OneSignal server. It looks like the DeleteTags call did succeed, but a low-level Java exception was thrown in the process:
[code]

[2016-02-26 21:33] vsayer commented on #23
So it appears to be pretty deterministic. The first time you install your Android app, the issue doesn't occur, but if you install it again and call the DeleteTags, it consistently occurs. The only way to not see the exception is uninstall the application entirely from the device.

[2016-02-27 00:06] jkasten2 commented on #20
You can use our [Background Data](https://documentation.onesignal.com/docs/android-notification-customizations#background-data-silent-notifications) feature to do this. Make sure to omit the 'contents' parameter when creating the notification to keep the SDK from displaying the notification.

The touch event handled pattern won't work in this case since most of the time that app wouldn't be alive

[2016-02-27 05:53] jkasten2 commented on #23
Fixed in pull request #24.

[2016-02-27 05:53] #23 closed

[2016-03-01 19:19] VSG24 opened #26 "Option to change the string for close button when using EnableInAppAlertNotification"
Currently the value is hard coded in Java and there's no way for us to change it using the api. That makes it impossible to localize. Please add an option to change that string in client side.

[2016-03-01 19:46] jkasten2 commented on #26
We are considering localizing this button in our SDK instead of adding an API parameter for it. You can use one of the following options in the meantime however.
* Set call `OneSiganl.enableNotificationsWhenActive(true);` after OneSignal init.
* In your `NotificationOpenedHandler` use `AlertDialog` to display your own alert.

Thanks.

[2016-03-01 19:54] VSG24 commented on #26
Thanks for considering that but I still think it's best if you provide an API parameter for it. In case we need to override it.

[2016-03-02 15:42] AkshayChordiya opened #28 "Add callback to sendTags method"
Hey,

I'm using `sendTags` method to send tags to OneSignal but I want my app to move ahead once those tags are saved on OneSignal. Moreover the REST API implementation of sending tags provide a `response`.
I'm hoping to see a callback method for the `sendTags` method, something to similar to `sendTags` method callback function in **Web Push**

[2016-03-04 23:09] jkasten2 commented on #28
Thanks for the suggestion, we have opted to not to bring this callback to this SDK due to how these SDKs handle them differently.

The Android SDK does retries on setting the values for you incase of network issues as well as also saving the tags offline if there is no connection at all. Let us know if you see any issues with this and we can look into it.

Thanks.

[2016-03-05 01:54] AkshayChordiya commented on #28
No problem. Thank you for the complete detail, it helped me.

Regards,
Akshay Chordiya
On Mar 5, 2016 4:39 AM, "Josh Kasten" <notifications@github.com> wrote:

[2016-03-05 02:15] #28 closed

[2016-03-06 09:13] g123k opened #30 "Fatal Exception: java.lang.NoSuchMethodError"
Hello,

I have an application in production which uses the OneSignal SDK. I also have included Fabric/Crashlytics and it notifies me about a crash related to the SDK, that I can't reproduce :

This crash seems to be related with devices running Android L (5.1) or below.

[2016-03-09 00:01] jkasten2 commented on #30
We currently have a check to make sure that the code listed in your stack trace is only run on Android device 6.0+. Could you report of a few of the device with the following properties of each.
model number, Android version, and is rooted.

You send us a support message at support@onesignal.com or through the red button in the right hand corner when you're looked into our site with a link to some

[2016-03-18 18:53] jzeferino commented on #12
Related to this topic. My NotificationOpened callback is called when the user opens the notifications. thats ok. but if the application is in foreground the callback is called and the notification don't appear. There is any way to do that?

[2016-03-21 16:41] gidimi opened #33 "One signal service restart causing app to also relaunch"
Killing app using android's multitask menu restarts ***/com.onesignal.syncservice which in turn relaunches the app. I've attached a screenshot of the log.

![photo_2016-03-21_17-39-59](https://cloud.githubusercontent.com/assets/16780185/13926317/08f1ddb0-ef8c-11e5-8bd2-4f7ad571136b.jpg)

[2016-03-22 03:52] jkasten2 commented on #33
Hello,

The `com.onesignal.SyncService` is designed to check and send any tags, settings, or session data to OneSignal in case there was any previous networking issues. The service will stop quickly if there is no work to do.

Do you have code in your `onCreate` in your `Application` class starting an Activity automatically? This could cause your Activity to start when it receive other intents as

[2016-03-22 12:32] gidimi commented on #33
Thanks, that was it!

[2016-03-22 12:32] #33 closed

[2016-03-30 04:35] jkasten2 commented on #12
@jzeferino This is expected behavior by default. If you want notification to show even when your app is in the foreground you can call [enableNotificationsWhenActive](https://documentation.onesignal.com/docs/android-sdk-api#enableNotificationsWhenActive) with true after OneSignal init is called.

[2016-04-01 07:39] olegwn commented on #10
this is much needed. When do you think you will implement this?

[2016-04-01 21:02] jkasten2 commented on #12
@varunnayak Just added Badge support in version [2.2.0](https://github.com/one-signal/OneSignal-Android-SDK/releases/tag/2.2.0). The badge count is automatically set to the number of notifications shown in the Android notification shade.

[2016-04-01 21:02] #12 closed

[2016-04-03 09:38] jkasten2 commented on #19
Just added support for this in version 2.3.0 by adding an AndroidManifest.xml meta-data option named. `com.onesignal.NotificationAccentColor.DEFAULT`. It has the same format as our REST API call. Example:
[code]

[2016-04-03 09:38] #19 closed

[2016-04-05 15:11] jzeferino commented on #12
@jkasten2 i tested the call ` enableNotificationsWhenActive ` and it worked fine on Android.
In iOs i was expecting the same result but the push notification didn't appear in the notification bar.
It opened a AlertView with the message text and an OK button.
This is normal behaviour?

[2016-04-10 18:01] karopass opened #34 "Application get crashed"
I have implemented onesignal as push notification in one of my android application. notification working fine if it have working internet during notification sent time but if device have not internet connection and we send notification, than when user enable internet in device and receive notification than application getting crashed...what is the issue ?

[log.txt](https://github.com/one-signal/O

[2016-04-11 11:14] junaidstalkbylove opened #35 "Getting Two Push Notification."
I have Implemented my own Push receiver class. But I am getting two push notification. One is my and the other one is default with the messages which I am sending from OneSignal.
I have declared my Receiver in the manifest.
Please help.
![device-2016-04-11-164321](https://cloud.githubusercontent.com/assets/16255212/14425386/90d82ee0-0004-11e6-94bf-ddb3aa75e327.png)

[2016-04-11 13:20] BugsBunnyBR opened #36 "SDK does not handle push token update on background"
As ffar as I could understand of this project, the push token will not be updated if the app is not open for a while.
The token registration process is only triggered in the method onAppFocus, if the user does not open the app for a while, the push token will be invalidated by google and the user will stop receiving push notifications.
Use this link as samples to update the implementation:
https:/

[2016-04-13 13:29] BugsBunnyBR commented on #36
So, there will be a fix soon? I have seem (literally) some users (work colleagues) not receiving their push notifications even with being sure to have the app installed but not opened over 3 or 4 days...

[2016-04-13 20:27] jkasten2 commented on #36
I shoot for getting this in our next minor version update however I don't believe this is the issue your seeing.
Google's comment notes that this is called if there security of the token had been compromised.
https://github.com/googlesamples/google-services/blob/master/android/gcm/app/src/main/java/gcm/play/android/samples/com/gcmquickstart/MyInstanceIDListenerService.java#L32

It is more likely a

[2016-04-14 15:36] rafalzawadzki opened #37 "Stacking the notifications - icons"
We are implementing the push notifications for some user messaging and we were trying to stack the messages nicely.
Each message can have different large icon and in this case when they stack on eachother, the icon should be changed into app icon. As on example from your documentation:

![Image](https://www.filepicker.io/api/file/ZwvB3F4bRqepRE03huzU)

We couldnt find a way to make it - it seems t

[2016-04-16 19:01] aronmoles commented on #35
Can I turn off notifications that arrive through the sdk and pocesar all notifications through BroadcastReceiver?

Thanks

[2016-04-17 21:56] djdance opened #38 "Gray second icon and no badge in API21"
On Android 4.x badges appear and notif icon is fine.
But in Android 5.1 two problems:

1. Why there a small gray icon in the right bottom corner? Yes, this is my gray icon for notification, but why here?
2. No badge on screen. (exists on Android 4.x)

![device-2016-04-18-004352](https://cloud.githubusercontent.com/assets/2269720/14590321/0b256046-0500-11e6-8d7e-050b51c83050.png)

[2016-04-18 01:51] jkasten2 commented on #38
1. This is where the small notification icon is placed when a large icon is set on the notification. This is how the Android OS handles this, see [Google's notification](http://developer.android.com/design/patterns/notifications.html) documentation.

2. The badge number isn't a standard Android launcher feature. You need to use a launcher on the device that supports them. We use [ShortcutBadger](h

[2016-04-18 01:51] #38 closed

[2016-04-18 05:30] junaidstalkbylove commented on #35
Hey Aronmoles,

You can not turn off notification that arrive through the SDK. If you want to turn off then you need to send push notification from OneSingal without Content.
Then, the content you want to send you need to put that content in the additional field.
Below is the example for the same.

Just put your json in the Value filed with a key.

Then use below mentioned code to parse that JSON

[2016-04-18 08:00] djdance commented on #38
clear, thank you.

[2016-04-20 00:57] jkasten2 commented on #14
We added a troubleshooting section for this issue.
https://documentation.onesignal.com/docs/android-native-troubleshooting

Feel free to reopen this issue if none of the above resolves it.

[2016-04-20 00:57] #14 closed

[2016-04-21 21:56] jkasten2 commented on #37
Thanks for the report, I'll look into getting a fix for this in the next release.

[2016-04-21 22:19] francocorreasosa opened #39 "UNEXPECTED TOP-LEVEL EXCEPTION"
I got this error after linking the library with the Android project (React Native)
[code]

[2016-04-21 23:20] jkasten2 commented on #39
This means there is 2 copies of the Google Play services library. You need to remove one.

[2016-04-22 02:28] francocorreasosa commented on #39
mmm. how can I do that? I don't know almost anything of Android dev. The repo is [francocorreasosa/inumet-react-native](https://github.com/francocorreasosa/inumet-react-native)

[2016-04-22 18:25] jkasten2 commented on #39
Moving the discussion to their repo.

[2016-04-22 18:25] #39 closed

[2016-04-23 14:03] pstreef opened #40 "Request: Add push message id "i" to NotificationOpenedHandler"
I am trying to make a link between the push message that was clicked and background data that I received. In background data I can use the push message "i" index, but this is not available in additional data. Would it be possible to add this?

[2016-04-23 18:40] francocorreasosa commented on #39
But that happened after I added THIS library to the app... Now I see why OneSignal is free...

[2016-04-26 00:04] jkasten2 opened #41 "Badge icon number - Count out of sync after reboot"
After Android is rebooted OneSignal notifications do not reappear so the badge count value is no longer in sync with the number of notifications. Notifications should reappear or the counter should reset on boot.

May also be an issue when notifications are cleared programmatically.

[2016-04-26 15:36] kwiky commented on #17
This is an important feature for us.
How can we delete all server tags without knowing it on the device ?

[2016-04-27 15:39] Ralphilius commented on #12
@jkasten2 What happens if we have NotificationOpenHandler and WakefulBroadcastReceiver defined at the same time. What would be the order of execution? How would we return to OneSignal's default behaviour after finished processing the data?

[2016-04-27 19:04] DimaKoz opened #42 "Fatal Exception: java.util.ConcurrentModificationException"
I got crash in OneSignal-Android-SDK 2.3.0.
You can see it in [log.txt](https://github.com/one-signal/OneSignal-Android-SDK/files/239212/log.txt).
About device:
<img width="943" alt="screen shot 2016-04-27 at 22 29 57" src="https://cloud.githubusercontent.com/assets/3092276/14865532/1ccd07f4-0cd0-11e6-8ef5-b00f6f9785f4.png">

[2016-04-27 19:38] DimaKoz opened #43 "Fatal Exception: java.lang.NullPointerException at GenerateNotification.java line 656"
I got a crashlog related to the OneSignal-Android-SDK
2.3.0, that I can't reproduce. You can see it in [log.txt](https://github.com/one-signal/OneSignal-Android-SDK/files/239267/log.txt).
About device:
<img width="952" alt="screen shot 2016-04-27 at 22 37 23" src="https://cloud.githubusercontent.com/assets/3092276/14865742/23d3d8ec-0cd1-11e6-8428-df2936288e51.png">

[2016-04-28 06:57] Ralphilius opened #44 "Getting notificationId on opened"
Hello,

Is there anyway we can get a notification id on opened or on received? I would like to have it for logging purpose. Otherwise, if possible, can I access to the database that OneSignal currently used to store notification history?

[2016-04-28 19:26] jkasten2 commented on #42
@DimaKoz Thanks for the crash report. It looks like there might be an issue with the SDK not supporting access from multiple threads.

Can you confirm if your using OneSignal on multiple threads in your app? Also please provide any code you can where you are calling OneSignal in your app.

[2016-04-28 20:15] jkasten2 commented on #43
@DimaKoz Thanks for reporting this as well.

It seems that `getResources()` on the `IntentService` `context` is returning `null`. From a quick search I haven't been able to determine a cause for this. Is this the only report you have for this crash?

`IntentService` is part of the Android Support Library v4, can you let us know what version you are using in your app?
Any additional information you

[2016-04-28 20:20] jkasten2 commented on #44
@Ralphilius

You can get the OneSignal notification id from the `i` key nested in `custom` in the [Background Data](https://documentation.onesignal.com/docs/android-notification-customizations#background-data-silent-notifications) receiver.

[code]

We do not recommend depending directly on the OneSignal SQL lite database in the SDK as this is designed to be private and the schema could change wit

[2016-04-28 20:25] jkasten2 commented on #36
@BugsBunnyBR What manufacture is the device you're seeing this issue with? If it is Huawei or Xiaomi you can try the below on the device to see if it has any effect.

* Huawei - Go to Settings > "Protected apps", check your app.
* Xiaomi - Make sure "Auto-start" property enabled for your app in the settings.

I also have a gist of a logcat you can use for reference to confirm if the issue is due t

[2016-04-28 20:33] BugsBunnyBR commented on #36
I am not able to reproduce the problem, I just saw it happening.
One of the devices is a Motorola Moto MAXX.

[2016-04-28 21:23] DimaKoz commented on #43
@jkasten2 Sure.

[code]

[2016-04-28 22:05] DimaKoz commented on #42
@jkasten2
You wrote:

I think no.

Below is all the code fragments, where I used by your SDK.

- AndroidManifest.xml:

[code]

- ActivityMain.java:

[code]
- CustomApplication.java:
[code]

 - NotificationHandler.java:
[code]

[2016-04-28 22:16] DimaKoz opened #45 "Fatal Exception: java.lang.RuntimeException at NotificationOpenedProcessor.java line 67"
I got a crashlog (see [log.txt](https://github.com/one-signal/OneSignal-Android-SDK/files/241535/log.txt)).
About device:
<img width="954" alt="screen shot 2016-04-29 at 1 15 28" src="https://cloud.githubusercontent.com/assets/3092276/14903157/4fd2efac-0db0-11e6-8777-0878c030bb52.png">

[2016-04-28 22:36] jkasten2 commented on #42
@DimaKoz Thanks for the details. It might be an issue with the number of calls to setSubscription since it is in the `onResume` method of your app. I'll investigate if a number of calls to this in suggestion can trigger this crash.

Are you able to reproduce this error your self?

[2016-04-28 22:47] jkasten2 commented on #43
@DimaKoz Thanks, the versions of these all look good.

My mistake on the `IntentService` class, it is part of the Android OS so this issue might be Android version specific or even device specific due to manufacturer customizations.

Is there only one crash report for this device? Do you see any other devices with this crash or are you able to reproduce this?

[2016-04-28 22:55] jkasten2 commented on #45
@DimaKoz Thanks again for these. We haven't seen any reports of `SQLiteDatabaseLockedException` with our SDK but after reviewing our code I see we are creating multiple `OneSignalDbHelper` instances with different Android Contexts which is most likely creating the issue.

Let us know the steps needed to reproduce this issue if you can, we can then write a test case for this.

Thanks.

[2016-04-28 23:00] jkasten2 commented on #36
@BugsBunnyBR Grab a full logcat from the device if you see the problem again. I should be able to determine the issue from it.

[2016-04-28 23:00] #36 closed

[2016-04-28 23:02] jkasten2 commented on #40
Sure, we can look into adding this as I can see how this would be useful.

[2016-04-30 11:37] ismly commented on #12
can we hide these badges?

[2016-04-30 11:39] ismly commented on #41
same here.. can we hide these cadge counts? click on app but, cant delete the count number...

[2016-04-30 16:22] DJafari opened #46 "setPriority of notification"
how can setPriority of notifications ?

[2016-05-01 07:48] jkasten2 commented on #46
Duplicate of issue #10

[2016-05-01 07:48] #46 closed

[2016-05-01 07:58] jkasten2 commented on #10
We are shooting to add this in the next few weeks.

[2016-05-01 08:01] jkasten2 commented on #35
@aronmoles
junaidstalkbylove will work above. If need to have contents set in your notification we are working on adding a broadcast receiver option.
https://github.com/one-signal/OneSignal-Android-SDK/pull/32#issuecomment-215533646

[2016-05-01 08:01] #35 closed

[2016-05-01 08:08] jkasten2 commented on #17
@kwiky The work around for now would be to use the OneSignal [View device](https://documentation.onesignal.com/docs/playersid) REST API call to get the current tags. Then you can use the [Edit device](https://documentation.onesignal.com/docs/playersid-1) REST API call to delete the list of tags (See the note on the bottom of the page of how to do this).

I'll shoot for getting a fix for this out i

[2016-05-01 08:53] ayltai opened #47 "ClassCastException in OneSignal.init"
The init method ([OneSignal.java:196](https://github.com/one-signal/OneSignal-Android-SDK/blame/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignal.java#L196)) tries to get Google project number as a `String` but it is actually an `int`, causing `ClassCastException`.

[2016-05-01 09:02] jkasten2 commented on #47
If your are manually setting `onesignal_google_project_number` in your `AndroidManifest.xml` make sure it starts with `str:` noted in [step 2.5](https://documentation.onesignal.com/docs/installing-the-onesignal-android-sdk#2-androidmanifestxml) of the OneSignal Eclipse setup documenation.

With gradle or Android Studio builds use the project number normal in `onesignal_google_project_number` in `m

[2016-05-01 09:02] #47 closed

[2016-05-01 09:07] ayltai commented on #47
Thanks mate

[2016-05-02 07:31] kwiky commented on #17
thanks @jkasten2, using the REST API is what we have done for now.
We will checkout this next minor release to use the fix instead.

[2016-05-07 21:59] DimaKoz opened #48 "Exception: java.lang.RuntimeException at com.onesignal.AndroidSupportV4Compat$ContextCompat.checkSelfPermission(AndroidSupportV4Compat.java:46)"
I got the [crashlog] (https://github.com/one-signal/OneSignal-Android-SDK/files/253639/log.txt).
About devices:
<img width="960" alt="screen shot 2016-05-08 at 0 56 38" src="https://cloud.githubusercontent.com/assets/3092276/15094763/1c9cba66-14c0-11e6-803c-54f383757b8b.png">

[2016-05-07 22:07] DimaKoz commented on #42
No.
And `setSubscription` was placed into `try{} catch{}` block

[2016-05-07 22:15] DimaKoz opened #49 "Exception: java.util.ConcurrentModificationException at com.onesignal.OneSignalStateSynchronizer.generateJsonDiff(OneSignalStateSynchronizer.java:74)"
I got the [crashlog](https://github.com/one-signal/OneSignal-Android-SDK/files/253650/log.txt) in OneSignal-Android-SDK 2.3.0.
About devices:
<img width="936" alt="screen shot 2016-05-08 at 1 15 02" src="https://cloud.githubusercontent.com/assets/3092276/15094873/b3794a56-14c2-11e6-970b-d786ba3a1f93.png">

[2016-05-09 15:14] Ralphilius commented on #44
Thank you.

Actually, OneSignal SQL database access was just an alternative in case there's no way to get notification id.

[2016-05-09 22:57] jkasten2 commented on #41
You can disable the auto badge counting until a fix is created by adding the following to your `AndroidManifest.xml`.
[code]

If you still want badge support in your app but want to control it manually you can use the following library in your app.
https://github.com/leolin310148/ShortcutBadger

Thanks.

[2016-05-10 06:29] Ralphilius commented on #44
@jkasten2

Is there anyway I can get it in `NotificationOpenedHandler`?

[2016-05-12 19:41] raysango opened #50 "Error:(46, 21) java: package com.onesignal does not exist"
Hi I'm trying to use this plugin to push notification to Android device,I created the Cordova app (v 6.1.1) and installed all the required SDK extras but when I try to compile the project I get the error
Error:(46, 21) java: package com.onesignal does not exist , all I find out that I might be missing some SDKs but I'm not sure which one, I've installed Google Play Services 29.00 , Google Reposito

[2016-05-12 22:47] jkasten2 commented on #50
@raysango Could let us know exactly where the follow error is being outputted from?
`Error:(46, 21) java: package com.onesignal does not exist`

Are you building with `cordova build android` or opening the project with Eclipse or Android Studio and building from there?

[2016-05-12 22:56] raysango commented on #50
Yes I used cordova build android and then imported to Android studio, the error is outputted from Android Studio when I try to run the app

[2016-05-13 03:38] jkasten2 commented on #50
I have seen this issue before with Cordova, it seems to be a bug with it not setting up the gradle project correctly. It only happens when building from outside of Cordova.

You need to add OneSignal and the Google Play services to your gradle file noted in our Android Studio guide.
[code]
https://documentation.onesignal.com/docs/android-studio-sdk-installation

[2016-05-13 03:38] #50 closed

[2016-05-13 05:23] jkasten2 commented on #44
@Ralphilius There isn't at this time, I'll look into adding it.

In the meantime you can add your own `data` key/value which might work as a workaround depending on what you need.

[2016-05-13 05:52] jkasten2 commented on #48
Thanks for the log, added a catch around this for this rare exception to prevent a crash.
b2f0fc0a393663b80a6e920307f4055d2520f2df

[2016-05-13 05:52] #48 closed

[2016-05-13 05:53] jkasten2 commented on #17
Fixed this issue in commit 21658df24d041fcdda11256964a5dfc17fdbf96d

[2016-05-13 05:53] #17 closed

[2016-05-13 05:55] jkasten2 commented on #20
Closing issue to merge the discussion with the #32 pull request.

[2016-05-13 05:55] #20 closed

[2016-05-13 06:01] jkasten2 commented on #49
@DimaKoz Thanks for the crash report. It could be an issue with our SDK trying to generate another network request while processing another. Can you share a list of all thread stacks here or with support@onesignal.com? We should be confirm that is the issue from this information.

[2016-05-13 06:11] jkasten2 commented on #44
Merging with #40 as these are both requesting the notification id on the opened notification callback.

[2016-05-13 06:11] #44 closed

[2016-05-14 08:26] harshitaahuja opened #51 "Android - POST Error thrown from network stack."
We are facing multiple errors while integrating onesignal in android.
**First error -**
`W/OneSignal: POST Error thrown from network stack.
                                                               javax.net.ssl.SSLException: Read error: ssl=0xafcab200: I/O error during system call, Connection reset by peer
                                                                   at com.android.org.

[2016-05-16 10:07] gaganutreja commented on #51
Facing same issue :(

[2016-05-16 18:36] jkasten2 commented on #51
@harshitaahuja @gaganutreja How often does this this error occur? Can you make sure the device's internet connection is stable as the `Connection reset by peer at` normally happens when the network isn't stable. Can you try other Android devices and network connections?

Our SDK does automatically retry so nothing is lost during connection issues. See the following posts for information on connect

[2016-05-18 13:55] alexleutgoeb commented on #19
A better approach would be to allow setting an android resource instead of a string, as this is the more intuitive way on Android; e.g.:

[code]

[2016-05-21 01:05] jkasten2 commented on #51
@harshitaahuja @gaganutreja Were you able to try the suggestions above? Still seeing an issue?

[2016-05-23 16:15] amgu opened #52 "Addition of Notification Id in Notification for cancellation of OneSignal Notification"
There may be a case when user receives  a notification for some information. And user does not click on the notification instead user opens the application from menu normally and view the information received via notification, in this case there is no use of that notification . I want to clear that single notification from notification drawer.

 I want to use below code

NotificationManager notifi

[2016-05-25 08:44] jkasten2 commented on #52
This is now possible with our 2.4.0 SDK by using a `NotificationExtenderService`.
See [Background Data and Notification Overriding](https://documentation.onesignal.com/v2.0/docs/android-notification-customizations#background-data-and-notification-overriding) to do this. After you follow step 1 &  2, step 3 will show you how to get the `NOTIFICATION_ID` your looking for.

Feel free to re-open this

[2016-05-25 08:44] #52 closed

[2016-05-26 23:44] jkasten2 commented on #51
Feel free to reopen this issue if it is still happening to you.

[2016-05-26 23:44] #51 closed

[2016-05-27 21:23] sagar23jan commented on #41
I added the metadata key but the badge still doesn't go away.

[2016-05-27 21:32] jkasten2 commented on #41
@sagar23jan The meta-data key keeps the SDK from updating the badge value. Android launchers remember the value unless you fully uninstall then reinstall the app.

You can use the library above if you have already released your app and you would like to clear the existing value.

[2016-05-28 12:36] absagar commented on #41
I simply added the `ShortcutBadger.applyCount(context, 0);` after I init OneSignal in my application's code, which seems to work. Thanks for the workaround.

[2016-05-28 19:07] erhanharm commented on #41
Thanks for workaround.

I've added my application ;)

On Sat, May 28, 2016 at 3:36 PM, Abhishek Sagar <notifications@github.com>
wrote:

--
*Erhan Harmankaya*

http://tr.linkedin.com/in/erhanharmankaya

[2016-05-31 19:37] jkasten2 commented on #10
I created a `NotificationExtenderService` that can be used to set this or to customize any other setting before our SDK displays the notification. Follow our [Background Data and Notification Overriding](https://documentation.onesignal.com/docs/android-notification-customizations#background-data-and-notification-overriding) to set this up. Step 3 shows a code example getting access to `Notificatio

[2016-06-01 12:23] leonardoxh opened #55 "Notification not delivered"
I started developed an app with the one signal push notification service, but for some reasons in come devices when the app is removed from the history (slide away) the notifications is not showed anymore, but not the one signal panel the status of the notification is delivered...

It happens on a Asus Zendfone devices.

Anyone with the same problem ?

[2016-06-01 23:20] jkasten2 opened #56 "NotificationExtenderService - NumberFormatException"
`Error assigning OSNotificationPayload values!` is being logged from `NotificationExtenderService` when it is turned on.

[code]

This is preventing some properties like `additionalData` from being assigned when `onNotificationProcessing` is called.

Work around.
Set `android_visibility` to 1 or 0 from the [create notification](http://documentation.onesignal.com/v2.0/docs/notifications-create-noti

[2016-06-02 01:41] jkasten2 commented on #55
The delivery status reports successful if the notification so sent to Google's GCM server without an error. It isn't confirmation of delivery to the device itself.

It is possible that swiping away your app from the Recent Apps list is putting your app into a "force stopped" state. This isn't a normal Android behavior but Asus may have modified Android for this device to do this.

See if there is

[2016-06-02 18:34] jkasten2 commented on #56
Fixed in version 2.4.1
https://github.com/one-signal/OneSignal-Android-SDK/releases/tag/2.4.1

[2016-06-02 18:34] #56 closed

[2016-06-03 13:30] leonardoxh commented on #55
Thanks for your reply.

Really when I slide away the notification the app services are not running anymore, but another apps like What's App stay running even if we slide it away from recents, there is a way to continue running the app on this case?

[2016-06-07 18:40] OlegTarashkevich commented on #49
Hi! I got the same issue.

[code]
Screenshot:
[https://www.dropbox.com/s/8am1qmpd2i6uo2r/%D0%A1%D0%BD%D0%B8%D0%BC%D0%BE%D0%BA%20%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0%202016-06-07%20%D0%B2%2021.38.06.png?dl=0](url)

[2016-06-14 01:04] jkasten2 commented on #55
@leonardoxh It could be that Asus made an exception for popular apps. Can you check the `logcat` after swipe your app away and when you send a few notifications after this?

Let us know if you're seeing the kind of entries shown in this example log.
https://gist.github.com/jkasten2/fb83b1df754cf26df378

[2016-06-14 09:45] DenisBronx commented on #52
Hi, i'm using 2.4.1 SDK and i'm not able to cancel the notification by the id that returns from OSNotificationDisplayedResult.

From the debug i can see that 2 notificationId are generated (one for the summary notification and the other for individual notification). In the OSNotificationDisplayedResult object that returns i have only the notificationId used for individual notifications and if i tr

[2016-06-14 20:17] leonardoxh commented on #55
Yeah,

The app really closes, and there is nothing what we can do, on most of the phones the app still working well.

Thanks again for your comment :+1:

[2016-06-14 20:17] #55 closed

[2016-06-15 09:53] DenisBronx opened #57 "Unable to cancel a summary notification"
Hi, i'm using 2.4.1 SDK and i'm not able to cancel the notification by the id that returns from OSNotificationDisplayedResult.

From the debug i can see that 2 notificationId are generated (one for the summary notification and the other for individual notification). In the OSNotificationDisplayedResult object that returns i have only the notificationId used for individual notifications and if i tr

[2016-06-16 06:29] jkasten2 commented on #57
@DenisBronx The `NotificationExtenderService` does not have built in support for grouped notifications at this time. You can create your own summary notification instead of letting the OneSignal SDK displaying the notification

You can instead modify our SDK by adding a new filed to `OSNotificationDisplayedResult` and set it in the `GenerateNotification` class.

[2016-06-17 18:25] jkasten2 opened #59 "Exception thrown for apps without a Launcher Intent"
The follow exception occurs when a notification is received on an app without a Launcher Intent.

[code]

[2016-06-17 18:49] jkasten2 opened #60 "SyncService keeping process in memory"
The `SyncService` class is keeping the app's process in memory is some cases. This doesn't appear to  be consuming any CPU or other system resources.

[2016-06-17 22:40] jkasten2 commented on #49
@OlegTarashkevich @DimaKoz
Fixed this issue in the [2.4.2 Release](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/2.4.2).

Thanks.

[2016-06-17 22:40] #49 closed

[2016-06-17 23:33] jkasten2 commented on #42
Fixed in version 2.4.1
https://github.com/one-signal/OneSignal-Android-SDK/releases/tag/2.4.1

Same as issue #58

[2016-06-17 23:33] #42 closed

[2016-06-17 23:35] jkasten2 commented on #30
@g123k Are you still seeing this issue?

[2016-06-20 22:06] jkasten2 commented on #30
@g123k It might be related this issue.
http://stackoverflow.com/questions/26346336/unknown-device-in-the-crashlytics-log

We will add an Android version check to the Activity code to prevent this crash on Google's review emulators.

Thanks.

[2016-06-20 23:11] jkasten2 opened #61 "Action buttons are not displaying"
Action buttons do not display if `NotificationExtenderService` isn't setup in the `AndroidManifest.xml`. This is a regression bug since 2.4.0.

[2016-06-21 02:56] jkasten2 commented on #61
Fixed in release 2.4.3

[2016-06-21 02:56] #61 closed

[2016-06-21 02:56] jkasten2 commented on #59
Fixed in release 2.4.3

[2016-06-21 02:56] #59 closed

[2016-06-21 03:13] jkasten2 commented on #43
@DimaKoz Have you seen any further reports of this error?

[2016-06-22 06:39] DimaKoz commented on #43
Hi.
No, I didn't see this exception in the latest version.

Thank you.

2016-06-21 6:13 GMT+03:00 Josh Kasten <notifications@github.com>:

[2016-06-22 08:14] jkasten2 commented on #43
Closing the issue then, feel free to reopen it if you see it again.

[2016-06-22 08:14] #43 closed

[2016-06-22 12:59] harshitaahuja opened #63 "LeakCanary shows - com.onesignal.ActivityLifecycleHandler.curActivity leaks"
LeakCanary shows - com.onesignal.ActivityLifecycleHandler.curActivity leaks
using latest version 2.4.3

[2016-06-22 23:45] jkasten2 commented on #63
@harshitaahuja Thanks for the report. It does get nulled out in [onActivityStopped](https://github.com/OneSignal/OneSignal-Android-SDK/blob/615309f79ba6ddfbdce22992bd777a8c76f8a30b/OneSignalSDK/onesignal/src/main/java/com/onesignal/ActivityLifecycleHandler.java#L90), [onActivityDestroyed](https://github.com/OneSignal/OneSignal-Android-SDK/blob/615309f79ba6ddfbdce22992bd777a8c76f8a30b/OneSignalSDK/

[2016-06-23 06:17] drayan85 opened #64 "Indonesian language not correctly detected"
We are having some issue  on segmenting the android user (iPhone working fine). We tried to segment the user by Language Code. If the user device locale is Indonesian Bahasa, it is not registering for some reason. For Android Chinese language is also segmenting working. Could you please help on this issue.

[2016-06-24 02:26] jkasten2 commented on #64
@drayan85 Are the device not registering at all or just not to the correct language?

[2016-06-24 03:36] drayan85 commented on #64
Device has been registered successfully.
![screen shot 2016-06-24 at 11 32 24 am](https://cloud.githubusercontent.com/assets/4456232/16327246/726532f2-39ff-11e6-97e9-577501139aa2.png)

But in the segment that device is not recognise as Indonesian Bahasa device and when we push that device getting English push instead of Indonesia Bahasa.
![screen shot 2016-06-24 at 11 29 59 am](https://cloud.githu

[2016-06-24 03:42] jkasten2 commented on #64
@drayan85 Can print out the returned value from the following code?
[code]

This is sent the OneSignal to determine the language.

[2016-06-24 03:50] drayan85 commented on #64
Locale.getDefault().getLanguage() values is 'in'
We have tried change the locale in couple of devices(Nexus 6P (N), SAMSUNG S4 GT-I9505 (5.0.1)) to test as well but result is same.

[2016-06-24 04:01] jkasten2 commented on #64
Odd that is it is returning 'in', the device should be returning 'id' for that function. 'in' isn't listed in [ISO 639](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)

Can you add a screenshot of the language list in the Android system settings for the device?

[2016-06-24 04:13] drayan85 commented on #64
![13493337_10209289062446020_330541691_o](https://cloud.githubusercontent.com/assets/4456232/16327722/18fd29da-3a05-11e6-9ddd-37e98de693ba.png)

[2016-06-24 04:15] drayan85 commented on #64
Locale.getDefault().getLanguage() : in
Locale.getDefault().getDisplayLanguage() : Indonesia
Locale.getDefault().getDisplayName() : Indonesia (Indonesia)
Locale.getDefault().getDisplayName() : ID
Locale.getDefault().getDisplayName() : Indonesia

[2016-06-24 07:00] jkasten2 commented on #64
@drayan85 Looks Java doesn't meet the ISO 639-1 standard for a few languages including Indonesia according to one of Google's older Android docs.
https://web.archive.org/web/20160215064626/http://developer.android.com/reference/java/util/Locale.html

I'll create a SDK fix for these languages.

[2016-06-24 07:26] drayan85 commented on #64
@jkasten2  thanks, please let us know once you fix this. We will hold our release.

[2016-06-24 07:43] jkasten2 commented on #63
@harshitaahuja Also could you let us know if your calling OneSignal init from an Activity or an Application class.

[2016-06-28 21:27] jkasten2 commented on #41
Fixed in [Release 2.5.0](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/2.5.0).

[2016-06-28 21:27] #41 closed

[2016-06-30 11:05] rodow254 opened #66 "I got error from fabric reported about NotificationBundleProcessor.java class"
So right that i just said the error show on fabric the detail is about

Fatal Exception: java.lang.NullPointerException
com.onesignal.NotificationBundleProcessor.ProcessFromGCMIntentService (NotificationBundleProcessor.java:57)
com.onesignal.GcmIntentService.onHandleIntent (GcmIntentService.java:54)
android.app.IntentService$ServiceHandler.handleMessage (IntentService.java:65)
android.os.Handler.d

[2016-06-30 12:00] restart916 commented on #66
i have same issue.

[2016-06-30 13:09] sujeshshetty commented on #66
I too got a similar issue today .

Fatal Exception: java.lang.NullPointerException: Attempt to write to field 'java.lang.Integer com.onesignal.NotificationExtenderService$OverrideSettings.androidNotificationId' on a null object reference
       at com.onesignal.NotificationBundleProcessor.ProcessFromGCMIntentService(NotificationBundleProcessor.java:57)
       at com.onesignal.GcmIntentService.onHa

[2016-06-30 17:43] sratanjee opened #67 "Get a dialog that shows over my UI and want to hide this"
![quickmemo _2016-06-30-09-06-33](https://cloud.githubusercontent.com/assets/3424642/16498154/39c6aaf2-3eaf-11e6-97fb-f243aea1ba2d.png)

I'd like to dismiss this from the user's view, and log it to debug.

[2016-06-30 18:49] jkasten2 commented on #66
@rodow254 @restart916 @sujeshshetty

Thanks for the reports, just fixed in [version 2.5.1](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/2.5.1). Just deployed to Maven Central so it may take a few hours before it shows up there.

[2016-06-30 18:49] #66 closed

[2016-06-30 18:50] jkasten2 commented on #67
@sratanjee This will only show up if you have called `OneSignal.setLogLevel` in your code. You should remove this call in the production version of your app.

[2016-06-30 18:50] #67 closed

[2016-07-04 05:27] xsorifc28 opened #68 "Support NotificationExtenderService with grouped notifications"
I am making local modifications & changes to NotificationCompat.Builder (like circular-cropping the large icon). This works while debugging, I can view the bitmap and it is cropped. The `OneSignalNotificationExtender` does get triggered. The returned `builder` is does not contain the transformed image. I also tried `builder.setLarIcon(croppedBitmap)`, which also did not work. Setting any other pro

[2016-07-04 13:12] zionnite opened #69 "No User was found in my Dashboard"
Hello every one,

Here is my code:

[code]

Please I need your Help

[2016-07-05 07:20] jkasten2 commented on #69
@zionnite Can you add `alert` and `console.log` before and after `window.plugins.OneSignal` to make sure your code is running?

If this doesn't solve your issue please create a new issue on our Cordova repository below since this one is for Android native only.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues

[2016-07-05 07:20] #69 closed

[2016-07-05 10:22] jkasten2 commented on #68
@xsorifc28 Did you start sending notifications with a Android group set? The `NotificationExtenderService` doesn't support summary notifications created by grouping yet.

Thanks.

[2016-07-05 10:39] jkasten2 opened #70 "java.lang.RuntimeException: bad array lengths exception"
The following crash happens on some Android devices. It seems to be related to the 2.5.0 release (happens in 2.5.1 as well). It may only happen with `support:appcompat-v7:23.1.1` (also try `support:appcompat-v7:24.0.0-alpha2` in testing) with custom large and big picture images set as well.

[code]

[2016-07-05 16:42] xsorifc28 commented on #68
Ahh, yes I did. I expected the `NotificationExtenderService` to work with 1 notification though. Are you saying it will still not work if Androud group is set?

[2016-07-05 19:03] jkasten2 commented on #68
@xsorifc28 When group is set our SDK takes a different code path to display the notification. It has a number of additional complexities so support for this feature was omitted initially to release it sooner.

I am updating this issue to an enhancement and the title to fit.

Thanks.

[2016-07-05 20:14] xsorifc28 commented on #68
In the meantime, I guess I can group in the `NotificationExtenderService`.

[2016-07-06 18:12] jkasten2 opened #71 "Rare Android 6.0 location prompt null exception"
`NullPointerException` is thrown on Android 6.0 if the user comes back to the app after back-grounding it when prompted for location permissions through `OneSignal.promptLocation()`. The crash only happens if the process was killed due to low memory (not 'forced stopped' or swiped away) and then resumed from the Recent Apps list.

[code]

[2016-07-08 07:38] zionnite commented on #69
thanks it did add a user to my app dashboard but on of the user are subscribe to my notification, even when i used the setsubscription to true...

[2016-07-08 07:43] jkasten2 commented on #69
@zionnite What does it say in the 'Subscribed' column on the Users page on the OneSignal dashboard. If it is Yes then do you get a success when you send a notification?

If you open the red chat bubble when you are signed into your OneSignal account support can take a look at your account.

[2016-07-11 14:13] dekrandroid opened #73 "OneSignalStateSynchronizer risen ConcurrentModificationException"
Sync failed

[code]

[2016-07-11 18:01] jkasten2 commented on #73
@dekrandroid Could you let us know what version of the SDK your using? Also are you able to reproduce the issue? Lastly could you let me know what SDK methods you are calling in your app?

Thanks.

[2016-07-11 18:08] leonardoxh opened #74 "Play Services outdated dialog"
Hi,

When I test in devices with Google play services outdated the one signal prompt me a dialog update the play services...

There is a way to disable this ?

[2016-07-11 19:06] jkasten2 commented on #74
@leonardoxh The prompt will only show if the device has the "Google Play Store" installed on the device but the "Google Play services" app is older than the version of the library you built your app with. You can use an older version of the Google Play services library back to 7.0.0 if you choose.

Let us know if this is still an issue for you and we can look into adding an option to disable it co

[2016-07-11 22:55] leonardoxh commented on #74
I think this is because I have excluded the google play services dependencies from the one signal artifact and forced it to a new version.

[code]

I'll back it this artifact, and see if this solves the problem.

[2016-07-11 23:27] jkasten2 commented on #74
@leonardoxh `compile("com.onesignal:OneSignal:...")` shouldn't be bring in Google Play services so the extra lines you added shouldn't change anything.

If your seeing "To receive push notifications please press 'Update' to enable 'Google Play services'." this comes from our SDK. It was prompting in the 1.x version of our SDK but wasn't working in our 2.x versions until version [2.5.2](https://git

[2016-07-12 01:17] jkasten2 commented on #73
@dekrandroid I examined the stack trace closer and it the line number match up with our [2.4.1 SDK version](https://github.com/OneSignal/OneSignal-Android-SDK/blob/2.4.1/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignalStateSynchronizer.java). We fixed this issue in our [2.4.2 SDK](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/2.4.2). However we recommend updating to t

[2016-07-12 01:17] #73 closed

[2016-07-12 09:03] keklikhasan opened #75 "Play services dialog messages"
![screenshot from 2016-07-12 12-01-45](https://cloud.githubusercontent.com/assets/924755/16761355/722c3998-4828-11e6-9742-ffec65b0f370.png)

this message shows to update google play services. but it doesn't support other languages can you add other languages or somehow let us change text or disable the dialog options ?

[2016-07-12 18:25] leonardoxh commented on #74
I'm using the version 2.6.0...

It's the same issue faced on #75

[2016-07-17 01:34] jkasten2 commented on #75
Closing, duplicate of #74

[2016-07-17 01:34] #75 closed

[2016-07-17 01:34] jkasten2 commented on #74
I'll add an option for this next week.

[2016-07-20 04:16] drayan85 commented on #64
@jkasten2 , I would like to know the status issue since it is a difficult to target the Indonesian Bahasa users in their language.

[2016-07-21 14:27] kshysius opened #76 "Get all notification when open app"
Hi, how to get all notification when clicked on app? or one of notification

[2016-07-22 03:03] jkasten2 commented on #76
@kshysius The SDK does not have a way to get all notifications however I'll mark this as feature request.

In the mean time it is possible to save your own list as they are received from the [NotificationExtenderService](https://documentation.onesignal.com/docs/android-notification-customizations#background-data-and-notification-overriding). Lastly on Android 6.0+ devices it is possible to get a l

[2016-07-22 08:21] kistitan opened #77 "notificationOpened - Missing information"
As this is my first message here I rather start with the compliment that I really like the concept of providing several extension points for the app developers to override, modify the default notification behaviour. Pretty nice :)

In most of the case I can find my way around, however sometimes I have a bit of hard time to figure out how can I achieve our needs with the current API.
Like in this c

[2016-07-22 11:50] kistitan opened #78 "NotificationCompat.Extender is not used for notifications with grouping"
In _showNotification_ method of _GenerateNotification_ class you use the _NotificationBuilder.extend()_ to add the extender, but if the group field is not empty you rather call the _createSummaryNotification()_ method that creates a new _NotificationBuilder_, and there you do not add the extender any more.

[2016-07-23 01:41] jkasten2 commented on #77
@kistitan Thanks for digging into the code, I would recommend adding your group code to line [978 in OneSignal.java](https://github.com/OneSignal/OneSignal-Android-SDK/blob/1b8eb3728beedd02ccf14168d7f1cc42ec099116/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignal.java#L978).

You have some good points about `NotificationOpenedHandler`, it is over due for a refactor and I'll be looking i

[2016-07-23 01:49] jkasten2 commented on #78
@kistitan Since the look of the summary notification would differ from the individual notifications it would need to have isn't own extender. This wasn't initially added to the `NotificationExtenderService` as we didn't want it to delay the feature.

Lets consolidate this with issue #68

Thanks.

[2016-07-23 01:49] #78 closed

[2016-07-23 02:21] jkasten2 commented on #74
@leonardoxh Just added an option to disable this with the OneSignal.Builder class and string values to override the text. See the following commit for more details.
https://github.com/OneSignal/OneSignal-Android-SDK/commit/1b8eb3728beedd02ccf14168d7f1cc42ec099116

We will be adding full documentation for this soon and the options will be included in the next release.

Thanks.

[2016-07-23 02:21] #74 closed

[2016-07-23 03:25] jkasten2 commented on #64
@drayan85  Just fixed it in commit 7b9caf56335649519da107f0c696ca40bdd97bc7. It will be included in the next release.

[2016-07-23 03:25] #64 closed

[2016-07-23 16:45] drayan85 commented on #64
@jkasten2 thanks

[2016-07-25 07:39] drayan85 opened #79 "Access the OSNotificationPayload.notificationId in OneSignalNotificationOpenedHandler"
I am trying build a activity feed for the push notification to our app to show the list of all user push notifications. In order show read/unread messages.

I am trying to access the notification id when user open the push notification to mark it as read but in the current OneSignal SDK, I can only access notification id from the extended class of NotificationExtenderService.

I couldn't access fr

[2016-07-25 12:25] leonardoxh commented on #74
@jkasten2  :+1:

Really thanks

[2016-07-25 22:59] jkasten2 opened #80 "ConcurrentModificationException still happens on 2.6.0"
The fix included in 2.4.2 did not fully fix the `ConcurrentModificationException` exception as it still occurs in some cases in the latest 2.6.0 version. It maybe related methods other than the `sendTag` method that `testSendTagsConcurrentModificationException` unit test is covering.

[code]

Another stack trace from version 2.0.8 that may still be present in 2.6.0 a well.

[code]

[2016-07-26 10:28] drayan85 commented on #80
This is happening with OneSignal 2.6.1 on Android OS 4.4.2 & 4.1.1

[2016-07-26 16:52] leonardoxh opened #81 "Google play services dependencies"
Hi,

Looking into OneSignal SDK on the buildscript this two lines:

https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/build.gradle#L38-L39

This lines compiles the Google play services 8.4.0 into the package, if the programmer don't specify a upper version of the play services gcm or play services location, or exclude them of the buildscript this librarys are pa

[2016-07-27 21:20] jkasten2 commented on #81
@leonardoxh They won't automatically be included in your project from `compile` less you set `transitive = true` globally on your project.

For example if you remove the following lines from the example project it will no longer get a Google registration id and there is be missing class errors in the logcat.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/Examples/AndroidStudio/app/

[2016-07-27 21:20] #81 closed

[2016-07-27 21:25] jkasten2 opened #82 "NotificationExtenderService isn't respecting enableNotificationsWhenActive"
#### Current Issue
- `NotificationExtenderService` assumes `enableNotificationsWhenActive` is always `true`.

#### Expected logic
- The `enableNotificationsWhenActive` should be used if the app developer returns `false` from `onNotificationProcessing` and does not call `displayNotification`.
- The current `enableNotificationsWhenActive` value should be available via the `OSNotificationReceivedResu

[2016-07-28 04:30] jkasten2 commented on #80
@drayan85 I just fixed the issue in version 2.6.2. Make sure to resync you gradle file to get the new version.

[2016-07-28 04:30] #80 closed

[2016-07-28 04:31] drayan85 commented on #80
Thanks @jkasten2

[2016-07-28 04:36] jkasten2 commented on #80
@drayan85 Also note it may take a few hours to show up on [maven central](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.onesignal%22%20AND%20a%3A%22OneSignal%22). You can print out `OneSignal.VERSION` to confirm it is updated in your app. It should equal `"020602"`.

[2016-07-28 04:39] drayan85 commented on #80
@jkasten2  Noted

[2016-07-28 12:52] leonardoxh commented on #81
Oh that's nice. Thanks

[2016-08-01 08:56] drayan85 commented on #77
@jkasten2 I am also facing same issue to access the notification id when user click and open the notification (Access the OSNotificationPayload in the NotificationOpenedHandler).

May i know your priority on this issue which i can consider for release ? thanks

[2016-08-02 21:26] jkasten2 commented on #77
@drayan85 We are shooting for a release next week with this feature included.

[2016-08-05 23:47] jkasten2 commented on #82
Implemented first in in the 3.0.0 Release.  `enableNotificationsWhenActive` was replaced by `inFocusDisplaying` which is now set during init. Developer will always know the state as the setting is no longer persisted with the app.

[2016-08-05 23:47] #82 closed

[2016-08-06 21:44] DimaKoz opened #84 "Fatal Exception: java.lang.NullPointerException at NotificationExtenderService.java line 112"
Hi there.
I got a [crashlog](https://github.com/OneSignal/OneSignal-Android-SDK/files/405196/log2.txt).
I used a version 2.5.1 of OneSignal.
About devices:
<img width="1122" alt="screen shot 2016-08-07 at 0 42 43" src="https://cloud.githubusercontent.com/assets/3092276/17459221/47a5c7f8-5c40-11e6-8988-2e122c05470e.png">

[2016-08-07 09:58] jkasten2 commented on #84
@DimaKoz Thanks for the report, just fixed the rare crash in commit 9467856b7aa2d0cd7a4081ecc5da3c3ee50f41ba. It will go out in the next release.

[2016-08-07 09:58] #84 closed

[2016-08-09 07:34] jkasten2 commented on #79
@drayan85 The [NotificationOpenedHandler](https://documentation.onesignal.com/docs/android-sdk-api#NotificationOpenedHandler) interface in the new 3.0 SDK passes a [OSNotificationOpenResult](https://documentation.onesignal.com/docs/android-sdk-api#OSNotificationOpenResult) instance which now contains a the OneSignal notification id. It can be accessed like this now.
[code]

[2016-08-09 07:34] #79 closed

[2016-08-09 07:39] jkasten2 commented on #77
@drayan85 @kistitan The [NotificationOpenedHandler](https://documentation.onesignal.com/docs/android-sdk-api#NotificationOpenedHandler) interface in the new 3.0 SDK passes a [OSNotificationOpenResult](https://documentation.onesignal.com/docs/android-sdk-api#OSNotificationOpenResult) instance which now contains a the OneSignal notification id. It will also contain a group key if it was set on the n

[2016-08-09 07:39] #77 closed

[2016-08-09 07:52] jkasten2 commented on #26
@VSG24 In our SDK 3.0 you can now set a string for the key `onesignal_in_app_alert_ok_button_text` in your `string.xml` to override the button text.

[2016-08-09 07:52] #26 closed

[2016-08-10 02:37] drayan85 commented on #79
@jkasten2 Thanks a lot.

[2016-08-10 03:55] jkasten2 commented on #40
@pstreef We just added this in our 3.0.0 SDK release. See #79 for an example of getting the OneSignal notification id with this new interface.

Thanks.

[2016-08-10 03:55] #40 closed

[2016-08-10 05:11] drayan85 commented on #77
@jkasten2 Thanks a lot.

[2016-08-10 07:39] rbarriuso commented on #30
We're also getting this crash from a Motorola Defy Mini XT320 with Android v4.3.1. We're using OneSignal-Cordova-SDK v1.12.3 which seems to use OneSignal-Android-SDK v2.3.0

[2016-08-10 09:49] Deeptola opened #85 "Notifications coming up even after turning notifications off on some devices"
Issue is on phones with AndroidVersion:22

[2016-08-10 18:10] jkasten2 commented on #85
@Deeptola Can you check your device on the Users list on the OneSignal dashboard to see if it was marked as unsubscribed? Also note if your uninstall your app and reinstall it you may have a new OneSignal user / player id.

[2016-08-11 19:42] jkasten2 opened #86 "NotificationExtenderService - Add support for setDeleteIntent or add event for it"
#### Current limitation

Calling `setDeleteIntent` currently has no effect when calling this from the `NotificationCompat.Extender`. This is overridden by the OneSignal SDK to ensure the summary notifications are shown correct, not restored after dismissing, and to maintain the correct badge count.
#### Implementation options
- Provide a new interface / abstract class or new method to `Notificatio

[2016-08-13 15:32] Jaymassena opened #87 "Get current badge count"
Is there a way to retrieve the current badge icon count? It looks like there might be for other platforms but I couldn't find anything for Android. We use a notification drawer and show the badge count as an overlay on the toolbar icon controlling the drawer.

[2016-08-15 01:18] jkasten2 commented on #87
@Jaymassena There currently isn't a method to get this. When we complete #76 you can use this to get this value as the badge count matches the current number of notifications in the notification shade.

[2016-08-15 07:52] DimaKoz opened #88 "NullPointerException at OneSignalStateSynchronizer.java:266"
I got this [crash.log](https://github.com/OneSignal/OneSignal-Android-SDK/files/417670/log.txt) many times.
build.gradle:
[code]
Devices info:
<img width="1435" alt="screen shot 2016-08-15 at 10 44 31" src="https://cloud.githubusercontent.com/assets/3092276/17658695/83c0ede0-62de-11e6-8e72-223bc52912c6.png">

[2016-08-15 13:22] Maykonn opened #89 "Buttons localization"
Is impossible to send localized buttons text in a notification.
Notification content accept localized texts:

[code]

So buttons must be localized too, something like this:

[code]

[2016-08-15 13:39] DimaKoz commented on #89
I think you should use https://documentation.onesignal.com/docs/android-notification-customizations#background-data-and-notification-overriding

[2016-08-16 18:04] jkasten2 commented on #88
@DimaKoz Thanks for the report. I'll review our code and report back.

Log contains:
[code]

[2016-08-16 18:14] jkasten2 commented on #89
@Maykonn We don't have localization support for buttons at this time. You can however use @DimaKoz suggestion. You will need to put the buttons as additional data on  the payload and then use `addAction` on the builder to add your buttons.

Another way without any client side changes would be to create a Segment for each language on our dashboard and sent a notification for each.

[2016-08-16 18:44] Maykonn commented on #89
In my case the better to do is send a notification for each player/device.
This enhancement is important to be applied on server side restful API too, to send localized buttons to many players at same time(with just one request), in my domain one User can have many devices/players and each one in a different language.

[2016-08-16 21:44] DimaKoz opened #90 "SQLiteDatabaseLockedException: database is locked (code 5): , while compiling: PRAGMA journal_mode at NotificationOpenedProcessor.java line 69"
I got this [crashlog](https://github.com/OneSignal/OneSignal-Android-SDK/files/421328/log2.txt)
build.gradle:
[code]
Devices info:
<img width="1122" alt="screen shot 2016-08-17 at 0 43 44" src="https://cloud.githubusercontent.com/assets/3092276/17716936/16a2f764-641c-11e6-8e44-33e71caae5d4.png">

[2016-08-16 22:01] jkasten2 commented on #85
@Deeptola Any updates?

[2016-08-16 22:03] jkasten2 commented on #90
@DimaKoz Duplicate of #45.

[2016-08-16 22:03] #90 closed

[2016-08-16 22:04] jkasten2 commented on #89
@Maykonn Adding the buttons client side then would be the way to go for you. Replay if you need any more details on implementing this in your app.

[2016-08-16 23:00] jkasten2 commented on #88
@DimaKoz Are you calling OneSignal init from an Activity or your Application class?
Have you deleted any users from our dashboard?
Or change the OneSignal app id in your app?

[2016-08-17 00:54] Maykonn commented on #89
@jkasten2 I can't implements on client side because the buttons text and action are dynamic, and I really can't add business rules on apps(to get this dynamic behaviour).

[2016-08-17 01:48] jkasten2 commented on #88
@DimaKoz I believe this issue is due to a race condition which I have guard against in commit 27347f17ab41719cc7eed53d1dfddf231777b391. It will be included in the 3.0.3 release.

[2016-08-17 01:48] #88 closed

[2016-08-17 02:30] jkasten2 commented on #89
@Maykonn You can send the following in your POST request to OneSignal.
[code]

In your app's code you can then read the buttons as a `JSONArray`.
[code]

Note, the Java code is untested and you need to make changes where there is `NOTE` comments.

[2016-08-17 20:51] jkasten2 commented on #45
@DimaKoz Just fixed this in our 3.0.3 release.

[2016-08-17 20:51] #45 closed

[2016-08-18 23:36] jkasten2 commented on #60
Fixed in commit 2deafee5a86cc02b0dd9e54fda6ed34cecefd0b2

[2016-08-18 23:36] #60 closed

[2016-08-23 11:25] rampr opened #92 "Crash in PushRegistratorADM.fireCallback"
Hi,

We are seeing a lot of these errors in our Amazon app. Error message below. I can try to get more information if it is needed.

[code]

[2016-08-23 15:14] EgyptianM opened #93 "Error:Execution failed for task ':app:processDebugManifest'. > Manifest merger failed with multiple errors, see logs"
Hi,
I'm getting this error when I try to include your SDK in my project
I'm using :

`compile 'com.onesignal:OneSignal:3.+@aar'`

Where can I send you the source code that produces the issue?

[2016-08-23 18:17] jkasten2 commented on #93
@EgyptianM Can you provide the full log here or to OneSignal support? You can send the .gradle and AndroidManifest.xml to support@onesignal.com

[2016-08-23 19:17] EgyptianM commented on #93
OK thank you.

I'll send you the files as soon as I can.

For now including the jar file in libs folder solved the issue.

[2016-08-23 21:47] jkasten2 commented on #93
@EgyptianM Good to hear that worked for you. The merger issue would be specific to your project so including the files above them will be the only way we can reproduce it.

Feel free to attache them here if you can scrub any sensitive information from them.

[2016-08-23 22:10] jkasten2 opened #94 "SDK behavior changes based on areNotificationsEnabled"
[areNotificationsEnabled](https://developer.android.com/reference/android/support/v4/app/NotificationManagerCompat.html#areNotificationsEnabled%28%29) were introduced in API 24 (Android 7.0) and Android Support library v4 provides compat support back to API 19 (Android 4.4).  It will return false if users have disabled notifications from the settings for the app. This should be used to omit proces

[2016-08-25 08:46] jkasten2 commented on #49
Reff Issue #88, a few more occurrences of this exception were fixed in version 3.0.3.

[2016-08-26 06:53] #93 closed

[2016-08-30 05:22] jkasten2 commented on #85
@Deeptola We haven't seen any other reports of this issue. Feel free to reopen this if you are able to reproduce or if you have any additional information.

[2016-08-30 17:51] jzeferino opened #97 "getTags returns only tags first time"
After calling `getTags` for the first time it always returns null.

The problem is in this lines:

https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignal.java#L777

`            if (tags.serverSuccess) getTagsCall = true;
`

and after settings this flag to true it never goes to false and in the next calls it will never call the g

[2016-08-31 06:19] fchicken opened #98 "zh-Hant is showing up as zh-Hans"
I'm really sure that most of my users' locale is zh-TW. They should be marked as zh-Hant in the language field, but all of them are zh-Hans.

<img width="1061" alt="screen shot 2016-08-31 at 2 16 31 pm" src="https://cloud.githubusercontent.com/assets/10477535/18118142/9eac2850-6f85-11e6-9196-e0427b966077.png">

[2016-08-31 09:42] iForests commented on #98
I can confirm this issue. All my Android users whose locale should be zh-Hant were logged as zh-Hans on OneSignal.

When I look into the source code of OneSignal's SDK, it simply returns 2-letters language code which is insufficient for distinguishing zh-Hant from zh-Hans.

Maybe you can use the country code to solve this issue?

[code]

|          | Traditional Chinese | Simplified Chinese |
|---

[2016-08-31 10:37] gbtt opened #99 "Onesignal crash on boot completed"
Hi,
on One Plus One with Android 4.4.4 OneSignal crashes.
The problem doesn't happen on other devices.
This is what i see in logcat:

[code]

[2016-09-01 02:20] jkasten2 commented on #99
@gbtt Thanks for the report, could you also include the version of the OneSignal SDK you are using?

[2016-09-01 02:54] jkasten2 commented on #98
@fchicken @iForests
I can add the following which should correct the issue you are seeing.
[code]

Our back end will then assign `zh-TW` and `zh-HK` to `zh-Hant`. Every other `zh-*` result will be set to ` zh-Hans`. Are their any other exceptions?

[2016-09-01 03:06] iForests commented on #98
@jkasten2 OK! Many thanks for the prompt reply.

[2016-09-01 08:21] gbtt commented on #99
Hi, the version is 3.1.0

[2016-09-01 14:05] gbtt commented on #99
I found how to reproduce this crash also on other devices.
I am using android.intent.action.BOOT_COMPLETED

How to reproduce it:
- Starts the smartphone without internet connection.

The error message is:

`09-01 14:53:51.286 8202-8202/it.nameof.app I/GMPM: App measurement is starting up, version: 8487
09-01 14:53:51.286 8202-8202/it.nameof.app I/GMPM: To enable debug logging run: adb shell setpro

[2016-09-01 22:02] jkasten2 commented on #99
@gbtt Just tested this on LGE LGL15G Android 4.4.2 and an LG G2 Android 5.0.2 with any issues. Notifications were restored after a reboot without any crashes in the logcat.

Can you try reproducing the issue with our example project?

This crash is most likely the same as #84 but it was fixed in 3.0.1 of the SDK.

Thanks.

[2016-09-02 16:54] gbtt commented on #99
Hi, I tried with your example project and I get the same problem.
I upload the package [here](https://drive.google.com/open?id=0BxYN5UgjufTvLURheHNVRnBCNFE), and [here](https://drive.google.com/open?id=0BxYN5UgjufTvYjA4NDR0NjdxUVk) you can find a screenshot of logcat. You have to wait some time to get the error.

Thanks for your support.

[2016-09-02 19:41] jkasten2 commented on #99
@gbtt Thanks for the project, I'll give it a try. Did you send any specific notifications before rebooting? Or were they just simply ones with just a message body set?

[2016-09-03 00:00] jkasten2 commented on #97
@jzeferino Thanks for the report. Are you calling `sendTag(s)` in your code as well?

From a quick review of the SDK code it seems there could be an issue where calling `getTags` could overwrite `sendTag(s)` values if they have not been synced to the OneSignal server yet.

[2016-09-03 00:25] jzeferino commented on #97
@jkasten2 your welcome. Yes I'm calling` sendTag(s)` too, but only after a `getTags` call.
Do you plan to solve this issue?

[2016-09-03 14:57] cimenmus opened #100 "onCreate() method of Application class not working as expected with OneSignal"
I use OneSignal to send push notifications in my Android app. Here is my onCreate() method of Application class :

[code]
OnCreate() method of the Application works when app first launched. But it is not called 2nd, 3rd, 4th... launches. It called just after I press the home button and clear my app from working apps.

But when I do not call any of OneSignal methods, onCreate() method works properl

[2016-09-04 07:06] jkasten2 commented on #100
The `onCreate` in your `Application ` class is called when your app's process is started. This will happen any time a `Service` or `BroadcastReceiver` is started in-addition to your app being opened by the user.

You most likely will only want to call `OneSignal.idsAvailable` from your `Activity`.

[2016-09-04 10:06] cimenmus commented on #100
But onCreate() method of Application class is not called while app is launching, it is called just after clearing my application from working applications. Normally, it is called while application is launching.

I think i should call OneSignal.idsAvailable method in main activity of the application, like you said.

[2016-09-04 11:23] DimaKoz commented on #100
Please accept my apologies for the fact that I interfere in your fascinating conversation.

As @cimenmus  said:

This situation is absolutely normal.
@cimenmus You can find [here](http://stackoverflow.com/a/33176499), [here](http://stackoverflow.com/a/33176508) and [here](https://d.android.com/guide/topics/processes/process-lifecycle.html) more information about that.

Once again I offer my apolog

[2016-09-04 12:14] cimenmus commented on #100
But if I do not call any method of OneSignal class, onCreate() method works normally; called when app is launching. But if I call any of OneSignal class method,  onCreate() is not called while app is launching, it is called after clear my app from working apps. I think there is a bug or some logic on OneSignal.

[2016-09-05 06:32] drayan85 opened #101 "Android (5.0 Lollipop & 6.0 Marshmallow) Notification.builder.setColor() is not working"
# Suppose to be a pink colour background for the notification icon, It is working on Android 7.0

![14274282_10209949479436032_476535195_o](https://cloud.githubusercontent.com/assets/4456232/18238891/c08bc25e-7373-11e6-8aa5-11f66d7c91e0.jpg)

[code]
AndroidManifest.xml
[code]

OneSignal SDK version
[code]

[2016-09-05 13:27] gbtt commented on #99
Hi, I sent simply notifications with just a message body

Ok, i will send the logcat also to support. Fyi it's the same of the screenshot.
Thanks

[2016-09-05 14:08] Talkless opened #102 "Qt app unable to exit properly when using OneSignal Android SDK"
Hi,

First of all, of course, this is non standard usage of this library, but please bear with me.

I was experimenting with OneSignal 2.3 - 3.1 APIs on Android (and iOS) with Qt C++ application.

With Qt and C++, it works like this:
- Qt has implemented [QtApplication](https://code.qt.io/cgit/qt/qtbase.git/tree/src/android/java/src/org/qtproject/qt5/android/bindings/QtApplication.java?h=5.6.1) an

[2016-09-06 08:28] Talkless commented on #102
After more researching, the problem is actually a little different. It is not regression of v3 (same problem with older versions), and crash is not actually on startup, but when last app instances is closing. So to describe more precisely:

- App is launched with attached debugger from QtCreator
- In Android, open app list and swipe app out to close it.
- I can see app is still running in debugger

[2016-09-06 08:53] Talkless commented on #102
Some more details: if I launch app from Android and close it immediately, and then open it again **within around 20 seconds after app was closed**, that new app instance freezes with message:

After that second instances it's killed, I can launch app successfully.

[2016-09-06 10:29] Talkless commented on #102
I've testes official OneSignal example from 3.1.0 tarball, and it works OK. I can open and close and open example app without problem. But in my case with Qt app, closing it makes it freeze for ~20 seconds.

[2016-09-06 11:23] Talkless commented on #102
Here's some interesting logcat output when I close app within Android (it actually dies after ~20s):

[code]

[code]

Full log:
[code]

[2016-09-06 13:08] Deeptola commented on #85
@jkasten2 is there a possibility that there can be some issues on phones that are very obscure and unknown, coz all the users who have faced this issue are on these kind of phones.
For example:
DeviceModel:Coolpad CP8676_I02 Coolpad
AndroidVersion:22
AppVersion:18406
DeviceHeight:640.0dp
DeviceWidth:360.0dp
Density:2.0

[2016-09-07 01:46] jkasten2 commented on #99
@gbtt The full logcat will be useful to see if the device is somehow running out of memory and causing the process to restart multiple times.

[2016-09-07 01:50] jkasten2 commented on #100
@cimenmus

I have replied to [your stackoverflow post](http://stackoverflow.com/questions/39307111/oncreate-method-of-application-class-not-working-as-expected-with-onesignal/39356392#39356392) as well. Adding the contains of it below for reference.

`Application.onCreate` is called when your app's process is started just before any Activities, BroadcastReceivers , or Services are started. You wil

[2016-09-07 01:50] #100 closed

[2016-09-07 01:53] jkasten2 commented on #101
@drayan85 Your code looks correct, it is working for you on Android 7.0 but not 5 and 6?

You see `Notification displayed with id: ` in your logcat? Can you check for any errors around this in the log?

Thanks.

[2016-09-07 02:03] jkasten2 commented on #102
@Talkless Thanks for the details and digging into the issue. You only started seeing this issue after updating from 2.3.0 of our SDK to 3.1.0?

Can you pull the ANR log for your device?
You should be able to run `adb pull` to get it.
`adb pull /data/anr/traces.txt destination_path`

[2016-09-07 03:05] drayan85 commented on #101
Since display notification is different on Android 7.0 compare to lower versions. There will be no background colour instead App icon will be tint to the background colour.

![push ntification screen shot crop](https://cloud.githubusercontent.com/assets/4456232/18298400/ed985d3e-74ea-11e6-8727-2be24a215e92.png)

We don't see any error (from OneSignal SDK or Our Application) in the Logcat when Push

[2016-09-07 03:20] jkasten2 commented on #101
@drayan85 What about the following entry?
[code]

This debug line should be printing in the logcat if `onNotificationProcessing` is being called.

[2016-09-07 03:24] drayan85 commented on #101
@jkasten2 It is printing the Notification ID.

This will be called once Mobile Receive the Notification and before display on the Notification bar on the Device Screen.

[2016-09-07 06:14] Talkless commented on #102
@jkasten2 Looks like it's the same with 2.3.0. I believe that earlier, when I was playing with 2.3, I was closing app directly from debugger, simply killing it, without noticing this freezing issue.

ANR:
[data_anr_traces.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/458386/data_anr_traces.txt)

Iteresting part:
[code]
Looks like as Qt actually tries to quit, but it waits for somet

[2016-09-07 12:19] Talkless commented on #102
I've created [Qt bug report](https://bugreports.qt.io/browse/QTBUG-55846) with attached working example source (without valid app IDs though).

[2016-09-08 03:14] jkasten2 commented on #98
Fixed in commit 1750f18ce5ea2bf2580341622b1e28010dba7548. It will be included in the next release.

[2016-09-08 03:14] #98 closed

[2016-09-08 16:12] gbtt commented on #99
@jkasten2 hi, I sent the email with the full logcat.

[2016-09-09 06:40] Talkless commented on #102
@jkasten2 I've found interesting comment in SyncService, which describes my problem exactly:

      Also if the user reopens the app or there is another task still open on the same process it will hang the startup/UI there.
    */

https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.1.1/OneSignalSDK/onesignal/src/main/java/com/onesignal/SyncService.java#L92

Looks like it does not work in Qt

[2016-09-09 06:57] Talkless commented on #102
Looks like workaround is to set `true` in this line in manifest:
```<service android:name="com.onesignal.SyncService" android:stopWithTask="true" />```
What do I lose by not using `false` value as described in SDK documentation?

[2016-09-09 08:19] jkasten2 commented on #30
Fixed in commit 46d52c9c3089d56253a5ff43c4c95c8b78575a30

[2016-09-09 08:19] #30 closed

[2016-09-09 08:20] jkasten2 commented on #71
Fixed in commit 46d52c9c3089d56253a5ff43c4c95c8b78575a30

[2016-09-09 08:20] #71 closed

[2016-09-09 15:10] danielgomezrico commented on #9
+1 to move those setups to code, I mean something like `OneSignal.init(manifestAppId, appId, projectNumber)`.

[2016-09-10 19:46] jkasten2 commented on #99
@gbtt Thanks for the full log. The logcat showed the process isn't restarted. I have added a null check for this in commit 6db772665cde6f76a744c1614ff3323bb5f7e133

[2016-09-10 19:46] #99 closed

[2016-09-10 19:59] jkasten2 commented on #101
@drayan85 I am not able to reproduce the issue on a Nexus 6 running Android 6.0.1. The exact same code in the SDK is run to set the color no matter the Android version 5, 6, or 7.

Note that if you set a Android group key overriding properties does not work as it creates a different kind of summary notification that isn't supported yet. (even if it is the 1st i the group.)

Please contact OneSigna

[2016-09-10 19:59] #101 closed

[2016-09-10 20:03] xsorifc28 opened #107 "'ledColor' and 'groupKey' null"
Putting `ledColor` and `groupKey` into the notificaton payload seem to be null (debugging inside `OneSignal.NotificationOpenedHandler`

Before this used to be `led_color` and `group_key` payloads I believe ?

[2016-09-10 20:09] jkasten2 commented on #92
@rampr Thanks for the report, added null checking for this in commit be4baaa4b23012ea858fa556b849a20aefe0caaf.

[2016-09-10 20:09] #92 closed

[2016-09-10 20:18] jkasten2 commented on #107
@xsorifc28 Are you setting these values from the OneSignal dashboard or the [REST API](https://documentation.onesignal.com/docs/notifications-create-notification)?  The REST API fields are `android_group` and `android_led_color`.

Can you send this link to OneSignal support along with the notification id having the issue?

[2016-09-10 20:22] xsorifc28 commented on #107
I'm setting `ledColor` and `groupKey` when generating the notification in the Android app, as described [here](https://documentation.onesignal.com/docs/android-sdk-api#section-osnotificationpayload).

[2016-09-10 20:26] jkasten2 commented on #97
@jzeferino I haven't been able to reproduce an issue where the first call to `getTags` would return `null` if there are tags already set on the user server side or client side. We already have a unit test around this behavior as well.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/d978cce51289b0f2be76d46c03943c4f9e0cdc87/OneSignalSDK/app/src/test/java/com/test/onesignal/MainOneSignalClass

[2016-09-10 20:29] jkasten2 commented on #107
`OSNotificationPayload` is designed to be read-only, an instance is created and set when a notification is received.

Can you share how you are using it in your code?

[2016-09-10 20:40] xsorifc28 commented on #107
[code]
This does not work.

[code]
Grouping works, led color does not.

[2016-09-11 14:36] jzeferino commented on #97
Maybe my first post wasn't clear.

To reproduce this you should call the `getTags` **AFTER** the first time.
By others words, the 2nd, 3rd, etc... call to `getTags` always return null due to the lines i mentioned above. Please let me know if you can reproduce it.

[2016-09-12 21:19] heloisasim opened #108 "OneSignal.setSubscription(true) not working"
When an user uninstall the app, onesignal **Subscribed** status is changed to **No(Not Subscribed)**. When the user re-install the app, I can add and remove tags and change other infos but I can't change the **Subscribed** status to **Yes**. It seems that this call is not working **OneSignal.setSubscription(true)**. Am I doing something wrong?

[code]

[2016-09-13 00:44] jkasten2 commented on #108
Are you calling `setSubscription` with `false` at any point? I recommend contacting OneSignal support with your device's player / user id so they can check the status on their end.

Also let us know the OneSignal SDK version you are using.

[2016-09-13 01:43] jkasten2 commented on #107
Can you try the following code on your test deivce? If this doesn't make the led blink red then your device doesn't support a cust color.
[code]

You may need to unlock then turn your screen off for it to show on some devices.

[2016-09-13 04:57] xsorifc28 commented on #107
My device for sure supports custom LED, I've used the `NotificationExtenderService` to build custom notifications with LED colors, it seems like they're not working directly without extending the notification?

[2016-09-13 08:53] jkasten2 commented on #97
@jzeferino Sorry I misread that, I have fixed the issue in commit c4012fefb4fc1c8a7b34b1017d8ec7a91ca7b832. There is now additional tests around this method call to prevent any recurrence of an issue like this.

[2016-09-13 08:53] #97 closed

[2016-09-13 12:46] heloisasim commented on #108
I was actually configuring wrong the **google project number** in gradle file. So it seems that OneSignal can add/remove tags without the google project number, but it can't subscribe the user (which makes sense).

[code]

[2016-09-13 12:48] #108 closed

[2016-09-13 15:35] jzeferino commented on #97
@jkasten2 thank you

[2016-09-13 18:51] jkasten2 commented on #102
@Talkless `stopWithTask` is set to false so `onTaskRemoved(Intent)` will fire on `SyncService.java`. This allows OneSignal to persist any tags, session fields, etc before the app is killed. I did some benchmarking and it finishes in under 100ms. I have also add [some verbose logging](https://github.com/OneSignal/OneSignal-Android-SDK/blob/11dc7548f3285c939f5d676059217385a90f8df7/OneSignalSDK/onesi

[2016-09-13 19:31] Talkless commented on #102
Looks like it's [native method](https://code.qt.io/cgit/qt/qtbase.git/tree/src/android/jar/src/org/qtproject/qt5/android/QtNative.java?h=5.6.2#n303) defined in [androidjnimain.cpp](https://code.qt.io/cgit/qt/qtbase.git/tree/src/plugins/platforms/android/androidjnimain.cpp?h=5.6.2#n540).

I'll try that.

Yeah, it kinda looks like it.

Thanks for your work!

[2016-09-13 19:32] jkasten2 commented on #107
@xsorifc28 I tried to reproduce an issue on a few devices and everything is working correctly. I have reviewed the SDK code an not able to see any possible issues either.

The only way the LED color would not work is if you are omitting `contents` from your payload which means a notification would not be displayed.

[2016-09-13 21:23] jkasten2 commented on #85
@Deeptola It is possible their is a bug in the ROM of the device. Are you disabling notifications with `OneSignal.setSubscription` or from Settings>Apps on the device?

[2016-09-14 08:34] #85 closed

[2016-09-14 09:34] jkasten2 commented on #11
@varunnayak Sound can now be disabled on a per notification bases by setting the name to "null" or "nil" as of [SDK version 3.2.0](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.2.0).

[2016-09-15 06:04] rampr commented on #92
Thanks @jkasten2, When can we expect a release with this fix.

[2016-09-15 15:46] gerbiljames opened #110 "OneSignal causes extra "*.permission.C2D_MESSAGE" permissions to be declared which prevents different flavours of the same app being installed simultaneously"
It seems to me that declaring `manifestApplicationId` in build.gradle and having OneSignal use that to generate the permission declarations is causing permissions to be declared both with and without any added `applicationIdSuffix`. This means that it is impossible to install different flavours of the same app as Android doesnt allow permissions to be redeclared. Using `${applicationId}` in OneSig

[2016-09-15 19:10] jkasten2 commented on #110
@gerbiljames Our [AndroidManifest.xml](https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/release/AndroidManifest.xml#L3-L5) uses `${manifestApplicationId}` instead of `${applicationId}` as gradle was replacing it with `com.onesignal` in the final `AndroidManifest.xml` bundled our release AAR file.

From a quick test it seems this gradle issue has been fixed

[2016-09-15 19:30] xsorifc28 commented on #107
Thanks, I will check again. Should the payloads be `android_group` and `android_led_color` ?

[2016-09-15 19:43] jkasten2 commented on #107
@xsorifc28 Correct, the full list of fields supported by the REST API can be found below. https://documentation.onesignal.com/docs/notifications-create-notification

[2016-09-15 19:52] jkasten2 commented on #92
@rampr This fix is include in [version 3.2.0](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.2.0).

[2016-09-15 21:20] gerbiljames commented on #110
Thanks for looking into it for me. Here's my [build.gradle](https://gist.github.com/gerbiljames/66599b44d7a21b460061d9f3666aefa2) (with some info removed).  I can't install the dev buildtype at the same time as the beta or release.

[2016-09-21 06:37] jkasten2 commented on #110
@gerbiljames This should now be fixed in version [3.3.0](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.3.0).

[2016-09-21 06:37] #110 closed

[2016-09-24 00:48] jkasten2 commented on #107
@xsorifc28 Any updates?

[2016-09-25 01:41] jkasten2 commented on #102
@Talkless Wasn't able to find any detailed information on `stopWithTask` but it seems it should be defaulting to `false` anyway from this comment.
https://github.com/android/platform_frameworks_base/blob/e71ecb2c4df15f727f51a0e1b65459f071853e35/core/res/res/values/attrs_manifest.xml#L1772-L1775

I have removed the flag in commit 07ba32f4d919b4789e2111b3adf2cbd700e2aa66 from the SDK's `AndroidManif

[2016-09-25 08:15] Talkless commented on #102
Sorry, I do not follow.

So
`<service android:name="com.onesignal.SyncService" android:stopWithTask="false" />`
is the same as
`<service android:name="com.onesignal.SyncService"/>` as per default ?

But my workaround was
`<service android:name="com.onesignal.SyncService" android:stopWithTask="true" />`
as mentioned in my earlier post.

[2016-09-25 19:47] stkent opened #116 "applicationIdSuffix respected in v3.3.0?"
In https://github.com/OneSignal/OneSignal-Android-SDK/commit/c48ffd148b291fc09517592e38e0265930fb6f6e, the need/ability to supply the application id to the SDK was removed. I use an application id suffix for my debug builds to allow side-by-side installs:

[code]

so previously I was doing this:

[code]

Will the suffix be included automatically in v3.3.0 of the library? If not, what are the conse

[2016-09-25 23:36] xsorifc28 commented on #107
Grouping is working fine, LED color is not. I've tested on 3 different phones (API 18, 23, 24).

[2016-09-26 09:18] gerbiljames commented on #116
I actually submitted issue #110, which was resolved by the removal of `${manifestApplicationId}`. It's been replaced by the standard `${applicationId}` in OneSignals manifest which includes any `applicationIdSuffix` you define automatically. I've tested this myself and the `applicationIdSuffix` is definitely respected in 3.3.0.

[2016-09-26 12:27] stkent commented on #116
Ah, thanks for confirming - my testing with the merged manifests suggested the behavior you describe, which surprised me (pleasantly!).

[2016-09-27 10:12] jkasten2 commented on #102
@Talkless Sorry you're right, though you stated that the removal of the flag also worked and didn't reread your Sept 8th comment before making that commit.

This seems to be a bug related to Qt handling services but I'll reopening the issue so this conflict can be tracked.

You might have better luck from Qt's end if you can reproduce the issue with a simple project without OneSignal so they have

[2016-09-27 15:30] Talkless commented on #102
OK thanks, I'll inform about progress, if any.

[2016-09-29 10:30] txusms commented on #9
+1 @danielgomezrico
My workaround. In AndroidManifest.xml file:
`<meta-data android:name="onesignal_app_id"
            android:value="@string/my_onesignal_app_id"
            tools:replace="android:value"/>`
        `<meta-data android:name="onesignal_google_project_number"
            android:value="@string/my_onesignal_google_project_number"
            tools:replace="android:value"/>`
It works

[2016-09-30 22:51] jkasten2 commented on #116
@stkent Let me know if is all working for you or if you need me to look into the `applicationIdSuffix`.

[2016-09-30 23:36] jkasten2 commented on #94
This will fix an issue where badge counts continue to increase even though notifications are not shown if the user has disabled notifications for the app in their settings.

[2016-10-01 06:04] lineahosting opened #117 "Action Buttons Set of OneSignal in Elicpse"
Hello, I need help on OneSignal.

I do not know very well how to make the user when it receives the notification push, press the button and click this action go to a specific tabs.

As I set up my app done in Eclipse and I enter ID Action Buttons?

I hope you can help me.

I leave an example of what I try to do
https://cloud.githubusercontent.com/assets/2101405/15735954/24976650-28a5-11e6-9764-6d3

[2016-10-01 07:50] jkasten2 commented on #117
@lineahosting To can get the button press event from [setNotificationOpenedHandler](https://documentation.onesignal.com/docs/android-native-sdk#section--setnotificationopenedhandler-). To get the id of the button press read `result.action.actionID` See [OSNotificationOpenResult](https://documentation.onesignal.com/docs/android-native-sdk#section--osnotificationopenresult-) for a full list of prope

[2016-10-01 07:50] #117 closed

[2016-10-01 12:31] stkent commented on #116
@jkasten2 thanks for checking in! Everything I'm observing matches what @gerbiljames described, so I think we're good :)

[2016-10-03 10:40] FunnyDevs opened #118 "exclude user from filter notification"
Is possibile to exclude userId from a filter notification (without adding additional tag)???

[2016-10-04 05:45] jkasten2 commented on #116
@stkent Good to hear, glad I was able to remove this complexity!

[2016-10-04 05:45] #116 closed

[2016-10-04 05:52] jkasten2 commented on #118
@FunnyDevs Unfortunately there isn't an option for this. Is your use case for this a chat app?

[2016-10-04 13:23] FunnyDevs commented on #118
Yes. In particular i want to exclude the sender from a geolocation notification

[2016-10-08 03:02] jkasten2 commented on #118
@FunnyDevs We will consider it, since this is server API feature request that does not related to the Android SDK I am going to close this issue.

[2016-10-08 03:02] #118 closed

[2016-10-10 06:50] snowbreeze opened #119 "Xcode 8 Build Warnings"
There are hundreds of file showing as missing. And some other warnings also. In a gist this is not working in xcode 8

[2016-10-10 06:53] snowbreeze commented on #119
Wrong place to open this issue

[2016-10-10 06:53] #119 closed

[2016-10-12 01:47] kumsook opened #120 "Notification click not deleted - amazon Kindle"
Notification click not deleted.
Power on/off affer deleted.
Is there any other way?

NotificationExtender.java
public class NotificationExtender extends NotificationExtenderService {
    @Override
    protected boolean onNotificationProcessing (OSNotificationReceivedResult receivedResult) {
        OverrideSettings overrideSettings OverrideSettings = new ();
        overrideSettings.extender Notif

[2016-10-12 03:18] jkasten2 commented on #120
@kumsook Do you mean the notification is not removed from the notification shade when you tap on the notification?

I am not sure I understand how restarting the device is related to your issue.

`setAutoCancel(true)` is already set by our SDK so this isn't required in your code.

[2016-10-12 04:56] kumsook commented on #120
@jkasten2 Thank you answer.
Do you mean the notification is not removed from the notification shade when you tap on the notification? -> yes.

I am not sure I understand how restarting the device is related to your issue.
-> restarting removed from the notification shade.

setAutoCancel(true) is already set by our SDK so this isn't required in your code.
-> oh, ok.
I proceeded this part with remov

[2016-10-12 11:25] OlegTarashkevich opened #121 "Can't add onesignal to module"
I have a project with dependent module. If I add onesignal library to project - all works properly.
If I add onesignal to my module (library) it has errors:

[2016-10-12 18:40] mmhub commented on #10
@jkasten2 I'm trying to setPriority(2) to make the notification displays as a banner, I followed  Background Data and Notification Overriding like this

public class NotificationExtenderPriority extends NotificationExtenderService {
    @Override
    protected boolean onNotificationProcessing(OSNotificationReceivedResult receivedResult) {
        OverrideSettings overrideSettings = new OverrideSet

[2016-10-12 18:46] raysango commented on #10
@jkasten2 I'm trying to setPriority(2) to make the notification displays as a banner, I followed  Background Data and Notification Overriding like this

[code]

And then updated AndroidManifest.xml (I placed it in the MainActivity):

[code]

but I think something is missing, is there any other way to make the notification appears as a banner because currently I just get the icon on the status bar.

[2016-10-12 18:57] jkasten2 commented on #10
@raysango You need to add `displayNotification(overrideSettings);` before `return true;` to apply the `overrideSettings`.

[2016-10-12 19:03] jkasten2 commented on #121
@OlegTarashkevich This means the `manifestPlaceholders` were not added correctly or are missing.

In your case since you have an SDK project that is a library type project you will need to add the following to your sdk `build.gradle` to forward the placeholders along to your app.
[code]

The error in your screenshot is pointing to your `app` project so maybe you have the above already in your `sdk

[2016-10-12 19:11] raysango commented on #10
@jkasten2 thanks, I added ``displayNotification(overrideSettings);`` but still the notification is displayed as icon in the status bar

[2016-10-12 20:35] jkasten2 commented on #10
@raysango Can you confirm that `builder.setPriority(2);` is running by adding `Log.e(...)` after this and checking for it in the logcat?

Also note Heads Up notifications were introduced in Android 5.0 Lollipop, the setting is ignored on older Android devices.

[2016-10-12 20:49] raysango commented on #10
@jkasten2 It's not being called, I can't see the log after adding ``OSNotificationDisplayedResult displayedResult = displayNotification(overrideSettings);
			Log.d("OneSignalExample", "Notification displayed with id: " + displayedResult.androidNotificationId);``

The test device I'm using is Android 6.01 Marshmallow

[2016-10-12 21:30] OlegTarashkevich commented on #121
Please look at this screen-record: [https://www.dropbox.com/s/n1e5phgghxcr9fr/record.mov?dl=0](url)

[2016-10-12 21:34] OlegTarashkevich commented on #121
Does it mean that I can't include onesignal library to another libraries or modules? Only to app?
Also do we have another way to set keys. It will be great if I be able to set them programmatically.

[2016-10-12 22:32] jkasten2 commented on #10
@raysango So it seems like your `onNotificationProcessing` method is being called but not the code in the extender? Note that this won't be called if you set an Android Group key from the dashboard or REST API for the notification. It is a current limitation of the SDK handling of grouped notifications.

[2016-10-12 22:42] raysango commented on #10
@jkasten2 I'm using REST API to push notifications, but this is happening whether I assigned an android_group or not.

[2016-10-12 22:50] jkasten2 commented on #10
@raysango Can you confirm the below from my previous response?
[code]

Lastly can you make sure your using our latest 3.3.0 SDK? You can print `OneSignal.VERSION` to conform the version is `"030300"`.

[2016-10-13 00:25] jkasten2 commented on #121
@OlegTarashkevich The `manifestPlaceholders` code I pasted above should work for your `sdk` project.

The video is to hard to see, Please attach both .gradle files instead.

[2016-10-13 06:21] OlegTarashkevich commented on #121
@jkasten2 Please download video before watching. I suppose you saw low resolution.

build.gradle from app:
[build.gradle.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/526308/build.gradle.txt)
build.gradle from sdk:
[build.gradle.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/526310/build.gradle.txt)

[2016-10-13 15:54] raysango commented on #10
@jkasten2 Thanks it is working now.

[2016-10-14 18:21] raysango opened #125 "Clear notifications when app resumes"
Hi, can we clear notifications from status bar and badge number when app is in the background and then  resumes. testing on Android cordova app

[2016-10-14 20:02] raysango commented on #125
nvm, I found a way.

[2016-10-14 20:02] #125 closed

[2016-10-14 21:24] OlegTarashkevich opened #126 "sendTags issue"
1) Please add ability to append tags.
Example:

[code]

sendTags clears previous sendTag.

maybe you can add

[code]

2) Please add ability to put non String values. You can add String.valueOf() method inside your library. Also Json can contain not only Strings. If I create json object with int and boolean values and then use sendTags is nothing happens.

I believe that it's easy to implement thes

[2016-10-14 22:56] jkasten2 commented on #121
You need to move the following to your `app/build.gralde`
[code]

Use the following instead in your `sdk/build.gralde`.
[code]

[2016-10-14 23:12] OlegTarashkevich opened #127 "project keys"
Please add ability to set onesignal_app_id and onesignal_google_project_number directly from code. I want to store my keys with encryption, then decrypt them and set when I want to init onesignal library.

In other case any developer can decompile project and retrieve onesignal_app_id and onesignal_google_project_number

Example:

[code]

[code]

[2016-10-15 00:06] OlegTarashkevich commented on #121
@jkasten2 Works like a charm!

[2016-10-15 00:37] jkasten2 commented on #126
@OlegTarashkevich `sendTag` or `sendTags` always append, the only exception is passing `""` as a value for a key which will delete the key.

We have good test converge around updating tags in our [shouldSendTags](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.3.1/OneSignalSDK/app/src/test/java/com/test/onesignal/MainOneSignalClassRunner.java#L737) method plus a few other tests. Can you

[2016-10-17 14:06] stkent opened #128 "Allow consumers to inject their own SharedPreferences implementation"
Currently, the SDK uses the following `SharedPreferences` implementation:

[code]

For added security, it would be nice to be able to inject an instance of e.g. `https://github.com/scottyab/secure-preferences` instead.

[2016-10-18 09:58] iForests opened #129 "Sony phones crash when removing badge permission"
I follow the instruction here: [Disable Badges](https://documentation.onesignal.com/docs/android-native-sdk#section-disable-badges), but a lot of Sony phones crash. The error message is:

[code]

The affected phones are all Sony's.

Please let me know if I can provide any additional information. Thanks.

[2016-10-18 10:40] DimaKoz commented on #129
I got the same issue.

[2016-10-18 14:35] iForests commented on #129
Do we need to check the value of `<meta-data android:name="com.onesignal.BadgeCount" android:value="DISABLE" />` before using [BadgeCountUpdater.updateCount()](https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/BadgeCountUpdater.java#L71) for example in [OneSignal.init()](https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/O

[2016-10-18 18:15] jkasten2 commented on #129
@iForests You are correct, there are 2 calls being made to `updateCount` directly from `OneSignal.java` which are omitting this manifest check. I'll add a fix for this in our next release.

[2016-10-19 01:30] jkasten2 commented on #129
@iForests @DimaKoz Fixed this in commit e4e44324c3efc06b3e8e0b1eb09013348ec2d0a0. It will be include in the next minor release.

[2016-10-19 19:28] jkasten2 commented on #10
@varunnayak @olegwn @raysango Priority is now set to `PRIORITY_MAX` when the send priority is set to 10 through our REST API call. This was added in our [3.4.0 release](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.4.0).

[2016-10-19 19:28] #10 closed

[2016-10-19 23:23] xsorifc28 opened #133 "Server key restriction"
What kind of restriction should be set on the firebase/google project console server API key (configured on https://onesignal.com) ?

[2016-10-19 23:50] jkasten2 commented on #133
@xsorifc28 You should no longer user the "Google Project Console" to create keys / project numbers as it no longer creates valid ones for GCM messages.

Instead follow one of our guides below.
* Creating a new key - https://documentation.onesignal.com/docs/generate-a-google-server-api-key
* Use existing FCM - https://documentation.onesignal.com/docs/firebase-cloud-messaging-fcm

[2016-10-19 23:50] #133 closed

[2016-10-20 03:25] xsorifc28 commented on #133
I'm using the FCM guide. The key in this guide also shows up in the Google project console with a security warning as it is "auto generated by Google service".

Are there any restrictions to set on this server key?

For example, for Android keys, I've set my SHA1 fingerprint and package name as restrictions.

[2016-10-23 17:10] rwillett commented on #125
Do you mind sharing how you did this please?

Thanks

Rob

[2016-10-24 16:05] raysango commented on #125
@rwillett sure, what I did is override the CordovaActivity onResume function in MainActivity and added  OneSignal.clearOneSignalNotifications() to clear notifications and badge count, hope this helps

[2016-10-24 16:26] rwillett commented on #125
Ok, thats what we aredoing, we're actually using Cordova and clearOneSignalNotifications() isn't in the SDK  (yet!).

If anybody from OneSignal is reading this, can you officially expose clearOneSignalNotifications() in OneSignal.js. We've added this in ourselves but it would be good to have this in proper :)

Rob

[2016-10-25 20:50] ssaxena01 opened #134 "Setting onesignal_app_id at runtime?"
I have separate onesignal apps configured for different servers - qa/dev/staging/prod. Is it possible to instantiate onesignal app id at runtime vs placing it in the build.gradle? How do I accomplish this as different servers does not translate into different build flavors. I have only 2 build flavors - release and debug.

[2016-10-29 19:34] EgyptianM opened #135 "Get notification's title and content as a string in android?"
Hi, how can I get notification's title and content as a string to store in DB in android?

[2016-11-02 05:18] jkasten2 commented on #135
@EgyptianM If you want to store the notification on the open event you can do so by calling [`setNotificationOpenedHandler`](https://documentation.onesignal.com/docs/android-native-sdk#section--setnotificationopenedhandler-). You can then get the content and title from [`OSNotificationOpenResult`](https://documentation.onesignal.com/docs/android-native-sdk#section--osnotificationopenresult-).

Or

[2016-11-02 05:23] jkasten2 commented on #134
@ssaxena01 You can use the following syntax instead to set this at runtime..
[code]

We still recommend calling this from the `onCreate` for your `Application` class for OneSignal to work correctly.

[2016-11-02 05:23] #134 closed

[2016-11-02 05:24] jkasten2 commented on #127
@OlegTarashkevich You can use the following syntax instead to set this at runtime..
[code]

We still recommend calling this from the `onCreate` for your `Application` class for OneSignal to work correctly.

[2016-11-02 05:24] #127 closed

[2016-11-02 05:30] jkasten2 commented on #126
@OlegTarashkevich Are you still able to reproduce an issue with your tags being cleared? Could you provide an example project reproduction the issue?

[2016-11-02 05:35] jkasten2 commented on #128
@stkent Sorry but I don't believe I'll be able to look into this in the near future. However if this is a feature you would like interrogated I'll gladly look over and merge in a pull request.

[2016-11-02 05:41] jkasten2 commented on #70
The original issue as sent in by a developer through support. We haven't received any other reports of this. The issue is most likely related to specific `appcompat` versions and / or a modified Android framework code base on the device.

[2016-11-02 05:41] #70 closed

[2016-11-02 06:46] OlegTarashkevich commented on #127
@jkasten2 Awesome! I will try it!
Thank you!

[2016-11-02 06:48] OlegTarashkevich commented on #126
@jkasten2 I've updated the onesignal library and seems I can't reproduce it.
Thank you!

[2016-11-02 06:48] #126 closed

[2016-11-02 10:01] iForests opened #136 "SQLiteCantOpenDatabaseException on NotificationRestorer.java"
I saw some OneSignal's crashes on Crashlytics.
![Crashlytics' Screenshot](http://i.imgur.com/jILI29r.png)

There are two types of crash log:

<pre>
Fatal Exception: android.database.sqlite.SQLiteCantOpenDatabaseException: unknown error (code 14): Could not open database
       at android.database.sqlite.SQLiteConnection.nativeOpen(SQLiteConnection.java)
       at android.database.sqlite.SQLiteConn

[2016-11-03 00:19] stkent commented on #128
I also don't have time to address this imminently, just wanted to open the issue as a nice-to-have!

[2016-11-03 00:28] jkasten2 commented on #136
@iForests Thanks for the report. This on the 3.4.0 version of the SDK?

[2016-11-03 02:48] iForests commented on #136
It's on v3.3.0.
Since there is no difference between v3.3.0 and v3.4.0 in NotificationRestorer, I think it will crash on v3.4.0 too. But I can update to v3.4.0 if necessary.

[2016-11-03 03:36] jkasten2 commented on #136
@iForests Thanks, there are no changes around this since 3.3.0 so updating would fix this issue.

[2016-11-04 06:00] nilabh opened #138 "Scheduling restart of crashed service com.onesignal.SyncService"
Service crashes when i remove app from background and then it stops receiving notification.
It only receives notification when app is running.
logcat:
[code]
gradle:
[code]
manifest:
[code]

[2016-11-04 06:36] nilabh commented on #138
With further debugging i found out that if i pressed home and killed the app after onesignal had sent all requests service restarted properly.
It crashed when i removed the app from background immediately.

[2016-11-04 06:36] jkasten2 commented on #138
@nilabh Thanks for the report. I am able to reproduce the `Scheduling restart of crashed service` logcat entry but on our test devices Nexus 6 (6.0.1), LG G2 (5.0.2), and Galaxy Nexus (4.2.2) I don't see `Force stopping ` and notifications are still received after this.

Can you also include the Android version and device model you are seeing the entries above and the no notifications issue after

[2016-11-04 06:40] nilabh commented on #138
@jkasten2 Thanks for the update.I'm using Moto g4 Plus(6.0.1)
I've posted my recent findings in the comment above.

[2016-11-04 06:48] jkasten2 commented on #138
@nilabh Thanks for the device info. Could you expand on `killed the app after onesignal had sent all requests`? Do you mean after OneSignal as completed it's network calls based off the OneSignal's logcat logs then swiping the app away in the Recent Apps list?

[2016-11-04 07:03] nilabh commented on #138
@jkasten2 Yea. You got it right -  "OneSignal as completed it's network calls based off the OneSignal's logcat logs then swiping the app away in the Recent Apps list"

[2016-11-04 07:24] jkasten2 commented on #138
@nilabh I have created a possible fix, can try to reproduce the no notification issue with it on that same device?

Download
https://www.dropbox.com/s/019ltohvlyyyei3/onesignal-release.aar?dl=0

Instructions on using a local .aar SDK build.
https://gist.github.com/jkasten2/4683711807373dabaf5d5833b9574bb1

[2016-11-04 07:51] nilabh commented on #138
@jkasten2 Thanks.
Will try this out and update.

[2016-11-08 18:35] PedroOkawa opened #140 "NoClassDefFoundError: LocationServices"
Hi,

I'm facing an issue related to LocationServices using OneSignal.
It happened just once while I was trying to open a fragment that shows a mapview with the current location, it gave me a NoClassDefFoundError.

Here's the full stack:

[code]

If any other info is necessary to help you find a solution or even a reason, please let me know and I can provide it.

Thanks.

[2016-11-08 21:49] jkasten2 commented on #140
@PedroOkawa Can you make sure you have the following in your `app/build.gradle` file?
[code]

Thanks.

[2016-11-08 21:51] jkasten2 commented on #135
@EgyptianM Feel free to reopen this issue if you need more information on our getting these values out of OneSignal.

For help on storing values into a DB on Android I recommend posting on stackoverflow.com

[2016-11-08 21:51] #135 closed

[2016-11-09 01:23] jkasten2 opened #141 "Control over Android Task and the Back Stack"
### Current Limitations
Currently app developers limited to the following behaviors when a notification is opened.
1. Create or resume the Launcher `Activity`.
2. Only fire [NotificationOpenedHandler](https://documentation.onesignal.com/docs/android-native-sdk#section--notificationopenedhandler-) ([details](https://documentation.onesignal.com/docs/android-customizations#section-changing-the-open-a

[2016-11-09 05:13] vihangptl opened #142 "How to send big_picture from in JSON"
How can I add image URL against big_picture in JSON object?

[2016-11-09 05:21] jkasten2 commented on #142
The url must be a direct link to a file. Example:
[code]

[2016-11-09 05:21] #142 closed

[2016-11-09 10:08] raphaelcoder opened #143 "OneSignal AppId format is invalid"
For some reason, i can't seem to get OneSignal to initialize in my app. Here's my build.gradle

[code]

I'm using   ```compile 'com.onesignal:OneSignal:3.+@aar'```

[code]

[2016-11-09 11:22] PedroOkawa commented on #140
@jkasten2 I just checked and it's missing, I just had `compile "com.google.android.gms:play-services-maps:9.4.0"` added.

Really thanks, mate.

[2016-11-09 11:22] #140 closed

[2016-11-10 06:24] samarth220194 commented on #141
I think the intent which I am creating in the app to go to my 'DesiredActivity' is creating the problem.

` Intent intent = new Intent(getApplicationContext(),
                       DesiredActivity);`

This intent is being called from the Application class ,hence it is using 'getApplicationContext()' so when i backpress on the 'DesiredActivity' then my app closes ,but i want that it should go to

[2016-11-10 07:47] samarth220194 commented on #141
I think the intent which I am creating in the app to go to my 'DesiredActivity' is creating the problem.

` Intent intent = new Intent(getApplicationContext(),
                       DesiredActivity);`

This intent is being called from the Application class ,hence it is using 'getApplicationContext()' so when i backpress on the 'DesiredActivity' then my app closes ,but i want that it should go to

[2016-11-10 23:12] lukevear commented on #102
I've had the same issue as the one described here (with an identical ANR).

Explicitly setting `<service android:name="com.onesignal.SyncService" android:stopWithTask="false" />` in my AndroidManifest.xml did resolve the issue on my Samsung Galaxy S6 (Android 6.0.1), but did not resolve it on my Nexus 6 (Android 7.0.1).

[2016-11-11 02:40] jkasten2 commented on #141
@samarth220194 I recommend using [`registerActivityLifecycleCallbacks`](https://developer.android.com/reference/android/app/Application.html#registerActivityLifecycleCallbacks(android.app.Application.ActivityLifecycleCallbacks)) so you can store the last `Activity` your app was on. *Use a [`WeakReference`](https://docs.oracle.com/javase/7/docs/api/java/lang/ref/WeakReference.html) so this doesn't

[2016-11-11 05:14] samarth220194 commented on #141
I will try sir and get back back to you !

[2016-11-11 09:02] samarth220194 commented on #141
Sir please give some more  reference about how to do it.I am not able to get the exact logic on how to use it .

[2016-11-17 00:13] jkasten2 commented on #138
@nilabh We are looking into including this in our next release. Could let us know if you had an chance to try this?

[2016-11-17 00:15] jkasten2 commented on #102
@lukevear Thanks for the additional details.

@Talkless @lukevear Can you try the test build attach to issue #138? I have added a `selfStop()` call the service which may fix this issue as well.

[2016-11-17 00:20] lukevear commented on #102
@jkasten2 - Thanks! Testing it right now.

[2016-11-17 00:34] lukevear commented on #102
@jkasten2 - Unfortunately it didn't work :(

[2016-11-17 00:36] lukevear commented on #102
That was without:

`<service android:name="com.onesignal.SyncService" android:stopWithTask="true" />`

[2016-11-17 15:32] namdroid opened #144 "sdk shows popup notification in case of timeout"
how can i prevent that ?
thanks

[2016-11-17 19:21] jkasten2 commented on #144
@namdroid Make sure you don't have `setLogLevel` any where in your code.

Please attach a screenshot if you are still seeing an issue.

[2016-11-18 09:18] rrinav opened #145 "Proguard rules"
are proguard rules shipped with the aar?
or do we need to add them?

[2016-11-21 23:38] jkasten2 commented on #145
@rrinav Proguard rules are included automatically by our aar. They are the consumer rules in the file below.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/consumer-proguard-rules.pro

[2016-11-21 23:38] #145 closed

[2016-11-23 10:21] santoshmodi commented on #143
Same error i m receiving how you fixed this?

[2016-11-23 11:24] kistitan opened #146 "OneSignal.NotificationOpenedHandler null notification.payload and empty/null groupedNotifications"
In the _notificationOpened_ method of _OneSignal.NotificationOpenedHandler_ we receive _OSNotificationOpenResult.OSNotification_ with null _payload_ and empty/null _groupedNotifications_.

In theory we do not send empty push messages.
In what circumstances can this happen?

Thank you

[2016-11-23 13:28] raphaelcoder commented on #143
There're three other init methods in the Onesignal class. Use it as you please.

[code]

[2016-11-24 01:51] jkasten2 commented on #146
@kistitan These properties should always be set. Are you able to reproduce the issue when sending an notification through OneSignal? Via the REST API or Dashboard? If so please attach the full list of options here.

Or are you able to reproduce the issue by sending a push to your app directly through FCM/GCM?

In either case our SDK should either omit the call or correctly set properties.

Thanks.

[2016-11-24 01:57] jkasten2 opened #147 "OneSignal field collapse_id client side handling"
Currently OneSignal's `collapse_id` REST API field sets GCM's `collapse_key` which replaces notifications not received by the device yet. However the SDK doesn't handle this yet to replace existing already displayed notifications in the notification shade with the new content.

#### Alternative Feature
You can instead set Group Key on the dashboard or `android_group` on the REST API. This stack no

[2016-11-24 11:20] kistitan commented on #146
Hi @jkasten2

Thank you for your reply.
We user Crashlyticis library to monitor crashes and we saw there were some crashes that effected about 1% of our user base.
Crashes could occur based on our code if the mentioned condition is there, but as it happens only for 1% of the users we cannot intentionally reproduce it.

We will add some additional logging to our next version to have more insight.
I

[2016-11-28 20:15] jkasten2 opened #148 "Badge support - Samsung Note 2"
Badges do not display on the Samsung Note 2's default launcher. ShortcutBadger version 1.1.8 is included with this SDK however support for the device was not added until version 1.1.9.

Update to latest the [`ShortcutBadger`](https://github.com/leolin310148/ShortcutBadger) version to support this as well as ZUK and OPPO devices.

[2016-11-29 16:31] rostopira opened #149 "Unable to start service Intent act=com.google.firebase.MESSAGING_EVENT"
First of all, quote [from Google Developers](https://developers.google.com/cloud-messaging/)

Now my issue. Everything works for few hours, and then suddenly stops. Notifications aren't shown and in logcat I see following:

[code]

I've tried to add `compile 'com.google.firebase:firebase-messaging:10.0.1'` to build.gradle, but that doesn't help.

I think issue is in using GCM, migration to FCM sho

[2016-11-29 16:36] rostopira commented on #149
I have experience with both GCM and FCM, and also migration experience. I could update SDK to FCM in few days, is contributing welcome?

[2016-11-29 20:37] jkasten2 commented on #149
@rostopira Thanks for looking into this. Can you share your project where you are reproducing this issue?

I haven't started work on updating our SDK to use the FCM library yet. We need to ensure that our SDK will work with either library (GCM or FCM) during this transition period. This will give time to for native developers to update their gradle projects. This repo is shared with all our other

[2016-11-29 20:53] rostopira commented on #149
No, I can't, it's private. The only things, that I did, was adding IdsAvailableHandler and extending  NotificationExtenderService.
Anyway, I just extended FirebaseMessagingService instead and it seems to work ok (I need only data payload), so issue can be closed

[2016-11-29 20:53] #149 closed

[2016-11-29 23:57] jkasten2 commented on #149
@rostopira That is odd, the only cause of something like this I have run into is if you are using 2 different Google Project numbers in your app. When your register a different Google Project number the token created from the old project number will become invalid shortly after.

[2016-11-30 02:05] jkasten2 opened #150 "Missing shrinkResources setting"
When `shrinkResources` is enabled default notification icons and sounds are removed from the APK.
* `ic_stat_onesignal_default`
* `ic_onesignal_large_icon_default`
* `onesignal_default_sound`

Look into adding a `res/raw/keep.xml` to this SDK's aar package to see if it will prevent the app's level `shrinkResources` from removing the resources above.
https://developer.android.com/studio/build/shrin

[2016-11-30 15:59] alexleutgoeb commented on #102
Hi @Talkless, I'm experiencing the same issue, did you open a Qt bug as follow up for that one or is there a workaround you're using for now? Thanks

[2016-11-30 17:07] Talkless commented on #102
@alexleutgoeb [There is bug report](https://github.com/OneSignal/OneSignal-Android-SDK/issues/102#issuecomment-245262810).

I haven't tried latest OneSignal SDK yet, my walkaround was [this](https://github.com/OneSignal/OneSignal-Android-SDK/issues/102#issuecomment-249409157).

[2016-12-01 00:17] jkasten2 commented on #144
@namdroid We haven't had any other reports of this. Feel free to reopen this issue if my last comment didn't help.

[2016-12-01 00:17] #144 closed

[2016-12-01 02:19] jkasten2 commented on #149
@rostopira If you can reproduce this issue on a new project we can try it out on our test devices to dig into the issue further.

[2016-12-01 09:04] alexleutgoeb commented on #102
@Talkless I see, did you experience any side effects so far?

[2016-12-01 11:42] Talkless commented on #102
@alexleutgoeb I have not experienced any specific side effects, it basically worked, but, that Qt project is on hold and there are not much actual experience.

[2016-12-06 08:33] jkasten2 commented on #148
Fixed in commit 719d29abac36287c7c24c975f713260c547fa3cd

[2016-12-06 08:33] #148 closed

[2016-12-06 09:32] jkasten2 commented on #150
Only an issue when strict mode is enabled. Added exception file for OneSignal when this mode is enabled.
be37c4d2502a69986a94de121aabb4cad87cf4f9

[2016-12-06 09:37] jkasten2 commented on #138
Merged branch into master, final changes in commit 7854e7f4d062473c370be33599f3b2014ef414ed.
Confirmed this fixes the following logcat entry.
[code]

@nilabh Did this fix the `Force stopping service ServiceRecord` error and the notification not showing issue? Changes will be included in the 3.4.2 release anyway since part we confirmed part of the issue has been fixed. Confirmation from your specif

[2016-12-07 12:14] phajduk commented on #138
@jkasten2 I can confirm that your commit fixed problem with `Force stopping service`. However problem with already released fix is that together with `SyncService`, after those 10 seconds whole application process will be also spawned.
It's an issue because it's common practice to initialize third parties in Application `onCreate` and in this case all that stuff will be launched.

[2016-12-09 08:53] TostF commented on #121
@OlegTarashkevich can you link your final gradle files?
I am dealing with a similar problem but cannot make it work.

[2016-12-09 09:02] OlegTarashkevich commented on #121
@TostF
[build.gradle_SDK.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/641644/build.gradle_SDK.txt)
[build.gradle_App.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/641647/build.gradle_App.txt)

[2016-12-09 09:12] TostF commented on #121
@OlegTarashkevich Thanks, but it does not look like you used @jkasten2 suggestion to solve the problem. Because right now you have double initiation of manifestPlaceholders with different keys?
Or maybe it looks like it because you've hidden your keys with other important data.
Thanks for help!

[2016-12-09 09:16] OlegTarashkevich commented on #121
@TostF In build.gradle_App.txt you need to replace all "xxxxxx" to your own data.
In build.gradle_SDK.txt you can stay it as it is.

[2016-12-09 13:41] TostF commented on #121
@OlegTarashkevich it didn't work out for me :C
Still getting merge error. Since I couldn't waste more time I moved it to app.gradle only.
Thanks for your time and help mate!

[2016-12-09 14:47] TostF commented on #121
@OlegTarashkevich ok It does work!
My mistake was to include bogus `maniefestPlaceholders` only in the "common" module. But I should've done it in all modules that compile my "common" module. Now I need to figure out how to make it look better instead of having bogus code all over my gradle files >.<

[2016-12-09 22:39] jkasten2 commented on #121
@TostF @OlegTarashkevich As of version 3.4.0 of our SDK `onesignal_google_project_number` is ignored and is pulled from the one you entered on the OneSignal dashboard. You can now set `onesignal_google_project_number` to `"REMOTE"` to keep your manifest cleaner.

[2016-12-12 02:35] YoonKyoungTae opened #153 "java.util.ConcurrentModificationException error"
Hi,
I was experience this error.
Use Onesignal SDK version is 3.4.2,

[code]

How can i to resolve?
Thank you.

[2016-12-12 06:10] OlegTarashkevich commented on #121
@jkasten2 Awesome solution!

[2016-12-12 19:43] jkasten2 commented on #153
@YoonKyoungTae Are you able to reproduce this issue? Can you let us know the OneSignal methods you are calling and the steps to reproduce it? If you are able to reproduce the problem is a new project and link it here it will help us turn around a fix quicker.

[2016-12-14 06:45] gitton opened #154 "Amazon ADM - FATAL EXCEPTION: IntentService[ADMMessageHandler]"
Getting following error on configuring Amazon ADM. Device : Amazon Fire HD 6 (4th Generation)
[code]

[2016-12-14 08:04] gitton commented on #154
Proguard enabled
-keep class com.onesignal.** { *; }  solved the issue.

[2016-12-14 09:41] OlegTarashkevich opened #155 "crash on Onesignal-3.4.2"
Onesignal-3.4.2

[code]

![screen shot 2016-12-14 at 12 38 39](https://cloud.githubusercontent.com/assets/13828110/21177069/936a062a-c1fa-11e6-9beb-9dbf2fa9b33b.png)

[2016-12-14 19:38] jkasten2 commented on #154
@gitton Thanks for the details, can you try the following instead? This should allow the rest of the OneSignal SDK to be minified while still keeping the required OneSignal class.

[code]

It is odd either are needed however as proguard is pretty good about keeping classes when they are used in the `AndroidManifest.xml`.
[code]

[2016-12-22 11:14] rampr commented on #129
Using the following:
```ShortcutBadger.applyCount(activity, 0);```
and if the permissions are disabled, the crash reappears.

Is this the right call to explicitly clear the badge count?

[2016-12-24 08:25] jkasten2 commented on #129
@rampr OneSignal 3.4.2 wraps `ShortcutBadger.applyCount` with try catches internally to be safe. If you are using the library ShortcutBadger directly I recommend opening an issue with the repo below.
https://github.com/leolin310148/ShortcutBadger/issues

Note OneSignal 3.4.2 uses version 1.1.11 of ShortcutBadger.

[2016-12-26 05:32] rampr commented on #129
@jkasten2. I'm using the ShortcutBadger imported into Onesignal like here -
https://github.com/hashcube/onesignal/blob/master/android/OnesignalPlugin.java#L73

Let me know if we also have to put a try catch around the call or is there a different helper function from onesignal that we can use to clear the count

[2017-01-03 09:53] jemmyphan commented on #63
i've found the same leak, the static activity seems to be holding the detached fragment from being garbaged. (maybe)

* id.xxx.HomeFragment has leaked:
* GC ROOT static com.onesignal.ActivityLifecycleHandler.curActivity
* references id.xxx.fragNavController
* references com.ncapdevi.fragnav.FragNavController.mFragmentManager
* references android.support.v4.app.FragmentManagerImpl.mActive
* referen

[2017-01-04 12:49] vernazza opened #156 "Proguard problem related to unsed Amazon ADMMessageHandler"
I get this error while trying to compile in release with proguard enabled:

`Warning: Exception while processing task java.io.IOException: java.lang.IllegalArgumentException: Can't find common super class of [android/content/Context] (with 2 known super classes) and [com/onesignal/ADMMessageHandler] (with 1 known super classes)`

[code]

It think that's relate to the fact that ADMMessageHandler ex

[2017-01-04 23:15] jkasten2 commented on #63
@jemmyphan Thanks for the report.

Which OneSignal SDK version are you using?

Are you calling OneSignal init from an `Activity` or an `Application` class?

Can you call `OneSignal.setLogLevel(OneSignal.LOG_LEVEL.VERBOSE, OneSignal.LOG_LEVEL.WARN);` and attach the logcat entries when the leak is reported?

[2017-01-04 23:41] jkasten2 opened #157 "ERROR - Android 3.2 and older - AbstractMethodError: abstract method not implemented"
Crash happens on some pre-Android 4.0 devices.

[code]

[2017-01-05 08:55] jemmyphan commented on #63
I'm using 2.6.2,
it's  initialized on application class.
[log.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/686803/log.txt)
thanks @jkasten2

[2017-01-05 14:30] JulienArzul opened #158 "Deeplink/NotificationOpenedHandler - Impossible to fallback to default OneSignal redirect"
Hello,

I am currently implementing the opening of a deep link in my application when a specific notification is received. From your documentation, you advise to add custom data in the notification payload and then route the user in a NotificationOpenedHandler.
I like the idea. However, from what I've seen in the docs (and what I've discovered so far in the SDK), it's missing the possibility to le

[2017-01-06 17:40] AnshulJain1985 opened #159 "Payload is getting null while reading additional Data."
Payload is getting `null` while reading additional Data.

[code]
[code]

[2017-01-08 00:59] #156 closed

[2017-01-08 01:00] vernazza commented on #156
Similar to https://github.com/OneSignal/OneSignal-Android-SDK/issues/154, same solution fixes the problem

[2017-01-11 06:24] kistitan commented on #146
hi there,

Sorry for the late reply.
So we get notifications like this when the user opens them:

json: {"action":{"type":0},"notification":{"androidNotificationId":-36511111@,"shown":true,"isAppInFocus":true,"displayType":0}}

How this is possible?

[2017-01-11 20:27] jkasten2 opened #160 "IAP error - ClassCastException: Integer cannot be cast to Bundle"
Sometimes the following error will be logged to the logcat.

[code]

[2017-01-11 20:34] jkasten2 commented on #158
Thanks for the suggestion, adding your own code to start the launcher `Activity` when the is no additional data does add extra blot to the application logic. I like the return value from `notificationOpened ` idea, might implement that there are no caveats.

[2017-01-11 20:43] jkasten2 commented on #159
@AnshulJain1985 Could you include the version of the SDK you are using?

If you created the notification from the REST API please include the full JSON payload used to create it. If not please include all the options you set on the dashboard.

Can you verify line 34 in your `OneSignalHandler.java` is the line below?
`JSONObject data = result.notification.payload.additionalData;`

Thanks.

[2017-01-12 17:40] 6franek opened #161 "How to use OneSignal in a library project?"
Is it possible to use OneSignal Android SDK in a library project and provide common `onesignal_app_id` and `onesignal_google_project_number` only in this library project and not for every app using this library (common "keys" for all haps using my library)?

 I added necessary dependencies in my library's build.gradle and also manifestPlaceholders
[code]
The problem is that when I try to build a d

[2017-01-12 18:11] OlegTarashkevich commented on #161
@6franek Look at this: https://github.com/OneSignal/OneSignal-Android-SDK/issues/121

[2017-01-13 19:48] jkasten2 commented on #161
@6franek  Your `onesignal_app_id` must be different for each Android package name. You can set `onesignal_google_project_number` to `"REMOTE"` as this is always pull from the app settings on the OneSignal dashboard starting with the 3.4.0 SDK.  You can use the same Google Project number (Sender ID) for of your apps however if you choose.

@OlegTarashkevich is correct, the link above should work fo

[2017-01-13 20:00] 6franek commented on #161
@jkasten2 I get it now that I have to put `one_signal_app_id` for each app using my library individually, but how can I pass the values from the app's build.gradle to the library project?

[This solution which you've posted](https://github.com/OneSignal/OneSignal-Android-SDK/issues/121#issuecomment-253939144) doesn't work for me. I get this error while syncing grade, so I can't even start building

[2017-01-13 20:04] jkasten2 commented on #161
Your SDK's bundle.gradle should be.
[code]

Your app's bundle.gralde should be .
[code]

[2017-01-13 20:11] 6franek commented on #161
@jkasten2
Still the same error in mu SDK's `build.gradle`:
[code]

This is how `defaultConfig` in my application's `build.gradle` looks like:
[code]
This is how `defaultConfig` in my SDK's `build.gradle` looks like:
[code]

[2017-01-13 20:23] jkasten2 commented on #161
I see, you are using a build flavor. Can you try adding these to each? Similar to this issue.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/9

[2017-01-13 20:41] 6franek commented on #161
I've added placeholders in all `buildTypes` of both my app and my SDK and still the same error.

[2017-01-13 22:54] jkasten2 commented on #161
@6franek Could you attach your full `build.gradle`?

[2017-01-14 04:54] jkasten2 commented on #143
@raphaelcoder @santoshmodi I believe the issue is related to your `buildTypes` and `productFlavors`. Can you try adding the `manifestPlaceholders` as shown in issue #9?

[2017-01-14 05:02] jkasten2 commented on #63
@jemmyphan Thanks for the log, it seems `curActivity` is being set to `null` before the leak entry is being printed. It seems you have removed most of the time stamp entries so I can't tell how close to what seems to be a race condition.

@jemmyphan @harshitaahuja Can you try the latest 3.4.2 version? A number of things have changed since the version you have tested on so this may no longer be an

[2017-01-14 07:54] jemmyphan commented on #63
okay thanks, i'll try it soon @jkasten2

[2017-01-14 08:58] planethcom commented on #157
Is there a way to get rid of that error?
It actually only happens in the release builds, NOT in debug builds.
Could it be that there's something wrong in the proguard rules?

[2017-01-15 10:45] fedorcomander commented on #68
Any ETA on this?

[2017-01-16 16:04] 6franek commented on #161
@jkasten2 Unfortunately I can't, but I've made it work. I don't know if I am doing it correctly, but I set the values in the SDK's `build.gradle` to empty ones"
[code]
and provided correct values only in the application's `build.gradle`
[code]
and the project works now. I don't get any build errors and notifications are delivered correctly.

BTW. I have a question about [this solution you posted i

[2017-01-18 00:38] jkasten2 commented on #161
@6franek The values shouldn't change after the app has been released so setting the value at build time makes the most sense. In addition this is part of the road work need for users to be subscribed automatically after the developer pushes out an update with OneSignal added to it. Also this this provides a more consistent way to add set these values for our wrapper SDKs. We haven't implemented th

[2017-01-18 01:24] jkasten2 commented on #160
Fixed in commit 82900a23124cc6d76a52f1f8b044f286b69a855d

[2017-01-18 01:24] #160 closed

[2017-01-18 01:24] #161 closed

[2017-01-18 03:48] jkasten2 commented on #157
@planethcom Fixed in commit 4a18070dd007ddddc3cb81242a3b34ab152637e8 and released in version 3.4.3.

[2017-01-18 03:48] #157 closed

[2017-01-18 14:03] alexleutgoeb opened #162 "Bug with NotificationExtenderService and OSInFocusDisplayOption.None ?"
When adding a custom NotificationExtenderService like

[code]

and setting

[code]

neither the NotificationOpenedHandler method, nor the NotificationReceivedHandler method is being called when the app is in the foreground.

Removing the custom service from AndroidManifest calls the NotificationOpenedHandler as expected. Is this an intended behavior or a possible bug? I'm testing this with the lat

[2017-01-18 19:25] jkasten2 commented on #162
@alexleutgoeb This isn't the intended behavior. If you have setup a `NotificationExtenderService` and set `InFocusDisplaying` to `None` then the `NotificationReceivedHandler` should still fire.

We will try reproducing and look into the cause.

[2017-01-20 17:35] alexleutgoeb commented on #162
@jkasten2 Just wanted to add that I reproduced the issue with the source project too, just uncommenting the extender service in the AndroidManifest.xml file.

After some debugging I was able to narrow down the code, the issue might be caused from here: https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/NotificationBundleProcessor.java#

[2017-01-26 20:00] jkasten2 commented on #162
@alexleutgoeb Thanks for the details and looking into the issue. You are correct, the code needs to be adjusted here to fix the issue.

I remember at the time I was designing the extender I was trying to specifically suppress the event to make sure only one event would fire. However I can see that is can be use full sometimes to handle things from the `NotificationReceivedHandler` instead. Also so

[2017-01-26 22:05] jkasten2 opened #163 "setInFocusDisplaying - handle null and store value"
`setInFocusDisplaying` will throw an `null` exception if it is called before initialization.  If `OneSignal.Builder` hasn't been created yet an instance should be created and the value should be set on it.

This improvement will make it easier for wrapping SDKs to handle out of order events.

[2017-01-27 10:16] pushand opened #164 "SyncService memory usage"
![screenshot_20170127-151227](https://cloud.githubusercontent.com/assets/12893140/22367781/5605919c-e4a9-11e6-8a04-a36f3bb098a8.jpg)
SyncService memory usage goes upto 245mb on android every time it is being started

[2017-01-27 19:16] jkasten2 commented on #164
@pushand The SyncService runs to make sure all tags, session, etc are synced with OneSignal. It is only active for a short time after your app is first back grounded.

It shows the memory usage this way as the service is on the same process. The usage is from any resources still loaded in to memory from your app.

[2017-01-27 19:16] #164 closed

[2017-02-01 21:01] avishayil commented on #163
+1

[2017-02-01 23:57] jkasten2 opened #165 "INVALID_SENDER - When app is resumed and OneSignal init is called more than once"
The following error can be thrown in the logcat if the app is resumed and OneSignal init is called more than once in the app.

[code]

This bug can cause sessions counts to not be counted.

The error is more common in wrapping SDKs (especially Cordova) than it would be in native apps due to OneSignal init being called more than once.

Also if your Google Project number is different in your app tha

[2017-02-02 00:05] jkasten2 opened #166 "Lower timeout to android_params to speed up registering when there are connection issues"
Currently the timeout for all network requests is 120 seconds. The request to `android_params` needs to completed before the device can register to GCM/FCM. The TCP timeout for this specific endpoint should be lowered to 60 seconds to improve registration speed when the device is having networking issues.

[2017-02-02 01:08] forrestbice opened #167 "Invalid Proguard Rule"
`-keep public interface android.app.OnActivityPausedListener {*;}` from https://documentation.onesignal.com/docs/android-sdk-setup is invalid

[2017-02-02 02:43] jkasten2 commented on #167
@forrestbice This is valid and the exact line is in our prograud rules build into our .aar as well.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/consumer-proguard-rules.pro#L8

It was however missing the following line which is required to keep Android 2.3 to 3.2 devices from crashing when progaurd is enabled.
[code]

[2017-02-02 02:43] #167 closed

[2017-02-02 04:30] anukools commented on #136
Hey @iForests @jkasten2 I am also facing same crashed. Any solution to this found...?

[2017-02-04 08:45] anukools opened #168 "java.lang.SecurityException: !@Too many alarms (500)"
These are the logs that I got from fabric showing crash  after

[code]

[2017-02-05 07:40] jkasten2 commented on #168
Thanks for the report, we will try reproducing this.

[2017-02-06 20:25] opheliadesign opened #169 "Activity / app not launching in foreground with custom notificationOpened"
I am switching from Parse to OneSignal. On Parse, I had a BroadcastReceiver that generated a notification and set a `PendingIntent` to launch an activity when the notification was clicked. I am trying to replicate this with OneSignal.

When the app is running in the background, everything works as would be expected - you click on the notification and the app comes to the foreground with that activ

[2017-02-09 09:33] Khang-NT opened #170 "[BUG] inFocusDisplaying theme"
When I enable `inFocusDisplaying`, OneSignal SDK show in-app dialog with white text, and white background, just happen in my android N device, with 4.4 device the dialog is fine.

[2017-02-09 19:53] jkasten2 commented on #170
@Khang-NT Can you check your theme related files (`AndroidManifest.xml`, `colors.xml`, etc) in your project  for background and text color?

The SDK uses `AlertDialog.Builder` without changing any of the color settings.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/src/main/java/com/onesignal/GenerateNotification.java#L104

[2017-02-09 22:05] jkasten2 commented on #169
@opheliadesign Are you seeing your `"Notification clicked"` entry in the log to confirm that the `notificationOpened` method is firing?

Since you are displaying your own `Activity` from `onCreate` of your `Application` class did you disable our automatic opening the the launcher `Activity` with the following line in your `AndroidManifest.xml`?
[code]

See the link below for more details on this.

[2017-02-10 02:01] Khang-NT commented on #170
Ok, got it. It depends on activity alert dialog theme. Thanks.

[2017-02-10 02:01] #170 closed

[2017-02-10 23:22] opheliadesign commented on #169
I will check again tomorrow but if I recall correctly the log entry never displays. Android Manifest is set correctly. When you click the notification, it disappears and that's all.

Parse clearly demonstrated how to receive a push, create a custom notification with a Pending Intent, and register a Broadcast Receiver. I cannot seem to find anything in the OneSignal documentation along these lines

[2017-02-10 23:31] jkasten2 commented on #169
@opheliadesign We do have the same capabilities, however you will have to change a few things as our SDK relay more off callback instead of `Intents`.

If you need to do something custom when a notification is received I recommend checking out the guide below.
https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding

You noted in your orig

[2017-02-12 05:50] Dhvl-Golakiya opened #171 "How to stop notification shows directly without handling them?"
HI,

I'm using this code in extenderService

    protected boolean onNotificationProcessing(OSNotificationReceivedResult receivedResult) {
        return true;
    }

But before going to NotificationReceivedHandler class, one notification with default message title and message content is displaying and another notification is showing from NotificationReceivedHandler. I'm sending additional data in

[2017-02-12 17:36] opheliadesign commented on #169
@jkasten2 Oh geez, you can tell it's been a minute since I coded in Java / Android. Checked my old Parse configuration, guess what? It is initialized in a class that extends Application.

Rookie mistake, everything is working beautifully now. It would be nice to have a note about this in the docs for busy / noob Android developers.

Thanks so much for providing this service for free!

[2017-02-12 17:36] #169 closed

[2017-02-12 22:56] OlegTarashkevich opened #172 "A lot of crashes. NPE."
Hi @jkasten2,
I found strange crash. It's appears only when I add onesignal to my project. I did an experiment - I published my app without onesignal and all works fine.
 I use v.3.4.3.
I need your library, but I don't want to lose my customers. Please look at the attached screenshot.
Seems onesignal has some places where occurs NPE. I can't reproduce it one my devices.
Please help ASAP!

![2017-0

[2017-02-13 13:39] DCKT opened #173 "[Enhancement] Change playerId method"
Hello,

I've already posted something similar for React-Native (https://github.com/geektimecoil/react-native-onesignal/issues/144) about changing playerId after JavaScript events but it seems impossible ATM.

So I've take a look at the API and I would like to know if there is a way to manually change the playerId ?
Thereby, I could make a PR to the React-Native module for adding the functionality.

[2017-02-13 19:18] jkasten2 commented on #173
@DCKT Thanks for the suggestion, we don't plan to allow the `player_id` to be changed for the device. I it is assigned by our server then returned to the device.

Instead I recommend using [`sendTag`](https://documentation.onesignal.com/docs/android-native-sdk#section--sendtag-) or [`syncHashedEmail`](https://documentation.onesignal.com/docs/android-native-sdk#section--synchashedemail-) to uniquel

[2017-02-13 19:18] #173 closed

[2017-02-13 19:23] jkasten2 commented on #172
@OlegTarashkevich Could you attach the full log from the Download.txt link on that page? Feel free to send it to OneSignal support if you can't make it public and link in this issue thread.

Thanks.

[2017-02-13 19:35] jkasten2 commented on #171
@Dhvl-Golakiya If the above is your full `onNotificationProcessing` code then our SDK won't display a notification at all. If you are seeing a notification still then make sure you don't have any other SDKs trying to process GCM / FCM message.

Thanks.

[2017-02-14 07:11] OlegTarashkevich commented on #172
@jkasten2 Thank you for your fast response.

[xxxxxxxxxxx_issue_1034_crash_58A2960A0169000147A2C1D9D1C83EF3_915f9d818f7446c3a6b3cb4c2dc6817c_0_v1.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/773352/xxxxxxxxxxx_issue_1034_crash_58A2960A0169000147A2C1D9D1C83EF3_915f9d818f7446c3a6b3cb4c2dc6817c_0_v1.txt)
[xxxxxxxxxxx_issue_1351_crash_58A283BD01880001516A0E676B37B735_c97902caddfb43d5b

[2017-02-14 23:45] jkasten2 commented on #172
@OlegTarashkevich Thanks for the details the crash is coming from the `isBillingSupported` method in `IInAppBillingService.java`, line 208. It seems Google has a few different versions of this file but they don't document it well. Could you attach your `IInAppBillingService.aidl` and `IInAppBillingService.java`? The `.java` version should be under `app\build\generated\source\aidl\debug\com\android

[2017-02-15 11:31] OlegTarashkevich commented on #172
Here they are:

[inApp_files.zip](https://github.com/OneSignal/OneSignal-Android-SDK/files/776893/inApp_files.zip)

Hope it helps

[2017-02-15 12:36] Ghayyas commented on #35
I also faced that issue in my android 6.0

[2017-02-15 18:37] kistitan commented on #146
Can I have an update on this?
It seems it cases even more issue, as we keep getting complaint from users about phantom notification count on Samsung devices.

[2017-02-15 19:26] jkasten2 commented on #146
@kistitan Sorry for the delay. For the payload issue can you share the code you used to print the JSON payload from above?
Also could you share the full crash log from Crashlyticis?

The badge icon count should sync up once the user closes the app(or Android closes it to free RAM) and opens it again. Are you able to reproduce this issue on your devices?

Please also include the version of the SDK

[2017-02-15 19:37] jkasten2 commented on #35
@Ghayyas There are only two causes that could create duplicated notifications.
1. You have another notification plugin in your app. Run `cordova plugin list` to list them.
2. If you are using our REST API and send more than one with the same contains by mistake.

[2017-02-16 12:09] kistitan commented on #146
[code]

[2017-02-16 12:12] kistitan commented on #146
Non-fatal Exception: java.lang.Exception: Invalid notification from one signal; json: {"action":{"type":0},"notification":{"isAppInFocus":false,"shown":true,"androidNotificationId":-658134862,"displayType":0}}
       at com.bitlove.fetlife.inbound.OnNotificationOpenedHandler.notificationOpened(OnNotificationOpenedHandler.java:26)
       at com.onesignal.OneSignal.fireNotificationOpenedHandler(OneS

[2017-02-16 12:15] kistitan commented on #146
Based on Crashlitics it happens for users with various Android version from 5.0.1 to 7.1.1;
63% Samsung, 6-6-6% Dell, ZTE, LGE, the rest is others.

[2017-02-16 12:18] kistitan commented on #146
Note: the json object says the notification is displayed, however based on the feedback it is not, but the badge count is still displays: one notification.

I cannot reproduce it on my Nexus 5S, but it can be also because my test accounts does not receive the problematic type of notifications.

I hope this helps.

[2017-02-16 13:08] kistitan opened #174 "Default notification visibility is PUBLIC instead of Android default PRIVATE."
In GenerateNotification.java you have the following snippet:

[code]
Can you instead not set the visibilityof the notification if the 'vis' is not set in the Bundle? or rather set it to PRIVATE as that is the Android Default.

It can make difference when the user overrides the lock screen notification settings.

Thanks

[2017-02-16 20:39] Ghayyas commented on #35
@jkasten2 Thanks. The issue was multiple push plugins in my file. So Just Remove all Plugins and Platform folder and make build again and it works.

[2017-02-17 23:31] jkasten2 commented on #174
@kistitan Thanks for the suggestion. We will consider changing this in the next major version release.

For those looking to change this setting on the current 3.X version it can be set with one of the following options.
1. [Background Data and Notification Overriding](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding).

2. Set `and

[2017-02-19 03:24] Tecco opened #175 "`onNotificationProcessing` is called many times when app launched."
Onesignal is very useful. Thanks :)
However, one problem came out.

[code]

When launching the application, the previous pushes are called at once.
[code]

If notification is manually deleted from the notification center, it will not be output to the log.
Is there a solution?

[2017-02-20 01:49] powerthazan opened #176 "Bad array lengths com.onesignal.GenerateNotification.showNotification"
I am getting this error around 200 devices. Error: Fatal Exception: java.lang.RuntimeException bad array lengths com.onesignal.GenerateNotification.showNotification.

One signal version: latest
[code]

[2017-02-20 01:51] powerthazan commented on #176
<img width="1075" alt="screen shot 2017-02-20 at 7 20 40 am" src="https://cloud.githubusercontent.com/assets/2088136/23109224/1e03ae22-f73d-11e6-87aa-de130e31e3c4.png">

[2017-02-20 18:33] calanti opened #177 "Stacked/Grouped Android notification crashes app on open"
Using the basic/standard Android implementation ( OneSignal.startInit(this).init() in onCreate ) appears to crash my app shortly after opening if it was fully closed when launching from a grouped notification (multiple notifications stacked by same group_key)

Tested on;
Xiaomi Mi Max (Android 6.0.1)
LG Nexus 5X (Android 7.1.1)

I don't get much in terms of logs or errors, but I can see "Activity_

[2017-02-20 19:37] calanti commented on #177
This turned out to be a payload and AndroidManifest issue, our website url was in the payload and my AndroidManifest had an intent-filter to launch the app from our url.

[2017-02-20 19:37] #177 closed

[2017-02-21 02:34] jkasten2 commented on #172
@OlegTarashkevich The crash seems to be happening from within Google's code however the root of the issue might be their code isn't thread safe.

Are you calling OneSignal init from the main thread or from another thread? How about your IAP code? Where is `IabHelper.startSetup(...)` being called?

[2017-02-21 02:37] jkasten2 commented on #175
@Tecco When the app is cold started the SDK regenerates all notifications that haven't been dismissed or opened as you are seeing. This is to bring them back if the app was force closed as Android will remove them in this case.

We have a `notification.restoring` flag you can check in case you only need process the back ground event once. However you should still setup your customer properties and

[2017-02-21 02:41] jkasten2 commented on #176
@powerthazan Could you let us know the options with values you have set on the notification? Please attach the full JSON payload if you are using the REST API. If this is from the dashboard please link OneSignal support to this issue and include the notification id that reproduced this issue.

[2017-02-21 02:44] powerthazan commented on #176
It is from dashboard. I used simple notification. No Background Data. Anyway, I contacted you via Support!!

[2017-02-21 02:53] Tecco commented on #175
I found it! Thanks!

OK, I'll try it.

[2017-02-21 02:53] #175 closed

[2017-02-21 06:35] OlegTarashkevich commented on #172
@jkasten2 I'm calling OneSignal in Application class in onCreate method in the main thread.
All work properly at all my test devices. But I receive crashes...

[code]

Also I'm calling `mIabHelper.startSetup(new IabHelper.OnIabSetupFinishedListener() {...`
in AsyncTask in doInBackground.

I think that is all weird.

[2017-02-22 04:23] jkasten2 commented on #172
@OlegTarashkevich This problem seems to be a race condition issue between multiple threads and is harder to fix / determine the issue since the crash is happening from inside of the IabHelper / IInAppBillingService classes.

Can you try calling `mIabHelper.startSetup` from the main thread? Google notes that is is process asynchronously and is safe to call from the main thread noted in their commen

[2017-02-22 13:31] jvanderwee opened #178 "idsAvailable NullPointerException"
Seeing the following crash infrequently on the latest version:

[code]

[2017-02-25 00:48] jkasten2 opened #179 "Date & Time get updated on notifications when app is cold started"
The date and time will be updated on notifications currently in the shade if the app is closed then started again. This is seems not be an issue on Android 7.0 but is reproducible on Android 5.0.1.

To fix the SDK will need to track the received time and set on the notification if it is being represented.

**Update:**
Tested on Android 7.1.1 and it is an issue as well. Probably an issue for all An

[2017-02-25 00:53] jkasten2 commented on #178
@jvanderwee Thanks for the crash log. From a quick review of the code it seems our SDK method isn't thread safe.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignal.java#L882-L898

We will look into fixing it but if you can ensure you never call `idsAvailable` again until it returns with a non-null `pushToken` then you won't se

[2017-02-25 10:10] himgupta opened #180 "How to dismiss notification on click of action button"

[2017-02-25 10:12] himgupta commented on #180
Hello ,
I am creating custom notification view using extender but I am not able to dismiss notification when action button is clicked neither pending delete intent is getting fired.Below is my sample code:
            final PendingIntent pendingDeleteIntent = PendingIntent.getBroadcast(getApplicationContext(), 104, new Intent(getApplicationContext(), DismissNotificationReceiver.class), 0);
  overr

[2017-02-27 19:29] jkasten2 commented on #180
@himgupta There isn't an `AutoCancel` for buttons that you add to the notification. You will need to run the following after your intent if fired to remove the notification.
[code]

However if possible we recommend setting action buttons on the notification when sending it. This way the dismiss is taken care of for you along with the the click being tracked on the dashboard.

[2017-02-28 00:14] jkasten2 commented on #176
Notification that triggered the `GenerateNotification.showNotification` crash had `big_picture`, `contents` and `headings` set with emojis. Nothing unusual compared to other notifications.

The Android support library is in the crash stack. Could you let us know the exact version your app is using?

[2017-02-28 01:47] powerthazan commented on #176
All versions are latest.
Onesignal: ` compile 'com.onesignal:OneSignal:3.+@aar'`
Android Support library: ` compile 'com.android.support:appcompat-v7:25.2.0'`

[2017-02-28 10:49] lukyanov opened #181 "Conflicting idsAvailable calls"
Hello,

When a user has purchases, you send them to OneSignal in your own idsAvailable callback:
https://github.com/OneSignal/OneSignal-Android-SDK/blob/82900a23124cc6d76a52f1f8b044f286b69a855d/OneSignalSDK/onesignal/src/main/java/com/onesignal/TrackGooglePurchase.java#L229

The thing is that when I set up my own idsAvailable callback it seems to interfere with yours. More precisely, depending on

[2017-02-28 19:44] jkasten2 commented on #181
@lukyanov Thanks for investigating, this is race condition that can be hit on the first start of the app. Once we have an user / player id and registration id from Google future calls won't have an issue. This is because it will fire without a delay after this.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignal.java#L864-L869

[2017-02-28 23:34] josinaldobarbosa commented on #147
+1

[2017-03-01 05:12] arsens24 commented on #11
@jkasten2
We need to set our push message with  '**no vibration'** regardless of user's OS setting(vibrate mode/sound/totally silent).
I think currently android SDK reference doesn't describe like this.
How can we do that?

[2017-03-01 05:59] jkasten2 commented on #11
@arsens24 You will need to set both `enableVibrate` and ` enableSound` to `false`.

If you only set `enableVibrate` it will still vibrate when the device is set to vibrate only.

[2017-03-01 06:03] palashmandokhot commented on #93
how to solve Error: Manifest merger failed with multiple errors in android studio

[2017-03-01 06:04] palashmandokhot opened #182 "error"
how to solve Error: Manifest merger failed with multiple errors in android studio?

[2017-03-01 06:23] arsens24 commented on #11
@jkasten2
Thanks.
You mean, if I set both enableVibrate and enableSound to false, user don't receive any vibration regardless of user's device setting (vibration, sound, totally sirent mode).
Is that right?

[2017-03-01 07:05] jkasten2 commented on #11
@arsens24 Correct, the notification will show but it will not vibrate no matter what mode the device is in.

[2017-03-01 07:10] jkasten2 commented on #182
@palashmandokhot Could you attach the full error you are seeing?

[2017-03-01 07:14] chunghe commented on #179
Also reproducible on Android 6.0.

[2017-03-01 12:45] palashmandokhot commented on #182
in android studio android manifestxml file two times  this code
repeat---------
 <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity" />
 i send you error pic of merged text ---------

On Wed, Mar 1, 2017 at 12:40 PM, Josh Kasten <notifications@github.com>
wrote:

[2017-03-01 12:45] palashmandokhot commented on #182
in android studio android manifestxml file two times  this code repeat---------
 <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity" />
 i send you error pic of merged text ---------
![20170301_180153_resized b](https://cloud.githubusercontent.com/assets/26090315/23460313/c7c51080-feaa-11e6-9fcb-5ec376aa965b.jpg)

[2017-03-01 12:51] palashmandokhot opened #183 "error"
how to solve Error:java.lang.RuntimeException: Manifest merger failed with multiple errors, and in androidmanifest.xml merged text shows some error in this pictures.and in androidmanifest merged text this activity repeat two times---
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity" />
![20170301_180153_resized b](https://cloud.githubusercontent.com/a

[2017-03-01 19:19] jkasten2 commented on #183
Duplicate of #182

[2017-03-01 19:19] #183 closed

[2017-03-01 19:22] jkasten2 commented on #182
@palashmandokhot The error isn't related to OneSignal but it looks like you have duplicated entries in the same or multiple `AndroidManifest.xml` files in your project.
[code]

If you continue to see an issue I recommend putting your full `AndroidManifest.xml` on a gist and share it on Stackoverflow.

[2017-03-01 19:22] #182 closed

[2017-03-02 05:37] himgupta commented on #180
I am not able to get any call back in my delete intent.Can you please telll if deleteintent works

[2017-03-02 05:49] jkasten2 commented on #180
@himgupta It does not at this time. See the following issue.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/86

[2017-03-02 05:49] #180 closed

[2017-03-02 07:06] palashmandokhot commented on #182
if i deleted one code then problem solve because this code two times
repeated.

On Thu, Mar 2, 2017 at 12:52 AM, Josh Kasten <notifications@github.com>
wrote:

[2017-03-02 08:18] palashmandokhot commented on #182
Manifest merger failed with multiple errors is solved.tell me i give you
some codes can you add class,interface and enum in the codes.

On Thu, Mar 2, 2017 at 12:36 PM, Palash Mandokhot <palashmandokhot@gmail.com

[2017-03-02 08:21] palashmandokhot opened #184 "how to solve error:class,interface or enum expected in codes in android studio?"
how to add class,interface and enum in this codes------------------
import com.apptracker.android.listener.AppModuleListener;
import com.apptracker.android.track.AppTracker;

public class MainActivity extends Activity {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        if(save

[2017-03-02 19:21] jkasten2 commented on #184
@palashmandokhot I don't see `OneSignal` in your code. Please make sure to follow each step in our setup guide below.
https://documentation.onesignal.com/docs/android-sdk-setup

[2017-03-02 19:21] #184 closed

[2017-03-03 11:38] palashmandokhot commented on #184
what is one signal ?

[2017-03-03 11:40] palashmandokhot commented on #184
can you add class,interface and enum in codes

[2017-03-03 11:58] palashmandokhot commented on #184
can you add class,interface and enum in codes because i dont know where add
class,interface and enum in the codes and try but in android studio again
and again shows error:class,interface and enum expected.

On Fri, Mar 3, 2017 at 12:51 AM, Josh Kasten <notifications@github.com>
wrote:

[2017-03-04 05:55] palashmandokhot opened #185 "how to add class,interface and enum in leadbolt codes?"
import com.apptracker.android.listener.AppModuleListener;
import com.apptracker.android.track.AppTracker;
// Leadbolt SDK imports

public class MainActivity extends Activity {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        if(savedInstanceState == null) {
            // Ini

[2017-03-04 07:40] jkasten2 commented on #185
@palashmandokhot I don't believe your question relates to OneSignal as you noted in your other issue https://github.com/OneSignal/OneSignal-Android-SDK/issues/184#issuecomment-283932897.
I recommend posting your question on http://stackoverflow.com/.

[2017-03-04 07:40] #185 closed

[2017-03-04 11:54] palashmandokhot commented on #185
you not add class,interface and enum in the code.

[2017-03-04 12:58] palashmandokhot commented on #185
can you add class,interface and enum in the codes

On Sat, Mar 4, 2017 at 1:10 PM, Josh Kasten <notifications@github.com>
wrote:

[2017-03-04 13:11] palashmandokhot commented on #185
tell me can you add class,interface and enum in codes.

[2017-03-05 11:50] Buli1212 opened #186 "Badge count not displaying on Samsung Android 7.0+ devices"
As soon as I updated software the badge count stopped being displayed on my devices. Other applications like Facebook Messengers are still showing it correctly. Badges are not disabled in manifest or any other .xml files.

[2017-03-05 21:29] safety97 opened #187 "Why the process is recreated after killed the application ?"
Hello, i have the last version 3.4.3 of the SDK and each time i kill the app, by android studio or from the device, the process of my application is automatically re-created.
I guess there is a sticky service which re-start itself since the app is killed. It is possible to create the service in another process to avoid this ?
it's really annoying because i have to do some action if the process is

[2017-03-05 22:48] jkasten2 commented on #186
@Buli1212 Could you include the exact device model and Android version you are testing on? Also well as confirm you are using our 3.4.3 SDK?

[2017-03-05 22:53] Buli1212 commented on #186
compile 'com.onesignal:OneSignal:3.+@aar'
Nexus 9 tablet and Samsung Galaxy S7 Edge. Both on Android 7.0

[2017-03-06 21:18] jkasten2 commented on #57
The following would need to be updated to support getting both the summary and individual notification displayed. Some details on what will need to be modified to support this.

Add new field to `OSNotificationDisplayedResult`
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/src/main/java/com/onesignal/OSNotificationDisplayedResult.java#L31

Change `Notification

[2017-03-06 23:59] nickmarx12345678 commented on #147
+1

[2017-03-07 00:10] jkasten2 commented on #186
@Buli1212 We use the [ShortcutBadger](https://github.com/leolin310148/ShortcutBadger) and have updated from version 1.1.11 to 1.1.13 which fixed issues with some Samsung devices.

However we haven't created a new release for this yet. Can try this build to see if it fixes the issue on your Samsung devices?
[onesignal-release.zip](https://github.com/OneSignal/OneSignal-Android-SDK/files/822898/ones

[2017-03-07 00:11] mroushdy commented on #147
+1

[2017-03-07 00:42] jkasten2 commented on #187
@safety97 Correct, we do use `START_STICKY` on our `SyncService`. It is used to make sure any pending tags, sessions, and other fields are synced to OneSignal in case the app is closed before it had to chance to make a network request.

We will look into seeing if the service can be run on a different process without issues but I believe that our usage of `SharedPreferences` will prevent this. I'l

[2017-03-07 00:54] jkasten2 commented on #147
Implementation considerations.
1. Notification stacking / groups.
2. Notification restoring logic.
3. Badge count logic.
4. Add equivalent cancel by tag / collapse_key in addition to current integer version.

[2017-03-07 09:32] safety97 commented on #187
@jkasten2 Yes, indeed the `SharedPreferences` should be used in the same process.
Thank's for the reply.

[2017-03-10 06:57] stepan23 commented on #129
I have a same problem for Sony

[2017-03-10 07:06] jkasten2 commented on #129
@stepan23 Are you using the latest OneSignal 3.4.3 SDK? Can you post the fullstack trace from your logcat?

[2017-03-10 07:26] stepan23 commented on #129
Yes, I do.  I use 3.4.3. I don't have a logcat, because I don't have sony devices. But I have a exception log from google play developer console https://drive.google.com/open?id=0B4yXxYRqlcFnOG9fZEFDcUR3cGc

[2017-03-10 07:48] jkasten2 commented on #129
@stepan23 I don't see OneSignal in the stacktrace, although I don't see any non Android classes in their either. Seems to be the same as the OP's stacktrace.

Can you insure you have the following in have the following under your application tag in your `AndroidManifest.xml`?
[code]

Do you get crashes or badges set when they shouldn't from any other launcher?

Do you have any other SDKs / Plugins

[2017-03-10 08:16] stepan23 commented on #129
1) I have this meta-data in my manifest
2) We began to use your SDK, but our users began to complain about the bandles. We turned them off and now some users have to crash the application.
3) No, we don't have others libs for badges

[2017-03-10 10:13] martyglaubitz opened #188 "Random error dialog shown when GCM connection fails 5 times"
When having no internet connection - the sdk sometimes just displays this error.
I've already found the code that's responsible for that: https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/PushRegistratorGPS.java#L104

This stuff looks almost like some debug statement which someone forgot to take out.
I can't see any option to make sur

[2017-03-14 18:38] DennyWeinberg commented on #86
+1 to be able to pass pendingIntent while using NotificationCompat.Extender

[2017-03-15 04:03] jkasten2 commented on #188
@martyglaubitz The screenshot is from the code you linked to. This is only showing as you are calling `OneSignal.setLogLevel` somewhere in your code. You should remove `setLogLevel` before releasing your app.

[2017-03-15 04:03] #188 closed

[2017-03-15 08:02] DimaKoz commented on #188
@martyglaubitz I hope it will be useful for you :
[code]

[2017-03-15 08:23] martyglaubitz commented on #188
@DimaKoz yes we're doing that. the thing is i was looking for the code which decides whether this dialog is shown or not and couldn't really find anything. Turns out https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/PushRegistratorGPS.java#L90 was what i was looking for...

[2017-03-15 08:59] jkasten2 commented on #188
@martyglaubitz The screenshot you posted is from the following line.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/src/main/java/com/onesignal/PushRegistratorGPS.java#L164

The [`ShowUpdateGPSDialog`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/src/main/java/com/onesignal/PushRegistratorGPS.java#L104) method is differe

[2017-03-15 10:47] martyglaubitz commented on #188
@jkasten2 i know, but still - no SDK should throw a random modal dialog at it's user. You either:
1. Crash with an Exception which message says clearly what went wrong
2. You log an error which tells the developer what's wrong and what to do about it.

Think about it - how would a CI build catch this?

[2017-03-19 06:01] KingWu opened #189 "Any callback for auto register"
Hi,
OneSignal initialize it on Application's onCreate function. When the device without network connection to open an application, OneSignal cannot auto register. Also, there is no callback to know whether Registration is successful or not.

Any callback forr auto register? Or, can i manually to trigger the registration.

Based on the current SDK structure, i cannot make sure the users is successf

[2017-03-21 00:04] jkasten2 commented on #189
@KingWu Our SDK should continue to retry if the device does not have a stable connection or no connection at all. It does increasing back off so it might take a while if the device has been offline for a while before making a connection again. Make sure you are using the latest SDK which is 3.4.3 currently.

You can use [`idsAvailable`](https://documentation.onesignal.com/docs/android-native-sdk#s

[2017-03-21 01:45] KingWu commented on #189
Yes. i am using the version 3.4.3 sdk. i think it is necessary to implement a callback to know about the network request. Otherwise, it is hard to make sure Push service is ready before handling some use cases like user registration.

[2017-03-21 01:48] jkasten2 commented on #189
@KingWu [`idsAvailable`](https://documentation.onesignal.com/docs/android-native-sdk#section--idsavailable-) will fire when the device is registered with OneSignal. Please send us a logcat noted in my last message if your seeing an issue with this.

[2017-03-21 19:38] yuriploc commented on #165
I'm facing this problem. The OneSignal dashboard shows a `(Google Play Services Library Error)` in the Subscribed column.

Is there any workaround for it?

Is this bug possibly related to #146?

[2017-03-21 22:51] jkasten2 commented on #165
@yuriploc I don't believe this specific #165 issue would cause the `Google Play Services Library Error` error you are seeing. Can you make sure you have entered  a Google Project number under App Settings on the OneSignal dashboard under the Android configuration?

I would also check the logcat for other errors and contact OneSignal support while signed in if you this doesn't point to an issue.

T

[2017-03-22 12:23] yuriploc commented on #165
@jkasten2 my bad, the FCM/GCM number was missing on the OneSignal dashboard.
No more problems, the `INVALID_SENDER` IOException doesn't occur anymore and all the users are subscribed.

[2017-03-22 17:24] ndastur commented on #189
Actually this really useful. I have raised a similar issue. Can check therefore that the idsAvailable event will always be called on successful registration. I.e. even if it's not a new id etc

That way we can have a bool flag ```_oneSignal_available = false```

and inside idsAvailable set that to true,

presumably registrations can't be "lost" and if they can then how do we know about that??

Tha

[2017-03-22 18:22] jkasten2 commented on #189
@ndastur Correct, the idsAvailable callback will fire immediately if the device has already registered. You can check if the `pushToken` is `null`. If so then they did not accept notification permissions.

[2017-03-22 18:22] #189 closed

[2017-03-22 18:27] jkasten2 commented on #171
@Dhvl-Golakiya Feel free to reopen this issue if you need any more help on this.

[2017-03-22 18:27] #171 closed

[2017-03-22 18:32] jkasten2 commented on #143
@raphaelcoder @santoshmodi Closing this issue due to inactivity. Please feel free to reopen it if you are still have an issue.

[2017-03-22 18:32] #143 closed

[2017-03-22 18:33] jkasten2 commented on #159
@AnshulJain1985 Closing due to inactivity. Please feel free to open this issue if you have more details.

[2017-03-24 07:37] jkasten2 commented on #186
@Buli1212 Can you try using the latest version (1.1.14) of [ShortcutBadger](https://github.com/leolin310148/ShortcutBadger) in your app. Try setting a badge value in code and let us know if it works on your device. We can update our library to use this version if so to fix the issue.

[2017-03-24 08:26] jkasten2 commented on #163
@avishayil Fixed in commit 5f670ac5b76f5e661018fe6513de730e43007a2b. Will update the react issue when I create a release with this fix included.

[2017-03-24 08:26] #163 closed

[2017-03-24 08:57] jkasten2 commented on #165
Fixed in commit 202351221352b3e8fc5a8b6e3289916a0d601220

[2017-03-24 08:57] #165 closed

[2017-03-24 11:15] pmaojo commented on #155
I have the same error. Did you fix it?

[2017-03-24 18:50] jkasten2 commented on #155
@pmaojo We haven't been able to reproduce this one, you seeing the crash in production or your test devices? Are you seeing the exact same stack-trace as above in your crash?

It might be due to upgrading from an older SDK version and then tapping on an existing notification after the upgrade. If you updated our SDK could you provide the from and to versions?

[2017-03-25 00:30] pmaojo commented on #155
somehow the error went away...

[2017-03-25 18:41] pchauhan opened #190 "Notification receive issue"
I  am able to registerdevice and able to get app_id.
Sending notification from one signal website getting below error

**03-26 00:05:04.428 13354-13354/? W/GCM-DMM: broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=com.xxxxx (has extras) }**

Please let me know suggestion.
Thanks
Parag

[2017-03-25 18:57] jkasten2 commented on #190
@pchauhan This means the Google Play services app couldn't start your app since it was force stopped / closed. Please see the following link for caused of this.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown#section-the-app-is-force-stopped

[2017-03-25 18:57] #190 closed

[2017-03-25 19:48] pchauhan commented on #190
@jkasten2  Thanks for reply.
I am not killing/force stop an app .
My issue resolved after implementing own Broadcast Receiver.
<receiver
            android:name="com.test.MyBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <catego

[2017-03-25 20:51] jkasten2 commented on #190
@pchauhan Are you using Android Studio with the following line in your `build.gradle`?
[code]

It will automatically add the SDK's BroadcastReceiver.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/src/release/AndroidManifest.xml#L11-L18

If you are using Eclipse you must add the following entries.
https://documentation.onesignal.com/docs/android-sdk-setup#sect

[2017-03-26 09:41] pchauhan commented on #190
Yes i had added thats why able to reg device to one signal.

[2017-03-26 11:27] burhanaksendir opened #191 "MultiDex error"
When I add the below dependencies in `build.gradle`, I am getting a multiDex error.
[code]
Any help on how to fix this?

[2017-03-26 22:08] jkasten2 commented on #190
@pchauhan You only need one BroadcastReceiver with the action intent-filter `"com.google.android.c2dm.intent.RECEIVE"`. This SDK already adds one so you don't the one you listed above.

If you see the  `W/GCM-DMM: broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=com.xxxxx (has extras) }` error and your device is still subscribed then it is defi

[2017-03-26 22:13] jkasten2 commented on #191
@burhanaksendir Could you reply with the full exact error it is giving you?

[2017-03-26 22:59] burhanaksendir commented on #191
@jkasten2
`Error:Execution failed for task ':app:transformClassesWithDexForDebug'.com.android.build.api.transform.TransformException: com.android.ide.common.process.ProcessException: java.util.concurrent.ExecutionException: com.android.dex.DexIndexOverflowException: Cannot merge new index 67541 into a non-jumbo instruction.`

All of the dependecies in my gradle file are listed below:

dependencies

[2017-03-27 00:14] jkasten2 commented on #191
@burhanaksendir You are running into the 65K method dex limit. This is correlated to the number libraries in your project which is why you might have just seen this after adding OneSignal.

You should be able to enable `jumboMode` in your project to resolve the issue.

[code]
http://stackoverflow.com/questions/26093664/android-studio-only-dexexception-cannot-merge-new-index-65536-into-a-non-jumbo

[2017-03-27 00:14] #191 closed

[2017-03-27 06:12] pchauhan commented on #190
@jkasten2  Yes its happening in my both device
1.HTC One M7 - 5.0 OS
2.Samsung S6 - 6.0.1 OS

[2017-03-27 08:17] jkasten2 commented on #190
@pchauhan Thanks for the details. These devices shouldn't be force stopping your app. The other thing that could put them into this state would be a crash or a 3rd party task killer like Greenify.

[2017-03-27 11:34] Talkless opened #192 "OneSignal.setLocationShared(false) goes into full effect only after app is reinstalled"
I have tried `OneSignal.setLocationShared(false)` method to disable location as that we really don't need it in our use case.

Though, even after:
* `OneSignal.setLocationShared(false)`
* Location service disabled
* App cache cleared
* Device restarted
* And, User entry deleted from OneSignal dashboard

I can still see location of re-subscribed user!

Only after uninstalling and then installing ap

[2017-03-27 14:07] gbtt commented on #159
Hi, I am getting the same problem.
OneSignal Version: 3.4.3
I create the notification from dashboard, with the default settings.
The receivedResult.payload.rawPayload is ok, while receivedResult.payload.additionalData is null

Thanks.

[2017-03-27 17:34] iForests opened #193 "ANR executing service app..../com.onesignal.SyncService"
I am using OneSignal SDK v3.4.3, and got a lot of ANRs. We see more than 20 ANRs for about 10K daily active users in Google Play Console.

Please let me know if you need any information. Thanks.

[2017-03-27 17:42] #193 closed

[2017-03-27 18:15] jkasten2 commented on #159
@gbtt Can you attach the full `rawPayload`?

[2017-03-27 18:20] jkasten2 commented on #193
@iForests Were you able to solve the ANR issue with the service?

[2017-03-27 22:55] gbtt commented on #159
@jkasten2
{"google.sent_time":1490623408158,"custom":"{\"i\":\"db23aabb-32da-4d3f-839c-f3cf665979dc\"}","from":"86199884594","alert":"mess","title":"title","google.message_id":"0:1490623408171113%9c0f0ef4f9fd7ecd"}

[2017-03-27 23:05] jkasten2 commented on #159
@gbtt I don't see `additionalData` in the payload. It should show under `custom` with an `a` key like the following.
[code]

I checked the notification in our system and I don't see it set either. Can you double check you are setting the `data` field on the OneSignal create notification REST API call?

[2017-03-28 05:22] iForests commented on #193
Not sure yet. We have another app using OneSignal too, but the ANR doesn't happen there. I'll check my code carefully and report again if the issue is on com.onesignal.SyncService. Thanks.

[2017-03-28 15:43] westito opened #194 "idsAvailable called back on different thread"
I had a strange issue what happened very randomly. Got "NetworkOnMainThread" exception randomly. Finally I found it. I don't know it is a feature or bug but I create this issue for warning devs.

In my code I call idsAvailable in an Observable what flatMaps it to an api call to my backend. At first tests there was no problem. But users started to report crashes at login. But it was hard to reprodu

[2017-03-28 19:11] jkasten2 commented on #194
@westito Sorry about the issues this caused you. I have added this to our documentation.
https://documentation.onesignal.com/docs/android-native-sdk#section--idsavailable-

Thanks.

[2017-03-28 19:11] #194 closed

[2017-03-29 09:06] kistitan opened #195 "Crash in GcmIntentService"
[code]

[2017-03-29 16:01] francoisrouault commented on #9
What if different product flavors (+ Staging and Production build types) ?!

I used `OneSignal.init(appId, projectNumber,...)` but I am still forced to add OneSignal's `manifestPlaceholders` (with dummy values then) in my `android.defaultConfig` otherwise I get `Manifest merger` errors which is not clean code...

[2017-03-29 21:30] jkasten2 commented on #176
Upgrading to `com.android.support:appcompat-v7:25.3.1'` may fix the issue.

[2017-03-30 13:37] powerthazan commented on #176
yah. It was fixed.

[2017-03-30 13:37] #176 closed

[2017-03-30 14:03] Talkless opened #196 "Typo in OSNotificationPayload documentation"
[OSNotificationPayload documentation](https://documentation.onesignal.com/docs/android-native-sdk#section--osnotificationpayload-) mentions notification**Id** field, thought in fact it's [notification**ID**](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.4.3/OneSignalSDK/onesignal/src/main/java/com/onesignal/OSNotificationPayload.java#L36).

[2017-03-30 18:31] jkasten2 commented on #196
@Talkless Thanks for the report, we just fixed this in our docs.

[2017-03-30 18:31] #196 closed

[2017-03-30 18:45] jkasten2 commented on #93
@palashmandokhot If you are still seeing an issue can you attach the full error your are seeing?

[2017-03-31 03:47] palashmandokhot commented on #93
do you know about java or javascript

[2017-04-03 09:35] mahmood4429 opened #197 "sometimes notification title disappears automatically in android"
sometimes notification title missed out in android. only icon and time is shown.

[2017-04-03 14:24] 2x2xplz opened #198 "De-serializing notifications"
It's great to be able to easily convert an OSNotification or OSNotificationPayload to a JSONObject or JSON string via toJSONObject() (formerly the "stringify" methods). However, without the ability to deserialize the JSON back into the original objects, most of the processing is based on the raw JSON rather than the objects -- i.e. after passing an OSNotification from an OpenedHandler to an Intent

[2017-04-03 18:15] jkasten2 commented on #197
@mahmood4429 Please make sure you don't have another push notification SDK in your app as it could be display it instead.

If you still see the issue can you include the OneSignal SDK version in your app, Android version and model of the device, and the notification options you set?

Also please link OneSignal support to this thread and we can take a look at your notification as well.

[2017-04-06 11:44] martyglaubitz opened #199 "Crash because of missing NEW_TASK flag in PushnotificationHandler"
Recently we're getting a lot of crashes like this:
[code]

[2017-04-07 03:11] jkasten2 commented on #166
Fixed in commit bc9cc32d75883e10cef54bd348e7e05437e2097e. It also fixes issue with some devices and network connections where the HttpURLConnection timeout would be ignored.

[2017-04-07 03:11] #166 closed

[2017-04-07 23:19] jkasten2 commented on #136
A few more reported stack traces.

[code]

[code]
[code]

[2017-04-08 03:41] jkasten2 commented on #199
@martyglaubitz The crash is coming from the following line in your code.
[code]

You need to add `FLAG_ACTIVITY_NEW_TASK` to your flags as part of the `Intent` passed to `startActivity` or use a `Activity` for the `Context`.
I recommend checking out the following article which explains different types of Contexts and their limitations well.
https://possiblemobile.com/2013/06/context/

[2017-04-08 03:41] #199 closed

[2017-04-08 04:07] jkasten2 commented on #136
I tried to spawn a number of threads calling `getWritableDatabase` and `getReadableDatabase` to attempt to reproduce the issue on Android 7.0, 5.0.1, 4.2.2, and 6.0.1. It wasn't reproducible so the issue can't be any sort of race condition in the SDK. This must be a rare device issue that seems I/O related or in one case while compiling: PRAGMA journal_mode which is also seems to indicating the da

[2017-04-08 04:07] #136 closed

[2017-04-08 04:47] jkasten2 commented on #153
@YoonKyoungTae I reviewed our code and wasn't able to see any conditions where a `ConcurrentModificationException` exception could occur.

If you see an this exception again on our 3.4.X SDK please attach the full new stack trace.

[2017-04-08 04:47] #153 closed

[2017-04-09 06:08] westlinkin opened #204 "Amazon users show as Not subscribed"
I config app as the documents described. It works on Android devices, but it couldn't send notifications to Amazon devices. As the image shows, all Amazon users are not subscribed.

![image](https://cloud.githubusercontent.com/assets/1687198/24835211/d196cee0-1d2d-11e7-95e5-adb6becb468d.png)

How to fix this?

[2017-04-09 19:18] martyglaubitz commented on #199
Argh... sorry - our fault ^^

[2017-04-10 20:36] jkasten2 commented on #204
@westlinkin The most common cause of this is missing the following under `<application>` in your `AndroidManifest.xml`.
[code]

Please double check our full setup guide if you run into any other issues.
https://documentation.onesignal.com/docs/amazon-sdk-setup#section-setup-sdk-android-studio-

[2017-04-10 22:22] erikswed commented on #147
Do you mean that if I set the same
androidNotificationId when setting "overrideSettings.androidNotificationId=someInteger" that that will make the collapsing happen - all Notifications with same androidNotificationId will collaps on each other

[2017-04-11 01:14] jkasten2 commented on #146
@kistitan I have fixed the `null` `notification.payload` issue in commit 777b7b561abdafca237b3c25dcf423017fe57b3d. The issue would occur after opening a summary notification (AKA stacked / grouped notification) that was received 4 or more weeks ago.

The Samsung badge issue isn't related to the `notification.payload` issue. You can follow the issue below for an updates on this.
https://github.com/