[2017-04-11 01:14] #146 closed

[2017-04-11 01:55] jkasten2 commented on #155
@OlegTarashkevich @pmaojo Android can some times restart Activities or BroadcastReceivers and with a empty Intent under memory pressure. I have fixed this by adding checks for our key before attempting to process it in commit 09b482f029900997eae6777cf5d033a1b7271c09.

[2017-04-11 01:55] #155 closed

[2017-04-11 02:05] jkasten2 commented on #159
@gbtt Please contact OneSignal support while signed into if you are still seeing an issue and we can check your other notifications.

@AnshulJain1985 If your crash is happening on the line noted below we have just fixed this in commit 777b7b561abdafca237b3c25dcf423017fe57b3d and will be included in the 3.4.4 release.
[code]
The issue is related to old summary notifications, can see more details ab

[2017-04-11 02:05] #159 closed

[2017-04-11 04:30] jkasten2 commented on #168
@anukools This error seems to only happen on specific Samsung devices. I have fixed this in commit b26fa8d1d5922151bb1e7616200c22ddb16c5888.

It will be included in version 3.4.4 of our SDK. Please reply back confirming the fix once it is released if you can.

Thanks.

[2017-04-11 04:30] #168 closed

[2017-04-11 11:48] westlinkin commented on #204
I enabled product flavor, so after manifest file mergers, the `amazon:enable-feature` tag becomes `enable-feature` tag, it losts `amazon` namespace. How to fix it?

In `amazon/AndroidManifest.xml` ( under `amazon` flavor folder), I declared
[code]

after gradle merges the `AndroidManifest.xml` files, it becomes
[code]

[2017-04-11 12:54] #204 closed

[2017-04-11 14:04] pooi-pooi opened #206 "Fabric Issue: com.onesignal.OneSignal.removeNotificationOpenedHandler"
Hello guys, I got a crash on Fabric. Could you help me?

`onesignal-cordova-plugin 2.0.11 "OneSignal Push Notifications"`

[code]

Stack trace:

[issue_7_crash_58E934D5025A000169BE54DD23EFFF60_047e15c1c0334851a5de1d9f91da8840_0_v1.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/913442/issue_7_crash_58E934D5025A000169BE54DD23EFFF60_047e15c1c0334851a5de1d9f91da8840_0_v1.txt)

[issue_7_

[2017-04-11 14:56] jwburnside opened #207 "Initializing OneSignal in a shared library"
This situation is a little unique so bear with me:

- I'm developing two apps which both depend on a shared library which contains all of the models/resources/dependencies that both apps use. This means I only have to add the shared library as a dependency in the app-specific build files.
- The exception is the OneSignal dependency, however. I have to add it to the app-specific build files, since

[2017-04-11 18:14] jkasten2 commented on #147
@erikswed Correct, however this won't work with stacking / grouped notifications and may cause badge counts to be higher. We will make sure these aren't issues when we implement this.

[2017-04-11 19:04] jkasten2 commented on #207
@jwburnside To use OneSignal in your shared library project use the following `manifestPlaceholders` in it's `build.gradle`.
[code]
Then in your app's `build.gradle` you can just include the `onesignal_app_id`.
[code]

As long as OneSignal init is being called from the `onCreate` of your Application class the open `NotificationOpenedHandler` on the main thread should fire consistently. It won't ma

[2017-04-11 19:11] jkasten2 commented on #206
@pooi-pooi This is due to OneSignal init not being called from the first page in your app and the app being closed. It will be fixed in the next SDK version.

There is a Cordova issue already open for this so below so close this one.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/131

[2017-04-11 19:11] #206 closed

[2017-04-11 19:31] jwburnside commented on #207
Thanks. I'm getting a "Could not get unknown property 'onesignal_app_id' for ProductFlavor_Decorated" error when trying to sync with the advice you provided. If this is a gradle issue feel free to close the thread, I can troubleshoot from there.

[2017-04-11 19:36] jkasten2 commented on #207
@jwburnside It an inheriting limitation with gradle. You might be able to do the following for flavors like `buildTypes` are used here https://github.com/OneSignal/OneSignal-Android-SDK/issues/9#issuecomment-170194555

[2017-04-11 19:38] jwburnside commented on #207
Gotcha, thanks!

[2017-04-11 20:19] jwburnside commented on #207
Looks like I overlooked the previous threads, this was answered already [here](https://github.com/OneSignal/OneSignal-Android-SDK/issues/161) and worked for me.

[2017-04-11 20:19] #207 closed

[2017-04-11 22:38] jkasten2 commented on #138
@phajduk I have changed the `SyncService` to only restart the service if there are pending changes that haven't been send to OneSignal's server's yet in commit cf7b242bf500c64dceb02ced8cd1df566f7b16a6. This will be included in the next 3.4.4 release.

Do note that every time a notification is received your `Application` `onCreate` will start as well which is unavoidable. Additionally any other `Br

[2017-04-11 22:38] #138 closed

[2017-04-12 01:37] jkasten2 commented on #187
@safety97 I have changed the `SyncService` to only restart the service if there are pending changes that haven't been sent to OneSignal's server's yet in commit cf7b242bf500c64dceb02ced8cd1df566f7b16a6. This will be included in the next 3.4.4 release.

Do note that every time a notification is received your `Application` `onCreate` will start as well which is unavoidable. Additionally any other `B

[2017-04-12 01:37] #187 closed

[2017-04-12 08:39] safety97 commented on #187
Ok thank you very much !

[2017-04-12 10:35] kistitan commented on #146
Hi @jkasten2,

Thanks for the fix.
About the Samsung badge issue, I still think it might be related as if I added the following line for each invalid OneSignal notification it fixed the Samsung badge issue completely.

OneSignal.cancelNotification(osNotificationOpenResult.notification.androidNotificationId);

All version without this fix has sometimes the stucked Samsung Badge, versions with this

[2017-04-12 19:22] jkasten2 commented on #146
@kistitan The fix won't have an effect on badges. The same badge update call is made based on the number of notifications in the sql lite database the SDK uses.

Could you open a new issue for the Badge issue? Since I don't believe it is related to issue #186 either since the cancel is working for you. Please include Android version, device model, SDK version, and exact steps to reproduce the issu

[2017-04-12 23:15] jkasten2 commented on #178
Fixed, will be included in the 3.4.4 release.

[2017-04-12 23:15] #178 closed

[2017-04-13 01:59] jkasten2 commented on #179
@chunghe Fixed in commit 26dd41009078142a528ae4a7ddba4efc92e829fa. It will be part of the 3.4.4 release.

[2017-04-13 01:59] #179 closed

[2017-04-13 02:27] chunghe commented on #179
great news! appreciate!

[2017-04-13 09:56] jkasten2 commented on #162
@alexleutgoeb Just fixed the `NotificationReceivedHandler` bug in the commit above and it will be included in the 3.4.4 release.

Also I have decided that `OSInFocusDisplayOption.None` will not prevent the `NotificationExtenderService` from displaying a notification. This is to keep the app developer's `NotificationExtenderService` in control. `OSNotificationReceivedResult.isAppInFocus` can be rea

[2017-04-13 09:56] #162 closed

[2017-04-13 10:09] jkasten2 commented on #195
@kistitan Can you confirm which version of the SDK you seen this issue on? Please also include the Android version and device model if you can.

We call `setIntentRedelivery(true);` from our `GcmIntentService` which should resend the `Bundle` again if the service was restarted due to can out of memory issue.

[2017-04-13 19:27] #181 closed

[2017-04-13 20:28] jkasten2 commented on #192
Fixed in the commit above. Will be part of the 3.4.4. release.

[2017-04-13 20:28] #192 closed

[2017-04-13 22:39] jkasten2 commented on #195
@kistitan I decided to add a `null` guard here just in case there are any other possibles of this. Added this in commit b9f384d917303dab1142998d0a748c8ad871d054 and it will be included in the 3.4.4 release.

[2017-04-13 22:39] #195 closed

[2017-04-13 23:45] jkasten2 commented on #186
@Buli1212 I have updated the ShortcutBader library to 1.1.16 in commit aad2e82fce2db728b5408e974e2ee654b9fa8591 which includes the fix I noted above. It seems like this should fix issues with Samsung devices with Android 5.0 and newer. It will be included in the 3.4.4 release.

[2017-04-13 23:45] #186 closed

[2017-04-13 23:50] jkasten2 commented on #129
@iForests @DimaKoz @rampr @stepan23 I have changed the error handling to disable badges if their is any kind of exception thrown when `AndroidManifest.xml` is read in commit 6ab0a9bbf059477b3fe5a88c08f2d2049414c394.

I have also updated the Shortcut badger library included with this SDK to 1.1.16 in commit aad2e82fce2db728b5408e974e2ee654b9fa8591. It includes a fix for Sony launcher that may have

[2017-04-13 23:50] #129 closed

[2017-04-13 23:51] jkasten2 commented on #197
@mahmood4429 We haven't had any other reports of this. Please include a screenshot and more details if you are still having this issue and we can reopen this.

[2017-04-13 23:51] #197 closed

[2017-04-14 01:03] jkasten2 commented on #63
@jemmyphan @harshitaahuja I wasn't able to get leakcanary 1.5.0 to show `com.onesignal.ActivityLifecycleHandler.curActivity` as a leak.

Feel free to reopen this project if you can reproduce the issue with the soon to be released 3.4.4.

[2017-04-14 01:03] #63 closed

[2017-04-14 02:49] jkasten2 commented on #107
@xsorifc28 We haven't had any other reports of the LED color not working. If you are still seeing an issue it is most likely related to the revision of the Android Support Library v4 built with your app.

Please link a Android Studio project reproducing the issue and I can take a look. Also please link this issue to support with your notification ids and we can take a look.

[2017-04-14 02:49] #107 closed

[2017-04-14 17:49] Talkless commented on #192
Thanks!

[2017-04-14 19:48] jkasten2 commented on #120
@kumsook We haven't had any other reports of an issue like this. Can you let us know the version of the Google Play services library and / or the Android Support Library v4 you are using? Since `setAutoCancel` is called through `NotificationCompat.Builder` there could be a bug in the revision that is being built into your app.

Also can you check for any error or warnings in the logcat when you ta

[2017-04-14 19:48] #120 closed

[2017-04-15 05:03] jkasten2 commented on #68
@xsorifc28 @fedorcomander The first notification shown with a group set will respect the `NotificationExtenderService` customization made by it in commit 2c63bc62d6df090fe63137663dc9cf02706dbb78. 2 or more notifications grouped / stacked will still not however.

Also note this limitation won't be an issue on Android N (7.0) devices as the summary notification is no longer shown as it shows it own

[2017-04-17 21:23] jkasten2 commented on #147
@josinaldobarbosa @nickmarx12345678 @mroushdy @erikswed This has been implemented in commit 4faa7ba5368791e3df0fb608fe4e6ca8fef493ce and will be included in the 3.4.4 release.

[2017-04-17 21:23] #147 closed

[2017-04-17 21:58] #37 closed

[2017-04-17 22:47] jkasten2 commented on #154
@gitton @vernazza If you want most of the OneSignal SDK to be minified by progaurd then the following is all you need.
[code]

This will be added automatically in the 3.4.4 release.

[2017-04-17 22:47] #154 closed

[2017-04-18 01:43] jkasten2 commented on #57
@DenisBronx Just quick update, we have made some improvements to our SDK in 3.4.4 which will auto dismiss the summary notification after all it's child notifications are removed.

I'll leave this open however until we add a way to cancel a specific group key.

[2017-04-19 00:34] jkasten2 opened #212 "Trim white space around URLs"
Trim white space around URLs including; large icon, big picture, and launch URL so they load correctly.

[2017-04-24 07:07] 78lab commented on #147
Please update cordova SDK for this ASAP.

[2017-04-26 21:11] jkasten2 commented on #94
Omitting call to `showNotification` isn't necessary. If `unsubscribeWhenNotificationsAreDisabled` is called with `true` the device will be unsubscribed from OneSignal so the payload won't even be send to wake the app. Implanted in commit 4c9cce1c0177b03529cd2121500a5a9283a935dd.

Note, `unsubscribeWhenNotificationsAreDisabled` is defaulted to `false` but will be `true` by default in 4.0.0.

[2017-04-26 21:11] #94 closed

[2017-04-26 22:26] #212 closed

[2017-04-26 22:58] jkasten2 commented on #198
@2x2xplz Thanks for the suggestion. Just added this in commit 307b8c01a22cb7973194f91c8b107e32e19dcc54

[2017-04-26 22:58] #198 closed

[2017-04-28 08:03] katisia opened #215 "NullPointException occur"
com.onesignal.OneSignalChromeTab$OneSignalCustomTabsServiceConnection.onCustomTabsServiceConnected (OneSignalChromeTab.java:99)
android.support.customtabs.CustomTabsServiceConnection.onServiceConnected (CustomTabsServiceConnection.java:32)

[2017-04-28 11:52] poojagarje commented on #215
I am getting below error:

 java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.support.customtabs.CustomTabsSession.mayLaunchUrl(android.net.Uri, android.os.Bundle, java.util.List)' on a null object reference
                                                                       at com.onesignal.OneSignalChromeTab$OneSignalCustomTabsServiceConnection.onCustomTabsServ

[2017-04-28 13:46] kamendo opened #216 "Android, remove manifestPlaceholders"
Android, feature request

Can you remove the need for manifestPlaceholders = [onesignal_app_id:"..."] ?

I am working on a project where OneSignal app id is configured dynamically from a server.

[2017-04-28 15:44] Tweener opened #217 "Gradle build fail with Proguard activated on latest release"
My build (./gradlew clean build) started to fail du to the latest release (v3.5.0) of OneSignal SDK with Proguard activated.
This is the error:

`Unexpected error while performing partial evaluation:
  Class       = [com/onesignal/OneSignalChromeTab]
  Method      = [setup(Landroid/content/Context;Ljava/lang/String;Ljava/lang/String;Ljava/lang/String;)V]
  Exception   = [java.lang.IllegalArgumentE

[2017-04-28 18:20] jkasten2 commented on #216
@kamendo See issue #127 to set this dynamically at run time. We don't document are we are looking into some features that will require it to be done at compile time.

Thanks.

[2017-04-28 18:20] #216 closed

[2017-04-28 19:45] jkasten2 commented on #217
@Tweener Thanks for the report, I am looking in to it.

[2017-04-28 21:48] jkasten2 commented on #217
@Tweener I am not able to reproduce this. Can you attach your `build.gradle` files?

[2017-04-28 23:59] jkasten2 commented on #215
@katisia @poojagarje Thanks for reporting. Fixed in commit 39df04841e8f2a1afceffbc1b40713af919ee0d3 and will be included in the next release.

[2017-04-28 23:59] #215 closed

[2017-04-29 00:00] jkasten2 commented on #217
@Tweener Fixed in commit 39df04841e8f2a1afceffbc1b40713af919ee0d3. It will be included in the next release. Feel free to still post the details I requested above and I can ensure there isn't' another issue.

[2017-04-29 00:00] #217 closed

[2017-04-29 13:04] Tweener commented on #217
Hi @jkasten2,
Sorry for the late reply, I just saw your messages.

Indeed, I didn't add the property `-dontpreverify` in my proguard config. This is what I have:
`-dontwarn com.onesignal.**
-keep class com.onesignal.** { *; }`.
I don't remember where I found it, could be in your SDK documentation or on a sample in the github repo.

Do I need to change/add anything after it has been released?

Also

[2017-04-29 16:22] kamendo commented on #216
Thank you, @jkasten2!

As of version 3.5.1 - what features I will miss if I set onesignal app id at run time?

[2017-05-01 22:18] 2x2xplz opened #219 "expose google.sent_time as a property of OSNotificationPayload"
The rawPayload JSON of an OSNotification object includes a google.sent_time field. However I do not see this exposed as a property. Would be nice to have an OSNotificationPayload.sentTime property rather than navigating a JSON object, like we have for notificationID. Thanks.

[2017-05-03 14:03] Ioane5 opened #220 "Action button always dismisses Notification"
Is there any way to keep notification after notification action button is clicked?

As I checked here is [line in code](https://github.com/OneSignal/OneSignal-Android-SDK/blob/e4a1d6d1bd0fadf5ce23e7b495617fcc7de2b887/OneSignalSDK/onesignal/src/main/java/com/onesignal/NotificationOpenedProcessor.java#L59) that dismisses notifications after button click.

[2017-05-03 17:06] ptrwtts commented on #11
Related to this thread, we are trying to disable vibration for Android on a per notification basis. Disabling sound works, by setting it to "nil", but the phone will still vibrate. On iOS, setting the sound to "nil" disables both sound and vibrate, which is the desired behavior.

Is there any way to do this on Android? To be clear, we want to be able to disable both sound & vibrate for certain not

[2017-05-03 18:18] jkasten2 commented on #11
@ptrwtts On Android sound and vibration are different properties on the notification as posed to iOS where it just has sound.  A per notification vibration setting for Android isn't built into our API yet. However we provide a [NotificationExtenderService](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding) with our SDK so you can cu

[2017-05-03 18:26] jkasten2 commented on #220
@Ioane5 There isn't way to control this with a flag currently with our SDK. Neither with a per notification or a global stetting.

However you can use our [NotificationExtenderService](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding) to add your buttons. If you extend our notification and add them this way with your own `Intent` t

[2017-05-03 19:13] ptrwtts commented on #11
Ah nice. So if I understand correctly, we would pass some custom data in the push payload, telling the NotificationExtenderService to disable vibrate for this particular notification? Would we then use the OneSignal SDK to disable it, or would we be doing it on the Android level?

[2017-05-03 19:33] jkasten2 commented on #11
@ptrwtts Correct, you will need to add your own additional data to the notification and read it in the service. You will need to change the value on the `NotificationCompat.Builder` the is provided. Example below.

 (exact code not tested)
[code]

[2017-05-03 19:35] ptrwtts commented on #11
Awesome, thank you! Will report back when we get a chance to try it.

[2017-05-03 20:16] jkasten2 commented on #217
@Tweener We aim to follow the semantic versioning where defaults and required changes aren't part of minor and patch releases.

This issue specifically was rare as most projects contain the following line
[code]
It includes the following, which without them can create compile errors with our SDK and most Android code.

[code]

Also if `proguardFiles` is omitted completely from your 'build.gradle`

[2017-05-04 01:28] mmarshak commented on #215
I also see this error, when the next release will be and what will be its number?

[2017-05-04 01:33] jkasten2 commented on #215
@mmarshak The fix was released in 3.5.1 on April 28th.
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.5.1

I recommend following `build.gradle` dependency entry to make sure you have the latest version.
[code]

[2017-05-04 01:36] mmarshak commented on #215
I added to build.gradle and now I got a complain that I am mixing play-service 9.6.1 and 9.8.0.
Does your new build require version 9.8.0? My current app use 9.6.1.

[2017-05-04 01:44] jkasten2 commented on #215
@mmarshak I recommend upgrading to `play-service` `10.0.1` which will remove this warning as well.

If you need to stay on `9.6.1` you can exclude them and set your matching versions.
[code]

[2017-05-04 01:47] mmarshak commented on #215
Thanks! This worked.

[2017-05-04 18:45] OlegTarashkevich opened #222 "SQLite Downgrade Exception Thrown"
Hi @jkasten2 I have a bug, please look at the screenshot
 compile 'com.onesignal:OneSignal:3.+@aar'

![2017-05-04 21 39 10](https://cloud.githubusercontent.com/assets/13828110/25719605/abbefe42-3112-11e7-882c-cdf1e593a6f9.png)

[2017-05-04 19:37] jkasten2 commented on #222
@OlegTarashkevich Are these crashes from your production app? This can only happen if a version of your app is installed with our 3.4.4+ SDK then the app is downgraded to a version before this. Downgrades should be extremely rare as users would have to side load an old APK.

We'll implement the `onDowngrade` method to prevent this crash in the future.

[2017-05-04 23:59] jkasten2 commented on #222
@OlegTarashkevich I have added the `onDowngrade` method for future handling of SDK downgrading. c4ffa7d239275a90422e2ec64c77039dde3e8d42. This will prevent any future "3+ to 2" errors.

The only way to prevent the `"2 to 1"` errors is to not rollback to a pre-3.4.4 version of our SDK if you released your app with a 3.4.4+ version.

If the above is not the case for you then there must be some users

[2017-05-04 23:59] #222 closed

[2017-05-05 00:12] jkasten2 commented on #172
@OlegTarashkevich There have been a number of internal changes since our 3.4.3 SDK. Do you still see the issue in our 3.5.4 SDK?

[2017-05-05 06:57] OlegTarashkevich commented on #172
Hey @jkasten2 thank you for your response. I've updated app in April and in begin of May, and need some time to get more statistics.

[2017-05-05 07:18] OlegTarashkevich opened #224 "Package manager has died"
@jkasten2 Please look at the attached screenshot.

v.3.5.4

![screen shot 2017-05-05 at 09 55 16](https://cloud.githubusercontent.com/assets/13828110/25736681/1fd36494-317c-11e7-9113-09551de65095.png)

[2017-05-05 12:36] Ioane5 commented on #220
Thanks! I thought about that option.

[2017-05-05 22:18] #220 closed

[2017-05-05 23:05] jkasten2 commented on #224
@OlegTarashkevich Thanks for the log. It seems like this crash came from our 3.4.4 SDK. The [`DeadObjectException`](https://developer.android.com/reference/android/os/DeadObjectException.html) seems like it would be externally rare and would only happen if some Android system process died.

Are you able to reproduce this on your test devices?

[2017-05-06 06:25] OlegTarashkevich commented on #224
@jkasten2 Thank you for your response. It happened on my last app build (only once), that published on the google play. I used 3.5.4. I can't reproduce it, on my side all works properly.

[2017-05-06 15:24] FaridBeiranvand opened #225 "onsignal problem with gsonFactory"
hi.i want to use oneSignal in my project and when i add this to `build.gradle`,in execution i get force close with this error:
[code]
before implemention onSignal, my project run successfuly.but after implemention i get above error.
this is my build.gradle:
[code]
please help me.thanks a lot.

[2017-05-07 06:03] jkasten2 commented on #225
@FaridBeiranvand Our SDK does not use the Google GSON library. Can you check the full stack trace? I should show the exact line where the issue is in the other library and/or your code.

[2017-05-09 12:10] Eldho93 opened #226 "OneSignal.init() crashes in Jellybean devices after latest release"
There is this error in the init().
[code]

[2017-05-09 13:06] Eldho93 commented on #226
Sorry its actually not working in all pre-lollipop devices.

[2017-05-09 19:03] jkasten2 commented on #226
@Eldho93 Could you provide the full stack trace as well? It should include line numbers.

Also please include the the version of the "Google Play services" app on the device as well as the "Google Play services library" (GMS) that you are using in your project.

[2017-05-10 01:59] xsorifc28 opened #227 "NotificationReceivedHandler not working properly"
I'm using `NotificationExtenderService`, `NotificationOpenedHandler`, and `NotificationReceivedHandler`. Debugging shows that `NotificationExtenderService` is called before  `NotificationReceivedHandler`.

I've set `inFocusDisplaying` to `none` but the notification seems to show while app is in focus. My  `NotificationReceivedHandler` is supposed to override it and show a toast instead. The app do

[2017-05-10 02:42] jkasten2 commented on #227
@xsorifc28 `inFocusDisplaying` won't have an effect when using a `NotificationExtenderService` as it is the final determining factor.  However you can get the focus state of your app by reading [`OSNotificationReceivedResult.isAppInFocus`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.5.5/OneSignalSDK/onesignal/src/main/java/com/onesignal/OSNotificationReceivedResult.java#L33) and then

[2017-05-10 04:27] Eldho93 commented on #226
We fixed this error installing multidex in the application class using this code.

    @Override
    protected void attachBaseContext(Context base) {
        super.attachBaseContext(base);
        MultiDex.install(this);
    }

However is removing this code, the application crashes is pre lollipop devices.
We are using compilesdk version 25,targetsdkversion 25 and buildtools version 25.0.2
The pla

[2017-05-10 05:07] jkasten2 commented on #226
@Eldho93 Thanks for the full details. The `java.lang.NoClassDefFoundError` error can happen on seemly random classes on pre-Lollipop devices when you add `multiDexEnabled true` to your `build.gradle` but don't add the other requirements.
1. The following line your `build.gradle` dependencies.
[code]
2. The ` MultiDex.install(this);` line you have listed above.

More details on this stackoverflow p

[2017-05-10 05:07] #226 closed

[2017-05-10 10:19] Eldho93 commented on #226
The push not fication is not redirected clicking on the ok button of the alert dialog.
i mean redirected to the activity i specifies on the application class
It was working. Now its not.
Im using Onesignal sdk 3.5.5
I donno why this happens. We have another app which works on compile sdk version 23 and it works perfectly fine. Issues continue to popup in this app in which we use compile sdk versio

[2017-05-10 16:36] xsorifc28 commented on #227
I had tried to do bypass in `NotificationExtenderService`, but the toast wasn't showing due to an error on my end, oops.

So now the toast IS showing as well as the notification when using `NotificationReceivedHandler`. I've disabled that and modified `NotificationExtenderService` to see if `OSNotifcationReceivedResult.isAppInFocus`  is true.

Thanks for the help, looking forward to next release.

[2017-05-10 18:12] #227 closed

[2017-05-10 18:14] jkasten2 commented on #225
@FaridBeiranvand Feel free to reopen this issue if you are still seeing the problem.

[2017-05-10 18:14] #225 closed

[2017-05-11 01:24] Khang-NT opened #228 "How to register test device by using the SDK?"
I'm trying to mark my phone as test device. I can't find it in "All user" list, there are thousands users.
What I did:
  * `sendTag("TEST", "yes")` seem like OneSignal not update user segment immediately, I don't know how long it takes, but I still don't see my device in the segment with filter `key:TEST equal value:yes`
  * Dump `userID` from the SDK by `OneSignal.idsAvailable()` and use the `use

[2017-05-11 01:42] jkasten2 commented on #228
@Khang-NT These are your best two options for setting a user as a test user currently.

`sendTag` should only take 10 to 15 seconds to get updated on the dashboard. Any delays would be related to networking issues on the device which you can run `setLogLevel` with VERBOSE and check the logcat to debug.

[2017-05-11 01:56] Khang-NT commented on #228
Still not working.
![screen shot 2017-05-11 at 8 55 05 am](https://cloud.githubusercontent.com/assets/13332950/25928655/a8ccd2e4-3627-11e7-94d3-2df242327dfd.png)
![screen shot 2017-05-11 at 8 55 41 am](https://cloud.githubusercontent.com/assets/13332950/25928662/b0971c14-3627-11e7-9220-78fbb1baff53.png)

[2017-05-11 02:03] jkasten2 commented on #228
@Khang-NT That player id exists. Can you make sure you are checking the correct OneSignal app on your account? It starts with ce0adb as shown in your screenshot. OneSignal support from the dashboard can better check your account if you are still seeing issues.

[2017-05-11 02:14] Khang-NT commented on #228
Oh sorry, my confusing. I have another OneSignal app for development build, I should find from it instead.

Thanks for your response. 👍

[2017-05-11 02:14] #228 closed

[2017-05-11 17:56] OlegTarashkevich commented on #224
@jkasten2 The same crash happened on my another project with OneSignal v.3.5.3
![2017-05-11 20 55 37](https://cloud.githubusercontent.com/assets/13828110/25964075/4a4ea78c-368c-11e7-9f3d-441499c82f1c.png)

[2017-05-11 18:52] jkasten2 commented on #226
@Eldho93 Could you open a new thread related to this issue since it doesn't seem connected to the dex issue?

Please include your `build.gradle` config, OneSignal init code with the Open Handler, and any logcat entries when you tap on the notification.

Thanks.

[2017-05-12 02:03] josinaldobarbosa commented on #150
Please put this in the documentation, I spent days to find out why my notification was crashing into production :(

[2017-05-12 02:06] jkasten2 commented on #150
@josinaldobarbosa The commit above should force keep those files even when `tools:shrinkMode="strict"` is enabled now. Could you list the full exception you seeing and the project settings that apply to this?

[2017-05-12 03:14] josinaldobarbosa commented on #150
My problem was that he did not find the icons via api example:

"small_icon": "ic_arrows",
"large_icon": "ic_notification",

The icon that was crashing is a vector:

[code]
The other that is not a vector it just did not display

Because in production shrinkResources was enabled, I did the same thing you used in the lib for my project and it worked.

[2017-05-12 03:45] jkasten2 commented on #150
@josinaldobarbosa Are you using `compile 'com.onesignal:OneSignal:[3.5.3,4.0.0)'` to import our SDK or are you using our `.jar` directly?

[2017-05-12 03:54] jkasten2 commented on #57
@DenisBronx Notifications can now cleared by their group key with the `cancelGroupedNotifications` method now part of the 3.5.6 release.

[2017-05-12 03:54] #57 closed

[2017-05-12 05:39] josinaldobarbosa commented on #150
compile 'com.onesignal:OneSignal:3.4.4'

[2017-05-12 20:15] jkasten2 commented on #150
@josinaldobarbosa I overlooked your previous comment, since your icons aren't one of the default names I listed in the first post they won't be force kept by our SDK. The Google documentation for `shrinkResources` covers it's behavior well for resources not directly used so we don't plan to add this to our docs.

Thanks.

[2017-05-12 20:15] #150 closed

[2017-05-15 04:37] reynaldi-lorenzo opened #229 "GCM fail register"
In my verbose log, i found this :
[code]
Is this onesignal android SDK issue caused by deprecated register function by GCM?

[2017-05-15 12:57] redoc123 commented on #35
@jkasten2 dude.. you save ton of time for me!! cheers.

[2017-05-15 21:33] jkasten2 commented on #229
@reynaldi-lorenzo This seems to be an issue with the device it self or a networking issue and is thrown from the Google Play services library. Can you ensure the date and time is correct on the device and the "Google Play services" app on the device is up to date?

See this thread for more details on this error.
https://github.com/google/gcm/issues/97

[2017-05-16 05:17] reynaldi-lorenzo commented on #229
before i see my log, i get "Google play service error" in my device in user test, and i managet to get out from that error message. So, i really curious what are log says, and when i see log and get this error, but in my user test in onesignal the status become "no push token".

[2017-05-16 11:14] ilkinulas opened #230 "Can onesignal client sdk receive and display push messages sent from my own server?"
OneSignal android sdk is very easy to setup and works great. Push notifications sent from onesignal dashboard is displayed without any problem.  👍

Is it  possible ( and legal) to send push notifications from my own server and display it on clients that have onesignal sdk integrated?

[2017-05-16 19:40] jkasten2 commented on #229
@reynaldi-lorenzo The `AUTHENTICATION_FAILED` is an internal error to the Google Play services library. If this error is being thrown all other apps will have the same issue on the device. I recommend also checking the date and time on the device as this could create the error as well.

Please let us know the Google Play service library version you built your app with and the version of the "Googl

[2017-05-17 06:00] JakeRawr opened #231 "Android Crashes on getRegistrationId"
Hi, All

I've posted this issue to [React Native OneSignal](https://github.com/geektimecoil/react-native-onesignal/issues/257), but thought to post the issue here as well.

I am getting a lot of crashing from Android users when they open the app.
this is the error I got from Fabric crashlytics
[code]

[2017-05-18 07:39] NikolaBorislavovHristov commented on #231
i have the same issue

[2017-05-19 07:06] kistitan commented on #68
Hi @jkasten2

Can we reopen this issue please?
It is a great improvement, but our users has device settings for notification ringtone, and they will still hear the incorrect ringtone for the second, third etc... grouped notifications.

Note.... it will take a loot of time until every user will have android N.

As a workaround you can at least get some of the key fields from the extender (sound,col

[2017-05-19 08:09] kistitan commented on #68
To be honest the fix also does not work for me. Extender is still ignored if group is not null.
Also for the first message in the group.

[2017-05-19 08:10] kistitan commented on #68
Some suggestion in general: can you be at least be less strict with making all methods final private or package local. It could be an easy override on our side, but because of that I have to make many workarounds to make it work (own build,reflection,same package etc...)

[2017-05-19 08:21] kistitan commented on #68
h

[2017-05-19 08:33] jkasten2 commented on #68
@kistitan I'll try to reproduce the issue with the first notification not respecting the overrides when a group is used. I'll look into the sound issue as well.

For supporting overriding the 2nd, 3rd notification, etc I believe we could read `mContentText` and `mContentTitle` from `NotificationCompat.Build`. Using these 2 values to update the local SQLite records with this so the summary will con

[2017-05-22 06:23] ominfowave opened #232 "Exception android.database.sqlite.SQLiteFullException: database or disk is full (code 13)"
[code]

there are more than 100 report on firebase for this bug can you please guild how to resolve this.

[2017-05-22 07:17] JustinLim0318 opened #233 "LocationGMS.fireComplete(LocationGMS.java:210)"
[code]
Any idea about this crash?

[2017-05-22 19:18] jkasten2 commented on #232
@ominfowave Can you add which version of the OneSignal SDK you are using?

[2017-05-22 19:49] jkasten2 commented on #231
Thanks for the reporting. I reviewed our code and it looks like a race condition can happen if `idsAvailable` is called on a different thread while the SDK is initializing. We should be able to prevent this native SDK.

[2017-05-22 19:55] jkasten2 commented on #233
@JustinLim0318 This was fixed in the [latest 3.5.6 version](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.5.6) released on May 11th.

[2017-05-22 19:55] #233 closed

[2017-05-22 20:04] jkasten2 commented on #230
@ilkinulas You can use this SDK to process notifications from your own server for your own apps. However not to provide a 3rd party service to send notifications without sending them through OneSignal.

Thanks.

[2017-05-22 20:04] #230 closed

[2017-05-23 04:27] ominfowave commented on #232
compile 'com.onesignal:OneSignal:3.4.3@aar'

[2017-05-23 04:28] jkasten2 commented on #232
@ominfowave Can you update to 3.5.6? There have a been a number of fixes around SQLite handling since this version.

[2017-05-23 06:28] JustinLim0318 commented on #233
@jkasten2 alright, thanks for the response

[2017-05-23 09:15] gaurangpatel commented on #177
I got a similar issue. When trying to open an Activity from NotificationOpenHandler, app is crashing since context is not available.
Any idea?
Intent intent = new Intent(MainActivity.getContext() , StartActivity.class);
         intent.putExtra("launchUrl", launchUrl);
        MainActivity.getContext().startActivity(intent);

[2017-05-24 04:35] ominfowave commented on #232
@jksasten2 i have updated to 3.5.6 yesterday,there is same error reported on firebase

Exception android.database.sqlite.SQLiteFullException: database or disk is full (code 13)
android.database.sqlite.SQLiteConnection.nativeExecute (SQLiteConnection.java)
android.database.sqlite.SQLiteConnection.execute (SQLiteConnection.java:560)
android.database.sqlite.SQLiteSession.endTransactionUnchecked (SQLi

[2017-05-24 12:36] soshial commented on #127
There are also handy `init()` methods without Notification handlers.

[2017-05-25 04:33] iballan opened #235 "ANR in OneSignalRestClient.java"
I got this log from Google Play's **ANRs & crashes**

[code]

It happened on Android 4.4 (Galaxy Grand Prime)

[2017-05-25 09:24] imranbaig1977 commented on #193
We are seeing the same ANR for v3.4.3

Executing service com.weswap.app/com.onesignal.SyncService

[2017-05-25 18:41] jkasten2 commented on #232
@ominfowave Seems we need to specificity handle this error when `endTransaction` is called. We will look into it for the next release.

[2017-05-25 23:33] jkasten2 opened #236 "Notification time stamps not showing on Android 7 (Nougat)"
Android 7 (Nougat) no longer includes the time stamp by default. The SDK needs to start stamping them otherwise the displayed time will not show on the notification in the shade.

[2017-05-29 05:36] mitonline opened #237 "Android ANR in Broadcast of Intent { act=android.provider.Telephony.SMS_RECEIVED flg=0x8000010 ... }"
We are seeing a lot of ANR's with onesignal on the developer console. Please see attached stacktrace.
We are using the latest onesignal android native sdk.  Please help.
From build.gradle
    compile 'com.onesignal:OneSignal:[3.5.3,4.0.0)'

[onesignal_anr.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1034895/onesignal_anr.txt)

[2017-05-30 09:38] karopass opened #238 "all com.android.support libraries must use exact same"
Hi !
I am trying to integrate onesignal in one of my android application.
I am using com.android.support:support-v4:25.3.1 in my Gradle file and after complie onesignal library...its giving me above error....I should Downgrade my support library for complie onesignal ?
Thanks

[2017-05-30 20:55] jkasten2 commented on #238
@karopass You can add the following to your `build.gradle` to resolve the version conflict.
[code]

Please list the full gradle error you are getting if the above doesn't fix the issue.

[2017-05-31 04:25] karopass commented on #238
![newee](https://cloud.githubusercontent.com/assets/18382500/26615797/3e01343a-45e7-11e7-82ab-fc56b1f28748.png)
Now I am getting error like this

[2017-05-31 05:32] jkasten2 commented on #238
@karopass You can add the following to update the other part of the `gms` library that it is noting is a mismatched version.
[code]

[2017-05-31 05:32] #238 closed

[2017-06-01 00:20] jkasten2 commented on #235
@iballan Thanks for the log. It looks like this is missing the main thread state. The line should start something like this.
[code]

This should be below the `"Signal Catcher" daemon` section in the ANR.

[2017-06-01 00:23] jkasten2 commented on #237
@mitonline Thanks for the full log, we have identified the main thread locking case from it. We will include a fix in the next release for this.

[2017-06-01 04:56] mitonline opened #239 "Onesignal ANR - Broadcast of Intent { act=android.net.conn.CONNECTIVITY_CHANGE flg=0x4000010 ... }"
Hi,
We are seeing ANR in onesignal SDK for broadcast intent CONNECTIVITY_CHANGE.  This looks similar to Bug #237 but for a different broadcast intent. Just including this one also, If it is similar to Bug #237. Please mark it as duplicate.
Please see attached stacktrace.
[onesignal_connectivity_change.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1043723/onesignal_connectivity_chan

[2017-06-01 04:59] mitonline commented on #237
@jkasten2 Thanks Josh. We are also seeing a similar ANR but for a different broadcast intent. Have raised a new issue #239 for that one for reference. Please mark it duplicate if both of them have the same root cause.
Any rough estimate of timelines that you can give on when the next release will be available for us to update will be helpful ?
Thank you.

[2017-06-02 01:22] josinaldobarbosa opened #240 "Fatal Exception: OneSignalDbHelper"
Version: 3.4.4

Device: Xperia\xe2\x84\xa2 M4 Aqua
Android: 6.0.1

`OneSignalDbHelper.java` line 102

[code]

[2017-06-02 01:31] jkasten2 commented on #240
@josinaldobarbosa This is most likely an issue with the device out of space or some kind of other I/O disk error causing this to fail. The SDK does retry but it even hit this limit. Are you able to reproduce the issue? Did you get this on the first receive of a notification or after?

[2017-06-02 01:34] josinaldobarbosa commented on #240
@jkasten2
By the fabric, so it checks was on the same days that notification was sent

[2017-06-02 01:36] jkasten2 commented on #240
@josinaldobarbosa Was their more than one occurrence? If so could you share the fabric link here or with OneSignal support?

[2017-06-02 01:39] josinaldobarbosa commented on #240
http://crashes.to/s/0f478f6b912

[2017-06-02 22:00] jkasten2 commented on #239
@mitonline Thanks for reporting. These ANRs both have the same stack trace on the main thread.

[2017-06-02 22:00] #239 closed

[2017-06-02 22:03] jkasten2 commented on #237
The root of the ANR is from locking the main thread noted by this stack trace from your log.

[code]

Activity looking into this issue today.

[2017-06-02 23:24] jkasten2 commented on #229
@reynaldi-lorenzo Closing due to inactivity. Feel free to reopen this issue with more details and I'll look into it.

[2017-06-02 23:24] #229 closed

[2017-06-03 00:20] jkasten2 commented on #237
@mitonline This is now fixed, it will be included in our release next week.

[2017-06-03 00:20] #237 closed

[2017-06-03 00:21] jkasten2 commented on #235
@iballan This issue is most likely the same as issue #237. Feel free to reopen with the main thread section noted above if it is different.

Thanks.

[2017-06-03 00:21] #235 closed

[2017-06-03 00:59] jkasten2 commented on #231
@JakeRawr @NikolaBorislavovHristov This will go out in the next patch release next week.

[2017-06-03 00:59] #231 closed

[2017-06-03 01:05] jkasten2 commented on #240
@josinaldobarbosa Thanks, looks to be just that one device. We will see what can be done to handle this but due to the rarity of it this will be a lower priority.

[2017-06-03 01:41] #236 closed

[2017-06-03 12:27] HamedMasafi commented on #102
I'm experiencing the same issue too. @alexleutgoeb did you solved this problem in v-play?

[2017-06-06 09:53] ominfowave opened #241 "Exception java.lang.IllegalStateException: GoogleApiClient is not connected yet."
Exception java.lang.IllegalStateException: GoogleApiClient is not connected yet.
com.google.android.gms.internal.zzaak.zzb (zzaak.java)
com.google.android.gms.internal.zzaan.zzb (zzaan.java)
<OR>.zzb (zzaan.java)
com.google.android.gms.internal.zzaal.zzb (zzaal.java)
<OR>.zzb (zzaal.java)
<OR>.zzb (zzaal.java)
<OR>.zzb (zzaal.java)
<OR>.zzb (zzaal.java)
com.google.android.gms.internal.zzarl.remove

[2017-06-07 11:29] alexleutgoeb commented on #102
Hi @HamedMasafi, yes we applied the mentioned workaround and it is working so far!

[2017-06-07 16:03] eugenio-caicedo opened #243 "I need check if a notification has been pressed"
I have the library installed as follows:

[code]

And the OneSignalHandler class is defined as follows:

[code]

But in the console, I get that the Main activity is called before the notificationOpened method. That is, the call flow is as follows:

1. The notification is received and clicked on it.
2. The Main activity is called (onCreate and onStart)
3. The notificationOpened method of the OneSig

[2017-06-07 18:59] jkasten2 commented on #243
@eugenio-caicedo Make sure your calling `OneSignal.startInit` from the `onCreate` method of your `Application` class so the callback can fire before your Activity is created.

If you need change which Activity is started based on the notification see the link below.
https://documentation.onesignal.com/v3.0/docs/android-customizations#section-changing-the-open-action-of-a-notification

[2017-06-07 19:32] eugenio-caicedo commented on #243
Thanks @jkasten2 for your help.

I solved the problem by adding this to the manifest:
 `<meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />`

[2017-06-07 19:33] #243 closed

[2017-06-07 19:40] jkasten2 commented on #241
@ominfowave We have fixed this in the 3.5.7 update we just released today.

[2017-06-07 19:40] #241 closed

[2017-06-07 23:06] jkasten2 commented on #68
@kistitan I wasn't able to reproduce an issue for the first notification displayed part of a group set when overriding the message body and title. However I did reproduce an issue setting a sound from the extender on per-Android 4.3 devices and both played on 4.3 to 6.0.

I just released a 3.5.7 update that fixes the limitation with 2nd, 3rd, etc notifications not respecting the body, title, and s

[2017-06-08 02:58] ominfowave commented on #241
@jkasten2 is this issue resolved in 3.5.7 ?

[2017-06-08 02:59] ominfowave commented on #232
@jkasten2 is this issue resolved in 3.5.7

[2017-06-08 07:20] zack-barakat opened #244 "GoogleApiClient is not connected yet"
Hi,
Recently we have found this issue happens in our app.
SDK Version: 3.5.6
OS Version: 5
Device Model: OPPO A37fw-International
Here is stack trace:

`Fatal Exception: java.lang.IllegalStateException: GoogleApiClient is not connected yet.
       at com.google.android.gms.internal.zzaak.zzb(Unknown Source)
       at com.google.android.gms.internal.zzaan.zzb(Unknown Source)
       at com.google.an

[2017-06-08 09:12] zack-barakat opened #245 "SQLiteException: cannot rollback"
Hi
I found this exception in Crashlytics
SDK Version: 3.5.4
Device Model: leimin A12

Here is stack trace:

`Fatal Exception: android.database.sqlite.SQLiteException: cannot rollback - no transaction is active (code 1)
       at android.database.sqlite.SQLiteConnection.nativeExecute(SQLiteConnection.java)
       at android.database.sqlite.SQLiteConnection.execute(SQLiteConnection.java:559)

[2017-06-08 20:36] jkasten2 commented on #245
@zack-barakat This happens when a version of your app is running the OneSignal SDK 3.4.4 or newer and then is downgraded to 3.4.3 or older. If you only see a few occurrences then this would be from users side loading an older version over the top of a new one.
See issue #222 for more details.

[2017-06-08 20:36] #245 closed

[2017-06-08 20:38] jkasten2 commented on #244
Duplicated of issue #241, this is fixed in the 3.5.7 release.

[2017-06-08 20:38] #244 closed

[2017-06-08 20:43] jkasten2 commented on #232
@ominfowave Sorry it was not, their was some more common issues that prompted a sooner release of 3.5.7 without this.

How wide spread is the issue for you? Do you have a crashlytics or Google Play Developer report you could share?

[2017-06-09 03:20] ominfowave commented on #232
There is too many reports on firebase console
![image 1](https://user-images.githubusercontent.com/4697885/26959890-99a49d12-4cf0-11e7-887b-9845c11ded6f.png)
![image 2](https://user-images.githubusercontent.com/4697885/26959896-a244e6c0-4cf0-11e7-9164-80afe31a6355.png)

[2017-06-09 04:35] jkasten2 commented on #232
@ominfowave Thanks for the details. Could you contact support from the dashboard while logged into your OneSignal account? Link them to this github issue and they can check a few more things from there.

[2017-06-09 22:23] iballan opened #246 "com.onesignal.SynService ANR crash"
This crash happens on Android 6.0 and 7.0

from the log i saw that it happens in:

[code]

This is the full log:

[code]

[2017-06-09 22:36] jkasten2 commented on #246
@iballan Sorry about this issue, the ANR is a duplicate of issue #237 and has been fixed in the 3.5.7 update.

Thanks.

[2017-06-09 22:36] #246 closed

[2017-06-09 22:50] iballan commented on #246
it is happening in different places right ? all of them were fixed ?

[2017-06-09 23:03] jkasten2 commented on #246
@iballan They are from the same root cause of not setting up a thread handler with `GoogleApiClientListener`. Your stack trace is different as it is due to a failure case connecting instead of a success.
Thanks again still for posting this as it may help others if they each up searching for the same stack trace.

[2017-06-09 23:11] iballan commented on #246
@jkasten2 oh got it.  Thank you for explaining :)

[2017-06-11 14:56] janbolat opened #247 "Fatal Exception: java.lang.IllegalStateException: GoogleApiClient is not connected yet (in 3.5.7)"
Hello,
I have updated OneSignal Android SDK to 3.5.7, but still, see the error:

Fatal Exception: java.lang.IllegalStateException: GoogleApiClient is not connected yet.
       at com.google.android.gms.internal.zzaas.zzb(Unknown Source)
       at com.google.android.gms.internal.zzaav.zzb(Unknown Source)
       at com.google.android.gms.internal.zzaat.zzb(Unknown Source)
       at com.google.androi

[2017-06-11 15:26] imaginashaun commented on #51
This is still an issue

[2017-06-13 01:03] swratten opened #248 "Too many Alarms"
I am seeing this on solely Samsung devices, it is the number 1 crash for my production app.
I have not yet reproduced this, but it has been reported multiple times in crashlytics.
OneSignal SDK version: 3.5.6
[code]

[2017-06-13 02:58] jkasten2 commented on #248
@swratten Thanks for reporting, from our research the `!@Too many alarms (500) registered` only happens on Samsung devices as you have noted. However we put a fix in 3.4.4 that should have prevent this.

Did you have version 3.4.3 or older in your app? If so after upgrading did you see less occurrences? Could you share your crashlytics page here or with OneSignal support linking to this github iss

[2017-06-14 02:22] janbolat commented on #247
Also, exceptions are appearing on:
Galaxy Tab3 Lite 7.0
Galaxy E5
SM-A320F
SM-G570F
Galaxy Win Duos
LG K10 LTE
LG Prime Plus 4G
LG X Style
L Bello
LG K8 LTE
Xperia Z
ZTE
Huawei

On all android versions: 4, 5, 6, 7

Any comments?

[2017-06-14 09:54] polyak01 opened #249 "Failed resolution of: Lcom/onesignal/OneSignal;"
Hi. Some time ago I integrated OneSignal to some projects and all was fine. At the new one something goes wrong.

### After integrated at the start of running I have a error msg:

[code]
also:
[code]
### How can I resolve the problem?

OS in Application class:
[code]

Manifest:
``` <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE"/> ```

Gradle:
[code]

[2017-06-14 11:23] polyak01 commented on #249
I not sure, but maybe it happens by:  https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/app/build.gradle/#L21

[2017-06-14 18:09] polyak01 commented on #249
I did some research. It happens only on low performance Chinese devices (Huawei, BlackView) with Android 5.0-5.1. On the Nexus 5, 5X with Android 7.0 and Samsung with Android 6.0 all is fine.

From time to time crashed showed error on different lines with liraries on Application class. From OneSignal to Twitter, Facebook, Hawk, calligraphy. But when I delete all OneSignal Dependencies and code fro

[2017-06-14 18:54] polyak01 commented on #249
A moment ago I tested it on Samsung Galaxy S4 with Android 5.0.1 and it also crashed. So, it is 21-22 API problem.

[2017-06-14 21:42] swratten commented on #248
Hi there,

No I have only started using your SDK in the past month and have followed the setup guidelines and have always used the newest SDK version.
Sure I'll share a link for the issue here.
[http://crashes.to/s/4cedfaf29c2](Crashlytics)

[2017-06-15 09:11] polyak01 commented on #249
We did a lot of work with Gradle, Application class, multidex and after a lot of trying we fixed it. If in the future you need a solution for this case - you can to send me a msg. Thanks a lot for wonderful library!))

[2017-06-15 09:11] #249 closed

[2017-06-15 11:41] nevraydin opened #250 "Request with non-existing photo url return 200"
Hello,

When we try to send non-existing photo url with "big_picture" parameter, it returns 200 and not sending this notification. Also after this request, notifications are never sent, even it has correct request parameters.

[2017-06-15 13:34] janbolat commented on #247
Hi @jkasten2 ,
have you able to reproduce this issue?

[2017-06-15 15:39] glat opened #251 "Launch intent before calling callback"
First, I use this SDK by using the Xamarin SDK. I noticed that in this case:
1. launchUrl empty
2. notificationOpenedDelegate used (in Xamarin SDK)
3. App is fully closed

When the App gets a notification first the delegate is called and later the App is started causing the impossibility to get any other data about the notification.

I checked source code and I think that in this function:

public

[2017-06-15 18:36] jkasten2 commented on #249
@polyak01 Good to hear you got it working! It sounds like it was a problem with multidex based on the error changing about each class was not defined. What was the last thing you changed that fixed it for you?

[2017-06-15 19:26] jkasten2 commented on #247
@janbolat I haven't been able to reproduce this issue. Are you able to reproduce this on your test devices? Or are you just getting reports of these from Google Play?

Could you share the OneSignal init code you are using and the OneSignal methods you are calling?

[2017-06-15 19:30] jkasten2 commented on #250
@nevraydin Could you provide the full JSON payload you are sending through the REST API? Could you also link this issue to OneSignal support so they can look at it with your account as well?

[2017-06-15 20:14] jkasten2 commented on #251
@glat I reviewed the `handleNotificationOpen` in the SDK and both cold starts and resumes are handled correctly by it. The order of running `runNotificationOpenedCallback` then `fireIntentFromNotificationOpen` is intentional.

`runNotificationOpenedCallback` will store the the notification data in `unprocessedOpenedNotifis` if the the app didn't have time to setup a open handler yet. Then once the

[2017-06-16 01:00] #68 closed

[2017-06-16 01:21] Luesey opened #252 "Text Arrangement Error on Android 4.1 when setting a background image"
![image](https://user-images.githubusercontent.com/29471293/27207941-6b885d32-527d-11e7-8df8-388b8d793df7.png)

Text arrangement on android 4.1 is different to other devices.

[2017-06-16 02:49] janbolat commented on #247
@jkasten2 ,
It is happening on real devices.
I am getting these reports on Crashlytics.

I init OneSignal in Application class' onCreate() method:
`OneSignal.startInit(this)
.autoPromptLocation(false)
.disableGmsMissingPrompt(false)
.setNotificationReceivedHandler(new GcmNotificationReceivedHandler())
.setNotificationOpenedHandler(new GcmNotificationOpenedHandler())
.inFocusDisplaying(OneSignal.OS

[2017-06-17 00:26] jkasten2 commented on #247
@janbolat This is now fixed in the 3.5.8 SDK update. Thanks.

[2017-06-17 00:26] #247 closed

[2017-06-17 00:26] jkasten2 commented on #232
@ominfowave This is now fixed in the 3.5.8 SDK update. Thanks.

[2017-06-17 00:26] #232 closed

[2017-06-17 07:56] glat commented on #251
I  know nothing about java and android but I can assure that notification handler in Xamarin SDK is called every time BEFORE app is started, and this is not the correct behaviour.
I'll open an issue on Xamarin SDK github project, but I think the real matter is in the Android SDK.
Thanks

[2017-06-17 07:56] #251 closed

[2017-06-20 09:29] zack-barakat opened #254 "App crash when expanding notification"
I've received several crash reports saying the notification remote view couldn't be expanded status icon was not found.

It happens on these Samsung devices:
- SM-G950F
- Galaxy A5(2016)
- SM-G955
OS: 7.0
stack-trace:

`Fatal Exception: android.app.RemoteServiceException: Bad notification posted from package com.gobike.consumer: Couldn't expand RemoteViews for: StatusBarNotification(pkg=com.gobike

[2017-06-20 09:38] zack-barakat opened #255 "App crash when display notification"
Hi
I've received several crash reports in my app, it probably crashes when try to display notification.
It happens on these devices:

| Device   |  Model     |  OS |
| --- | --- | --- |
|i-mobile  | i-mobile i-STYLE_810 | 5.0
| APLUS  |   A88new   |    5.1 |
| alps     |     MC-X9    |    5.1 |
| T18      |     T18         |     5.1 |

[code]

let me know if you need more details.

[2017-06-26 19:44] eugenio-caicedo opened #256 "Notification popup in AppAlert mode"
My problem is the following: when the app is open the notification is received by the following popup window

![popup window](https://user-images.githubusercontent.com/12780910/27556747-d9d82c7c-5a84-11e7-8c3c-21d10ef6757a.png)

This is not ok. When the user presses the "Ok" button another popup window is showed (it's part of my application), and it is necessary to override the first pop up by the

[2017-06-26 20:36] jkasten2 commented on #256
@eugenio-caicedo You can call [`setInFocusDisplaying`](https://documentation.onesignal.com/docs/android-native-sdk#section--setinfocusdisplaying-) to make this a notification that shows in the shade or disable notifications from showing when your app is in focus.

[2017-06-26 20:41] jkasten2 commented on #255
@zack-barakat From the error it looks like the small notification icon was not set correctly. If you delete your custom small icon does it resolve the issue? Can you try recreating your icon? If this does not help please attach your icon set to this issue.

[2017-06-26 20:44] jkasten2 commented on #254
@zack-barakat There is a good chance this issue is the same a s your #255 issue. Can you check the small icon? If this isn't the issue please attach the full list of notification options you are using.

[2017-06-26 21:03] eugenio-caicedo commented on #256
Thanks, @jkasten2 Ok, I am using:

`.inFocusDisplaying(OneSignal.OSInFocusDisplayOption.InAppAlert)`

The possible values are:

`public enum OSInFocusDisplayOption {
      None, InAppAlert, Notification
   }`

But none resolved the problem.

[2017-06-26 21:08] jkasten2 commented on #256
@eugenio-caicedo If you set it to `Notification` do you get both the alert and the notification in the shade? Can you make sure your not calling OneSignal init more than once?

[2017-06-26 21:21] eugenio-caicedo commented on #256
@jkasten2 If I set it to Notification, I get only the notification, not the popup. Really, I don't need both: alert and notification. Only if the app it's open, I need calling to the OneSignalHandler.notificationOpened function It will show the app popup (This is part of my application, not onesignal).

[2017-06-26 21:26] jkasten2 commented on #256
@eugenio-caicedo I see, so setting the focus to `None` fixed your problem. Not, none of the options resolved your issue. 😄

[2017-06-26 21:33] eugenio-caicedo commented on #256
umm @jkasten2 with the None option I get only the notification when the app is open. And the function is not called.

[2017-06-26 21:40] jkasten2 commented on #256
@eugenio-caicedo `inFocusDisplaying` doesn't affect displaying if your app is not running or is in the background. The notification show always display in the notification shade when the user is not in your app. If this isn't working then please see the troubleshooting guide below.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown

Which of the 3 callba

[2017-06-27 07:11] e16din opened #257 "Crash on start my application."
HTC Desire 326G (Android 4.4.2) with Google Play.

Exception:
[code]

[2017-06-27 14:43] eugenio-caicedo commented on #256
@jkasten2 Ok, I explain again. Currently, when the notification is received, the 'NotificationExtenderService.onNotificationProcessing' function is called, I call the displayNotification function inside of it. If the app is open, the "You've been requested!" popup is displayed, but this is not the popup correct. The popup correctly is 'ClaimedRequestDialogFragment', this is a fragment inside my ap

[2017-06-27 18:27] jkasten2 commented on #257
@e16din This looks to be a very rare exception due to either the version of the Google Play services library in your app, the Google Play services app on the device, the version of Android, or a number of plugin initializing with your app that are making IPC calls to other apps.

Are you able to reproduce this issue on your devices?

Please report which version of the Google Play services library

[2017-06-27 19:32] jkasten2 commented on #256
@eugenio-caicedo That is odd, the `notificationOpened` should not be firing in this case. Can you confirm you are using the latest 3.5.8 SDK version?

If so can you get the full stack trace from your open handler? You can use one of these solutions to do so.
https://stackoverflow.com/questions/1069066/get-current-stack-trace-in-java

[2017-06-27 20:18] eugenio-caicedo commented on #256
@jkasten2 Ok, you are right. In this flow, the notificationOpened function should not be called because the notification ("You've been requested!" popup) it's not clicked by the user. This is a [video](https://drive.google.com/file/d/0B3g9m4gzKqSYbWI5b2ZDOVFTYk0/view?usp=sharing) with the example: when the ok button is clicked the notificationOpened function is called. The library version is com.o

[2017-06-27 23:36] jkasten2 commented on #256
@eugenio-caicedo You can update it to `com.onesignal:OneSignal:[3.5.8,4.0.0)` to ensure you are using the latest.

Since you have a `NotificationExtenderService` setup you should set the following on OneSignal init.
[code]
Otherwise an alert will always show from our SDK.

[2017-06-28 20:23] eugenio-caicedo commented on #256
@jkasten2 I have updated the library version. The notifications are received in the drawer, but the "You've been requested!" popup is not displayed. I need the popup but with the notification effect, I mean the popup but with the OverrideSettings configuration and the notification sounds. Is it possible this?

[2017-06-28 20:35] jkasten2 commented on #256
@eugenio-caicedo `OverrideSettings` only applies to notifications shown in the shade. You will need to show your own alert to customize it. This can be done by displaying your alert from the [`NotificationReceivedHandler`](https://documentation.onesignal.com/docs/android-native-sdk#section--notificationreceivedhandler-)

[2017-06-28 20:43] eugenio-caicedo commented on #256
@jkasten2 Umm I understand, so in the notificationReceived function, Can I redirect to main activity for showing a fragment?

[2017-06-28 20:44] jkasten2 commented on #256
Correct, from the close of your alert you can trigger an Activity like normal.

[2017-06-28 20:47] eugenio-caicedo commented on #256
@jkasten2 Perfect, thank you very much. I'll try this to see what happens.

[2017-06-28 20:48] #256 closed

[2017-06-30 04:24] ominfowave opened #258 "Fatal Exception: java.lang.OutOfMemoryError: pthread_create (1040KB stack) failed:"
[code]
on Version 3.5.8@aar

[2017-07-01 07:24] Cykuls opened #259 "Google Playservices and Onesignal conflicts"
As sson as I add dependencies in my gradle file of OneSignal I'm getting the below error

java.lang.NoClassDefFoundError: com.google.android.gms.maps.model.CameraPosition

Actually I even have a Google Maps activity where there is a Map displaying to users. If I add the Onesignal code My app is getting crashed. If I remove onesignal code its working fine.

[2017-07-04 04:58] redoc123 commented on #51
This is still and issue. I have same issues when trying from ionic2. following are the details of the ionic app installation.

**ionic info**

Cordova CLI: 7.0.1
Ionic Framework Version: 3.5.0
Ionic CLI Version: 2.2.2
Ionic App Lib Version: 2.2.1
Ionic App Scripts Version: 1.3.12
ios-deploy version: 1.8.6
ios-sim version: 5.0.8
OS: macOS Sierra
Node Version: v7.5.0
Xcode version: Xcode 8.3.3 Build

[2017-07-07 00:00] jkasten2 commented on #258
@ominfowave We haven't had any other `OutOfMemoryError` exceptions reported before. Can you profile the memory of your app with Android Studio to make sure you don't have a leak somewhere in your app's code?

Is the error reproducible? Can you include the device model and Android version the error happened on?

[2017-07-07 00:06] jkasten2 commented on #259
@Cykuls This seems related if you have multidex setup by not fully implemented. If you are using multidex please see the thread below to make sure you have it setup correctly.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/226

Include the Android version you are testing on and your `build.gradle` if you are still seeing an issue.

[2017-07-08 02:44] ominfowave commented on #258
![image 1](https://user-images.githubusercontent.com/4697885/27982024-75ef2b86-63b5-11e7-962b-0d812ed450f4.png)
![image 2](https://user-images.githubusercontent.com/4697885/27982025-75f384ce-63b5-11e7-891f-aa534b4b2c2f.png)

[2017-07-08 13:48] bsababa2 commented on #11
Hey guys,
I am facing the same issue.
I've tried to apply @jkasten2 code into my app, but I'm not sure if I misplaced it.
I am using Ionic with onesignal plugin, and I've put the code under `platforms/android` inside `OneSingalPush.java`.
Can you please help? :)

[2017-07-08 14:09] bsababa2 commented on #11
NVM managed to get the code to be called, but vibration still occurs.
Any ideas?

[2017-07-08 14:29] bsababa2 commented on #11
NVM solved it :)

[2017-07-08 21:26] saintjab opened #260 "Unable to add OneSignal SDK"
Hi, I tried adding the SDK to my dependencies but gradle sync always brings error whenever I added the SDK. Error:
Error:Execution failed for task ':app:processDebugManifest'.

When I remove  this: compile 'com.onesignal:OneSignal:[3.5.3,4.0.0)'
my gradle sync just fine.

[2017-07-09 04:52] #260 closed

[2017-07-11 00:52] jkasten2 commented on #250
@nevraydin Messaging OneSignal support in the bottom right red bubble while logging into the OneSignal dashboard is the best option. You can also email support@onesignal.com. Please included your notification,  app, and player / user id you're testing with so they can look into it.

[2017-07-11 00:52] #250 closed

[2017-07-11 06:09] matijagorsek commented on #260
Did you resolve problem?

[2017-07-11 06:19] waheed25 opened #261 "Onesignal icon sound and vibration works partially"
I have customized the onesignal push notification icon and sound when i installed project on samsung mobile it works perfect but when i install on on a local brand called Qmobile its sound and vibration not working and only  the defualt icon shows and on the same time this notification on samsung mobile works perfect

[2017-07-11 23:37] jkasten2 commented on #261
@waheed25 If you don't customize the sound does it work correctly on your Qmobile device? Can you check the logcat for any errors or warnings when the notification is received?

Please include the exact model and Android version of this device as well.

[2017-07-12 07:20] matijagorsek opened #262 "One Signal doesn't initialize"
Hello have a problem,for first time i'm using one signal lib.
When one signal called to initialize getting this error in log  Key onesignal_google_project_number expected String but value was a java.lang.Float.  The default value <null> was returned.
07-12 09:16:28.187 28644-28644/? W/Bundle: Attempt to cast generated internal exception:
                                           java.lang.ClassCa

[2017-07-12 10:24] #262 closed

[2017-07-12 18:39] jpusp opened #263 "Bad Notification: Couldn't expand RemoteViews for: StatusBarNotification. on Android Nougat"
I'm receiving this issue on crashlytics only on Motorola devices with Android Nougat:

[code]

It works well on all other android versions and manufacturer. I dont have more information besides this log.

Thanks

[2017-07-13 02:13] jkasten2 commented on #263
@jpusp Can you share the OneSignal notification id that matches this crash with OneSignal support? You contact them via the OneSignal dashboard or by emailing support@onesignal.com

[2017-07-13 19:58] tapz opened #264 "Error saving notification record! - java.lang.NullPointerException"
When the app is active and it receives a notification the app crashes. Version 3.5.8.

[code]

[2017-07-13 21:08] tapz opened #265 "Silent in focus push notification displayed"
When the app is active, a push notification with contents, data, and android_sound is not displayed, but when the push notification does not have any of those fields (= it should be silent regardless if the app is active or not) the notification is displayed in the Notification Shade. I have set inFocusDisplaying to None.

OneSignal.setInFocusDisplaying(OneSignal.OSInFocusDisplayOption.None);

Ver

[2017-07-14 10:41] donnerstag4 opened #266 "How OneSignal register user?"
Hi,
Can you explain how OneSignal register user and where you put that function in example app demo?

Thank you

[2017-07-14 21:04] jkasten2 commented on #266
@donnerstag4 The device is registered when the SDK is initialized. Make sure you complete at minimum steps 1 and 2 below.
https://documentation.onesignal.com/docs/android-sdk-setup

Check out the example projects below to see a full example.
https://github.com/OneSignal/OneSignal-Android-SDK/tree/master/Examples

[2017-07-14 21:04] #266 closed

[2017-07-15 03:39] jkasten2 commented on #264
@tapz Thanks for reporting this. Could you also include the payload of the notification, if create from the OneSignal REST API or the exact setting you used on the dashboard.

Please include any OneSignal initialization customizations you may have as well in your app's code.

[2017-07-15 03:42] jkasten2 commented on #265
If the notification does not have a message body (contents) it won't be display in any case by our SDK.

If the above is correct could you attach the full OneSignal REST API payload or the exact notification options you used on the OneSignal dashboard?

[2017-07-15 04:12] mitonline opened #267 "ANR seen in com.onesignal.SyncService [com.onesignal.PushRegistratorGPS.isGMSInstalledAndEnabled]"
Hi,
OneSignal Android SDK version: 3.5.8

We are seeing many ANR's in the console for the service, com.onesignal.SyncService. Please find the stacktrace for all the threads.
[code]

[2017-07-15 04:18] mitonline opened #268 "Multiple ANR's seen in com.onesignal.SyncService"
We are running OneSignal AndroidSDK 3.5.8 and seeing multiple ANRs in the console. Please find the complete thread backtrace.

[code]

[2017-07-17 06:40] tapz commented on #265
This is what I send and it calls notificationReceived, but also displays the notification when the app is active.

POST https://onesignal.com/api/v1/notifications
{
"app_id": "00000000-0000-0000-0000-000000000000",
"priority": "10",
"android_group": "mygroup",
"content_available": "true",
"filters"=[
{
"key": "MyKey1",
"field": "tag",
"value": "true",
"relation": "="
}, {
"key": "MyKey2",
"field":

[2017-07-17 15:50] jtkac opened #269 "Support Shape Drawable for Images"
Hello,

I'm having trouble getting the onesignal_bgimage_default_image to cause the notification title and body colors to change over to a desired spec. Is there some trick to doing so, does the app have to be open, does the default image have to be in jpg/png format, or is the feature buggy?

Extra info:
`onesignal_bgimage_default_image` is an xml shape file (does it have to be an image format?)

[2017-07-17 16:45] jpusp commented on #263
I have one more information about this bug: It start to appear in crashlytics every time i release a new version to the Google Play. It appears that onesignal sdk crashes the app only one time, when the user updates the app. Then the app stabilizes

[2017-07-19 08:32] JustinLim0318 opened #271 "crash when com.onesignal.OneSignal.getGcmPreferences"
Hello,

I have encountered a crash and below is the snapshot of it :
[code]
Thanks and best Regards,
Justin

[2017-07-20 06:52] anukools commented on #263
@jkasten2  I am also facing the same issue. And its behavior is same as mentioned by @jpusp that it crashes after few day of app updates  then get stable.

[2017-07-20 07:06] waheed25 commented on #261
no without customization it not works too.the models of mobiles that i used is one Qmobile J7 and other is Qmobile Z12 both having the marshmallow version .I solved this issue because my code was fine the issue in mobile notice managment in latest version of marshmallow you have to manually enable the notification in the app setting.
Actually that was my bad.

[2017-07-20 07:06] #261 closed

[2017-07-20 18:24] eugenio-caicedo opened #272 "Custom Sound Error"
I have added a file called **alert.wav** to the /res/raw/ folder in the android app and I added android_sound: _"alert"_ on the rails server but the sound that is heard is the one that comes by default for notifications. I also tested with android_sound: _"alert.wav"_. but I get the same error. Do I need to do any additional configuration? In the manifest file for example.

[2017-07-21 05:57] Cykuls commented on #259
Hi Josh,

Plz find the gradle below.

buildscript {

    repositories {
    }

    dependencies {

        classpath 'io.fabric.tools:gradle:1.+'

    }

}

apply plugin: 'com.android.application'

repositories {

}

android {

    compileSdkVersion 24

    buildToolsVersion '25.0.0'

    defaultConfig {

        manifestPlaceholders = [onesignal_app_id:
"8e17e7f8-fff5-4cf3-9121-50a40b7f8342",

[2017-07-21 22:44] jkasten2 commented on #259
@Cykuls Your `build.gradle` looks correct. Make sure you have the code correct in your Application class as well as it is require for per Android 5.0 devices.

[2017-07-21 22:45] jkasten2 commented on #272
@eugenio-caicedo Your sound file should be `alert` in this case. However I recommend trying to give it a more unique name in-case it is conflicting with something else.

Also I recommend unzipping your APK to ensure it is not being omitted from it.

Thanks.

[2017-07-21 23:03] jkasten2 commented on #271
@JustinLim0318 The crash seems to be happening when the dex file in your APK is being loaded and parsed. Its like you may be using multi-dex?

Are their any other logcat entries related before or after this one? Are you able to reproduce the issue? Please include all device models and Android versions you have tested on.

Thanks.

[2017-07-22 03:16] jkasten2 commented on #248
@swratten I notice the crashes have decreased dramatically based on the Crashlytics link you attached. Did you change anything in your app?

[2017-07-24 06:53] JustinLim0318 commented on #271
@jkasten2 Yes I'm using multi-dex for my project and i couldn't reproduce the issue.
The Fabric crash log:
Device: alps EP1
OS : 6.1

[2017-07-24 09:20] zack-barakat opened #273 "Error null pointer exception"
Hi just saw null pinter exception crash on my Crashlytics.
I'm using the latest version of one signal SDK.
Device name: Galaxy J7
Android OS: 6.0.1
error stack trace:

[code]

would really appreciate if you can look at it.

[2017-07-24 15:40] eugenio-caicedo commented on #272
The file name is a big mistake, I should have changed it to `custom_alert`. But this was also due to specifying a `setSound` in the `NotificationCompat.Builder`.

Thanks for your help @jkasten2

[2017-07-24 18:02] leonardoxh commented on #255
I also faced this issue today

[2017-07-24 18:25] jkasten2 commented on #255
@leonardoxh Could you provide more details to help us pin point the issue? Please include the stack trace so we can compare as well as the Android version and device models you seen this issue on. Let us know if you can reproduce the issue as well.

[2017-07-24 18:30] jkasten2 commented on #273
@zack-barakat The `NotificationExtenderService` class shouldn't be fired with a `null` `Intent` as it is always sent with one from our SDK. However it is possible the service isn't being started by the OneSignal SDK or Android is restarting the service without one.

We will add a `null` check to the class to prevent any cases for this crash.

[2017-07-24 18:34] #272 closed

[2017-07-24 22:48] jkasten2 commented on #271
@JustinLim0318 Is the issue only isolated to this model of device? If so the issue is most likely due to a bug in the ROM on the device.

[2017-07-25 05:30] g123k opened #274 "Crash on boot with Android O"
Hello,

With Android 0 (DP4 in my case) and the 3.5.8 version of SDK, I have a crash on every boot of the device. The crash is the following :

[code]

This crash is related to Android O / 8.0. You can find further information [here](https://stackoverflow.com/questions/44502229/runtime-exception-android-o-with-boot-completed).

[2017-07-25 07:02] JustinLim0318 commented on #271
@jkasten2 yes only happened in this device.

[2017-07-25 08:04] beraybentesen opened #275 "11.0.2 Support"
For  compile 'com.onesignal:OneSignal:3.5.8'
->
Found versions 11.0.2, 10.0.1. Examples include com.google.android.gms:play-services-base:11.0.2 and com.google.android.gms:play-services-gcm:10.0.1 less...

Why do you use 10.0.1 ?

[2017-07-25 17:43] leonardoxh commented on #255
Hi,

One crash at moment, but have no idea about this... Crash at link http://crashes.to/s/23a6a07c7d8

[2017-07-25 19:33] jkasten2 commented on #275
@beraybentesen We define a range which has been tested to work with our SDK. Version 3.5.8 was tested to work with 9.0.0 through 10.0.1 at the time.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.5.8/OneSignalSDK/onesignal/maven-push.gradle#L32

We can confirm that everything still works correctly with gms 11.0.2 with OneSignal 3.5.8 so you can add the following to your `app/build.gradl

[2017-07-25 20:00] jkasten2 commented on #269
@jtkac The background image feature only supports image/bitmap formats as it uses `BitmapFactory.decodeStream` to load them. The SDK does not support xml shape files at this time.

[2017-07-25 21:50] jkasten2 commented on #271
@JustinLim0318 Thanks for confirming, closing this issue as it isn't an issue with the SDK.

[2017-07-25 21:50] #271 closed

[2017-07-26 03:53] JustinLim0318 commented on #271
@jkasten2 thanks for the fast response too. closing this issue from my side as well

[2017-07-26 03:53] jkasten2 commented on #274
@g123k We are working on compatible SDK when targeting api 26. In the next few days we will update this thread with a beta version of the SDK to try out.

[2017-07-26 07:56] zack-barakat commented on #273
@jkasten2  I guess it's caused by android restarting the service with null intent.
Thank you for your help, looking for the new update.

[2017-07-26 19:08] jkasten2 commented on #274
@g123k You can use the following in your build.gradle to try out our beta of our SDK which includes support for Android O when targeting API 26.

[code]

To see a full index of snapshots:
https://oss.sonatype.org/content/repositories/snapshots/com/onesignal/OneSignal/4.0.0-SNAPSHOT/

[2017-07-28 08:54] nikhil19patil opened #276 "getting error when notification received"
I am getting NoSuchMethodError when I am using following configuration in apps build.graddle

	configurations.all {
		resolutionStrategy.eachDependency { DependencyResolveDetails details ->
		    def requested = details.requested
		    if (requested.group == 'com.android.support') {
		        if (!requested.name.startsWith("multidex")) {
		            details.useVersion '25.3.1'
		        }

[2017-07-28 09:13] nikhil19patil commented on #276
If I don't add above code I am getting following error
	Error:Execution failed for task ':app:processDebugManifest'.

	  	is also present at [com.android.support:recyclerview-v7:25.3.1] AndroidManifest.xml:24:9-31 value=(25.3.1).
	  	Suggestion: add 'tools:replace="android:value"' to <meta-data> element at AndroidManifest.xml:22:5-24:41 to override.

[2017-07-29 00:12] jkasten2 commented on #276
@nikhil19patil Looks like you are using the beta version of our OneSignal SDK. It depends on having the Android Support library 26.0.0-beta2 or newer to support Android O. There is now a 26.0.0 release so it is recommend to use this over the beta2 version however.

Please share your root `build.gradle` and `app/buidle.gradle` if you are still seeing any issue.

[2017-07-29 00:13] jkasten2 commented on #275
We have added this to the setup docs. Feel free to reopen this issue if you have any more questions on our GMS decencies.

[2017-07-29 00:13] #275 closed

[2017-08-03 17:03] tapz commented on #265
Anything new about this? Easily reproducible with curl:

[code]

[2017-08-05 06:34] NikolaBorislavovHristov opened #277 "NullPointerException getSharedPreferences"
This Exception is thrown in my react-native app.

[code]

[2017-08-07 02:10] 2x2xplz commented on #238
I don't think the correct solution is for developers to have to keep track of extra dependencies. It appears your library statically links to older versions of the support and Play Services libraries, which probably wasn't noticed previously because Android Studio didn't raise any warnings until version 2.3+

I ran `./gradlew -q dependencies myappnamehere:dependencies --configuration compile` and

[2017-08-08 20:03] jkasten2 commented on #263
@anukools Are you only seeing the issue on Android 7 Motorola devices as well?

@anukools @jpusp
Do you have any test devices where you have reproduced this issue? We haven't been able to reproduce it.

[2017-08-08 21:08] jpusp commented on #263
I'm seeing this issue facing on few samsung devices too (samsung a5) with Android 7.
I didn't find a way to reproduce this bug. It appears when the user updates the app.

[2017-08-09 05:51] g123k commented on #274
Hello,

Thanks for the version, I will try it ASAP.

Is-it production ready? Or should I wait for the final 4.0.0 version?
Do you have any release date?

Thanks

[2017-08-09 23:49] jkasten2 commented on #263
The issue seems to be related to the notifications being restored to the notification area when the app is updated from what you have noted and the crash logs.

Can you try the following to attempt to reproduce the issue.
1. Send a notification to the device.
2. run `adb install -s your_app_name.apk`. - This should simulate an update
3. Repeat - Specific types of notifications or a number of them

[2017-08-09 23:49] shahzadiqbal commented on #41
How to get Badge count? if we want to use Badge count in our app.

[2017-08-09 23:51] jkasten2 commented on #41
@shahzadiqbal Please see issue #87

[2017-08-10 00:22] jkasten2 commented on #274
@g123k From feedback from others and our own testing the beta has been stable. We are finishing our final testing and we are shooting for a release sometime next week.

Thanks.

[2017-08-10 12:21] g123k commented on #274
Ok thanks for the schedule.

I am not sure, if I have to open a new ticket, but with the current snapshot and Android O, I have to reinstall the app to receive pushes. Otherwise, I have absolutely nothing.

With the stable version of your SDK and Android <= 7.1, everything is working fine.

[2017-08-10 12:51] baole commented on #268
We also have the same  issues reported on Google Play console, roundly 50 effected users per day. It's the top reason that makes our app crashes. It looks like OneSignal did not running on background. Unfortunately I couldn't reproduce on my environments.

[2017-08-10 22:30] jtkac opened #278 "Application with an implementation of OneSignal fails to Compile"
Everything in the app was working normally until quite recently when OneSignal failed to compile.

## What I had:

            compile 'com.onesignal:OneSignal:[3.5.3,4.0.0)'

## What I replaced it with:

             compile 'com.onesignal:OneSignal:[3.5.3,3.99.99)'

Then I tried the 4.0.0 snapshot:

            repositories {
                  maven { url "https://oss.sonatype.org/content/reposi

[2017-08-10 22:34] jkasten2 commented on #278
@jtkac Can you attach the full compile error?

[2017-08-10 22:41] jtkac commented on #278
As it turns out I had a data proxy service in the background which was inhibiting the SDK from downloading. Sorry!

[2017-08-10 22:41] #278 closed

[2017-08-11 00:48] jkasten2 commented on #274
@g123k I just tested this upgrade path on a Nexus 6P with Android O Beta4 without any issues.
1. Installed app with `targetSdkVersion` set to `25` and OneSignal SDK `3.5.8`.
2. Sent a few test notifications which displayed correctly.
3. Switched to  `targetSdkVersion` set to `26` and the OneSignal SNAPSHOT SDK.
4. Redeployed app to the phone without uninstalling.
5. Sent a few more notifications a

[2017-08-12 04:08] ominfowave opened #280 "Unable to start receiver com.onesignal.GcmBroadcastReceiver"
[code]

[2017-08-13 13:17] dev-JE02 commented on #143
Still getting this issue in `4.0.0-SNAPSHOT`

[2017-08-13 13:29] dev-JE02 commented on #9
@jkasten2 this still doesn't work even though I put it in different build types' defaulConfig. I am using Android Studio 3.0 Canary build

[2017-08-13 21:57] jkasten2 commented on #143
@dev-JE02 Can you provide more details about your project?
Do you have `buildTypes` and/or `productFlavors` in your `app/gradle.build`?
Do you have `tools:node="replace"` in your `AndroidManifest.xml`?

[2017-08-13 21:59] jkasten2 commented on #9
@dbystVF Let's continue discussion on #143

[2017-08-13 22:08] jkasten2 commented on #280
@ominfowave Make sure the service you added the action `com.onesignal.NotificationExtender` to in your `AndroidManifest.xml` is has `android:exported="false"`
[code]
https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding

[2017-08-13 22:34] jkasten2 commented on #277
@NikolaBorislavovHristov In this case `idsAvailable` is being called before OneSignal is initialized. We will correct this in the native SDK in an update to fire the callback once the SDK has been initialized.

[2017-08-13 22:39] jkasten2 commented on #276
@nikhil19patil The 3.6.0 SDK now depends on version 26.0.0 of `com.android.support:support-v4` so this should no longer be an issue. Please feel free to reopen this thread if you are still having an issue.

Thanks!

[2017-08-13 22:39] #276 closed

[2017-08-14 07:48] amin1softco opened #281 "Failed to resolve: com.android.support:customtabs:[26.0.0,26.1.0)"
hi
all my project today say this error for onesignal i think some fixes needed.

[code]

fix for now.
[code]

[2017-08-14 09:24] gerbenrobijn commented on #281
I can confirm this, the temp. fix also works.

[2017-08-14 18:38] jkasten2 commented on #281
@amin1softco @gerbenrobijn The 3.6.0 SDK has been updated to be compatible with Android O when targeting API level 26. This version now depends on version 26 of the `support-v4` library as it is required to show notifications for Android O.

Google switch to using their own Maven repository instead of downloading them through the Android SDK. See the instructions below to add this as a repository

[2017-08-15 04:43] dev-JE02 commented on #143
Here is my app/build.gradle file. I used this, and I also tried putting it inside the `buildTypes > defaultConfig` clause but OneSignal still can't see the `onesignal_app_id`

[code]

And here is my project build.gradle file

[code]

[2017-08-15 08:25] baole opened #282 "ANR issue"
This is a ANR report on Google Play console which indicates that OneSignal is running on main/UI thread:

[code]

I suppose it runs on background thread. Is there anything wrong?

[2017-08-15 09:03] baole commented on #281
You can exclude it from dependencies as below:

[code]

[2017-08-15 09:29] slazutkin commented on #281
Same issue with React Native project

     Versions that do not match:
         26.0.0-alpha1
         25.3.1
         25.3.0
         25.2.0
         25.1.1
         + 32 more
     Searched in the following locations:
         file:/C:/asdk/extras/android/m2repository/com/android/support/support-v4/maven-metadata.xml
         file:/C:/sources/lab/trash/coinpulse-native/android/sdk-manager/com/and

[2017-08-15 09:39] baole commented on #281
You probably need to add Google Maven repository

For Gradle, add this line on top level build.gradle

[code]

[2017-08-15 09:49] slazutkin commented on #281
Helped changing in file 'node_modules\react-native-onesignal\android\build.gradle':
**from**:
compile 'com.onesignal:OneSignal:3.+@aar'
**to**:
compile 'com.onesignal:OneSignal:3.5.8'

But is doesn't seem to be a good solution

[2017-08-15 15:57] dev-JE02 commented on #190
It is also happening on my device Samsung S8 6.0. How do I know the library is crashing somewhere? I could register and get an ID, but when sending notifications to the device I always get the GCM CANCELLED error.

[2017-08-15 22:38] jkasten2 commented on #281
@slazutkin We have updated the troubleshooting guide to make the required changes more clear.
https://documentation.onesignal.com/docs/troubleshooting-android#section-error-failed-to-resolve-com-android-support-customtabs-26-0-0-26-1-0-

Let me know if you have any feedback on it.

Thanks.

[2017-08-15 23:30] jkasten2 commented on #190
@dev-JE02 The `GCM CANCELLED` logcat entry can happen if your app crashed from at any point and the app wasn't reopened.

Or if the `<receiver>` tag is missing from your `AndroidManifest.xml`. This is added automatically with Android Studio / Gradle with our SDK. However make sure you don't have `tools:node="replace"` in your main `AndroidManifest.xml` as this cause it to remove entries from all l

[2017-08-16 03:31] jkasten2 commented on #280
@ominfowave Feel free to reply / reopen this thread if the above wasn't your issue.

[2017-08-16 03:42] jkasten2 commented on #274
3.6.0 has been released and resolves the crashes reported here.

[2017-08-16 03:42] #274 closed

[2017-08-16 03:46] #273 closed

[2017-08-16 04:18] amin1softco commented on #281
https://documentation.onesignal.com/docs/troubleshooting-android#section-error-failed-to-resolve-com-android-support-customtabs-26-0-0-26-1-0-

Let me know if you have any feedback on it.

Thanks.

maven.google.com
 create some other strange incompatibility in my app.

[2017-08-16 04:20] jkasten2 commented on #281
@amin1softco Could you let us know the specifics errors / incompatibilities?

[2017-08-16 04:25] amin1softco commented on #281
@jkasten2  yeah some problem with support.v4
[code]
but without maven.google.com and 3.5.8 every thing normally

[2017-08-16 05:22] szholdiyarov commented on #282
well it clearly states that it was running on the "main" thread. I think the problem is in synchronized block?!

[2017-08-16 06:26] jkasten2 commented on #281
@amin1softco
The 3.6.0 SDK depends on `com.android.support` revision 26.
The 3.58 SDK depends on the newest available version downloaded between 24.0.0 and 25.3.

The only class that is under the `android.support.v4.animation` namespace is `AnimatorCompatHelper`.
https://developer.android.com/reference/android/support/v4/animation/package-summary.html

Is this something you are using directly or s

[2017-08-16 07:10] amin1softco commented on #281
before your update or repository changing , v3.6.0 work properly and every thing wok normally after update and using maven.google.com this strange error occur and my class using support-v4.animation have error and with 3.5.8 now every thing normally...

[2017-08-16 08:56] jkasten2 commented on #281
`android.support.v4.animation` is a package / namespace. Could you list the specific classes you are using?

They could have moved to `android.support.v4.view.animation` or `android.support.animation` in the Android Support Library update.

[2017-08-16 17:01] hose314 commented on #277
Same for me and also within react-native app. Any progress, @jkasten2, @NikolaBorislavovHristov?

[2017-08-17 07:16] NikolaBorislavovHristov commented on #277
@hose314 I can't reproduce this.

[2017-08-17 08:55] hose314 commented on #277
@NikolaBorislavovHristov
For me its crashes when app just got installed within first launch

[2017-08-17 14:34] twanschik commented on #264
Same problem here:
Error saving notification record!
                                                                             java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.String java.lang.CharSequence.toString()' on a null object reference
                                                                                 at com.onesignal.NotificationBundleProcess

[2017-08-17 16:58] tapz commented on #264
The app either crashes or displays the _silent_ notification. Both of these are totally unacceptable.

[2017-08-17 18:34] hardikJoshi123 commented on #281
Same issue i faced today

[2017-08-18 06:04] sandropoluan commented on #259
where should I put this
`    @Override
    protected void attachBaseContext(Context base) {
        super.attachBaseContext(base);
        MultiDex.install(this);
    }`
??

When I put it on MainApplication.java, I got error
`error: cannot find symbol  MultiDex.install(this);`

[2017-08-18 07:45] DimaKoz commented on #259
@sandropoluan I guess that [link](https://stackoverflow.com/a/45036866/3166697) will useful for you

[2017-08-18 10:12] BobyIlea opened #283 "ANR issue executing service com.*/com.onesignal.SyncService"
We are getting this ANR report very often on Google Play console. I have searched for answers regarding this issue and apparently it should have been fixed in v3.3.1, but we are still getting this ANR in latest builds which are currently using v3.5.8

From build.gradle:
compile 'com.onesignal:OneSignal:3.5.8'
compile 'com.android.support:appcompat-v7:24.+'
compile 'com.google.android.gms:play-serv

[2017-08-19 05:24] dev-JE02 commented on #190
The line about the `tools:node="replace"` should definitely be in the guides somewhere. Android Studio automatically inserts it to the manifest

[2017-08-19 05:45] ominfowave commented on #280
@jkasten2 it's not case,i have already declared this content in mainfest.xml ,there is issue with only one user, on fabric there are more then 50 report for same user.

[2017-08-20 19:53] jkasten2 commented on #190
@dev-JE02 Android Studio project's don't normally include this, however it may have provided this as an autocorrect option. We have added this to our troubleshooting guide.
https://documentation.onesignal.com/docs/troubleshooting-android#section-error-appid-format-is-invalid

[2017-08-20 19:57] jkasten2 commented on #281
@hardikJoshi123 Did the [OneSignal troubleshooting guide](https://documentation.onesignal.com/docs/troubleshooting-android#section-error-failed-to-resolve-com-android-support-customtabs-26-0-0-26-1-0-) help you reslove the issue?

[2017-08-21 05:52] janbolat commented on #247
Hi @jkasten2 ,
it seems on SDK 3.6.0 it may still reach "GoogleApiClient is not connected yet." error on lines 296, 312 in
[https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/LocationGMS.java](https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/LocationGMS.java) though it is

[2017-08-21 18:40] jkasten2 commented on #282
@baole From the stack trace it looks like your app was swiped away at the same time a saved state of the SDK was already happening. It is using `commit` on `SharedPreferences` which will block until it is saved. However in the 3.6.0 update we switched to `apply` which is asynchronous which should prevent or greatly minimize the issue.

We will still take a closer look to ensure this completely res

[2017-08-22 01:59] jkasten2 commented on #11
Vibration and sound is now stable per Notification Category (AKA Channel) instead of per notification along with a few other settings part of the release of Android Oreo (8.0).

Make sure you are using the latest 3.6.1 SDK and follow the guide below on using them.
https://documentation.onesignal.com/docs/android-notification-categories

Note that even for pre-O devices the Notification Categories

[2017-08-22 01:59] #11 closed

[2017-08-22 02:07] jkasten2 commented on #172
@OlegTarashkevich We haven't received any other reports of this. Feel free to add more details if you are still getting a crash after the SDK update. Thanks.

[2017-08-22 02:07] #172 closed

[2017-08-22 08:48] Tom29 commented on #281
@amin1softco hello, i get the same trouble. This is my first time i test app on android.
i already put `compile 'com.onesignal:OneSignal:3.5.8'` in the `dependencies` , but still not get rid of this error. anything else needed ?

[2017-08-22 14:09] Tweener opened #284 ""OK" button from in-app notification AlertDialog, missing since release 3.6.0"
Hi,

I've noticed that since the release version 3.6.0 of your SDK, the "OK" button of the AlertDialog, displayed when a notification is received when the app is in foreground, doesn't show up anymore. Therefore, the only way to dismiss this AlertDialog is by pressing the physical back button of the device.
To be sure, I tested the same code with version 3.5.8, it shows up, as expected. (_See the

[2017-08-24 06:02] yogeshivu commented on #232
@jkasten2 can i know how to fix this sqlite database full error as i am unable to find a solution for it to fix it in my android application

[2017-08-24 10:01] baole commented on #282
We updated our app with OneSignal 3.6.0 and haven't seen that crashes so far.

[2017-08-24 10:01] #282 closed

[2017-08-25 11:14] rameshkumarkhatri opened #285 "java.lang.NoSuchMethodException: onOSSubscriptionChanged [class com.onesignal.OSSubscriptionStateChanges]"
I am adding callback to get userID from OneSignal, I have added code in application class :
[code]

But the issue is `onOSSubscriptionChanged` is called some time after killing app then start app.

I have added following dependencies in app gradle:
[code]

Can anyone have idea how to get the oneSignal userID, deviceToken when deviceToken/userID update?

[2017-08-28 14:51] Tweener commented on #284
Up!
Any news about this bug?

This is quite critical since it's blocking releases.
It's not acceptable to not have the "OK" button, which mean we have to use version 3.5.8 of OneSignal SDK for now. **But**, on the other hand, to be compatible with version 26 of Android Support Library, we need at least version 3.6.0 of OneSignal SDK.

Thanks!

[2017-08-28 18:30] jkasten2 commented on #284
@Tweener Sorry for the delay, we will be fixing this in the next release. We recommend using the notification display option as the alert does not support all features. You can `OneSignal.OSInFocusDisplayOption.Notification` with `inFocusDisplaying` on init to use this option.
Example:
[code]

[2017-08-28 20:31] Tweener commented on #284
Hi @jkasten2, thanks for your reply.
I'll use this fix for now, until the version 3.6.2 is released. Thanks!

Any idea about the release date?

[2017-08-29 13:05] Bekakk opened #286 "java.lang.NoSuchMethodError: No static method zzb"
Hi
I'm using your repo.I successfully integrated  OneSignal Sdk in my empty project.But I have one problem,now I try to add com.google.gsm.google-services in my project.Here is one gradlie file

[code]
Here is a project's gradlie file

[code]

When i ran my app I have this Exception

[code]

How i can solve my problem?
Thanks everyone
Beka

[2017-08-29 22:42] jkasten2 commented on #285
@rameshkumarkhatri The `onOSSubscriptionChanged` callback can fire at anytime while your app is running either in the background or foreground. You can call `removePermissionObserver` at any point on your same observer instance to prevent it from firing however.

Could you provide a full stack trace of the `java.lang.NoSuchMethodException` error if you are still getting it?

Thanks.

[2017-08-29 22:53] jkasten2 commented on #286
@Bekakk
Can you remove `classpath 'com.google.gms:google-services:3.0.0'` from your root `build.gradle` and `apply plugin: 'com.google.gms.google-services'` from your `app/build.gradle`?
These are know to cause conflicts due to version mixing with other `compile 'com.google.android.gms:*'` lines.
https://documentation.onesignal.com/docs/troubleshooting-android#section-error-execution-failed-for-ta

[2017-08-29 23:07] jkasten2 opened #287 "Rare Exception - java.lang.InternalError: Thread starting during runtime shutdown"
Rare crash on Android 5 to 7 devices on SDK version 3.5.8. Was reported to OneSignal support, haven't been able to reproduce yet.

[code]

[2017-08-31 04:16] anukools commented on #247
@jkasten2 I am also facing the same issue, crashes shown in Fabric crash analytics, specially for Samsung devices in latest release.

[2017-08-31 07:02] BobyIlea commented on #283
Hello, did anyone have time to look into this? Thank you.

[2017-09-01 06:11] junlaecho opened #288 "Fatal Exception: java.lang.IllegalStateException GoogleApiClient is not connected yet."
com.google.android.gms.internal.zzbco.zze (Unknown Source)
--
  | com.google.android.gms.internal.zzccb.removeLocationUpdates (Unknown Source)
  | com.onesignal.LocationGMS$FusedLocationApiWrapper.removeLocationUpdates (LocationGMS.java:312)
  | com.onesignal.LocationGMS$LocationUpdateListener.onLocationChanged (LocationGMS.java:296)
  | com.google.android.gms.internal.zzcdi.zzq (Unknown Source)
 

[2017-09-03 13:41] ron-k commented on #283
Seeing here same ANR.
Using com.onesignal:OneSignal:3.5.8

I have the fix, please see the references PR.

[2017-09-03 17:57] pzienowicz commented on #286
Hi @jkasten2,
I have the same issue.

Main gradle file:

    buildscript {
        repositories {
            jcenter()
        }
        dependencies {
            classpath 'com.android.tools.build:gradle:2.3.3'
        }
    }

    allprojects {
        repositories {
            jcenter()
            maven { url 'https://maven.google.com' }
        }
    }

App gradle file:

    apply plugin:

[2017-09-04 06:15] BobyIlea commented on #283
@ron-k Thanks, do you know if your fix has been merged in a later release? We're not using the sources to build the OneSignal library.

[2017-09-05 08:12] rameshkumarkhatri commented on #285
@jkasten2  It was not working everytime so I removed this method now  OneSignal.idsAvailable to get id of device.

[2017-09-05 13:41] caipivara commented on #217
@jkasten2 it will be cool if you can add `consumerProguardFiles` inside of the api like:

[code]

and then every client will use your defaults without any setup.

[2017-09-05 13:42] caipivara opened #290 "Add consumerProguardFiles for proguard setup"
@jkasten2 it will be cool if you can add `consumerProguardFiles` inside of the api like:

[code]

and then every client will use your defaults without any setup.

[2017-09-05 13:43] caipivara commented on #290
Oh sorry, it already have it.

[2017-09-05 13:43] #290 closed

[2017-09-05 18:18] pzienowicz commented on #286
@jkasten2 any idea?
I cannot use your SDK.

[2017-09-05 23:40] jkasten2 commented on #286
@pzienowicz There could be a mismatch between `'com.google.firebase` and `com.google.android.gms` versions in your project. gms 11.2.0 will be used by the OneSignal SDK so you will need to update `com.google.firebase:firebase-core` to 11.2.0 as well.
See this error for more details.
https://documentation.onesignal.com/docs/troubleshooting-android#section-error-all-gms-firesbase-libraries-must-use-

[2017-09-06 01:10] david2410 opened #291 "OneSignal JAR for Eclipse"
Can you upload the latest JAR library for Eclipse? The one in this repo is outdated.

[2017-09-06 20:02] PeteSesto commented on #263
@jpusp were you able to find a solution for this?  I'm experiencing the same issue on the same devices

[2017-09-06 21:35] tapz commented on #265
Adding this to AndroidManifest.xml and `hidden: true` to the notification request body seems to help:

[code]

[2017-09-07 09:19] grzesl opened #295 "duplicate entry: com/onesignal/ActivityLifecycleHandler$1.class"
Version 3.6.1. I got this message when try build signed APK:

Error:Execution failed for task ':app:transformClassesWithJarMergingForRelease'.

[2017-09-07 09:33] Rickyen commented on #136
hay me to, i have a same crash

android.database.sqlite.SQLiteException:

  at android.database.sqlite.SQLiteOpenHelper.onDowngrade (SQLiteOpenHelper.java:360)

  at android.database.sqlite.SQLiteOpenHelper.getDatabaseLocked (SQLiteOpenHelper.java:254)

  at android.database.sqlite.SQLiteOpenHelper.getWritableDatabase (SQLiteOpenHelper.java:163)

  at com.onesignal.NotificationRestorer.restore (No

[2017-09-07 10:39] grzesl commented on #295
My mistake , i have hot 2 versions of library in app/libs folder. After delete it works fine.

[2017-09-07 10:39] #295 closed

[2017-09-07 15:07] catt-stefano opened #296 "token"

[2017-09-08 00:41] #296 closed

[2017-09-08 07:38] jkasten2 commented on #136
@Rickyen This the onDowngrade issue which has more details on issue #222.

[2017-09-08 08:24] jkasten2 commented on #284
@Tweener This is now fixed in the commit above, added a test to prevent a future occurrence of this.

Shooting for a release the beginning of next week as we include a few more fixes and do some additional testing.

[2017-09-08 08:24] #284 closed

[2017-09-08 08:35] jkasten2 commented on #291
@david2410 Thanks for reporting, just updated the jar to 3.6.1 on master. Can be downloaded by pressing "View Raw" below.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3792d372fc0dfe57d14511164aec76e461edf837/OneSignalSDK.jar

We update this .jar manually. If we missed updating this in the future, it can be downloaded manually by clicking on one of the .aar links from below.
https://sear

[2017-09-08 08:35] #291 closed

[2017-09-08 12:58] LDALEGRIA commented on #263
We are having the same issue. Anyone on it?

[2017-09-08 18:37] jkasten2 commented on #263
@LDALEGRIA We haven't been able to reproduce this issue and the stack trace is showing the Android framework classes part of the Android OS itself. This make it difficult to know what is the root cause of the issue or if any attempted changes will have any effect.

Do you have any crash reports from any other version other than Android 7.0? Are you able to produce the crash on any of your test dev

[2017-09-08 18:44] LDALEGRIA commented on #263
@jkasten2

Attached you have my crash logs.
It's only happening to Android 7.0 and I have not been able to reproduce it.

[br.com.evino.android_issue_160_crash_.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1288825/br.com.evino.android_issue_160_crash_.txt)
http://crashes.to/s/a4e6ad455c5

![image](https://user-images.githubusercontent.com/10233183/30226461-769ae8fe-94ac-11e7-8faa-

[2017-09-08 18:53] jkasten2 commented on #263
Thanks for the details, the issue seem isolated to just 7.0. We haven't seen any 7.1 reports but it's market share is 10x less than 7.0 as well. We will focus more testing on 7.0 to try to reproduce this issue.

Also what version of the `com.android.support` library does your project use? This is used by OneSignal to generate the notification so this can be a factor as well.

[2017-09-08 18:58] LDALEGRIA commented on #263
@jkasten2 Thanks for checking.
We are using com.android.support library 24.2.1

Hopefully we can resolve this issue. Count on our help if needed.

[2017-09-08 21:21] jkasten2 commented on #265
@tapz Fixed this issue in commit 75e7c333bf4d3908ba6cc0381fc7e44ab157ea9a and added a test to prevent future occurrences of this.

[2017-09-08 21:21] #265 closed

[2017-09-09 03:37] ps-jimmy commented on #249
//This worked for me.  place this in your default application File and make sure you enabled multidex in your gradle file. Compile this also : compile 'com.android.support:multidex:1.0.1'

 @Override
    protected void attachBaseContext(Context base) {
        super.attachBaseContext(base);
        MultiDex.install(this);
    }

[2017-09-11 13:17] hynra opened #298 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/internal/zzjb;"
I got error :

[code]
This message show when admob loaded :

[code]

`build.gradle` project :

[code]

`build.gradle` app :
[code]

How I fix that ?

Thank You.

[2017-09-11 14:18] DimaKoz commented on #298
You have problem with Google ads, but not with OneSignal.
Why do you ask about Google ads here?
Nevertheless, try to change
`compile 'com.google.firebase:firebase-ads:11.2.0'` to
`compile 'com.google.android.gms:play-services-ads:11.2.0' `
May be it help you.

[2017-09-12 00:47] hynra commented on #298
@DimaKoz Thank you for your answer. Sorry for that, because I got the error after following OneSignal SDK setup, before that my app is running normal. So I think it's relatable to post the issue here.

I've change `com.google.firebase:firebase-ads:11.2.0` to `com.google.android.gms:play-services-ads:11.2.0` and still get error :

[code]

[2017-09-12 05:51] DimaKoz commented on #298
The size and number of included libraries requires Multidex.  Note that [three steps are required](https://developer.android.com/studio/build/multidex.html#mdex-gradle), including a change to the manifest.

[2017-09-12 17:25] jpusp commented on #263
@PeteSesto I didnt find any solution for this.

@jkasten2 Yes, its happening on Android 7.0 only. My support library changed from 25.3.0, 25.4.0, 26.0.1 and 26.0.2. Nothing changes.

@LDALEGRIA Its almost the same crashlytics log that i have here. The difference is that some samsung devices is on the list (a few)

http://crashes.to/s/83a5dbe2cc5

[2017-09-13 14:29] awsleiman171 commented on #263
It seems like it's not only happening on 7.0 I have the same happening here on this device :
Android: 5.1
Android Build: TIT-U02C328B106
Manufacturer: HUAWEI
Model: HUAWEI TIT-U02

`android.app.RemoteServiceException: Bad notification posted from package com.anghami: Couldn't expand RemoteViews for: StatusBarNotification(pkg=com.anghami user=UserHandle{0} id=١٠١ tag=null score=٠ key=0|com.anghami|

[2017-09-15 01:35] jkasten2 commented on #288
@junlaecho This looks to be a possible race condition that in rare cases could cause this crash. Just to confirm you are on the latest 3.6.1 SDK?

[2017-09-15 04:18] #288 closed

[2017-09-15 05:44] jkasten2 commented on #283
@BobyIlea This specific ANR should be fixed in the now released 3.6.2 SDK.

[2017-09-15 06:19] BobyIlea commented on #283
@jkasten2 Thank you for your time!

[2017-09-15 09:24] chitra8 commented on #281
Error:Failed to resolve: com.android.support:customtabs:[26.0.0,26.2.0)

Error:Failed to resolve: annotationProcessor

Error:Failed to resolve: com.android.support:support-v4:[26.0.0,26.2.0)

Error:Failed to resolve: com.android.support:support-v4:[26.0.0,26.2.0)

facing the same issue @OneSignal troubleshooting guide is no help

[2017-09-15 11:37] shaniamjad opened #299 "getSharedPreferences on UIThread"
Hello Guys,

I am using OneSignal Android SDK version 3.5.8 in my game which is LIVE on Google play store for sometime. I have been receiving Lots of ANR reports from Google dashboard related to Illegal I/O operations from disk. 
After doing some investigation using StrictMode enabled i figured that OneSignal SDK gives error on initialisation, where is calls getGcmPreferences and tries to get shar

[2017-09-15 11:50] DimaKoz commented on #283
@jkasten2  I'm sorry but I've got ANR when executing service com.my.package/com.onesignal.SyncService (unfortunately, in 3.6.2):
"main" prio=5 tid=1 WAIT
  | group="main" sCount=1 dsCount=0 obj=0x418ecea0 self=0x4180aff0
  | sysTid=10864 nice=-11 sched=0/0 cgrp=apps handle=1074401620
  | state=S schedstat=( 0 0 0 ) utm=101 stm=9 core=0

  at java.lang.Object.wait (Native Method)
- waiting on <0x41

[2017-09-15 11:52] BobyIlea commented on #283
@DimaKoz This one seems to have a different cause than the one I've posted logs, do you have steps to reproduce?

[2017-09-15 12:00] DimaKoz commented on #283
@BobyIlea I can't reproduce it( I got them via GooglePlay, 685 ANR and 206 users ) but I guess [this issue](https://github.com/OneSignal/OneSignal-Android-SDK/issues/299) is related with that ANR

[2017-09-15 18:36] jkasten2 commented on #283
@DimaKoz Could be related to `SharedPreferences` as I see this in the log. Does GooglePlay's log give you a full log of all threads?

[2017-09-15 18:46] jkasten2 commented on #299
@shaniamjad Could you attach the ANR as well to confirm the issue?

We will be moving all I/O operations off the main thread and/or do so in a non-main thread blocking way. In 3.6.0 we changed all `SharedPreferences` `commit` calls to `apply` which writes in a non-blocking way. We still need to move reads off the main thread but updating to 3.6.X should lower the occurrences of this specific ANR.

[2017-09-15 19:09] umutg4d opened #300 "Error:Execution failed for task ':app:processDebugManifest'."
I am getting error when building gradle for my project and i think it is related to onesignal plugin because when i extract it , build completes succesfully . Here's the full output message.

Error:Execution failed for task ':app:processDebugManifest'.

  	is also present at [com.android.support:support-v4:26.1.0] AndroidManifest.xml:28:13-35 value=(26.1.0).
  	Suggestion: add 'tools:replace="andr

[2017-09-15 19:17] DimaKoz commented on #283
@jkasten2 Sure.
I noticed that issue has been from OneSignal:3.4.3(as least) to the latest release
[log.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1307514/log3.txt)
[log1.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1307536/log3.txt)
![screen shot 2017-09-15 at 22 07 16](https://user-images.githubusercontent.com/3092276/30499275-88de4e46-9a62-11e7-9ada-3c7c2565f

[2017-09-15 20:53] jkasten2 commented on #281
@chitra8 Adding the following to your `build.gradle` should fix your issue.
[code]

I have updated the link above to include the `com.android.support:support-v4:[26.0.0,26.2.0)` error as well. This is now required for new versions of Google libraries they moved their libraries out of the Android SDK and into this maven repo.

[2017-09-15 21:59] jkasten2 commented on #300
@umutg4d You need to updated all your `com.android.support:` entries to version 26.1.0. This is required for version 26 of the support library is required for version 3.6.0 of OneSignal

[2017-09-15 22:36] umutg4d commented on #300
I did what you said and it builds succesfully but now this error shows up.

                                                             Process: com.tilda.tv8, PID: 2713
                                                             java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/internal/safeparcel/zza;

[2017-09-15 22:37] #300 closed

[2017-09-15 22:37] umutg4d commented on #298
Any news about the solution? @hynra

[2017-09-15 23:07] umutg4d commented on #298
I changed my `compile 'com.google.android.gms:play-services-ads:11.2.0'` to previous one `compile 'com.google.android.gms:play-services-ads:11.2.2'` i used before onesignal plugin added and error has gone. @hynra @DimaKoz

[2017-09-16 00:22] #281 closed

[2017-09-16 00:23] jkasten2 commented on #264
@tapz @twanschik Fixed this in version 3.6.2.

[2017-09-16 00:23] #264 closed

[2017-09-18 05:26] shaniamjad commented on #299
I dont have an ANR which directly gives OneSignal in its Stack trace. But it does tell about Disk Readings on UIThread.. and when i enabled StrictMode it gives me an error on initialisation, where it calls getGcmPreferences and tries to get sharedPreferences data inside this.

So as you said Disk readings should be moved off the main thread. So it would be great if this can be done on priority as

[2017-09-19 06:59] #298 closed

[2017-09-19 08:14] anilmercan commented on #268
We are getting same ANR in some devices . I attached the log output. Not all of our users getting ANR . Our OneSignal Version is 3.6.2

[2017-09-20 07:41] Thaina opened #301 "Silent notification broken on android"
From this issue I got in unity https://github.com/OneSignal/OneSignal-Unity-SDK/issues/64

I found a bug in android sdk at NotificationBundleProcessor.java:166

https://github.com/OneSignal/OneSignal-Android-SDK/commit/75e7c333bf4d3908ba6cc0381fc7e44ab157ea9a#commitcomment-24425047

[2017-09-20 08:42] sachinGAcharya opened #302 "NotificationExtenderService holds old pushnotification Data using onesignal notification"
Hi I am using onesignal notification for amazon fire tab.I need silent push notification so by refreing [onesignal documentation](https://documentation.onesignal.com/v3.0/docs/android-customizations)

I am using

[code]

It is giving me silent notification but It is holding all the notification data.Whenever I launch the app I see It has all the previous notification data.Please tell me how to rem

[2017-09-20 11:32] consp1racy opened #303 "Dependency resolution doesn't work like you think it does"
Seen here: https://documentation.onesignal.com/v3.0/docs/troubleshooting-android#section-error-all-gms-firesbase-libraries-must-use-the-exact-same-version-specification

Aftermath: https://stackoverflow.com/questions/46316151/android-sdk-26-build-error

### Issue

Dependency resolution doesn't work that way. Gradle automatically picks the latest version specified *in any library or module*. If you

[2017-09-20 19:00] jkasten2 commented on #301
@Thaina The silent / blank body notification issue was introduced in version 3.6.0 of this SDK but was fixed in [version 3.6.2](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.6.2). Closing this issue as this bug has been fixed.

The Unity SDK is still using 3.6.0, I'll leave that Unity issue open so the update can can tracked there.

[2017-09-20 19:00] #301 closed

[2017-09-20 19:17] jkasten2 commented on #302
@sachinGAcharya The SDK holds on to previous notifications for up to 1 week to prevent duplicates, restore notifications, and calculate badge counts.

For silent notifications that are not displayed we could just store their id so the SDK can prevent any possible duplicate messages being received to save space. Is this your main concern of storing previous notifications?

[2017-09-20 20:56] jkasten2 commented on #303
@consp1racy We have updated the documentation page to use `force = true` if you must downgrade to older `com.google.android.gms` and `com.android.support` libraries than what OneSignal defines.

In the 3.6.0 version of this SDK we had to bump the min version of `com.android.support` to 26.0.0 and `com.google.android.gms` to 10.2.1 to be compatible with projects that are targeting 26 (Android 8 Ore

[2017-09-20 23:40] consp1racy commented on #303
Ah, I didn't know about the force. Many thanks! However you shouldn't use ranges in depedencies at all.

26.0.0 and 10.2.1 is fine by me, without the plus.

[2017-09-21 01:31] #299 closed

[2017-09-21 03:26] YuyangHYY opened #305 "Open Launch URL in an in-app view"
IOS launch in app as default when open notification, but android when open notification will launch web browsers not in android app.
After I check, is it  android need to use 'OSNotificationOpenResult' this function? and how to set in code?

[2017-09-21 05:13] bingdow opened #306 "On FirebaseMessagingService onMessageReceived method how can I get message text"
So neither of
`remoteMessage.getNotification().getBody()`
and
`remoteMessage.getData().containsKey("body") )`
I can get message text but title.
How can I get message text from RemoteMessage object on FirebaseMessagingService onMessageReceived method

[2017-09-21 05:58] sachinGAcharya commented on #302
Thank you @jkasten2 for replaying.My problem is the above class will be called no of times the total notification received till that till.During every time i launch the app.Means If I have rceived 100 notification the above class will be triggered 100 times during launch of app.So I need to prevent that and  the class  should trigger only whenever the notification comes.Please help me how can i ac

[2017-09-21 08:11] jkasten2 commented on #303
@consp1racy I believe using version ranges on library's dependencies should be used when the developers of the library can confirm the range.

However, Gradle unfortunately always picks the latest as you noted. Instead of finding the latest version that meets all range requires for a group:module. This exact issue however is tracked on Gradle's repo https://github.com/gradle/gradle/issues/2869 and

[2017-09-21 08:18] jkasten2 commented on #305
@YuyangHYY The OneSignal iOS SDK starts an in-app WebView when a notification with a launch url is set is open. This Android SDK opens the default web browser. Are you asking for a in-app WebView for Android to match iOS?

[2017-09-21 08:23] jkasten2 commented on #306
@bingdow We don't have documentation on parsing our payload with the FCM library. However you might be able to grab the `alert` key on data if it exists.
[code]

We don't have docs on FCM as our [OneSignal NotificationExtenderService](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding) should cover any custom notificaitons cases.

[2017-09-21 08:33] consp1racy commented on #303
I respectfully disagree with the last statement.

It seems to me it would be better to shift the heavy lifting from consumer to the author of library, i.e. instead of having to force everything, the library would depend on the oldest dependency it can do with *and has been tested on*, leaving the dependency upgrade on the consumer.

This is what the consumer expects, this behaves predictably.

[2017-09-21 08:46] consp1racy commented on #303
As for the dependency resolution, I looked at this and tried to understand how it works in Gradle.
https://maven.apache.org/enforcer/enforcer-rules/versionRanges.html

[26.0.0,27.0.0) - Use at least version 26, but prefer newer up until 27.
26.0.0 - Use at least version 26, but don't force newer.

It feels like the second option best describes your dependency.

---

https://cwiki.apache.org/conflu

[2017-09-21 15:07] floydus commented on #10
Raysango, can you explain to me where to put the class NotificationExtenderPriority file I tried putting it where the MainActivity.java file is located under src/com/ionicframework but when I compile I get the following error.

NotificationExtenderBareBonesExample.java:5: error: method does not override or implement a method from a supertype
   @Override
   ^
There is big lack of information on th

[2017-09-21 17:26] Alamgir commented on #263
@jpusp @LDALEGRIA Considering that the issue seems to happen on app updates, do you recall if your updated APK added/removed any resources (drawable or otherwise)?

We're considering the case where aapt has compiled a different set of resource IDs due to the resources being changed and there may be a corner-case condition where a resource ID becomes invalid after the apk is updated.

[2017-09-21 18:17] DennyWeinberg opened #307 "ActivityManager: Unable to start service Intent {xxx launchParam=MultiScreenLaunchParams { mDisplayId=0 mFlags=0 } (has extras) } U=0: not found"
Hi,

I use OneSignals Android SDK using my own NotificationExtenderService.

But when I close the app completely, I see the following error in logcat:
`ActivityManager: Unable to start service Intent { act=com.google.firebase.MESSAGING_EVENT pkg=com.nextwebart.senego launchParam=MultiScreenLaunchParams { mDisplayId=0 mFlags=0 } (has extras) } U=0: not found`

and the notification is not delivered.

[2017-09-21 22:37] jkasten2 commented on #283
@DimaKoz Thanks for the logs. After reviewing them it is an issue with `SharedPreferences` and isn't related to `SyncService`. We made some changes in 3.6.0 that should minimize this. In-addition in the next patch release 3.6.3, we have a for more improvements around writes to `SharedPreferences`.

[2017-09-22 00:11] jkasten2 commented on #10
@floydus Raysango's `NotificationExtenderPriority` class isn't needed any more since priority is built into the SDK now. You just need to set priority noted in my comment above. If you are sending your notification from the dashboard set Priority to high under options.

[2017-09-22 01:48] jkasten2 commented on #307
@DennyWeinberg I tested adding the FCM library (`compile 'com.google.firebase:firebase-messaging:11.4.0`)  to a project with OneSiganl and it shows the logcat warning of not finding any receivers for the `com.google.firebase.MESSAGING_EVENT` you noted. However OneSignal still shows the notification correctly without an issue.

Are notifications sent from OneSignal displaying when the app is in foc

[2017-09-22 06:20] shaniamjad commented on #299
@jkasten2 Can you tell me when this fix will be available? When would i be able to integrate this Fixed version on my game?
cc- @Alamgir

[2017-09-22 12:15] lovepreetsingh03 opened #308 "typeerror: cannot read property 'onesignal' of undefined"
I have below error display when i use a ionic serve for push notification

Error : typeerror: cannot read property 'onesignal' of undefined

this is my config file

<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ionic.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyApp</name>
    <description>An awesome Ionic/Cordova ap

[2017-09-22 12:15] lovepreetsingh03 commented on #308
------------------------------------------
This is my App.module.ts file

import { BrowserModule } from '@angular/platform-browser';
import { ErrorHandler, NgModule } from '@angular/core';
import { IonicApp, IonicErrorHandler, IonicModule } from 'ionic-angular';
import { SplashScreen } from '@ionic-native/splash-screen';
import { StatusBar } from '@ionic-native/status-bar';
import { OneSignal } fr

[2017-09-22 16:31] DennyWeinberg commented on #307
Hello @jkasten2 .
I added `compile 'com.google.firebase:firebase-messaging:11.0.4' // Notifications`, it was missing. But it still worked for my other device.

Yes, the notifications are displayed when the app is in focus.

I am closing my app by swiping it away. I have a samsung device.

I now removed `GcmBroadcastReceiver` and `GcmBroadcastReceiver` to have a correct implementation.

I need the

[2017-09-22 18:28] jkasten2 commented on #308
@lovepreetsingh03 The OneSignal Cordova SDK isn't compatible with `ionic serve` as it doesn't support web browsers. You will need to run your your app on a device.

For future Ionic, PhoneGap, or Cordova questions / issue please use the repo below instead.
https://github.com/OneSignal/OneSignal-Cordova-SDK

Thanks.

[2017-09-22 18:28] #308 closed

[2017-09-24 02:22] lovepreetsingh03 commented on #308
thank you sir .
Now it is working for me.

On Fri, Sep 22, 2017 at 11:58 PM, Josh Kasten <notifications@github.com>
wrote:

[2017-09-24 14:30] DimaKoz commented on #307
@DennyWeinberg  What is the version of Android on your devices? I've seen similar behavior on Oreo. I changed `targetSdkVersion` from `26` to `25` and this behavior is disappeared.

[2017-09-24 15:13] DennyWeinberg commented on #307
I don't have Oreo. Also my targetSdkVersion is already set to 25.

I don't really found a solution for that...

[2017-09-24 15:35] Daemon-Devarshi commented on #286
Hi @jkasten2 ,

I am facing same problem due to which I am unable to use your SDK.

Below is the full stack trace:

[code]

Here is my App gradle file:

[code]

Here is the module build.gradle:

[code]
Please suggest.

[2017-09-24 15:37] Daemon-Devarshi commented on #286
Hi @jkasten2 ,

I am facing same problem due to which I am unable to use your SDK.

Below is the full stack trace:

[code]

Here is my App gradle file:

[code]

Here is the module build.gradle:

[code]
Please suggest.

[2017-09-24 17:14] DennyWeinberg commented on #307
After removing my own NotificationExtenderService, all notifications are coming in! I think there is a bug in your library... Now I can't customize my notification anymore, but it's not such a problem for me...

[2017-09-24 17:33] DennyWeinberg commented on #307
@jkasten2 I have another question: Do I have the possibility to read the "Additional Data" in my Activity without using a NotificationOpenedHandler? I will not use the NotificationOpenedHandler because it will only be fired if the app is in foreground.

And I cannot use NotificationExtenderService as described here in this issue...

Or is there another possbility to pass custom data to my activity

[2017-09-24 17:43] jkasten2 commented on #307
@DennyWeinberg Can you share `NotificationExtenderService` code so we can confirm there isn't an issue there?

[2017-09-24 17:47] DennyWeinberg commented on #307
@jkasten2 It calls some other classes so you can't really see something interesting here...

[code]

But there should be any bug because It worked when the app was in foreground and the exact same request didn't worked when the app was closed.
Also, sometimes it worked. So it was kind of randomly... Do you have some answers for my other question?

[2017-09-24 18:31] DennyWeinberg commented on #307
I double checked by adding some logs. Right now I can't reproduce the problem. But don't forget that some days ago, when the problem occured, I had this `broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=com.nextwebart.senego launchParam=MultiScreenLaunchParams { mDisplayId=0 mFlags=0 } (has extras) }` error

[2017-09-25 12:53] lukyanov commented on #158
Thinking about the same behaviour and love the idea of the return value from `notificationOpened`.

[2017-09-25 19:05] niqo01 opened #309 "FCM and GCM support"
We are using FCM to handle push notification. This SDK uses GCM and suggest that using both FCM and GCM at the same time works fine.
Is that really a supported use case of FCM/GCM Google libraries? Am I right to be worried about this? Google doc mentioned in their FCM migration doc to remove GCM but does not mentioned about keeping both.
https://developers.google.com/cloud-messaging/android/androi

[2017-09-25 23:54] niqo01 commented on #309
From Doug Stevenson (Firebase developer advocacy)
[code]

[2017-09-26 00:04] Alamgir commented on #307
@DennyWeinberg were you able to display your custom notifications in the end?

Another thing to look for is whether or not you're actually showing your notifications inside your `NotificationsHelper` class.

It may be that you are not showing your own notification, but still returning `true` at the end to indicate that you've successfully consumed the notification result. I might recommend tieing

[2017-09-26 00:13] jkasten2 commented on #309
@niqo01 We haven't seen any issues using both GCM and FCM in using both but there also shouldn't be a need to use both either.

OneSignal does still use GCM so it is required as a dependency. OneSignal provides a [`NotificationExtenderService`](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding) API that allows overriding a notificat

[2017-09-26 13:43] YuyangHYY commented on #305
YES, I want android platform like IOS, can starts an in-app WebView.

[2017-09-26 14:37] jpusp commented on #263
@Alamgir Yes, I have modifications in Drawables, strings, layouts, selectors in ever app update. I think you are right: if you are holding reference to a resource id (db, file) then you will get wrong references after resources changed, like this question on SOF:

https://stackoverflow.com/questions/6677804/android-drawable-id-change-after-resources-modify

The answer for him was to use to save th

[2017-09-26 16:24] epetre opened #311 "Silent pushes now show a blank message with icon and app name and no next [A bug reported in OneSignal/OneSignal-Cordova-SDK but was probably forgotten]"
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/220

[2017-09-26 17:34] ifucolo commented on #263
@Alamgir yes has a lot of resources changes, but what the relation with push notification?
Because the only resource that relation with oneSingal is the icon image for notification :S

[2017-09-26 17:41] jpusp commented on #263
@ifucolo I think they have their own custom views as remote views for push notification expandable view. Changes on my resources influences the generated resource ids classes for all resources, including 3rd party libraries

[2017-09-27 02:43] nickpedersen commented on #277
We're also getting this issue on a React Native app using the React Native package. I can't replicate it myself but logs from Google Play Developers Console show users experiencing a crash. Any workaround would be appreciated!

[2017-09-28 11:40] mTny opened #314 "My server crashed everytime i use onesignal in my wordpress website"
Hello, I would like to understand the main reason that make my server crash
I using onesignal with my wordpress site
After publish notification to my people my server reach 100% RAM and 100% CPU , :-O!
I using this settings:

`
Action Buttons | [{"id": "id1", "text": "Settings", "icon": "ic_menu_manage"}, {"id": "id2", "text": "Share", "icon": "ic_menu_share"}]
Additional Data | {"postid":5151,"sh

[2017-09-28 15:59] gdeglin commented on #314
Yes, your guess is probably correct. When you send a notification with a big picture, every device that receives the notification will download the picture to display it. Make sure to host pictures on a server that can handle a very large amount of traffic in a short amount of time.

Closing this for now since it's not a bug. Feel free to reach out to our support team at support@onesignal.com if y

[2017-09-28 15:59] #314 closed

[2017-09-29 02:29] SunryTeang opened #317 "Notify Notification"
i want like this
NotificationManager mNotificationManager = (NotificationManager)getSystemService(Context.NOTIFICATION_SERVICE);
            mNotificationManager.notify(0,mBuilder.build());

but i don't know onesignal function which one for this

[2017-09-29 02:51] jkasten2 commented on #317
@SunryTeang You don't need to add this code your app. The OneSignal SDK will take care of the displaying of the notification for after setting it up.
https://documentation.onesignal.com/docs/android-sdk-setup

Please provide more details if this wasn't your question.

[2017-09-29 03:10] SunryTeang commented on #317
@jkasten2 thank you

[2017-09-29 03:27] #317 closed

[2017-09-29 20:52] jkasten2 commented on #311
@epetre Thanks for the reminder. 2.2.1 of the Cordova SDK has been released to fix this issue.

[2017-09-29 20:52] #311 closed

[2017-09-29 23:53] jkasten2 commented on #174
@kistitan Update on this, Android Channels / Categories now default to private visibility.
https://documentation.onesignal.com/docs/android-notification-categories

Note, that if you set a category on your notification the channel setting will be applied even to pre-O devices.

[2017-09-30 02:58] jkasten2 opened #318 "Doubled sound when receiving a notification with a group set"
Issue happens on SDK version 3.6.2. It's most noticeable on stock Android 8.0, the default notification sound will play once through and again a 2nd time even though only one notification is visible.

The issue also happens on Android 5.0 but is less noticeable, only sometimes you will hear a 2nd overlaying sound playing.

Wasn't able to reproduce an issue on 7.1 but another developer was able to.

[2017-10-02 17:47] Alamgir commented on #277
@NikolaBorislavovHristov @hose314 @nickpedersen we're currently working on a solution which will queue up OneSignal operations if the SDK hasn't been initialized. The operations will then be enacted in order upon SDK initialization.

[2017-10-03 12:02] Keshava11 opened #319 "Push notification to devices with Google Play services."
Is One-Signal Android SDK supports sending push notification to devices without Google Play services ?
If it is possible, can you guide for the docs as current Android documentation, still suggests something else.

Thanks

[2017-10-03 17:39] Alamgir commented on #319
@Keshava11 OneSignal requires Google Play services to receive push notifications. You can refer to the setup portion of the OneSignal Android SDK documentation here: https://documentation.onesignal.com/docs/android-sdk-setup

[2017-10-04 05:38] abpvn opened #321 "App crash on Android 8.0"
Detail
[code]

[2017-10-04 05:42] jkasten2 commented on #255
Closing this issue to merge it with issue https://github.com/OneSignal/OneSignal-Android-SDK/issues/263 since this is the same crash

[2017-10-04 05:42] #255 closed

[2017-10-04 05:43] #254 closed

[2017-10-04 08:23] tahagit commented on #321
I have this problem:(

[2017-10-04 10:03] abpvn commented on #321
@tahagit I'm try to update to sdk version 3.6.3. Hope it work

[2017-10-04 10:05] tahagit commented on #321
i have version 3.6.0... change it?

[2017-10-04 10:13] abpvn commented on #321
@tahagit i see new release 3.6.3 so i try to update

[2017-10-04 10:13] tahagit commented on #321
then solved problem for you??

[2017-10-04 10:34] abpvn commented on #321
i don't know. Because i have just try it

[2017-10-04 17:51] Alamgir commented on #321
@abpvn @tahagit let us know if upgrading to 3.6.3 solves the issue, I believe we put in some fixes particularly around PersistableBundles for Android O

[2017-10-05 09:29] baole opened #325 "Excessive wakeups"
Google Play reports "experienced excessive wakeups" caused by OneSignal

![image](https://user-images.githubusercontent.com/1460168/31218887-f24999ea-a9bb-11e7-94b8-57aefcb89c45.png)
![image](https://user-images.githubusercontent.com/1460168/31220371-8612f488-a9c0-11e7-8e71-02de908cc541.png)

Why does OneSignal need so many acquire many wakelock?

[2017-10-06 09:41] Keshava11 commented on #319
@Alamgir Actually I already checked the documentation and while implementing I also found a thread where it was written that one-signal sdk now also facilitates sending push notification to devices without Google play services. That's why asked here if it is true or not.

[2017-10-06 17:11] Xy-joe opened #326 "Error:Execution failed for task ':app:transformJackWithJackForDebug'. > com.android.build.api.transform.TransformException: com.android.builder.core.JackToolchain$ToolchainException: Jack compilation exception"
i was able to compile the dependencies and sync the gradle file and was also able to  import com.onesignal.OneSignal but imediately i run my application, It crashes with these error. Note: I also added the OneSignal.startInit(this)
                    .inFocusDisplaying(OneSignal.OSInFocusDisplayOption.Notification)
                    .unsubscribeWhenNotificationsAreDisabled(true)

[2017-10-06 19:38] #326 closed

[2017-10-06 19:41] Xy-joe opened #327 "java.lang.NoSuchMethodError: com.google.android.gms.common.internal.zzaa.zzb"
i was able to compile the dependencies and sync the gradle file and was also able to import com.onesignal.OneSignal but imediately i run my application, It crashes with these error. Note: I also added the OneSignal.startInit(this)
.inFocusDisplaying(OneSignal.OSInFocusDisplayOption.Notification)
.unsubscribeWhenNotificationsAreDisabled(true)
.init();
in my application class. Space will not permit

[2017-10-06 23:24] Alamgir commented on #327
@Xy-joe can you post your gradle dependencies?

[2017-10-06 23:29] Alamgir commented on #325
@baole OneSignal conducts a "wakeup" in order to determine if any tags/state needs to be synced. This occurs every 10 mins if the app is backgrounded in order to update statistics like location. On Android 8.0 Oreo, this syncing was moved to a JobScheduler which is compliant with Google's policies regarding background processing.

[2017-10-06 23:43] Alamgir commented on #319
@Keshava11 to confirm with you, OneSignal cannot currently send push notifications to devices without Google Play services - can you perhaps link to the thread you're referring to?

The only other Android push support that we have is through ADM to FireOS (Amazon) devices.

[2017-10-07 05:01] Xy-joe commented on #327
@Alamgir  these are my dependencies
dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    androidTestCompile('com.android.support.test.espresso:espresso-core:2.2.2', {
        exclude group: 'com.android.support', module: 'support-annotations'

    })

    compile'com.android.support:appcompat-v7:26.1.0'
    compile'com.android.support:design:26.1.0'
    compile'com.android.supp

[2017-10-07 05:40] Xy-joe commented on #327
buildscript {
    repositories {
        mavenCentral()
        jcenter()
    }

    dependencies {
        classpath 'com.android.tools.build:gradle:2.3.3'
        classpath 'com.google.gms:google-services:3.0.0'
        classpath 'com.jakewharton:butterknife-gradle-plugin:8.5.1'
        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module buil

[2017-10-09 08:48] sinhpn92 opened #328 "Don't open web browser when clicked into notification"
I set `launchUrl` in notification, but it's don't open web browser when click into notification. I'm debug and see that this line in `OneSignal` class return true:

`boolean defaultOpenActionDisabled = "DISABLE".equals(OSUtils.getManifestMeta(inContext, "com.onesignal.NotificationOpened.DEFAULT"));`

So that, method `openURLFromNotification` not called.

What's wrong here? How can i fix it? Have a

[2017-10-09 09:00] baole commented on #325
Thanks @Alamgir, in our use case, we don't use (need) location and tags syncing is not critical. We also don't want our app to run in the background which consumes device's battery and bandwidth.

Is there anyway to change this behaviour? Such as app syncs tags only when app is in foreground?

[2017-10-09 10:12] baole opened #329 "java.lang.InternalError: Thread starting during runtime shutdown"
We receive few crashes from OneSignal on our production app. I could't reproduce. The full crash logs are in crashlytics.

http://crashes.to/s/3fd311076a4

[2017-10-09 23:23] Alamgir commented on #327
@Xy-joe have you tried omitting `com.google.android.gms:play-services-gcm:9.8.0` and `com.google.firebase:firebase-messaging:9.8.0` from your dependencies? OneSignal already declares GCM as a dependency and doesn't require you to declare FCM or GCM

[2017-10-09 23:30] Alamgir commented on #328
@sinhpn92 It looks like you have indicated through your manifest placeholders that you want OneSignal to handle an open event with the default behavior (open your launcher Activity) as referenced here: https://documentation.onesignal.com/docs/android-customizations#section-changing-the-open-action-of-a-notification

Remove the  `<meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" an

[2017-10-09 23:52] Alamgir commented on #325
@baole there currently is no developer-facing way to "throttle" or prevent OneSignal sync operations - we're very careful about how we schedule alarms and jobs to be battery and network efficient.

[2017-10-10 12:14] Xy-joe commented on #327
@Alamgir I've tried it  this is the error it throws back
 java.lang.IllegalAccessError: tried to access class com.google.android.gms.common.internal.zzac from class com.google.firebase.provider.FirebaseInitProvider
                                                                                     at com.google.firebase.provider.FirebaseInitProvider.zza(Unknown Source)

[2017-10-10 12:17] Xy-joe commented on #327
Now i tried commenting out the one signal dependencies but yet once i try to run my application, it still gives me the same error

apply plugin: 'com.android.application'
apply plugin: 'com.jakewharton.butterknife'

android {
    compileSdkVersion 26
    buildToolsVersion '25.0.3'
    defaultConfig {
        applicationId "com.schoolunite.xyjoe.schoolunite"
        multiDexEnabled true
        min

[2017-10-10 20:01] jkasten2 commented on #287
Another stack from issue #329

[code]

[2017-10-10 20:03] jkasten2 commented on #329
@baole Thanks for reporting, closing this issue in favor of #287 as this is the same exception.

[2017-10-10 20:03] #329 closed

[2017-10-11 01:01] Alamgir commented on #327
@Xy-joe since it looks like you're having dependency resoution issues with OneSignal ommitted, I would recommend using the gradle dependencies tool to figure out which of your libraries is causing those Firebase classes to be missing...

`./gradlew app:dependencies`
or
 `./gradlew dependencyInsight --dependency play-services-gcm --configuration compile`

you can try switching `play-services-gcm` t

[2017-10-11 06:24] 007law commented on #286
my project is using firebase and one signal together, but I was faced the problem of java.lang.NoSuchMethod as OP too.. after I keep on trying on everything, I solved my problem, below is my gradle:
`apply plugin: 'com.android.application'

android {
    compileSdkVersion 25
    buildToolsVersion "25.0.2"
    defaultConfig {
        applicationId "project.myproject.project"
        minSdkVersion 1

[2017-10-11 06:34] #321 closed

[2017-10-11 16:38] paraflu opened #330 "Blank notification"
Like #220 I've blank notification when I sent silent push but on iOS!

The rest request is this:
[code]
The ionic are settings like this:
[code]

The configuration are

[code]

and the cordova plugin are

[code]

When the app is in focus I get an empty notification with title of app and close button, but this would be hidden by the empty content and the content_avaiable set to true or 1

I've spen

[2017-10-11 18:01] paraflu commented on #330
Sorry wrong plugin

[2017-10-11 18:01] #330 closed

[2017-10-11 18:45] #325 closed

[2017-10-11 18:45] #319 closed

[2017-10-11 18:55] #318 closed

[2017-10-11 18:57] Alamgir commented on #277
This issue was fixed in release `3.6.3`

[2017-10-12 00:46] jkasten2 commented on #305
@YuyangHYY Thanks for confirming, setting this as a feature request.

As an alternative you can open your URL inside of Ionic/Cordova. Instead of setting a Launch URL you can set additional data on the notification. Then in your code setup a [handleNotificationOpened](https://documentation.onesignal.com/docs/cordova-sdk#section--handlenotificationopened-) callback were you can read the URL from pa

[2017-10-12 00:47] jkasten2 commented on #306
@bingdow Feel free to reopen this issue if you need any more details.

[2017-10-12 00:47] #306 closed

[2017-10-12 00:52] jkasten2 commented on #285
@rameshkumarkhatri `OneSignal.addSubscriptionObserver` only hangs on to a weak reference to prevent it from leaking an Android `Context` if you setup the interface on an `Activity` for example. Since you newed up an `OSSubscriptionObserver` anonymous class without keeping an reference of your own it will get garbage collected.

[2017-10-12 01:06] jkasten2 commented on #299
@shaniamjad This fix was included in [OneSignal SDK 3.6.3](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.6.3)

[2017-10-12 01:07] cbedoy commented on #286
Also I have the same issue.

[code]

[2017-10-12 01:13] jkasten2 commented on #302
@sachinGAcharya You need to remove `displayNotification` from your code above if you want your notification to be a silent background data only notification. This should prevent it from being called again for the same notification when your app is cold started as it will be counted as proceed then.

[2017-10-12 01:27] YuyangHYY commented on #305
@jkasten2 I am using this code by [https://documentation.onesignal.com/docs/ionic-sdk-setup](url)
This one can open in-app view in IOS device but can not open in-app view in android devices, so I have to change this code to **handleNotificationOpened** then should in-app view function can show in both IOS and android? And I am using ionic3 is it can use **handleNotificationOpened** ?
var notificat

[2017-10-12 01:41] jkasten2 commented on #305
@YuyangHYY You will need to make two different changes to open URL in your app instead for both iOS and Android in the same way.

1. Omit sending Launch URL and instead set your own key with the URL on Additional Data. This is under Options on the OneSignal dashboard below the Launch URL field. If you are using the REST API this is the `data` field.
2. Add code to your `notificationOpenedCallback

[2017-10-12 01:43] jkasten2 commented on #283
@DimaKoz 3.6.3 has been released with the `SharedPreferences` changes. If you continue to see this after this update please open an new issue as OP is about an ANR on location instead.

Thanks.

[2017-10-12 01:43] #283 closed

[2017-10-12 02:07] jkasten2 commented on #268
@mitonline Do you have a web view that is starting with your app? I see `webview` on the main thread.

@baole @anilmercan Can you attach a full ANR log like above?

[2017-10-12 02:24] jkasten2 commented on #267
@mitonline I don't see any wait locks on the main thread in this ANR. It's possible something else may have been taken while before it got to this OneSignal stack trace. Do you have any other task traces you can attach here?

Is this ANR from the same app as the #268 ticket you opened?

Lastly I recommend updating to our 3.6.3 SDK as some underlying changes have been made that may have fixed this

[2017-10-12 02:30] jkasten2 commented on #259
@Cykuls Closing due to inactivity. Please feel free to reopen if you are still having the issue and can provide more details.

[2017-10-12 02:30] #259 closed

[2017-10-12 02:33] jkasten2 commented on #258
@ominfowave Can you let us know how many occurrences of this crash you are seeing in your app?

Could you provide a link to Crashlytics page? We can look into all threads that are running with your app.

[2017-10-12 03:03] ominfowave commented on #258
Here is report http://crashes.to/s/b82f8ea1f4e

[2017-10-12 03:07] ominfowave commented on #280
@jkasten2  now issue is increased with more number of users please see this http://crashes.to/s/9c056a969fb

[2017-10-12 03:26] cbedoy commented on #327
I had the same issue, but I fixed following the next steps:
[code]

You should use the last **buildToolsVersion** cuz OneSignal is using, also **compileSdkVersion** should be **26**  and **targetSdkVersion**

They're using the last support library to **supportLibVersion = "26.1.0"**

And force override google-play-services.

It's very frustrating and basically I did a frankestein of research conte

[2017-10-12 03:28] cbedoy commented on #286
I found the solution, think I did a frankestein and it works! At least for me, if you want can see my last comment over this https://github.com/OneSignal/OneSignal-Android-SDK/issues/327

No more runtime crash

[2017-10-12 07:14] dixit712 commented on #263
We are having the same issue. Anyone on it?

[2017-10-12 13:17] DimaKoz commented on #263
When are you planning to public 3.6.4 release?

[2017-10-12 18:40] rameshkumarkhatri commented on #285
@jkasten2  Got it. Weak reference is garbage collected. Thanks for your reply. :)

[2017-10-13 06:37] YuyangHYY commented on #305
Did you mean like this?
[code]

And what's that mean "yourKeyName"?

And one more question:
![2017-10-13 14 31 56](https://user-images.githubusercontent.com/19391002/31533200-d1b34834-b023-11e7-9c03-b72c55230836.png)

Before I just copy my 'url' in Launch URL, I never put anything in 'key' and 'value' which in ADDITIONAL DATA. So I have to input something in  'key' and 'value' right? What should I

[2017-10-13 11:36] krishna2122 opened #331 "OneSignal SyncService throwing ANR to multiple users in play store ."
One signal is throwing  ANR  to multiple users in play store .
is there any way  to solve this issue.

[code]

[2017-10-14 04:29] jkasten2 commented on #331
@krishna2122 Can you confirm you have the latest 3.6.3 SDK in your app?

It also seems parts of the log got cut off. Can you edit your question above and re-past the log?

[2017-10-14 10:10] Reza-Soltani opened #332 "Android 8 compatibility with NotificationExtenderService when targeting API Level 26"
My app works right when my target is 25 or less, and I am getting push notifications.
But when I changed target sdk to 26 and testing my app on API 26 image with google play in emulator, when my app is in background and it receives a new push notifications, my app will crash.
Do you know what’s the problem?

[code]

[2017-10-15 16:56] mginz83 commented on #281
I am saming the same issue. Here is my project gradle
[code]

Here is my app gradle
[code]

[2017-10-15 17:43] mginz83 opened #333 "The user turn on/off notification segments in settings"
I am going to be introducing a way for the user to decide which segments they want to be on.

Right now, my app will get the users one signal ID and store it in my database (mongodb). I am going to be developing a settings page in the app where the user can decide if they want to receive notifications from different segments. However, how can the user decide that? I see in the dashboard I have a w

[2017-10-16 02:57] jkasten2 commented on #333
@mginz83 We recommend that you call [`OneSignal.sendTags`](https://documentation.onesignal.com/docs/android-native-sdk#section--sendtags-) in your app's code to add tags. Then create Segments with filters checking the keys and values you set up in your code.

See OneSignal's [Add Data Tags](https://documentation.onesignal.com/docs/add-user-data-tags) and [Using Data Tags](https://documentation.one

[2017-10-16 03:04] jkasten2 commented on #332
@Reza-Soltani From the strack trace it looks you are using the OneSignal SDK version 3.5.3 or older. Can you update to the latest 3.6.3 version? We recommend using the following in your `build.gradle` to make sure you stay up to date.
[code]

[2017-10-16 07:40] Reza-Soltani commented on #332
You were right, I was using 3.5.1 version.
But when I upgraded my version to 3.6.3, then no notification will be showed. without any error.

**3.6.3:**
**Case that app is in background:** Nothing happened, onNotificationProcessing of MyNotificationExtenderService didn't called.
**Case that app is in foreground:** MyNotificationExtenderService will be called, then I will call displayNotification, b

[2017-10-16 09:00] Reza-Soltani commented on #332
I fixed the foreground situation and now it work correctly.
But I still have problem with background case.

Only related log in logcat
10-16 12:27:54.242 1529-1584/? W/ActivityManager: Background start not allowed: service Intent { act=com.onesignal.NotificationExtender flg=0x4 pkg=ir.divar (has extras) } to ir.divar/.notification.DivarNotificationExtender from pid=-1 uid=10083 pkg=ir.divar

[2017-10-16 15:34] mginz83 commented on #333
How is that done in ParseCloud code?

[2017-10-17 06:38] krishna2122 commented on #331
Thanks @jkasten2  I was using 3.5.3 , I have just  upgraded to 3.6.3 .

[2017-10-17 06:42] krishna2122 commented on #331
This is the full stack trace I received in console .
---------------------------------------------------

"main" tid=1 TimedWaiting
"main" prio=5 tid=1 TimedWaiting
  | group="main" sCount=1 dsCount=0 obj=0x76014078 self=0x7fb06c7a00
  | sysTid=19932 nice=0 cgrp=bg_non_interactive sched=0/0 handle=0x7fb4e31a98
  | state=S schedstat=( 329909799 49653019 867 ) utm=21 stm=11 core=5 HZ=100
  | stack=0

[2017-10-17 06:44] krishna2122 commented on #331
This is the full log I received from console .
------------------------------------------------

"main" tid=1 TimedWaiting
"main" prio=5 tid=1 TimedWaiting
  | group="main" sCount=1 dsCount=0 obj=0x76014078 self=0x7fb06c7a00
  | sysTid=19932 nice=0 cgrp=bg_non_interactive sched=0/0 handle=0x7fb4e31a98
  | state=S schedstat=( 329909799 49653019 867 ) utm=21 stm=11 core=5 HZ=100
  | stack=0x7fcf0830

[2017-10-17 06:45] krishna2122 commented on #331
[
![image](https://user-images.githubusercontent.com/13380724/31650409-d2d05324-b334-11e7-9a76-646354c825bc.png)
](url)

[2017-10-17 17:51] mywaystar commented on #332
The NotificationExtender is using IntentService which is deprecated starting Android O in favor on JobIntentService

I'll create a fork today.

[2017-10-17 20:58] Alamgir commented on #263
@DimaKoz 3.6.4 should be available shortly

[2017-10-18 04:55] aakhani opened #336 "User Id not changed after uninstall and reinstall"
Hi,

   Hi,
User ID not changed after Uninstall and Reinstall on Android. What should I do to make it change?

Thank you.

[2017-10-18 13:34] Xy-joe commented on #327
@cbedoy I've been offline for a while. I just got back. Thanks a lot for the solution you gave. It worked smoothly for me. I was almost looking for an alternative to OneSignal

[2017-10-18 13:34] #327 closed

[2017-10-19 01:15] jkasten2 commented on #336
@aakhani The OneSignal tries to keep the user / player id the same through reinstalls on the same device. If you have a login system in your app and have tag(s) associated with that you may want to call `deleteTags` with a list of your tags so they don't carry over.

[2017-10-19 01:22] jkasten2 commented on #333
@mginz83 Is this settings page displayed to the user in your app or on your website? If it is in your app you can use [`OneSignal.sendTags`](https://documentation.onesignal.com/docs/android-native-sdk#section--sendtags-). If this is a page on your site you can call the [Edit device](https://documentation.onesignal.com/reference#edit-device) endpoint.

Note that you have the same settings in your a

[2017-10-19 01:36] jkasten2 commented on #305
@YuyangHYY Your code should be something like this.

[code]

On the OneSignal dashboard leave "Launch URL" blank. Enter `openURL` as the Key under Additional data and your full URL under Value.

[2017-10-19 01:40] jkasten2 commented on #277
The 3.6.4 SDK is now released. Feel free to reopen this issue with an updated stack trace attached if the upgrade does not resolve the issue.

[2017-10-19 01:40] #277 closed

[2017-10-19 01:43] jkasten2 commented on #263
The 3.6.4 SDK as been released. Let us know if this solves the occurrences when you send out the next update to your app. If not, please attach the updated crash report / stack traces.

[2017-10-19 01:44] jkasten2 commented on #248
@swratten Closing due to inactivity, feel free to reply with more details if you are still seeing this issue.

[2017-10-19 01:44] #248 closed

[2017-10-19 05:00] YuyangHYY commented on #305
Problem solved. Can close issues already.
Thanks you very much!!!

[2017-10-19 05:54] pencilcheck commented on #286
This works for me
[code]

[2017-10-19 07:25] DimaKoz commented on #263
I see the same exceptions:
[code]

[2017-10-19 08:34] chalup commented on #263
I reported the issue to Google: https://issuetracker.google.com/issues/67397632. They requested additional info, alas, I can't provide it, because I failed to reproduce this issue on my own device, I just see crash reports from users :(

[2017-10-19 11:50] jkasten2 commented on #303
@consp1racy Defaulting to the oldest possible dependencies that a plugin can support I don't believe is the best strategy either. Google makes regular updates to Android Support Library and Google Play services that includes bugs fixes the app could be missing out on. Now since these two dependencies are used so many other libraries out there and directly by the app the chances are low that OneSig

[2017-10-19 11:59] jkasten2 commented on #286
We just released a beta Gradle plugin that will align versions of dependencies which should resolve the errors noted on this thread automatically.
https://github.com/OneSignal/OneSignal-Gradle-Plugin

If this resolves your issues please attach your original error and `build.gradle` so we know which libraries and versions this helps solve.

If the plugin does not solve your issue please open a new

[2017-10-19 12:01] jkasten2 commented on #285
Feel free to reopen this issue if the changing your referencing doesn't fix it.

[2017-10-19 12:01] #285 closed

[2017-10-19 18:05] drewster99 opened #337 "Android 8.0 crash"
Seeing these on Android 8 devices, such as Pixel:

`oday, 9:37 AM on app version 313
Google Pixel (sailfish), 4096MB RAM, Android 8.0
Report 1

java.lang.RuntimeException:
  at android.app.ActivityThread.handleReceiver (ActivityThread.java:3259)
  at android.app.ActivityThread.-wrap17 (Unknown Source)
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1677)
  at android.os.Handle

[2017-10-19 18:53] jkasten2 commented on #332
Unfortunately using a `JobIntentService` would require app projects to be upgraded to `compileSdkVersion 26` which will won't be possible for everyone to upgrade to yet. We are researching strategies on resolving this and will update this issue when we have more details.

[2017-10-19 19:05] Alamgir commented on #280
@ominfowave since it appears that this issue is linked to a single user, can you confirm if that user has google play services installed/updated?

[2017-10-19 20:12] Alamgir commented on #280
@ominfowave can you post your manifest declaration of your subclass of NotificationExtenderService?

[2017-10-19 21:11] Alamgir commented on #337
@drewster99 thanks for letting us know about this issue - we're currently looking at upgrading the SDK at various points to be O-compatible, including the move away from WakefulBroadcastReceiver

[2017-10-19 21:18] Alamgir commented on #337
@drewster99 what version of the SDK are you using?

[2017-10-19 22:52] drewster99 commented on #337
Hmm.. good question.. is there an easy way to check?

Sent from my iPhone

On Oct 19, 2017, at 4:18 PM, Alamgir Mand <notifications@github.com> wrote:

@drewster99 what version of the SDK are you using?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-20 04:09] jkasten2 commented on #337
@drewster99 You can check the version you have in you `build.gradle`. You can also check on the All Users page on the OneSignal dashboard to check the exact version in production. You will have to enable "SDK Version" from the "VISIBLE COLUMN LIST" to see it though.

[2017-10-20 09:52] rostopira opened #339 "Feature Request: ability to manually change count on badge"
My app has a lot of different notifications, but I want to show badge only for chat notifications.
Would be perfect to have methods `OneSignal.increaseBadgeCount()` and `OneSignal.resetBadgeCount()`

[2017-10-20 10:48] drewster99 commented on #337
I've got a Unity plug-in version of some sort.  The build.gradle isn't helpful as I'm just including onesignal-unity.aar.

[2017-10-20 11:35] drewster99 commented on #337
Ahh thanks for that!  -- The dashboard shows "020602"..  I assume that's 2.6.2?  I assume you're going to recommend I try updating.  I'm using the Unity plug-in -- what's the best way of updating it without completely trashing my config?

Also, I know I saw a few other issues here where people had mentioned Oreo/Android 8.  Is the latest version the best to update to?  Or is there some older "stab

[2017-10-20 22:33] jkasten2 commented on #337
@drewster99 If you are still targeting Android 7. 1 (API Level 25) or older then this shouldn't be an issue.

Unless the user opens Settings > Apps > App Info. The selects Battery > "Background activity" and disable this. I believe this would be done rarely by users but you might see a few crash reports from it. More details below:
http://www.androidpolice.com/2017/08/22/android-oreo-feature-spotl

[2017-10-21 11:15] Axladrian opened #341 "transformClassesWithDexForRelease"
Having an issue with oneSignal when building my apk for release. Getting the following error:
[code]
In build.gradle I have:
[code]
and
```    compile 'com.onesignal:OneSignal:3.6.4'```

If I remove all references to OneSignal, the APK compiles with no problem. Multidex is enabled.

[2017-10-21 11:38] jkasten2 commented on #341
@Axladrian Can you make sure you have copied the full error? It should provide more details.

Can you copy in your full `build.gradle` as well?

Lastly what version of Android Studio are you using?

Thanks.

[2017-10-21 12:13] Axladrian commented on #341
Getting this error on Android Studio 2 (2.3.3) and 3 (RC2 + Beta 7).
Tried to clean, rebuild, invalidate cache, restart AS, restart mac. Getting it 100% of the time.

Unfortunately, that was the full error. Ran the gradle process now maybe I'm gonna get more info with the --stacktrace option.

Until it finishes, my build.gradle:

[code]

[code]

[2017-10-21 15:55] Axladrian commented on #341
Full stacktrace for transformClassesWithDexForProductionRelease
[code]

[2017-10-21 17:33] Axladrian commented on #341
Hmmm, it seems that if I add transitive as false it's ok. Could be a mismatch between googleServices 11.4.2 and 11.2.2 used by OneSignal?

[code]

[2017-10-22 09:14] kirill578 commented on #263
I'm having the same issue, however I don't use the OneSignal SDK. The app has a persistent notification that allows user input, and actions (that recreated the notification). Any of you have something in common? I was unable to reproduce it even once, I try to pinpoint the origin of this issue

[2017-10-22 11:04] jkasten2 commented on #341
@Axladrian Ah yes you are correct. OneSignal 3.6.4 includes a dependency on `com.google.android.gms:play-services-gcm:11.2.+` however the other `com.google.android.gms` libraries in your project are using 11.4.0.

The `transitive = false;` will fix your build errors however you will get runtime errors which will cause OneSignal not to work as `play-services-gcm` is no longer being included in your

[2017-10-22 12:35] DimaKoz commented on #263
I posted the issue on [SO](https://stackoverflow.com/q/46873429/3166697)

[2017-10-22 13:39] Axladrian commented on #341
That was the whole error stack unfortunately.

Yea, you're right. I thought that with `transitive = false` it will just use my version instead. Thanks for clearing that up 👍 indeed notifications wouldn't have worked.

Tried the plugin, working very well, could generate the apk and had no problem with notifications.

[2017-10-22 19:35] #341 closed

[2017-10-23 02:51] ominfowave commented on #280
<service
            android:name=".modules.oneSignal.NotificationExtenderBareBones"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

[2017-10-23 12:27] runningcode opened #342 "ActivityLifecycleHandler#curActivity leaks Android Activities"
ActivityLifecycleHandler#curActivity keeps static references to android activities.
This should probably be a WeakReference in order to avoid memory leaks.

This also breaks instant run for any consumers of OneSignal.

Could be related to #258

Here is this same error in lint:
<img width="834" alt="screen shot 2017-10-23 at 14 27 14" src="https://user-images.githubusercontent.com/332597/31888957-4

[2017-10-23 16:15] MahariAndroid opened #343 "OneSignal-Android-SDK Disable and enable vibrate problem"
There is  a  bug on the loading   of vibrate value  from  preferences,see the function "getVibrate()"  in the line 1640 from OneSignal.java  file

static boolean getVibrate(Context context) {
      return OneSignalPrefs.getBool(OneSignalPrefs.PREFS_ONESIGNAL,
              OneSignalPrefs.PREFS_GT_SOUND_ENABLED,true)

It must be OneSignalPrefs.PREFS_GT_VIBRATE_ENABLED  instead of  OneSignalPrefs.PR

[2017-10-23 18:05] Alamgir commented on #343
@MahariAndroid thanks for pointing this out, it will get fixed in the next release!

[2017-10-23 19:10] #343 closed

[2017-10-23 21:24] Alamgir commented on #280
@ominfowave your manifest declaration of the extender looks fine. Can you post your app's gradle build file? This could be an issue with the version of play services that you're using...

also, can you verify that your defaultConfig's `applicationId` is correctly configured?

[2017-10-24 03:38] ominfowave commented on #280
here is dependencies that i have added in app gradle file
`compile 'com.google.android.gms:play-services-ads:11.2.2'
    compile 'com.google.android.gms:play-services-location:11.2.2'
    compile 'com.google.android.gms:play-services-gcm:11.2.2'
    compile 'com.google.firebase:firebase-appindexing:11.2.2'
    compile 'com.google.firebase:firebase-core:11.2.2'
  compile 'com.onesignal:OneSignal:[3

[2017-10-24 11:01] bingdow opened #345 "OSSubscriptionObserver is not fired"
According to the log, I found OSSubscriptionObserver is not 100% fired every time. No matter I set it as a variable or makes my Application class implement it. Any way to resolve it?

[code]

[2017-10-24 16:02] josuer commented on #263
Hello,
I'm Using 3.6.4 and I'm still having the same but in big quantities,

![image](https://user-images.githubusercontent.com/1534896/31954116-f3d3bcc4-b8a1-11e7-9105-2b39deecf451.png)

`
Fatal Exception: android.app.RemoteServiceExceptionBad notification posted from package com.roupologia.android.tizkka: Couldn't expand RemoteViews for: StatusBarNotification(pkg=com.roupologia.android.tizkka us

[2017-10-24 16:11] ivory972 opened #346 "Android O : Notification not display target 26, after enabling a NotificationExtenderService"
Hi,

When I receive a notification on an Android 8 version, I got this error in the log :
[code]

- I extend "NotificationExtenderService" in order to display my own notification so I return "true" for the "onNotificationProcessing()" method.
[code]
 - createNotification() : create and display the notification.

When the issue happened :
- The app is in the background,
- I received the notificatio

[2017-10-24 18:15] Alamgir commented on #345
@bingdow what version of the OneSignal SDK are you using?

[2017-10-24 18:26] Alamgir commented on #280
@ominfowave can you make sure you're using the latest 3.6.4 version of OneSignal - we introduced fixes for Android O with regards to background processing

[2017-10-24 20:12] Alamgir commented on #346
@ivory972 in the current version of OneSignal, background processing of the NotificationExtenderService is not available for Android-O as it currently doesn't use a JobScheduler to fire the extender.

This should be present in the next release as we have a fix ready to go.

[2017-10-25 03:45] bingdow commented on #345
@Alamgir NVM I've read the document. The `onOSSubscriptionChanged` would be only triggered when the state changes so I change to use `idsAvailable` to retrieve userId(playerId) now.

[2017-10-25 03:45] #345 closed

[2017-10-25 07:47] albedinsky opened #347 "Cannot assemble project with latest (11.4.2) Google Play Services and ProGuard enabled."
## Build configuration ##

- `compileSdkVersion:` **26**
- `minSdkVersion:` **15**
- `targetSdkVersion:` **26**
- `buildToolsVersion:` **26.0.2**

## Dependencies ##

- `com.google.android.gms:play-services...:` **11.4.2**
- `com.onesignal:OneSignal:` **3.6.4**

## Build stacktrace ##

[code]

## Observation ##

With _Google Play Services_ library in version **11.2.2** the build _assembles_ **succ

[2017-10-25 09:58] jkasten2 commented on #347
@albedinsky Thanks for the details. The issue is due a mixture of different versions of modules under the `com.google.android.gms` group that you may have missed

[`com.onesignal:OneSignal:3.6.4`](https://search.maven.org/#artifactdetails%7Ccom.onesignal%7COneSignal%7C3.6.4%7Caar) defines the following `com.google.android.gms` dependencies.
[code]

If you're forcing an of `gms` to `11.4.2` make su

[2017-10-25 14:41] runningcode opened #348 "RegistrationId can be null, it should be marked as `@Nullable` in the API."
[code]
The registrationId can be null when the callback is fired.

For example, in `OneSignal#internalFireIdsAvailableCallback()`:

[code]

[2017-10-26 10:47] albedinsky commented on #347
Hi @jkasten2, thank you for the reply.

I successfully integrated the **plugin** into my project and now the project may be **successfully assembled** with _Google Play Services_ dependency in version **11.4.2** so I guess that the plugin is auto-resolving the dependencies just fine.

Thank you very much for your help.

[2017-10-26 10:47] #347 closed

[2017-10-28 20:53] g123k opened #351 "Scheduled service does not require BIND_JOB_SERVICE permission"
Hello,

I have just upgraded my app with the latest version of the OneSignal SDK (3.6.5).
I was pretty excited for the better support of Android Oreo... but it does not seem to work as expected.

In my app, I have a service extending NotificationExtenderService to implement my custom logic for each notification.
In the AndroidManifest.xml, it is declared as followed:

[code]

However my app crashe

[2017-10-29 08:06] kafabih4raka opened #352 "Notification not showing when targeted SDK for 27 version"
Hello, I have used OneSignal SDK that using targeted version to 27, I have tested to send notification using OneSignal dashboard, but on my logcat that looked like this :
[code]

[2017-10-29 08:12] tribitinfotech commented on #199
You need to set New Task flag in your intent before start activity call.

resultIntent.setFlags(Intent.FLAG_ACTIVITY_NEW_TASK | Intent.FLAG_ACTIVITY_CLEAR_TASK);

[2017-10-29 11:29] Martin29DE opened #353 "OneSignal and Multidex"
Hello,

i have a WebRadio App Buy who is insert MultiDex.
We can i make it, thats the onesignal as Application loaded?

it seems to look like the signal is not loaded at all.
There is no entry in the logcat

Maybe someone can help me here

thx and i nice Sunday ;)

Manifest:

<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co

[2017-10-29 12:01] rifkyfu32 opened #354 "Cannot import OneSignal 3.6.5 on android studio 3.0"
Error:Could not find OneSignal.aar (com.onesignal:OneSignal:3.6.5).
Searched in the following locations:
    https://jcenter.bintray.com/com/onesignal/OneSignal/3.6.5/OneSignal-3.6.5.aar

[2017-10-30 05:57] vedpawar commented on #351
I am also getting same problem after updating my app to version 3.6.5 and error occur only in android OS 8.0.0
`
Fatal Exception: java.lang.RuntimeException: Unable to start receiver com.onesignal.GcmBroadcastReceiver: java.lang.IllegalArgumentException: Scheduled service ComponentInfo{com.ved.ca/com.ved.MyNotificationExtenderService} does not require android.permission.BIND_JOB_SERVICE permission

[2017-10-30 14:45] #353 closed

[2017-10-30 14:49] Yogi1994 opened #355 "NotificationExtenderService not working"
[code]

Last week it was working nicely but today it is failing.

[2017-10-30 15:40] iForests opened #356 "The link of auto-tracking of notification events through Firebase Analytics is broken"
The link in the release note of 3.6.5 is broken.

[2017-10-30 18:37] jkasten2 commented on #356
@iForests We are still working out the finial details on this. We will provide more details soon.

[2017-10-30 18:37] #356 closed

[2017-10-30 19:07] agustinsivoplas commented on #351
Same issue here. Adding android.permission.BIND_JOB_SERVICE works for me

        <service
            android:name=".services.YourCoolNotificationExtenderService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-fil

[2017-10-30 19:26] jkasten2 commented on #351
@agustinsivoplas Thanks, you are correct. This requirement was added in 3.6.5 as older versions of the OneSignal SDK could not start the app's `NotificationExtender` when the app was in the background.

I have updated the OneSignal [Background Data and Notification Overriding](https://documentation.onesignal.com/docs/android-customizations) instructions to include this.

[2017-10-30 19:34] jkasten2 commented on #354
@rifkyfu32 Can you try following the guide below?
https://documentation.onesignal.com/docs/troubleshooting-android#section-failed-to-resolve-com-onesignal-onesignal-3-6-0-3-99-99-

Attach both your root `build.gradle` and your `app/build.gradle` if you are still seeing an issue.

[2017-10-30 19:36] jkasten2 commented on #355
@Yogi1994 Are you using the latest 3.6.5 Android SDK? Can you try a clean build of your project?

Please attach you `NotificationExtenderOneSignal` class and we can take a look if the above does not help.

[2017-10-30 19:41] Yogi1994 commented on #355
@jkasten2 I think not the latest SDK. ( I mean I have not updated it in last 2 months )
Yes, I tried clean build, restart but nothing helped.
I even tried commenting everything from the NotificationExtenderOneSignal and left with the basic empty example given in the docs. given as follows:
[code]

[2017-10-30 20:13] jkasten2 commented on #355
@Yogi1994 Thanks for the details, can you also attach your root `build.gradle` and your app's `app/build.gradle` files?

[2017-10-30 20:34] Yogi1994 commented on #355
Oh I updated the OneSignal SDK when I get to know that the app is crashing on receiving OneSignal notification.

[code]

[code]

I don't think there is any problem in gradle files  though. :/

[2017-10-30 20:35] jkasten2 commented on #352
@kafabih4raka Thanks for details. We have identified an issue with our SDK being able to access `NotificationCompat.Builder.mNotification` due to the Android Support Library revision 27 restricting access to package-private now.

Your log above seems to be unrelated to this though. Are you using Proguard on your app? If so do you have custom rules defined? Could you share your `app/build.gradle`?

[2017-10-30 20:41] jkasten2 commented on #346
@ivory972 This fix is now released in the 3.6.5 update. Please see the [release notes](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.6.5) for the required changes.

[2017-10-30 20:42] jkasten2 commented on #332
This is now fixed in release 3.6.5. Please see the [release notes](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.6.5) for the required changes.

[2017-10-30 20:42] #332 closed

[2017-10-31 00:14] n1te1337 commented on #337
@jkasten2 I'm targeting `22` and I'm running `3.6.5` and the app crashes on my pixel with the same error.

Happy to provide additional info if needed

[2017-10-31 00:16] jkasten2 commented on #337
@n1te1337 Can you provide a full stack trace from the logcat from the crash? The same flow should not be happening on the 3.5.6 SDK.

[2017-10-31 00:19] n1te1337 commented on #337
@jkasten2 on a second thought the stack track is slightly different:
[code]

[2017-10-31 00:25] jkasten2 commented on #337
@n1te1337 It could be related to issue #351. Can you try adding `android:permission="android.permission.BIND_JOB_SERVICE"` to your `NotificationExtender` in your `AndroidManifest.xml`?

[2017-10-31 00:30] n1te1337 commented on #337
@jkasten2 just added it. Is there a known way to trigger the error, or should it just crash on every notification?

[2017-10-31 00:36] jkasten2 commented on #337
@n1te1337 Not sure what the root cause of the issue is. It's crashing from a Java class built into Android it self `IJobScheduler.java` and isn't providing any specific details. If it was related to `android.permission.BIND_JOB_SERVICE` it should crash every time if you are missing it.

Since you are targeting `22` it is possible that the crash stack would be different then when targeting `26`.

W

[2017-10-31 00:42] n1te1337 commented on #337
Nope, wasn't able to reproduce it, it would just crash intermittently so I assumed that it was caused by something in my code until I saw this _issue_. I've uploaded the new version to the Pixel, in the past it would crash every 1-2 hours so I'll update here a bit later with the results.

Thanks for your help.

[2017-10-31 03:45] kafabih4raka commented on #352
I am sorry, I using proguard for release, but I have set debugable true, shrink false and minify false now,
here more details

android W/dalvikvm: VFY: unable to resolve virtual method 1084: Landroid/content/Context;.startForegroundService (Landroid/content/Intent;)Landroid/content/ComponentName;
android I/dalvikvm: Could not find method android.app.NotificationManager.getActiveNotifications, refe

[2017-10-31 07:02] umair6 commented on #331
Do we have any update here? I am also facing OneSignal SyncService related ANRs in all my apps.

[2017-11-01 04:57] n1te1337 commented on #337
@jkasten2 no crashes in 24 hrs so it looks like adding `android.permission.BIND_JOB_SERVICE` fixes the issue. Thanks

[2017-11-01 09:49] yasharpm commented on #302
I have faced the same issue. I am handling the received push in background by returning `true` in the extender method. And I don't create any notifications on my own or by calling `displayNotification`.

But on every launch of my app - probably `Application.onCreate()` - the extender service method `onNotificationProcessing` gets called for the notification I received 24 hours ago. We have not tri

[2017-11-01 10:22] yasharpm commented on #302
I changed my OneSignal gradle version to '3.6.2' and it seems that the problem does not exist on this version.

[2017-11-01 16:19] StevenStarz opened #357 "Error:Cannot change strategy of configuration ':app:sandboxWearApp' after it has been resolved."
Step to reproduce the bug:
once i include

`plugins {
    id 'com.onesignal.androidsdk.onesignal-gradle-plugin' version '0.7.0'
}
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'`

before that i have got a error that `Error:Could not find com.android.support.constraint:constraint-layout:1.0.0-alpha7,` and apparently i don't use that plugins, so i remove it and run into this problem

[2017-11-01 23:10] jkasten2 commented on #302
@yasharpm Thanks for the details, what version were you on before reverting to `3.6.2`?

[2017-11-01 23:12] jkasten2 commented on #357
@StevenStarz Can you open a [new issue on the OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/new) and fill out all the information in the template? This will give us the details we need to reproduce the issue.

Thanks.

[2017-11-01 23:12] #357 closed

[2017-11-02 05:55] yasharpm commented on #302
@jkasten2 The version was set as instructed in the documentation `[3.6.2-3.99.99]`. So I suppose it should at least exist on the latest version.

If you need further details I am willing to put time to help.

[2017-11-03 00:02] jkasten2 commented on #302
Thanks, we will test this out and get back to you.

[2017-11-03 07:02] salihyalcin opened #358 "Setup for latest release is not clear"
Hello Guys! First of all many thanks for creating this amazing library.

I would like to say that setup for latest release of One Signal Android is not clear. I didnt understand where to put gradle informations given below.

[code]

I dont know where to put it

[2017-11-03 07:19] Yogi1994 commented on #355
Hello @jkasten2 I have changed gradle file as per the latest documentation but now I think I am getting some error due to gradle used in OneSignal.
``` Cannot change strategy configuration ':app: FLAVOUR_VARIENT_WearApp' after it has been resolved```
can anyone tell help me out here.

[2017-11-03 07:29] #358 closed

[2017-11-05 11:44] jaspreet-android commented on #263
I see it on 4.4.2 as well
http://crashes.to/s/bdfac9826ca
Fatal Exception: android.app.RemoteServiceException: Bad notification posted from package unioapp.com.unio: Couldn't expand RemoteViews for: StatusBarNotification(pkg=unioapp.com.unio user=UserHandle{0} id=18 tag=null score=0: Notification(pri=0 contentView=unioapp.com.unio/0x1090064 vibrate=[1000,1000,1000,1000,1000] sound=content://settin

[2017-11-06 05:41] kafabih4raka opened #359 "Error : Could not find class 'com.onesignal.GcmIntentJobService', referenced from method com.onesignal.GcmBroadcastReceiver.startGCMService"
Hello, I have an issue the broadcast receiver not started
here is the logcat
[code]

This is my gradle
[code]

[2017-11-06 12:54] rifkyfu32 commented on #354
Forgive me, yesterday i got that problem, but somehow now gradle already resolve...

[2017-11-06 22:16] jkasten2 commented on #354
@rifkyfu32 It could have been an issue with Android Studio using the gradle cache on your system or a networking error on your system trying to search for the OneSignal library.

Feel free to reopen if you are still seeing an issue.

[2017-11-06 22:16] #354 closed

[2017-11-07 04:41] android-kaizen opened #360 "Android Oreo "invalid_player_ids""
Seeing this on Android Oreo targeted Devices such as Pixel

Every time a Notifications is sent I get an error like this:
"errors":{"invalid_player_ids":["64adfb6b-56b6-xxxx-xxxx-bacfc9c94c90"]}

Despite the player ID being correct of course.

This happens despite having created a Category and using the Category ID (channel ID) required for Oreo:
final String CHANNEL_ID_PARAM = "android_channel_id"

[2017-11-07 17:22] NalyLas opened #361 "Problem with OneSignal android SDK"
When I add the  `compile 'com.onesignal:OneSignal:[3.6.5, 3.99.99]'` line I always have the same error
[code]

I try all the issues's solutions you send but no working for me.
This is my build.graddle
[code]

[2017-11-08 10:37] umair6 opened #362 "ANR in com.onesignal.SyncService [GLSurfaceView.surfaceDestroyed]"
I am getting following ANR on my google play store dashboard.
Platform: Android
OneSignalSDK version: 3.6.4

[code]

[2017-11-08 12:16] BobyIlea commented on #263
@jkasten2 We also experience this crash on Google Play dashboard, though we weren't able to reproduce it on our side. For us, it seems that it mostly happens on 7.x devices, although there is a small percentage of crashes happening on 6.0 also. I'll attach a screenshot of the crash logs. Please let us know is this issue is being handled or if you need any other information from us(we will post upd

[2017-11-11 10:13] dilah commented on #263
@jkasten2 I confirm, we get the same kind of error, mostly in 7. devices. Is there a plan for a fix soon?

[2017-11-11 11:17] mayurwish commented on #352
Is this issued been fixed? We had downgraded our Support library to 26.0.2 following this issue.
Waiting for this issue to be solved

[2017-11-11 15:56] kafabih4raka commented on #352
Same for me, I do downgrade the Build Tools to 26.0.0 and targeted SDK version to 25

[2017-11-11 16:15] kafabih4raka opened #363 "DexOpt: access denied from Lcom/onesignal/GenerateNotification;"
Hello, I have found another bug here, can you explain why? as is shown on my logcat down here

dalvikvm: DexOpt: access denied from Lcom/onesignal/GenerateNotification; to field Landroid/support/v4/app/NotificationCompat$Builder;.mNotification

I use the android:permission="android.permission.BIND_JOB_SERVICE" like you said in the changelogs, but it didn't work.

[2017-11-13 06:10] Prabha10cs opened #364 "how to solve android.app.RemoteServiceException android.app.ActivityThread$H.handleMessage"
![32548727-5cee1dd2-c48f-11e7-91f7-36e4541b38bd](https://user-images.githubusercontent.com/29330867/32711904-740ea78a-c867-11e7-8eec-cb107db61e1e.png)

[2017-11-13 19:20] jkasten2 commented on #263
@dilah We added a delay to when notifications are restored after the app is updated in the 3.6.4 version of our SDK. This did not seem to fix the issue so we need to investigate further on reproducing and finding the root cause of this issue.

[2017-11-13 19:43] jkasten2 commented on #364
@Prabha10cs Are you able to reproduce this crash on your test devices? I don't see OneSignal in the stack trace above, is OneSignal mentioned somewhere else in your crash report?

[2017-11-13 20:00] jkasten2 commented on #363
@kafabih4raka This is due to an incompatibility with the OneSignal SDK and the Android Support library revision 27+. Until the OneSignal SDK is updated you will need to continue using 26.X instead.

You can follow the issue below for updates for a release.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/363

[2017-11-13 20:00] #363 closed

[2017-11-13 20:05] jkasten2 commented on #352
@mayurwish @kafabih4raka We be fixing the compatibility with the Android Support library 27 in the next OneSignal SDK update. In the mean time you can still target Android SDK 26 and use the Android Support library 26.X

[2017-11-14 01:57] niqo01 opened #365 "UpgradeReceiver missing completeWakefulIntent for Android O and later"
If I am not mistaken, looking at the source code,
the `UpgradeReceiver` extending WakefulBroadcastReceiver is never calling `completeWakefulIntent` for Android O and later.
The NotificationRestorer.startDelayedRestoreTaskFromReceiver schedule a new job but never calls `completeWakefulIntent`

See:
https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/c

[2017-11-14 02:05] niqo01 opened #366 "How to retrieve notification channel id from a Notification?"
I need to know what Android O channel is set for a notification but I can't find how to retrieve this information from an OsNotification.
https://documentation.onesignal.com/docs/android-native-sdk#section--osnotification-

[2017-11-14 06:25] yaseen-homage opened #367 "NotificationCompatBuilder inaccessible to com.onesignal.GenerateNotification"
After updating to support library 27.0.0
 I'm getting Exception when i try to customize Notification icons

[code]

`public class NotificationExtender extends NotificationExtenderService {

    @Override
    protected boolean onNotificationProcessing(final OSNotificationReceivedResult notification) {
        //Override Settings
        final OverrideSettings overrideSettings = new OverrideSettings

[2017-11-14 19:47] eugenio-caicedo opened #368 "Custom sound notification"
I am trying to change the sound that has the default notification. For that, I do an override of the sound in the OverrideSettings class, but I can not make it reproduce. The notification is played with the sound of notifications by default, even ignores the "string" passed on the server.

[code]

[2017-11-14 21:29] eugenio-caicedo commented on #368
Using the NotificationCompat.Builder class if it worked for me, but I need to solve it using the OverrideSettings class.

[2017-11-15 00:37] niqo01 commented on #366
To be exact I want to know what's the `existing_android_channel_id` set client side.

[2017-11-15 01:28] kafabih4raka opened #369 "method plugins() not found on onesignal gradle plugin"
Hello, I have bugs hehe, in your documentation I must adding this in the gradle

[code]

but in the logs I have error as seen below

[code]

[2017-11-15 04:59] billyjay opened #370 "Websites using OneSignal SDK fail to show an image in the notification on Samsung Internet browser"
In case of Samsung internet, when websites show a notification using OneSignal SDK, the image fails to load. You can test this on www.deccanchronicle.com or www.gozefo.com ( under explore furniture>Beds) After changing the User Agent of the Browser to that of Chrome, the image loads fine.

[2017-11-15 05:34] twomedia commented on #263
Experiencing the exact same crash, we have over 100 devices affected daily. A fix for this one would be greatly appreciated.

[2017-11-15 13:23] runningcode commented on #342
Any updates on this?

[2017-11-15 15:37] nglro commented on #367
Just got crashlytics flooded with errors after sending a notification.

`E/OneSignal: onNotificationProcessing throw an exception. Extended notification displayed but custom processing did not finish.
java.lang.IllegalAccessError: Field 'android.support.v4.app.NotificationCompat$Builder.mNotification' is inaccessible to class 'com.onesignal.GenerateNotification' (declaration of 'com.onesignal.Gene

[2017-11-15 23:14] jkasten2 commented on #367
@yaseen-homage @nglro This is due this SDK not being compatible with the Android support library revision 27 yet. You will need to use revision 26 until we can update the SDK.

Closing this issue as it is a duplicate of issue #352. You can follow this issue for update.

[2017-11-15 23:14] #367 closed

[2017-11-15 23:25] jkasten2 commented on #342
@runningcode The current code shouldn't be creating a leak of the `Activity`. `curActivity` will be set to `null` when the `Activity` is stopped, paused, or destroyed. Code of where this is done linked below.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.6.5/OneSignalSDK/onesignal/src/main/java/com/onesignal/ActivityLifecycleHandler.java#L79
https://github.com/OneSignal/OneSignal-Andro

[2017-11-15 23:28] jkasten2 commented on #370
@billyjay Could you open an issue on the repo below instead for issues with the OneSignal web SDK?
https://github.com/OneSignal/OneSignal-Website-SDK/issues

This SDK is just for native Android Apps.

Thanks.

[2017-11-15 23:28] #370 closed

[2017-11-15 23:30] jkasten2 commented on #369
@kafabih4raka Does this build error a way if you remove the `onesignal-gradle-plugin`? If so can you create a new issue issue below filling out all the details you can on the template?
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/new

[2017-11-15 23:34] jkasten2 commented on #366
@niqo01 This currently isn't a property available on the [`OSNotifiationPayload`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.6.5/OneSignalSDK/onesignal/src/main/java/com/onesignal/OSNotificationPayload.java#L65) class. It is something that will need to be added and the code to populate it from the payload.

It should be contained within `OSNotifiationPayload.rawPayload` where you ca

[2017-11-15 23:39] jkasten2 commented on #368
@eugenio-caicedo This will not work for Android Oreo (8.0) devices if you are targeting Android API level 26 or higher. With Oreo [Notification Categories / Channels](https://documentation.onesignal.com/docs/android-notification-categories) are now in control of the sound as well as some other settings.
This may also not work if you have set an Android group on OneSignal.

If the above is not the

[2017-11-16 00:41] jkasten2 commented on #365
@niqo01 Thanks for the catch, you are correct that `completeWakefulIntent` should be called for Android Oreo (8.0)+ since we using a `JobScheduler` here.

We will fix this in the next update.
Thanks.

[2017-11-16 02:48] billyjay commented on #370
Sure. Will do. Thanks!

[2017-11-16 08:15] kafabih4raka commented on #369
when I removed onesignal-gradle-plugin from the gradle, it disappear.

[2017-11-16 08:16] #369 closed

[2017-11-16 15:06] eugenio-caicedo commented on #368
Adding `builder.setDefaults (0);` It worked very well. Thanks @jkasten2

[2017-11-16 20:23] jkasten2 commented on #368
@eugenio-caicedo Good to hear that worked! The root of the issue is if the defaults flag `Notification.DEFAULT_SOUND` is set then it will override custom sounds. You can pass vibration, led, or any other settings to `setDefaults` if you still need them.

[2017-11-16 20:23] #368 closed

[2017-11-17 12:25] akki777 commented on #281
I am facing the same issue...`android.support.v4.animation.*` is missing and I cannot find any solution.
Android Plugin upgrade to 3.0 requires buildToolsVersion to 26+ and this package is missing.
Plz Help.

[2017-11-17 13:56] eugenio-caicedo commented on #368
Excellent, this would be good to add it in the one signal documentation. I would save a lot of common mistakes for a custom sound. Thanks.

[2017-11-17 14:55] YasirAmeen opened #371 "App crashing on Google Pixel XL Oreo 8.0"
My App was working fine but since Android Oreo has come to Google Pixel XL it keeps Crashing following is the Exception stack-trace
[code]
Can anyone help me with this ?

[2017-11-17 18:03] ifucolo commented on #371
I have the same issue, and has 2500 crashes, and its really bad thing :S
OneSignal has any information about this bug?

[2017-11-18 02:37] mradzinski opened #372 "addSubscriptionObserver or idsAvailable?"
Hi everyone! Quick question over here: I've the need to keep a constant record on my server of the player Id. When the user logs out from one account I need to be able to delete that player Id from that account, and if the user logs back into my app with a different account I need to be able to re-assign that player Id to the second account.

Going through the documentation and examples I saw that

[2017-11-18 08:03] Reza-Soltani opened #373 "OneSignal.deleteTag() doesn't seem to be working anymore"
Hi there,

I have a user-based application, when someone login to his/her account, I will tag him with a unique user-id based on him phone number.
And when someone tries to logout, I will delete this tag, and then he don’t get any notification which is right behavior.

But if a user removes his application before logout, I can’t delete the tag. So I have a check that if it’s first run of the app,

[2017-11-18 21:10] kiberzoid opened #374 "Could not find class API 15"
Hello! I get an error, when I start app, that uses OneSignal SDK, on android 15
[code]

What am I doing wrong?

[2017-11-20 07:47] junaidwarsi1994 commented on #371
i Am having Crashes Too at Google pixel XL 8.0 only

[2017-11-20 11:19] Saqlainz commented on #371
This issue should be addressed as we are in a very critical position now.

[2017-11-20 11:26] junaidwarsi1994 commented on #371
@ifucolo  what target sdk are you using in tha app ?

[2017-11-20 11:41] ifucolo commented on #371
@junaidwarsi1994 25

[2017-11-20 11:54] junaidwarsi1994 commented on #371
try updating the target version to 26 and let me know if problem solves

[2017-11-20 20:11] pmaroco opened #375 "Wrong intent type using OS deeplinks in launch URL on Android platforms"
Hello!

I was creating a notification containing an OS level deeplink using the Launch URL field as described [here](https://documentation.onesignal.com/v3.0/docs/links#section-os-level-deep-links), but it's creating a VIEW intent instead of a MAIN intent after opening the notification.

That said, if the app is opened in the background and a notification containing a deeplink is opened, a second

[2017-11-20 22:04] valentinmoscone opened #377 "New Location APIs"
Hello,

I am having a problem while trying to add the new location API (FusedLocationProviderClient) to my project. For some reason the app stopped receiving push notification when the app is closed (not running).

 - 'com.google.android.gms:play-services-location:11.2.2'

Example:

    compile ('com.onesignal:OneSignal:3.6.5') {
        exclude group: 'com.android.support', module: 'support-v4'

[2017-11-22 09:10] gsksarath opened #378 "OneSignal.enableSound() Preference not updating"
In OneSignal version 3.6.1 OneSignal.enableSound() is working fine, But recently i update the gradle OneSignal version 3.6.2 & 3.6.3 OneSignal.enableSound() is not working

Am sending push notification using OneSignal Dashboard

Please check and let me know the fix already we rolled out our app to 20% of user.

Log

[code]

[2017-11-22 09:18] jkasten2 commented on #378
@gsksarath Are you testing on an Android 8+ device and targeting Android API Level 26 or newer? Note that starting with Android Oreo (8.0) notifications channels / categories are now in control of the sound, vibration, and a few other settings. This means they can't be control per channel instead of these being a app level setting or a per notification setting. See OneSignal documentation see more

[2017-11-22 09:24] gsksarath commented on #378
No am not testing on an Android 8+ devices & My App minSdkVersion 16 & targetSdkVersion 24
I tested on Lollipop & Nougat devices face the same bug

[2017-11-22 09:28] jkasten2 commented on #374
@kiberzoid The class not found errors are normal, an Android 4.0.3 device will not have these classes so Android skips loading them.

The last line in your log above is an issue that would cause the device not so subscribe.
`E/OneSignal: 'Google Play services' app not installed or disabled on`

If you are testing on a emulator I recommend testing on a real device. Most emulators on 4.0.3 won't be