[2018-05-14 07:37] molnardindex commented on #533
@mvvOrigin Today morning I found a workaround. I had to set multidexEnabled to true, than I was able to set minifyEnabled to false. Without multidex I can't turn of minify, because of 65k methods limit. If I build my apk with these settings, One Signal works.
But I'm still waiting for a solution, because I want to minify and obfuscate my app.

[2018-05-14 13:57] medJemmoudi commented on #498
Hello Folks,
We faced the same issues recently on Android 8 (Oreo). Waiting for you guys to do something about that, i just changed the line:
`appContext.startService(new Intent(appContext, SyncService.class));`

to:

`
if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.O) {
            appContext.startForegroundService(new Intent(appContext, SyncService.class));
        } else {
            appCont

[2018-05-14 20:21] sambengtson opened #535 "Custom build - Adding JAR directly to project"
**Description:**
Due to a gradle build conflict with play-services-location,  I decided to set the play-services-location verison to 15.0.1 of the SDK and rebuild.  I then included the output jar directly into my project.  I modified the example code to call OneSignal.init directly with my app id hard-coded

`OneSignal.init(activity, "REMOTE", "<valid-id>");`

I am receiving the following errors:

[2018-05-15 00:48] Nightsd01 commented on #514
Closing issue due to no response - I will assume 3.9.0 fixed this issue for you. If not, please feel free to reply and we'll be happy to reopen & investigate

[2018-05-15 00:48] #514 closed

[2018-05-15 07:45] xdgimf opened #537 "Build failed with an exception after upgrading from version 3.8.4 to 3.9.0."
**Description:**

Early this morning our build suddenly failed without any changes in our codebase. Upon checking all our dependencies we realized that the OneSignal version is a range and from version 3.8.4 it automatically upgraded to 3.9.0.

**Environment**
1. What version of the Android SDK are you using?
[code]
2. How did you add the SDK to your project (eg. maven)
[code]

**Steps to Reproduc

[2018-05-15 13:41] mpetlyuk commented on #533
I have the same issue with enabled proguard. I take the proguard rules from the documentation and
https://documentation.onesignal.com/docs/amazon-sdk-setup
I have also added the next line:
-dontwarn com.google.firebase.messaging.**
Note, that push messages were not sent

[2018-05-15 19:26] msjt13 opened #538 "notification does not show when android phone is locked"
sending notification to android device using api of one signal in php. It works fine when phone is unlocked and awake. But notification does not show when android phone is locked and screen is off. And another issue is after a long time of not using the app. Notification does not show even in unlocked and awake mode.

Here is php code:
`

       public function sendNotification($title, $sub_title,

[2018-05-16 04:19] jkasten2 commented on #531
@fatemeh2sh This `javax.net.ssl.SSLHandshakeException: Handshake failed` error means you device could not connect to onesignal.com. I recommend trying to opening a browser on the device to onesignal.com and make sure it loads. Also check to make sure your router, firewall, VPN, or proxy you maybe using isn't blocking onesignal.com in anyway.

[2018-05-16 04:23] jkasten2 commented on #337
@thariq12 The developer of the app `weave.tech.libretorrent` you are using didn't seem to update their app to support Android 8 (Oreo) devices. You will need to send this error to the app creators so they can update their app.

[2018-05-16 04:28] jkasten2 commented on #535
@sambengtson Using the OneSignal jar requires adding a bunch of `AndroidManifest.xml` settings which the normal gradle setup adds for you. This can be found below.
https://documentation.onesignal.com/docs/android-sdk-setup-eclipse#section-2-androidmanifest-xml

It is best to use our normal gradle setup guide as it is easier to maintain in a number of ways. Could provide the exact build error you w

[2018-05-16 04:38] jkasten2 commented on #537
@xdgimf The OneSignal SDK version 3.9.0 only imports versions 12.0.1 of com.google.android.gms and `com.google.android.gms` and `com.google.firebase`. It is recommend that you use 12.0.1 for your other decencies `com.google.android.gms` so these all line up to prevent build issues. In the future we will be updating the OneSignal SDK dependencies to 15.+.

If you still see an issue please remove Ja

[2018-05-16 05:33] Jack2jm commented on #263
Same here. most of noughet version crashes this.

LG,Motorola,Xiaomi Devices.  any solution for that. ? @jkasten2

[2018-05-16 06:29] Jack2jm opened #539 "Too many errors"
executing service com.amitech.allevents/com.onesignal.NotificationRestoreService
com.onesignal.NotificationRestoreService

**Environment**
1. buildToolsVersion '25.0.3'
2.   compile 'com.onesignal:OneSignal:[3.8.3, 3.99.99]'

Yesterday, 4:37 PM on app version 88
LGE Nexus 5X (bullhead), 2048MB RAM, Android 6.0
Report 1 of 1
The "main" (tid=1) thread is in suspended state. This is likely due to gar

[2018-05-16 06:34] fatemeh2sh commented on #531
@jkasten2  i did, i opened browser and load onesignal.com .
also i check vpn , proxy, but vpn,proxy were off.  i dont know what is problem???

[2018-05-16 07:18] jkasten2 commented on #531
@fatemeh2sh Could provide a few more details.
1. Android versions you have tested
2. Device models you have tests.
3. Same error on both cell and WiFi connections?

The issue seems to be the device is trying to use an unsupported version of SSL. okhttp does have so more detail on this as well. https://github.com/square/okhttp/issues/1628

[2018-05-16 07:27] jkasten2 commented on #539
@Jack2jm Your error message is incomplete. Can you update your issue to include the full error?

[2018-05-16 07:35] jkasten2 commented on #538
@msjt13 Do you see the notification once you unlock your device? This is most likely a setting issue with the device. Can you let us know the device model and android version?

[2018-05-16 07:39] msjt13 commented on #538
no, no notification after unlocking device

[2018-05-16 07:43] jkasten2 commented on #534
@mjalijani `com.google.gms:google-services:3.3.1` has a bug where it is not compatible with some projects.

This is noted in this open Google Issue
https://issuetracker.google.com/u/1/issues/79230924

OneSignal does not need this Gradle plugin so you can remove it if you don't need it for anything else. Or downgrade to 3.2.1.

[2018-05-16 07:46] msjt13 commented on #538
i just edited my question. It works when phone is locked but screen is on. It does not work when phone locked and screen is off.

And another issue is after a long time of not using the app, notification is not shown in any mode of device.

[2018-05-16 07:52] jkasten2 commented on #538
@msjt13 This sounds like the behavior of some Xiaomi I have seen. It can happen on other devices such as Huawei. There are some other manufacturer that have issues like this and OneSignal's docs provides some details on how the disable this force close behavior.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown#section-the-app-is-force-stopped

[2018-05-16 07:53] msjt13 commented on #538
thank your for ur support 👍

[2018-05-16 13:04] sannyo opened #540 "Set OneSignal App id using the OneSignal.Builder"
**Description:**

I would like to be able to set the app id using the OneSignal.Builder and not the have to use the manifest to declare the OneSignal app id.

You might ask why?
Because there are situation when the OneSignal App id depends on a lot of things and would be nice to be able to download it from our backend instead of hard coding it into the application.

What I was thinking if the buil

[2018-05-16 15:53] yokrysty commented on #533
II encountered the same problem on release build with minify enabled.
After I investigated the source code for OneSignal I added this rules to my proguard config
This classes are used to detect support library and firebase in OSUtils.java
[code]

[2018-05-16 16:47] willyanto commented on #533
@yokrysty wow, thanks bro. it works

[2018-05-16 22:31] #509 closed

[2018-05-16 22:53] jkasten2 commented on #533
@yokrysty Thanks for digging in and providing a solution.

It seems proguard started renaming public class names recently. I have updated `OSUtils.java` in the PR above to use the classes directly instead of `Class.forName` to fix this issue. This way no proguard changes will be needed as the OSUtil will be checking the existent of the renamed class.

[2018-05-16 23:53] #533 closed

[2018-05-16 23:55] jkasten2 commented on #263
@Jack2jm You can disable the restore on app upgrade feature by following the instruction in my post above. https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-369096027

[2018-05-17 12:27] sambengtson commented on #540
This seems to work for me.  I borrowed it from the cordova library android source

[code]

[2018-05-17 12:29] sambengtson commented on #535
The errors are a little hard to follow since it is actually a cordova project.  I had to make a plugin to handle notifications in native code.  However,  I was able to make gradle work.  I think the problem was mostly due to my lack of knowledge with it.

[2018-05-17 12:29] #535 closed

[2018-05-17 12:31] sannyo commented on #540
Yes. I came up with a similar workaround. But both ways the library will be initialized twice. Also I think in the code you posted the order of the inits are wrong, because at least in the android SDK source code the builder always tries to read the app id from the manifest, so first you need to call the builder to be able to setup your preferences and then call the init with the app id.

[2018-05-17 13:58] sambengtson commented on #540
I'll try switching them around and see what happens.  At the moment, it seems to work ok.

[2018-05-17 15:32] eirworks opened #542 "Unable to get FCM Token"
**Description:**

My app unable to receive any notification because Onesignal was unable to get FCM Token.

**Anything else:**
<pre>
E/OneSignal: Unknown error getting FCM Token
    java.lang.IllegalArgumentException: Given String is empty or null
</pre>
It also throws:
<pre>
E/OneSignal: Unknown error getting FCM Token
    java.lang.IllegalStateException: FirebaseApp name ONESIGNAL_SDK_FCM_APP_NA

[2018-05-17 19:08] asfdfdfd opened #543 "Missing permission to insert badges on Motorola phone"
**Description:**

Crash while receiving push on Motorola Moto X Play because of missing permission to insert badges.

**Environment**

OneSignal 3.8.4

**Anything else:**

http://crashes.to/s/1e3488638e3

[2018-05-17 21:36] jkasten2 commented on #543
@asfdfdfd Thanks for the log. Is this an issue you can reproduce on your test device? It looks like the crash only happened once on one device.

[2018-05-17 21:38] jkasten2 commented on #538
@msjt13 It looks like this was your issue? Please let us know if not and we can re-open this issue.

[2018-05-17 21:38] #538 closed

[2018-05-17 21:42] jkasten2 commented on #528
Going to merge this issue #528 since this is the same issue with `com.google.gms:google-services:3.3.X` compatibility.

[2018-05-17 21:42] #528 closed

[2018-05-17 21:43] jkasten2 commented on #525
@j2emanue Good to hear! Closing this issue as resolved.

[2018-05-17 21:43] #525 closed

[2018-05-17 21:45] jkasten2 commented on #516
Closing this issue due to inactivity. If my comment above wasn't the case then let us know and we can look into it.

[2018-05-17 21:45] #516 closed

[2018-05-17 21:47] jkasten2 commented on #510
@mitchellwit @kingsofteng Can you reproduce the issue in a new project and share it here?

[2018-05-17 22:37] jkasten2 commented on #505
Closing due to inactivity. Please provide the details above and we can look into this in more detail.

[2018-05-17 22:37] #505 closed

[2018-05-18 01:49] jkasten2 commented on #540
The only method to set the OneSignal app_id at runtime is with `OneSignal.init()`.
[code]

We will consider adding something to the normal builder pattern as well.

Note, `googleProjectNumber` is ignored as it comes from the value you entered on the OneSignal dashboard for your app.

[2018-05-18 02:14] eirworks commented on #542
Oh Jon from the OneSignal support asked me to remove `firebase-auth`, which actually fix it, and I wasn't really using it. Thank you for your help. :)

[2018-05-18 02:14] #542 closed

[2018-05-18 11:49] asfdfdfd commented on #543
No.

This is crash from the unknown user remote device.

Yes.

I've looked through OneSignal Android SDK source code and it has not any permissions related to the Motorola phones. So i thought that it may be useful to highlight this issue and probably add permission.

[2018-05-18 18:22] eugenio-caicedo opened #546 "OneSignal in integration test with UIAutomator"
**Description:**

This is a question for the team because I do not find documentation on how to use OneSignal in integration tests. I would like to be able to test based on local notifications (if possible). Thanks.

**Environment**

OneSignal 3.8.4

[2018-05-18 22:38] jkasten2 commented on #513
The issue was fixed in the PR above and is now released in version [3.9.1](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.1)

[2018-05-18 22:48] jkasten2 commented on #263
We disable the notification restore feature on the app update event for Android 7.0 devices in release [3.9.1](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.1). We haven't seen any recent reports of older versions of Android or never any newer Android devices.

Please make sure you have this version or newer before reporting. A link to crashlytics and a full stack trace with

[2018-05-18 22:53] jkasten2 commented on #546
@eugenio-caicedo We don't have any specific documentation on unit testing apps with OneSignal. However this SDK does have internal unit tests and shadows that might find helpful in mocking parts of OneSignal. It uses Robolectric and you can see the source below.
https://github.com/OneSignal/OneSignal-Android-SDK/tree/master/OneSignalSDK/unittest

[2018-05-19 06:32] ashisharora119 opened #547 "Onesignal Notifications are received only when app is used recently"
**Description:**
Most of times i don't receive notifications. Its not received when i open the app and send again. I always swipe close the app.

**Environment**
onesignal : 3.8.3 , 3.8.4
compileSdkVersion 27
targetSdkVersion 27

**Steps to Reproduce Issue:**
1. Just dont use app for a day
2.Next day when i send notification from onesignal website i don't get it. System says delivered but its not

[2018-05-20 22:16] DSofter opened #548 "Notification not shown on Android P"
**Description:**

Notification not shown on Android P. Switched to another phone and ran the same exact apk, the notification works.

**Environment**

[code]

**Steps to Reproduce Issue:**

1. Send push notification using the dashboard.

**Anything else:**

(crash stacktraces, as well as any other information here)

[2018-05-21 09:46] trungnguyennam opened #549 "[Eclipse] Cant register device or receiver notification"
**Description:**

I cant register device on Android 4.4.2 with Eclipse library
- I use the original OneSignal sample from Github. Only change apikey
- When i use GooglePlay service version [7327000 ](https://drive.google.com/file/d/1eaUy3oKCKJJbHhy2LeMZ696JMFf2hSbu/view?usp=sharing). The sample crash at start like in this [issue](https://github.com/OneSignal/OneSignal-Android-SDK/issues/508)
- The

[2018-05-21 15:52] bhallionOhbibi commented on #263
Hello there,

We are facing this issue with the [Unity version](https://github.com/OneSignal/OneSignal-Unity-SDK) of the plugin.
Could you release the fix on this version aswell ?

Thanks !

[2018-05-21 18:44] jkasten2 commented on #263
@bhallionOhbibi It was also updated. This is included in the [OneSignal Unity SDK 2.7.1](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.7.1).

[2018-05-21 18:48] jkasten2 commented on #547
@ashisharora119 Can you include the models and Android versions of the devices you seeing this issue on? Some Xiaomi and Huawei are know to force kill apps after some time or when swiping the app away.

More details an other devices noted below
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown#section-the-app-is-force-stopped

[2018-05-21 18:54] jkasten2 commented on #548
@DSofter Can you provide a few more details?
1. Are you testing on a device or an emulator?
2. Which Android P build are you using? Example DP2
3. Is there any errors in the logcat when receiving a notification?

[2018-05-21 19:54] jkasten2 commented on #549
@trungnguyennam Just to confirm, are seeing the error `java.lang.VerifyError: com/onesignal/LocationGMS` when your app starts in the logcat? This points to the class not being loaded yet. If you have double checked all the multidex setup guide steps from the answer you linked to above then you can try setting this class to be in the main dex file.
You might be able to do the manually with the `dx`

[2018-05-22 10:35] rostopira opened #550 "Add option to disable tracking of installed applications"
**Description:**

According to Google's [Privacy, Security, and Deception](https://play.google.com/about/privacy-security-deception/personal-sensitive/), section "Personal and Sensitive Information", all apps that are using OneSignal SDK violate policies, unless they show proper consent and specify collection list of installed apps in their Privacy Policy. It's even stated in list of common violat

[2018-05-22 12:18] ashisharora119 commented on #547
Its Huawei Honor 9 Lite
So whats the solution
I don't see its happening when i directly user FCM

[2018-05-22 15:06] ianmcoelho commented on #263
I will post here what I think is the flow to reproduce this crash. The problem happens BEFORE the package is replaced, so, listening to MY_PACKAGE_REPLACED probably will not solve the problem if you have an ONGOING notification while upgrading, for example.

As stated before, it only happens when an update is triggered. What happens is that during the upgrade, the resource files are replaced and w

[2018-05-22 19:49] jkasten2 commented on #263
@ianmcoelho Thanks for the insight. I believe you are correct that the resource ids are changing are the source of the issue when the app is updated. OneSignal does not use ongoing notifications but I can see how this could be a possible way to trigger this crash. Have you been able to reproduce the `BAD_NOTIFICATION_POSTED` crash with an ongoing notification in your testing?

[2018-05-22 21:44] eugenio-caicedo commented on #546
@jkasten2 It is not the answer I expected, but thank you very much for the help. I will try to use unit tests. But in reality, it would be an excellent SDK help for OneSignal tests in the integration test.

[2018-05-22 21:44] #546 closed

[2018-05-23 00:26] gdeglin commented on #550
Hi. Thanks for the report.

This is part of a feature that allows to to target notifications based on the category of apps your users tend to use. The feature is implemented by reviewing a limited list of popular applications, and does not send the whole list of installed apps to OneSignal or any other parties.

![screenshot 2018-05-22 17 25 15](https://user-images.githubusercontent.com/4891/40397

[2018-05-23 00:26] #550 closed

[2018-05-23 03:29] trungnguyennam commented on #549
Thanks for your reply.
1. When i use old google play library, i can see new register device but app crash on start.
2. When i use new google play library, i cant see new device. ( got this [new popup ](https://drive.google.com/file/d/11XfVkUJ76yE208pYUfod5TxN5p4mahZk/view?usp=sharing) and the previous attached one
now I need your help to resolve 2nd issue.

And about the reason why i cant update t

[2018-05-23 03:31] ianmcoelho commented on #263
That's the major problem of this bug. It's just not possible to reproduce. I tried every possible way imaginable, with no success.

I am "guessing" what's happening by the following evidence:

- Those crashes are only detected by our crash report system, never in Automated Tests or QA'ing
- It always spiked when we deployed new versions (as described by some users above)
- It used to happen very r

[2018-05-23 06:23] gsksarath opened #551 "When try to make GDPR Changes in my app device not registering to OneSignal Dashboard"
For more details check the below link
https://stackoverflow.com/questions/50481038/onesignal-gdpr-changes-not-registering-the-device

[2018-05-23 06:54] TopeMateo commented on #263
@jkasten2 hello, what functionalities of OneSignal is going to be disabled if I apply the workaround you posted [here](https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-369096027)?

[2018-05-23 07:38] vinitmobile opened #552 "App is Crashing on Firebase ID issue"
**Description:**

My App with oneSignal was working fine.  Just 4 days ago my app is started crashing on building from android studio on Launch whereas it is working perfectly fine on play store.

Here is the crash I am getting -
[code]
**Environment**
1. Android SDK 7.0
2. Onesignal dependency in app
com.onesignal:OneSignal:3.+@aar
3. Google Play Services Version
com.google.android.gms:play-servi

[2018-05-23 14:26] black-8 commented on #552
I just updated oneSignal and getting the same error only in the very first launch

play services 15.0.2
OneSignal:[3.9.1, 3.99.99)'

[2018-05-23 19:13] fatemeh2sh commented on #531
@jkasten2  hi , my phone is glaxay note 5, with android 5.

[2018-05-23 23:06] jkasten2 commented on #531
@fatemeh2sh Thanks for the device info. Have you tested on any other devices? Can you test on an emulator as well? Are you seeing this issue on both WiFi and a cell 3g/4g connection?

[2018-05-24 00:44] jkasten2 commented on #542
@eirworks Thanks for the details, good to hear your up and running now!

Just providing a few more details to this for future reference. It seems the 2nd error `FirebaseApp name ONESIGNAL_SDK_FCM_APP_NAME already exists!` just happens as the 1st error `java.lang.IllegalArgumentException: Given String is empty or null` ends up partially initializing a Firebase app.

[2018-05-24 01:05] jkasten2 commented on #263
@TopeMateo When the app is updated on the device notifications will disappear, however they will still show back up when the user opens the app.

Updating to [OneSignal 3.9.1](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.1) will have the same effect however it is only limited to Android 7.0 as this is where we are seeing crash reports from.

[2018-05-24 01:11] jkasten2 commented on #547
@ashisharora119 Do you still see the issue if you remove `NotificationExtenderService`? It is possible the issue you're seeing is related to #475. However the notification should still display in this case however Huawei's ROM behavior might be effecting this by omitting it instead.

[2018-05-24 01:17] jkasten2 commented on #549
@trungnguyennam Can you provide your logcat for both these cases?

Is there a specific plugin or feature they are using in Eclipse that prevents them from updating to Android Studio?

[2018-05-24 01:38] TopeMateo commented on #263
@jkasten2 thank you!

[2018-05-24 04:49] gsksarath commented on #551
Got Reply From OneSignal Support Team

These are the below steps need to follow for OneSignal GDPR

Step 1 -

You will need to initialize OneSignal first, then call these methods.

Step 2 -

Just call

OneSignal.setRequiresUserPrivacyConsent(true);
Then when you prompt for consent and the user says OK, you can use this method to mark the answer and initialize OneSignal:

Step 3 -

public void onUs

[2018-05-24 14:05] oliveriobw commented on #411
Also seeing this on v3.8.1 Android 7.0

_05-24 15:02:56.736 2971-3381/com.secoti.prod W/OneSignal: OneSignalRestClient: PUT Error thrown from network stack.
    java.net.SocketTimeoutException: timeout
        at com.android.okhttp.okio.Okio$3.newTimeoutException(Okio.java:221)
        at com.android.okhttp.okio.AsyncTimeout.exit(AsyncTimeout.java:250)
        at com.android.okhttp.okio.AsyncTimeo

[2018-05-24 23:36] jkasten2 commented on #411
@oliveriobw This timeout may have been due some delayed requests on OneSignal's end around the time you post this. The issue is now resolved

[2018-05-24 23:49] jkasten2 commented on #551
@gsksarath `setRequiresUserPrivacyConsent(true)` must be called **before** OneSignal is initialized. Example:
[code]

https://documentation.onesignal.com/docs/android-native-sdk#section--setrequiresuserprivacyconsent-

[2018-05-24 23:49] #551 closed

[2018-05-25 02:46] Ericky14 opened #553 "Android 8.0 Outdated Android Support Libraries"
**Description:**

When running this plugin with nativescript on android 8.0, push notifications don't come through, and on the onesignal dashboard, I see a warning saying "Outdated android support libraries"
What libraries do I need for this plugin and what version?

**Environment**

1. What version of the Android SDK are you using? 26
2. How did you add the SDK to your project (eg. maven) natives

[2018-05-25 07:58] jkasten2 commented on #552
@vinitmobile @black-8 Looks like this happening due to this Firebase class only using the default Firebase app configured. OneSignal initializes it's own FirebaseApp so this won't interfere with a possible existing FirebaseApp already configured as so the senderId can be used from OneSignal's setting instead of requiring or pull it from your project's `google-services.json`.

We will be looking in

[2018-05-25 22:05] jkasten2 commented on #553
@Ericky14 The Android Support library version should match `targetSdkVersion`. So in this case you should also have 26. The nativescript SDK pulls in the latest Google Play services that should include version 26 fo the Android Support library. One thing I recommend checking is that your Android SDK is up to date on your system.

The issue could be however that the Google Play services dependencie

[2018-05-25 22:05] #553 closed

[2018-05-26 04:55] Khaled-Almoukhtar commented on #280
@jkasten2
I am having the same issue when using latest Unity SDK version 2.7.2
How can I add this
https://documentation.onesignal.com/docs/android-native-sdk#section--notificationextenderservice-
in Unity without using Java
what should I write for "YOUR_CLASS_NAME"
`android:name=".YOUR_CLASS_NAME"`

[2018-05-29 04:12] trungnguyennam commented on #549
Sorry for late response. This morning all devices suddenly can receive push notification. At this time i write this reply the issue comes back. The logcat seems ok. Test devices
- Nexus 5 ( 6.0.1)
- Samsung SM-G7102 (4.4.2)
- Pixel (8.1.0)

[Google drive log folder for normal case. Devices ](https://drive.google.com/drive/folders/1gYuliDsdjMSb-uUGEDQrgVMN7yhCYpz6?usp=sharing)
I notice when i send

[2018-05-29 16:14] insacc commented on #420
We started to get more crashes because of a similar exception. This time it's not limited to the Android Oreo& above devices, it also affects pre Oreo devices, any idea how to solve it?

       at android.os.Parcel.readException(Parcel.java:1696)
       at android.os.Parcel.readException(Parcel.java:1645)
       at android.app.job.IJobScheduler$Stub$Proxy.schedule(IJobScheduler.java:158)
       at

[2018-05-29 18:27] akbrali opened #555 "Multiple dex files define Lcom/startapp/android/publish/a/a"
**Description:**

Dear All am new on github its my first issue
i am start using startapp ads in my application and i have these errors
please help me
android studio 3.0.1
its Build.gradle
[code]
[code]

[2018-05-29 21:36] jkasten2 commented on #555
This looks like an issue with `com.startapp.android.publish` and not OneSignal. I recommending checking you don't have a .aar or .jar file for `startapp` in your libs folder.

[2018-05-29 21:36] #555 closed

[2018-05-30 05:14] fatemeh2sh commented on #531
@jkasten2 i tested on emulator with android 5 and return userId correctly,
but in galaxy note 3 issue on both wifi and cell return user id null and show sslHandkShake.
but same galaxy note 3 change SIM CARD with same wife then return userId correctly.
What do you think?

[2018-05-30 10:13] ashisharora119 commented on #547
Yes i confirm , the issue is mainly because of NotificationExtenderService.
Once removed notifications start coming

[2018-05-30 12:10] AlyssaKaitlyn opened #556 "Z"
**Description:**

(your description here)

**Environment**

**Steps to Reproduce Issue:**

1. (your steps here)
2.
3.

**Anything else:**

(crash stacktraces, as well as any other information here)

[2018-05-30 15:39] runningcode commented on #348
We'll begin exploring more reliable alternatives to onesignal in our next roadmap.

[2018-05-30 19:02] jkasten2 commented on #348
@runningcode In the [OneSignal 3.9.0](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.0) we changed to use FCM instead of the GCM library to register the device. This is a fairly large change but we haven't seen a drop in registrations. Can you contact OneSignal support from the dashboard or create new ticket here on this repo with more details so we can help produce this issue

[2018-05-30 19:03] jkasten2 commented on #556
@AlyssaKaitlyn Looks like this ticket was created by mistake, closing due to no information

[2018-05-30 19:03] #556 closed

[2018-05-31 03:46] ominfowave commented on #513
I am using version **3.9.3** and it causes the same issue.
[code]

[2018-05-31 18:02] eugenio-caicedo commented on #339
I was just about to suggest the same thing. I needed it for the current application. But I see that you do not have that support.

[2018-06-01 02:45] demhamaryvera opened #557 "Program type already present: android.util.FloatProperty"
[code]

[2018-06-01 05:39] vlad-roid commented on #348
For me it was the other way round: using GCM lead to lots of unsubscribed devices, and switching to FCM solved it. Although for some reason GCM would always work when testing on a debug build, and when testing on a release build my device would never subscribe ...

[2018-06-01 11:13] runningcode opened #558 "`OneSignal.idsAvailable` callback has null registrationId while `OneSignal.getPermissionSubscriptionState().getSubscriptionStatus().getPushToken()` is not null."
We're seeing an issue in production where after upgrading our client apps to OneSignal 3.9.1 and including FCM in our project, the `OneSignal.idsAvailable` callback sends a null `registrationId` (related to https://github.com/OneSignal/OneSignal-Android-SDK/issues/348).

We've added some investigative logging to track down this issue. We are seeing that at the same time that the `OneSignal.idsAvai

[2018-06-01 15:10] runningcode opened #559 "Confusing documentation on `to` and `from` fields in `OSSubscriptionStateChanges`"
It's a bit confusing what the `to` and `from` fields in the `OSSubscriptionStateChanges` object mean. The documentation adds to the confusion.

![was-now-from-to](https://user-images.githubusercontent.com/332597/40848137-98ee78ba-65be-11e8-8fe9-90fabe76ec23.png)

[2018-06-01 17:51] fatsjohonimahnn commented on #559
We fixed this in our docs, thanks for pointing it out: https://documentation.onesignal.com/docs/android-native-sdk#section--ossubscriptionstatechanges-

`getFrom()` is what the subscription state was in the past
`getTo()` is what the subscription state is currently

[2018-06-01 17:51] #559 closed

[2018-06-04 15:52] Hardkaise opened #560 "Custom notification sound not working [Android 8.1.0]"
**Description:**
I am developping application with custom sound, I had tested my app in several phone.
It's working perfectly on Samsung Galaxy S6 (android 7.0) but not in One Plus 6 (oreo 8.1.0).
The notification appears but the sound played is always the system sound notification.

**Environment**
I'm using targetSdkVersion 27 with minSdkVersion 19 and compileSdkVersion 27
My version of one sign

[2018-06-04 17:02] VincentRoest commented on #513
This is still not resolved. Running into this with 3.9.1 as well.

[2018-06-04 23:02] jkasten2 commented on #558
If `getPushToken()` has a value `idsAvailable()` may not always have a value. `idsAvailable` returns `null` if you called `OneSignal.setSubscription(false)` OR if the user disabled notifications for your app. The later was only changed in 3.5.0 when `addSubscriptionObserver` and `getPermissionSubscriptionState` was added.

[2018-06-05 09:20] runningcode commented on #558
If `OneSignal.setSubscription(false)` were set, wouldn't that mean that `subscribed` would be false in the json? Or if the user disabled notifications wouldn't that mean that `userSubscriptionSetting` would be false in the json?
Both those values are true as you can see from the redacted json I provided.

If both `userSubscription=true` and `subscribed=true` what is the case in which `registration

[2018-06-05 12:39] rostopira commented on #513
More than 3k of my users are currently affected by this issue on **3.9.1** as well

[2018-06-05 21:59] SIARAY opened #561 "How to set custom NotificationChannel"
I want set custom priority, sound and... for android Oreo
For this customize we should be set custom NotificationChannel
How do I do this?

[2018-06-05 22:28] Ericky14 commented on #553
@jkasten2
I am running into this error when I add onesignal-gradle-plugin just like you mentioned in that PR, but using android studio to build the project this time.
[code]

How do I resolve these conflicts?

[2018-06-06 04:44] jkasten2 commented on #553
@Ericky14 Let's follow up on this error your new ticket  that better fits this error
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/39

[2018-06-06 06:38] Nightsd01 commented on #513
@rostopira apologies about the crashes your users are experiencing. We’ve identified the cause of the problem and will be releasing an update to fix it shortly. It’s very similar to the issue we fixed in 3.9.1. We’ll be checking the SDK thoroughly to make sure there aren’t further NPE’s like this.

[2018-06-06 08:18] rostopira commented on #500
@thanhbc as a workaround you can disable location sharing: `OneSignal.setLocationShared(false);` I'm sure this will fix that

[2018-06-06 10:28] davekedar commented on #486
I am facing the same issue `// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    repositories {
        jcenter()
        google()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.0.1'

        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module build.

[2018-06-07 08:48] davekedar commented on #486
@jkasten2 plz help on this

[2018-06-07 14:26] charchit28 opened #562 "Plugin not applied"
Failed to apply plugin [id 'com.onesignal.androidsdk.onesignal-gradle-plugin']

Gradle sync failed: Failed to apply plugin [id 'com.onesignal.androidsdk.onesignal-gradle-plugin']
                Consult IDE log for more details (Help | Show Log) (277ms)

[2018-06-07 21:34] jkasten2 commented on #558
@runningcode After digging into this I did find a case where `idsAvailable` isn't firing when it should. If the device registers with OneSignal without a `registrationId` then `idsAvailable` will fire once. Then once we get a push token from the GCM or FCM library and it is successfully sent to OneSignal `idsAvailable` should fire a 2nd time with `registrationId` set. However we discovered 2nd cal

[2018-06-08 00:27] jkasten2 commented on #534
@mjalijani I am no long able to reproduce this issue with `com.google.gms:google-services:4.0.1` so closing this issue.

[2018-06-08 00:27] #534 closed

[2018-06-08 00:28] jkasten2 commented on #539
Closing due to inactivity and lack of details. Please provide the full error and more detailed steps on reproducing the issue and we can reopen this issue.

[2018-06-08 00:28] #539 closed

[2018-06-08 00:39] jkasten2 commented on #547
@ashisharora119 Thanks for confirming, it looks like the `Huawei Honor 9 Lite` runs Android 8.0. Huawei normally modifies Android pretty heavily on there devices so this could explain the delayed behavior of most Android 6+ devices noted in #475 vs the no show on this device.

When you have a `NotificationExtenderService` and send a notification can you capture the logcat from the device when you

[2018-06-08 00:47] jkasten2 commented on #560
@Hardkaise Android Oreo (8.0) introduced Notification Categories / Channels. They must be used if you want to customize priority, sound, LED Color, Badges, Lockscreen visibility or vibration. More details on the requirements, how to setup, and using them below.
https://documentation.onesignal.com/docs/android-notification-categories

[2018-06-08 00:47] #560 closed

[2018-06-08 00:48] jkasten2 commented on #561
@SIARAY This can all be done from the OneSignal dashboard without writing any new code! See the guide bellow.
https://documentation.onesignal.com/docs/android-notification-categories

[2018-06-08 00:48] #561 closed

[2018-06-08 00:58] jkasten2 commented on #562
@charchit28 Can you get the full error? Please fully fill out the ticket template below so we can look into reproducing the issue.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/new

[2018-06-08 00:58] #562 closed

[2018-06-08 04:05] thanhbc commented on #500
@rostopira Let me try. Will update if it solved. Thanks!

[2018-06-08 08:06] rostopira commented on #513
@Nightsd01 any progress on this? This already caused delay in our release cycle

[2018-06-08 08:54] CyxouD opened #565 "Tags are not sent before calling OneSignal.provideUserConsent(false)"
**Description:**

Using new consent mechanism I want to deactivate SDK in some cases (i.e. logging out) by calling `OneSignal.provideUserConsent(false)`. Before deactivating, I send tags, but tags are not sent, which is tested by looking in OneSignal dashboard. In my case I remove previously added tag, but it doesn't work for changing too. On the other side, If I remove `OneSignal.provideUserConse

[2018-06-11 04:29] fatemeh2sh opened #566 "problem with firebase"
Hi i add onesignal to my project and then work.
but after a week  when run my app ,i see in error
"
Could not find firebase-core.jar (com.google.firebase:firebase-core:12.0.1)
"
i add firebase-core and firebase-messaging ,but my app dosent run,
add i see in error
"
Failed to resolve: firebase-core
Open File

Failed to resolve: firebase-messaging
Open File
"

my google play service
com.google.andro

[2018-06-11 11:31] zigou13 commented on #447
Or do we add "OneSignal-Gradle-Plugin"? how to do ?

[2018-06-11 17:28] jkasten2 commented on #525
For those who find this thread, the OneSignal-Gradle-Plugin has be update in [0.10.0](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.10.0) to support Firebase and GMS library versions so the work around above is no longer needed.

[2018-06-11 20:49] jkasten2 commented on #498
@suntehnik Sorry for the delay, this bug is still on our radar to fix. I'll provide more details soon

[2018-06-11 20:49] jkasten2 commented on #447
@zigou13 Instructions on setting this up below.
https://github.com/OneSignal/OneSignal-Gradle-Plugin

[2018-06-12 21:51] runningcode commented on #558
Thanks for the quick fix and a detailed explanation.
Has idsAvailable always been expected to fire twice?

[2018-06-13 15:16] promaninfante commented on #461
I am having this same issue on a One Plus 5 and a One Plus 3T device. I tried with another device (Google Pixel 2) and it works fine.

[2018-06-15 08:21] baole opened #567 "Crashes on com.onesignal.OneSignal.registerUserTask"
Crashes happen on our production app. Here is logs from Crashlytics

http://crashes.to/s/ee2c756eaf5

[2018-06-15 08:50] jkasten2 commented on #565
@CyxouD Sorry for the delay, thanks for providing all these details. The issue is due to the SDK stoping all actions as soon as `OneSignal.provideUserConsent(false);` is called. However since tag changes are delayed to batch network requires more efficiently it also cancels this which means the network call is never made to delete the tag in your case.

We'll make a change to ensure any pending up

[2018-06-15 08:55] jkasten2 commented on #566
@fatemeh2sh I believe this might an issue where `jcenter` is being used instead of google's maven repo if you haven't made any change to your `build.gradle` files recently. I recommend making sure `maven.google.com` is before `jcenter()` in you main `build.gradle` as well as any others that might have it.

[code]

If this wasn't the issue please provide your full `build.gradle` files, both your ro

[2018-06-15 09:06] jkasten2 commented on #567
@baole Thanks for reporting, this is the reported stacktrace from the crash.

[code]

The `android.os.DeadSystemException` exception being thrown is from Android core system being killed. This causes calls to android APIs to fail as noted below.
https://stackoverflow.com/a/44395215/1244574

I noticed that most of the crashes in you report are from a  HUAWEI devices. There could be a issue with the

[2018-06-15 09:10] jkasten2 commented on #537
@xdgimf One thing I would suggest you add if you haven't already is the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin). It resolves issue due to conflicting versions of libraries. If this doesn't help then providing the details from my last comment above will help us pin point the issue.

I am closing due to inactivity but we can open if this is still an issue for

[2018-06-15 09:10] #537 closed

[2018-06-15 09:12] gauravAbs opened #568 "How to show notification badge On App Icon in IONIC"
How to show notification badge On App Icon in IONIC,my local notification code is working fine but not working in app icon notification counter, please see my example.
Example [Link1](https://i.stack.imgur.com/DE2bA.jpg)

[2018-06-15 09:22] jkasten2 commented on #543
@asfdfdfd I don't believe the Android launch on Motorola devices supports badges. This user may have installed a custom launcher which does support badges however.

OneSignal includes the Android library [ShortcutBadger]( https://github.com/leolin310148/ShortcutBadger) of version 1.1.16 which might have a bug in it as well. I do see this crash in one of their closed issues but I was closed and fix

[2018-06-15 09:22] #543 closed

[2018-06-15 09:27] jkasten2 commented on #568
@gauravAbs On Android, OneSignal sets badges automatically if the Android launcher support it
https://documentation.onesignal.com/docs/appearance#section-setting-and-clearing-badge-numbers

The following ones that are supported are Sony, Samsung, LG, HTC, Xiaomi, Huawei, ASUS, ZUK, OPPO, ADW, APEX, and NOVA. Also Android Pixel devices running Android Oreo, however these show as notification dots i

[2018-06-15 09:29] jkasten2 commented on #513
@rostopira Sorry for the delay on this, we believe we have identified the root issue now. We should have a fix next week. We will update this ticket with our progress

[2018-06-15 14:56] paco7777 commented on #281
Put jcenter() after maven()

[2018-06-15 18:22] jkasten2 commented on #281
@paco7777 If you are seeing the same message as the `amin1softco` then make sure you have `maven.google.com` in your `build.gradle`.

[code]

[2018-06-16 06:06] jkasten2 commented on #461
@promaninfante Can you check the logcat for any errors or warnings when you send a notification to the device?

[2018-06-16 06:13] jkasten2 commented on #558
@runningcode `getPushToken()` shouldn't be returning a non-null value while `registrationId` is. I'll take another pass at looking at the source and trying to reproduce the issue you described.

[2018-06-18 04:55] ImDroidGuy commented on #490
**OneSignalRestClient.java line 193
com.onesignal.OneSignalRestClient.startHTTPConnection**

SAME ISSUE HERE !!

**DEVICE TYPE** : SAMSUNG GALAXY S4
**OS** : 5

[2018-06-18 20:38] jkasten2 commented on #568
@gauravAbs Let us know if this does not cover the answer to your question.

[2018-06-18 20:38] #568 closed

[2018-06-19 08:41] paco7777 commented on #281
Thanks for your answer :)

Robin Chalandon

2018-06-15 20:22 GMT+02:00 Josh Kasten <notifications@github.com>:

[2018-06-19 17:19] insacc commented on #420
Thanks, I'll change build.gradle and try it out, if it doesn't solve it I'll let you know about. Fortunately it affect only a small portion of our DAU. It's also a sign that this isn't a `proguard` issue, because  I guess otherwise it'd affect everyone.

[2018-06-20 04:54] gauravAbs commented on #568
yes badges automatically supported but some mobile models are not supported. thanks for replay

[2018-06-20 13:57] ebeling commented on #548
I have similar problem: I tested OS on 3 devices : IPhone5 with IOS 10.3.3, Nexus 5 with Android 6.0.1 and Honor9 with Android 7.0 . I use OS in Ionic2-context. If I push notifications from OneSignal - Dashboard only IPhone and Nexus receives it. I noticed, that Honor-Device often listed as "Not Subscribed" in  "Users"-Section, while the app is running (in foreground) and OS is initialized with "s

[2018-06-20 15:43] phuonglam1510 commented on #281
I have same issue. Already have  `maven { url "https://maven.google.com" }` line in build.gradle file but still error. I noticed that the line 'jcenter()' is above maven line. So i moved it below maven and it worked. Not sure why :(

[2018-06-20 17:33] jkasten2 commented on #548
@ebeling The "Not Subscribed" status for the Honor device means OneSignal could not get an FCM pushToken to subscribe the device.

I can you make sure it as the "Google Play services" app installed on the device and it is update to date?
If this is not the issue please check the device's logcat for any errors or warnings.

Since your problem is not related to Android P and is an subscription issue

[2018-06-20 18:53] jkasten2 commented on #568
@gauravAbs Unfortunately if the Android launcher does not support badges there isn't anything that can be done. The only way it would work on these devices is if they used one of the supported 3rd party launchers from the Google Play store.

OneSignal uses the [ShortcutBadger](https://github.com/leolin310148/ShortcutBadger) library which supports most launchers. I didn't see any mention of Gionee

[2018-06-21 05:43] ebeling commented on #548
Thank you for your reply! The "Not Subscribed" status is not shown without cease. Sometimes the status is "Subscribed" without doing something. The installation is is the same like on Nexus. And the function "postNotification" works on Honor too. In the logcat I have seen nothing. I don't know, if this is an subscription problem. I think, it has something to do with Android Version.

[2018-06-21 07:07] janbolat opened #569 "OneSignal causing ANRs on JobIntentServices"
Our app has Services that extend from android.support.v4.app.JobIntentService.
Our users are facing ANRs on Android 8.0 and 8.1 (99.99%).

I found a [similar](https://github.com/OneSignal/OneSignal-Android-SDK/issues/331) issue but it says that it was fixed. I am not sure if it relates to that problem.

[code]

`InitService:`
![image](https://user-images.githubusercontent.com/6511056/41702971-ad74

[2018-06-21 08:18] BenoitClaveau commented on #339
I need to override the badge count in DB by a value read in the notification like iOS.

[2018-06-21 15:06] Asad4429 opened #570 "java.lang.ArrayIndexOutOfBoundsException"
**Description:**

ArrayIndexOutOfBondsException is occuring in com.onesignal.OneSignalRestClient.postSync

**Environment**
Android version: 5.0
Device: One (m7)
OneSignal version: 3.9.1

**Crash logs:**
[code]

[2018-06-21 20:08] kerimovscreations commented on #224
![image](https://user-images.githubusercontent.com/10672530/41742857-52e6d0c2-75b0-11e8-8377-2c8287a2cbe0.png)
This issue has occurred in my application.

[2018-06-21 21:34] jkasten2 commented on #548
@ebeling If the device registers to OneSignal as "Not Subscribed" but then later becomes "Subscribed" after sometime then the device may have had connection problems to Google's server or with the "Google Play services" app on the device. Huawei modifies Android pretty heavily on most of these devices so it just be an issue with their ROM.

I recommend uninstalling the app on your Huawei device th

[2018-06-21 21:40] jkasten2 commented on #569
@janbolat Thanks for the details. This does look like a different issue than the one you linked too.

As you highlighted in the logs it looks like there is a case where OneSignal can make the main thread wait on `OSH_NetworkHandlerThread` which looks to be the root of the cause here.

[2018-06-21 21:42] jkasten2 commented on #570
@Asad4429 Thanks for the full log and detail. This is the same issue as #490. Going to close this issue as a duplicated but we will use this information when fixing the issue. Feel free to follow up on #490 if you have more details. Thanks.

[2018-06-21 21:42] #570 closed

[2018-06-21 21:48] jkasten2 commented on #224
@kerimovscreations Thanks for reporting. I have seen more than on instance of this crash? Are you able to reproduce this crash?

This is most likely related to the Android Core itself crashing and throwing this exception. More details to the similar issue #567

[2018-06-21 21:51] jkasten2 commented on #339
Thanks for the suggestion, this isn't built into OneSignal right now but we have details on how to turn off the automatic setting of badges in this guide.
https://documentation.onesignal.com/docs/android-customizations#section-app-icon-badge-counts

You can then use this library to set your own badge values
https://github.com/leolin310148/ShortcutBadger

[2018-06-21 21:59] eugenio-caicedo commented on #339
@jkasten2 Thanks for the reference. I thought about disabling the badge count, but the library you mentioned does not work on all devices. I had noticed that detail only using the OneSignal library.

[2018-06-21 22:03] jkasten2 commented on #339
@rostopira ShortcutBadger seems to support most Android launchers. Is there launchers that it is missing that you need? Or any other libraries you have seen fill in some of the gaps supporting other launchers?

It might be something someone has requested before if you take a look through their Open and Closed issue
https://github.com/leolin310148/ShortcutBadger/issues

[2018-06-22 03:04] jkasten2 commented on #531
@fatemeh2sh I recommend making sure the date and time is correct on the device as this can cause SSL errors. If that is not the issue then it must be an issue with the your cell provider or ISP blocking or malforming the SSL handshake

[2018-06-22 06:49] lingster opened #572 "js OneSignal.init() function call causes App to exit when react-native-router-flux is used in react-native app"
**Description:**

When attempting to add OneSignal to a react-native app that is using react-native-router-flux for navigation when OneSignal.init() is called from js code, the app will close itself. If we revert to having oneSignal initialised via the build.gradle dependency then the app will not close itself.

When the app closes I'm unable to locate any stacktrace, can anyone help me with this?

[2018-06-23 08:48] MasterSami1985 opened #574 "Could not find property 'SdkVersion' on com.android.build.gradle.AppExtension_Decorated"
**Description:**

error when import project ud839_Miwok-3d055a71fd487403f0d0d513b224b6f23f88d482

this error

Could not find property 'SdkVersion' on com.android.build.gradle.AppExtension_Decorated@7785bee3.

**Environment**

**Steps to Reproduce Issue:**

my app/build.gradle :

apply plugin: 'com.android.application'
apply plugin: 'com.google.gms.google-services'

android {
implementation SdkVers

[2018-06-23 18:52] endymion00 commented on #373
@jkasten2 so deleteTag is not suppose to work anymore?
I tagged some users with tag userId and after that I noticed that the recommended tag is user_id. So I performed a deleteTag('userId') and a sendTag('user_id','xxxxxxxx') but as I see only sendTag works and deleteTag never deletes the tag.

[2018-06-24 16:04] roysG opened #575 "Banner notification not shown on notification."
Android version :7

One signal version: latest.

The app code is your demo app, without any changes.

I am tring to jump the notification in top of the screen whem push notification is coming.

I alse defined it in the settings, image:
https://ibb.co/hzj0h8

How The banner notification should like on notification
https://goo.gl/images/P41c95

[2018-06-24 16:39] #575 closed

[2018-06-25 13:03] zupodaniel commented on #569
Production app facing same issue here.

[2018-06-25 13:22] lingster commented on #572
No, I don't see any crash dialogs on the device (Samsung S7 Edge). I'm also running react-native log-android and no stack traces. This is all that I can see:

[code]

[2018-06-25 13:34] rostopira commented on #513
@jkasten2 more than week passed already. I'm starting to loose hope. If you don't have any ETA, than I'll rollback to the old version

[2018-06-25 20:30] jkasten2 commented on #574
@MasterSami1985 Can you share both your root `build.gradle` and your `app/build.gradle`? Also please provide the full stack trace of the error and we can look into the issue. To get the full stack trace you may have to run `./gradlew app:build` from the terminal.

[2018-06-25 21:08] jkasten2 commented on #373
@endymion00 `deleteTag` will only makes a network call if the SDK knows this key has been set already by the SDK. If you set the key with a REST API call directly then the key won't be deleted by the SDK from the onesignal.com backend. Or if you fully uninstalled and reinstalled the app on the device and OneSignal was able to detect it was the same device through the Google ad id. In this case eve

[2018-06-25 22:11] show47 commented on #373
😎 Thank you!

[2018-06-26 00:30] jkasten2 commented on #513
@rostopira Sorry for the delay. We just released [3.9.2](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.2) which includes a fix for this issue.

[2018-06-26 00:30] #513 closed

[2018-06-26 07:46] lingster commented on #572
I've enabled the debug line in the ```initOneSignal()``` of ```RNOneSignal.java``` and in the console I now see the following errors:

[code]

I'll try to debug further...

[2018-06-26 09:12] endymion00 commented on #373
@jkasten2 thank you for your answer.
By the way, regarding getTags is there something similar related to sendTag? When was testing this I also noticed that sometimes sendTag didn't set the tag (I meant calling sendTag to set an existing key)

[2018-06-26 15:18] MasterSami1985 commented on #574
hello

**my build.gradle is** 2.2
**android studion** 3.1.3

**my  app/build.gradle  :**

apply plugin: 'com.android.application'
apply plugin: 'com.google.gms.google-services'

android {
    implementation SdkVersion 23
    buildToolsVersion '27.0.3'

    defaultConfig {
        applicationId "com.example.android.miwok"
        minSdkVersion 15
        targetSdkVersion 23
        versionCode 1

[2018-06-26 17:02] Brainiac-88 commented on #540
Hi Guys!
Please help me... I'm using OneSignal with Cordova and I have a special use case. My quesion is how can I call the Init method twice or more times in order to registrate a user for different accounts (in runtime of course). In my case first init works fine in the DeviceReady, but if call another init from JS with a different onesignal project id it doesn't work. How can I achieve this? I

[2018-06-26 22:16] jkasten2 commented on #373
@endymion00 Overriding wont' have this issue unless you making changes to the same key outside of the SDK and trying reset the key back to the exact same value for the key. That is if you set `key:" a"` on the SDK, then set `key: "b"` from the REST API, then try to set `key: "a"` again from the SDK. On the last step going back to `"a"` won't work in this case however setting SDK `key: "c"` will.

[2018-06-26 22:19] jkasten2 commented on #574
@MasterSami1985 I don't see OneSignal in the `build.gradle` you posted. Did you post the correct file?

[2018-06-27 14:16] jasperrietrae opened #576 "[Question] Identify app users combining FCM and OneSignal"
Hi.

Sorry for asking here, I couldn't find it anywhere else!

I have an app for a client where we only save the app users by storing their unique device id and adding their FCM push key to this in the database. The client now asks us if we can integrate OneSignal so that they can send segment push notifications to multiple users within a group/tag at the same time (https://documentation.onesignal

[2018-06-27 14:17] endymion00 opened #577 "sendTag erratic behavior"
**Description:**
sendTag does not always update the tag. Sometimes they are updated immediatly and sometimes it seems to never change so the app relies in "maybe the next time" the code calls sendTag the tag will be changed".

I'm using sendTag for setting 2 tags (userId and anonymous) this way:

[code]
As I see sometimes tags are not changed so I'm wondering if I'm missing something.

**Environme

[2018-06-27 15:09] endymion00 commented on #373
@jkasten2 thank your for clarifying this. I would suggest to include this information in the official documentation.
Regards

[2018-06-27 23:48] jkasten2 commented on #576
@jasperrietrae You can use the the [Add a Device](https://documentation.onesignal.com/reference#add-a-device) REST API to import devices into OneSignal. You can set tags so you can later create any filters or segments you need.

However for Android notifications to show on the device from OneSignal you must use this SDK in your app. The format OneSignal sends to the device is not displayed by the

[2018-06-27 23:50] jkasten2 commented on #373
@endymion00 We do have a warning already the REST API documentation already.
https://documentation.onesignal.com/reference#edit-device
It doesn't explain the specifics however i noted above

[2018-06-28 11:53] manishpatelgt opened #579 "Null pointer exception in LocationGMS.java line 20"
I got one crash and it's point to one of OneSignal class

[code]
[Crashlytics Crash report URL](https://fabric.io/chilapp/android/apps/com.queen.chilapp/issues/5b345c186007d59fcd08cc6e/sessions/latest)

My **build.gradle** has

// OneSignal SDK
    implementation 'com.onesignal:OneSignal:3.9.1'

[2018-06-28 13:31] jasperrietrae commented on #576
@jkasten2 Thanks so much for the quick and helpful response!

So if I understood correctly I need to build it so that each user is imported to the OneSignal API. In this list of users we can send the push notification segments according to the documentation I linked. Correct?

[2018-06-28 17:51] jkasten2 commented on #576
@jasperrietrae Correct, you can import and your custom keys/values as tags with the REST API. Then you can use the segment features you linked too. The import is optional, the SDK still must be added to your app for the notification to be displayed.

[2018-06-29 08:08] manishpatelgt commented on #579
ok Here is the full error logs

# Organization: MineApp
# Platform: android
# Application: ChilApp
# Version: 2.0.1 (2002)
# Bundle Identifier: com.queen.chilapp
# Issue #: 235
# Issue ID: 5b345c186007d59fcd08cc6e
# Session ID: 5B345867036100012D5C9FE7D2DC19A0_DNE_0_v2
# Date: 2018-06-28T03:43:00Z
# OS Version: 8.1.0
# Device: Pixel 2
# RAM Free: 38.1%
# Disk Free: 50.7%

#0. Crashed: OSH_Location

[2018-06-29 11:31] arnav017 commented on #540
I added the ap-id in builder and also passed it in the manifest and it registered multiple times so i also request to ignore the one in manifest.

[2018-06-29 11:32] endymion00 opened #580 "Deleting a user in dashboard produces an error in app"
**Description:**
I had a playerId on the platform containing 2 tags. Because I wanted to reset that user (I'm working with tags and didn't wanted those tags anymore) I ended deleting the playerId/device in the dashboard.

After that I started my app in that device and I saw in the following error:
PUT RECEIVED JSON: {"errors":["No user with this id found"]}
I'm using SDK initialization and sendTag

[2018-06-29 12:59] jasperrietrae commented on #576
@jkasten2 and then we also send the FCM/APS push token to OneSignal so that OneSignal is still pushing it that way, but it can be segmented with OneSignal's API. Correct?

[2018-06-29 13:49] endymion00 commented on #577
@jkasten2 I tried what you suggested and found that sometimes the SDK does not send the info to update the tag.
In my case this happens to frequently (it is development environment, the app is often being killed and run it again after code changes).
What I found is that after calling sendTag the SDK logged the put event for setting the tag but a response from onesignal platform were not logged (wh

[2018-06-29 14:45] roysG opened #581 "Can we set the option "banner" (in notifications settings) as default?"

[2018-06-29 18:00] fatsjohonimahnn commented on #581
Banner notifications only work on android 5 - 7.

For android 8+ they introduced Categories to make customizations to notifications and add this functionality there.

Please see our docs on Android Categories here: https://documentation.onesignal.com/docs/android-notification-categories

To show banner notifications on android, you can set the priority to High on the notification.

You can send no

[2018-06-29 19:07] jkasten2 commented on #577
@endymion00 After sendTags is called how long is app running before killing it? The SDK will delay sending update for 5 seconds to try to batch any updates together. Can you provide step by step details on reproducing the issue?

[2018-06-29 19:13] jkasten2 commented on #580
@endymion00 Thanks for all the details. Even though you see `No user with this id found` as an error in the logcat the SDK is handling this correctly. It creates a new user as you noted in the 2nd attempt, your first attempt sounds like the debugger was an issue. I have never seen this scenario cause any hangs in the app.

Below is the spot where player recreation is handled by the SDK
https://git

[2018-06-29 19:15] jkasten2 commented on #567
@baole I don't believe the Android Core crash is related to OneSignal. Feel free reply if I am mistaken and we can take a 2nd look.

[2018-06-29 19:15] #567 closed

[2018-06-29 19:16] jkasten2 commented on #566
@fatemeh2sh Closing due to inactivity. Feel free to reply if the above did not help.

[2018-06-29 19:16] #566 closed

[2018-06-29 19:17] jkasten2 commented on #531
Closing due to inactivity, please provide more details if you believe the above isn't the case. Thanks.

[2018-06-29 19:17] #531 closed

[2018-06-29 19:20] jkasten2 commented on #547
@ashisharora119 I am going to merge this issue with #475 since fixing this should fix this related issue. Feel free to add any more details to this issue though and we still review it when fixing #475

[2018-06-29 19:20] #547 closed

[2018-06-29 20:43] jkasten2 commented on #576
Correct.

Note for iOS you must add the device to OneSignal as device_type 0 and use it's APNs token not the FCM token.

[2018-06-29 20:43] #576 closed

[2018-06-30 03:29] roysG commented on #581
Yes, this is exactly what i did , but i required in addition go manually to my app settings and enable the option "banner" in notification settings and chnage it to active.

Is there any way to enable "banner" option by default without do it manually?

[2018-06-30 12:14] juliancorrea commented on #552
This didn't  worked for me.

Stack trace:

`06-30 09:11:23.334 29748-30190/br.com.jcs.torktransportes.torkapp E/AndroidRuntime: FATAL EXCEPTION: pool-7-thread-1
                                                                                    Process: br.com.jcs.torktransportes.torkapp, PID: 29748
                                                                                    java.lang.Illeg

[2018-06-30 12:15] juliancorrea commented on #552
This didn't worked for me.

Stack trace:

06-30 09:11:23.334 29748-30190/br.com.jcs.torktransportes.torkapp E/AndroidRuntime: FATAL EXCEPTION: pool-7-thread-1 Process: br.com.jcs........, PID: 29748 java.lang.IllegalStateException: Default FirebaseApp is not initialized in this process br.com.jcs.torktransportes.torkapp. Make sure to call FirebaseApp.initializeApp(Context) first. at com.google.fir

[2018-06-30 12:42] black-8 commented on #552
@juliancorrea Me neither
@jkasten2  One month past and I'm still waiting for the next update :/
ps 3.9.2 didn't fix this

[2018-06-30 17:46] jkasten2 commented on #552
@juliancorrea @black-8 I missed that the next step after adding the `google-services.json` file is important. Adding the Google Play service Gradle plugin noted below.

![image](https://user-images.githubusercontent.com/645861/42127680-e9fad290-7c51-11e8-9d6e-03d48c5e031a.png)
**Project-level build.gradle (<project>/build.gradle):**
[code]

**App-level build.gradle (<project>/<app-module>/build.gr

[2018-06-30 17:51] endymion00 commented on #577
@jkasten2 I'm pretty sure that the app was running more than 5 seconds.  sendTag is called just when the user logs in, so after that I checked the playerId dashboard by reloading the browser for a couple of minutes. After that time I the data was not updated.
Sometimes I have also waited more than 5 minutes and re-checked the playerId in the dashboard but it hadn't its info updated.
Unfortunately

[2018-07-01 01:37] juliancorrea commented on #552
Thks @jkasten2 but now I'm facing this:

`Dex: Error converting bytecode to dex:
Cause: com.android.dex.DexException: Multiple dex files define Lcom/geektime/rnonesignalandroid/BuildConfig;
    UNEXPECTED TOP-LEVEL EXCEPTION:
    com.android.dex.DexException: Multiple dex files define Lcom/geektime/rnonesignalandroid/BuildConfig;
        at com.android.dx.merge.DexMerger.readSortableTypes(DexMerge

[2018-07-01 06:14] bharatbondu opened #582 "Image failed to display in scheduled push notifications"
**Description:**

Scheduled push notifications failed to display the big image. I tried adding image link, uploaded file in filestack and google drive. nothing worked. But when I send a push with image immediately it is displaying.

**Environment**

1. I'm using android sdk 25.
2. Built the app using phonegap version 7.0.1
3. Installed the android using $ cordova platform add android
4. Added the

[2018-07-01 11:20] black-8 commented on #552
@jkasten2 tnx for follow up
I missed the apply plugin: 'com.google.gms.google-services' part :/

[2018-07-01 17:53] jkasten2 commented on #582
@bharatbondu If you have a number of notifications in the notification shade on the device it won't automatically expand to show the big image. You will need to swipe down with 2 fingers to expanded it.

As a test you can try setting the large icon to the same URL to make sure your URL is correct.

[2018-07-01 17:56] bharatbondu commented on #582
@jkasten2 It's not about the multiple notifications in the notification shade. I cleared all other notifications and checked many times. URLs are also correct!

It works when I'm sending push notifications immediately. Only when I schedule a notification it doesn't work.

[2018-07-01 18:01] jkasten2 commented on #582
@bharatbondu Which scheduling options are you using? I recommend also contacting OneSignal support linking them this thread. They can look at your account to verify everything looks correct on your specific notifications.

[2018-07-01 18:03] jkasten2 commented on #581
@roysG You can send a notification from the OneSignal dashboard or REST API with high priority as Jon noted above without needing to change any device settings.

[2018-07-01 18:10] bharatbondu commented on #582
@jkasten2  I'm using 'Begin schedule at particular time' option.
Sure, thanks for the suggestion.

[2018-07-01 18:55] roysG commented on #581
Yes, you right and this is exactly what i did, but unless i will not manually allow the banner option in notification settings of my app, the notification will not bump me on top, even when i send the notification as the high priority.

Tested in android v7 hawueii p10 plus.

[2018-07-02 12:31] vivekb91 opened #583 "In amazon kindle notifications are opening in browser"
**Description:**
When tapping on the notification in amazon kindle device, it opens in browser instead of app.

**Environment**
Onesignal SDK version 3.9.1
Android SDK version is 27.0.1

**Steps to Reproduce Issue:**
1. Send the notification to any kindle device.
2. Tap on the notification

[2018-07-02 17:48] jkasten2 commented on #583
@vivekb91 Are you sending the notification though the OneSignal dashboard or through the REST API? Can you ensure the Launch URL or the `url` on the REST API isn't set to any value including a blank string? I recommend messaging OneSignal support with your notification Id so they can check this on their end.

[2018-07-02 20:58] jkasten2 commented on #582
@bharatbondu I'll let them follow up with you but feel free to reply if you have any more details.

[2018-07-02 21:01] bharatbondu commented on #582
thanks, @jkasten2. I already contacted them & shared required details.
Waiting for their response.

[2018-07-02 21:04] jkasten2 commented on #577
@endymion00 The Android SDK will continue to retry sending tag updates until it gets back a success response. Once it gets this success response the SDK marks them as synced and won't try to resend these keys unless you call send tags with a new value.

getTags shouldn't have an effect unless you have changed the tags values from the REST API outside of the SDK and you are trying to set the tags b

[2018-07-02 21:56] fatsjohonimahnn commented on #581
Please contact OneSignal support through our website with your appID, notification ID and the playerID of the device so we can look into this deeper.

Will close this for now since we need to investigate the account deeper. Thanks

[2018-07-02 21:56] #581 closed

[2018-07-03 00:31] #552 closed

[2018-07-03 00:32] jkasten2 commented on #552
Removed this requirement in the PR above, this will be included in the next release

[2018-07-03 00:57] fatsjohonimahnn commented on #582
We responded to your ticket on our support channel, will close this and continue the conversation through our support channel.

[2018-07-03 00:57] #582 closed

[2018-07-03 01:31] jkasten2 commented on #498
I am currently digging into this crash.
@suntehnik @medJemmoudi @eriuzo Are you still able to reproduce this crash on our latest 3.9.2.

@benbenmushi I checked some of your stacktraces and this is what I found
1. UpgradeReceiver.java:42. This must have been from a version of your app with OneSignal before 3.6.0 since this line number changed in this version specifically for Android 8 compatibility

[2018-07-03 05:04] vivekb91 commented on #583
@jkasten2 we are sending notification from Onesignal dashboard.

[2018-07-03 11:17] MuhammadMuzammilQadri commented on #342
Yes we are detecting a leak at runtime. Here is the stack trace from leak canary:

In com.telenor.capp.farmsupplies:2.0.1:2.
* com.telenor.capp.farmsupplies.ui.main.categories_product_list.CategoriesProductListFragment has leaked:
* GC ROOT static com.onesignal.ActivityLifecycleHandler.curActivity
* references com.telenor.capp.farmsupplies.ui.main.MainActivity.mFragments
* references android.suppo

[2018-07-03 18:56] jkasten2 commented on #342
@MuhammadMuzammilQadri Thanks for reporting with the full state. I looks like `com.onesignal.ActivityLifecycleHandler.curActivity` does have a static reference to `com.telenor.capp.farmsupplies.ui.main.MainActivity.mFragments` but I don't see any other Activities. Was your app in the background or foreground at this time?

[2018-07-03 20:49] jkasten2 commented on #583
@vivekb91 I recommend contacting OneSignal support for this issue since they can look at your specific notifications on their end.

[2018-07-03 20:49] #583 closed

[2018-07-03 20:54] DSofter commented on #548
@jkasten2 thank you for the updated. I also tested on the latest Android P beta and the issue is gone. Thanks!

[2018-07-04 06:10] vivekb91 commented on #583
@jkasten2 thank you.

[2018-07-06 18:51] jkasten2 commented on #420
Closing due to inactivity. Feel free to reply however if the above didn't help and we can take a 2nd look. Thanks.

[2018-07-06 18:51] #420 closed

[2018-07-06 18:52] #498 closed

[2018-07-06 18:53] jkasten2 commented on #557
@demhamaryvera Closing due to inactivity. Please provide the details above and we can take a 2nd look. Thanks.

[2018-07-06 18:53] #557 closed

[2018-07-06 19:01] jkasten2 commented on #574
@MasterSami1985 Closing due to inactivity. Please provide your full build.gradle noted above and we can take another look. Thanks.

[2018-07-06 19:01] #574 closed

[2018-07-06 19:56] jkasten2 commented on #498
@eriuzo I added a catch for your specific stacktrace in the commit above. It will be included in the next release

[2018-07-06 20:49] jkasten2 commented on #342
@runningcode I see, didn't know if it printed all Activities. OneSignal shouldn't be leaving any references behind as it does hook into the [`onActivityDestroyed`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.9.2/OneSignalSDK/onesignal/src/main/java/com/onesignal/ActivityLifecycleHandler.java#L101) and clears it's reference.

From looking at state log above again it seems like the Act

[2018-07-07 22:24] Kamoba opened #586 "Custom Sound not working!"
**Description:**
Hi, Even based on the advice given on [this post](https://github.com/OneSignal/OneSignal-Android-SDK/issues/272) I still can't play a different sound when receiving the notification.
based on the documentation I modified my apk, created the res/raw folder in my apk file and put it my audio file (Alarm_Survivor.wav).

**Environment**
I use an html Android app (Thunkable).

I receiv

[2018-07-09 11:52] yaronlevi commented on #569
We probably experiencing the same issue OSH_NetworkHandlerThread on our react native app.
We were at RN@0.49 and after we upgraded to RN@0.55 it started.
Also, we have "react-native-onesignal": "3.0.5".

![screen shot 2018-07-09 at 14 45 03](https://user-images.githubusercontent.com/5398977/42448970-af384470-8387-11e8-828d-0986b054adf1.png)

[2018-07-09 14:23] cesar1287 commented on #500
Hello, this problem have been occurring with my app reported by Fabric, please see the log:

Fatal Exception: java.lang.IllegalStateException: Apps may not schedule more than 100 distinct jobs
       at android.os.Parcel.readException(Parcel.java:1691)
       at android.os.Parcel.readException(Parcel.java:1636)
       at android.app.job.IJobScheduler$Stub$Proxy.schedule(IJobScheduler.java:158)

[2018-07-09 14:29] rostopira commented on #586
@Kamoba if you have shrinkResources enabled in build.gradle, then you should explicitly tell shrinker to keep that file

[2018-07-09 18:50] jkasten2 commented on #586
@Kamoba Android only supports lower case files in the `res` directory, the file name must contain only lowercase a-z, 0-9, or underscore. Normally Android Studio / Gradle will throw a build error when the file name does not match this format so double check the directory as well. Your sound file should be located at `app/src/main/res/raw/alarm_survivor.wav`.

If your app is targeting Android API 2

[2018-07-11 13:34] rodrigon-rpc commented on #569
Also experiencing the same issue here on Android versions 8.0 and 8.1 in production!

[2018-07-12 11:56] yaronlevi commented on #569
Once we upgraded to the latest react-native-onesignal the issue is gone 👍

[2018-07-13 20:17] jkasten2 commented on #498
@eriuzo We added a catch for the `IllegalStateException` which might only throw in some rare cases if the device is resending the broadcast. I think the issue is more related to the state of the device rather than a specific project / app setup. Thanks for the repo offer though.

Yes this exception handling will be included in the next SDK release sometime next week.

[2018-07-15 05:51] Kamoba commented on #586
Woohoo it's working! Thanks a lot gays!

[2018-07-15 05:51] #586 closed

[2018-07-16 08:59] devlab-dariolipari opened #589 "ANR com.onesignal.SyncService"
I notice this ANR on Google Play Console:
[code]

[2018-07-16 11:38] vivekb91 opened #590 "After updating from 3.9.0 app is freezing."
**Description:**
We were using SDK version 3.9.0, then updated to 3.9.1 then few users complained that app is freezing. we reverted all the changes with that release and issue resolved. Now we updated one signal SDK to 3.9.2, there was no other changes, But users who updated to that app version again complaining the same issue. we got two tickets today one is in HTC U11 (Android 8.0.0), other one

[2018-07-16 13:08] ayushsingla991 opened #591 "NullPointerException in RestoreJobService"
**Description:**

I am getting crash reports on firebase.

**Environment**

Onesignal Version: 3.9.1
Android SDK Version: 27
Build Tools Version: 27.0.3

Android Version On which crash is detected: 6.0.1
Device: Nexus 4

**Steps to Reproduce Issue:**

Can't reproduce. It came in Firebase Crashlytics. Tried everything with onesignal but I am unable to get the crash.

**Anything else:**

[code]

[co

[2018-07-16 16:40] Gamezpedia opened #592 "App crashing right after receiving the notification!"
**Description:**

i am getting notification but it is crashing the app .

**Environment**
**1. What version of the Android SDK are you using?**

**compileSdkVersion** 27
**buildToolsVersion** '27.0.3'
**minSdkVersion** 19
**targetSdkVersion** 27

**2. How did you add the SDK to your project (eg. maven)**

maven

**Steps to Reproduce Issue:**

Followed the steps written in Android SDK setup guide
h

[2018-07-16 23:30] jkasten2 commented on #589
@devlab-dariolipari Thanks for the report. Can you include the full ANR trace for all threads? We will need this to see what state the other threads are in your app to determine exactly how the lock occurred.

[2018-07-16 23:33] jkasten2 commented on #590
@vivekb91 Normally when there are app freezes an ANR report will show up in the Google Play Console or in Crashlytics if you use it. If you have you attach the full report here? An ANR report will be pretty long but if you can include the full report with all threads that will be helpful.

[2018-07-16 23:35] jkasten2 commented on #591
@ayushsingla991 Thanks for the report, we will review the code from the stack to see if we can find any potential issues.

Can you share how many users are being effected by this crash?

[2018-07-16 23:38] jkasten2 commented on #592
@Gamezpedia The  `java.lang.NoSuchMethodError: No static method xxxx()Lcom/google/firebase/iid/yyyy;` errors most of the time mean you have a mismatched set of Firebase versions in your project.

Can you ensure you have added the gradle plugin noted in step 1.1 to the correct `build.gradle` file and it is at the very top (line: 1) of the file?
https://documentation.onesignal.com/docs/android-sdk-s

[2018-07-17 06:14] Gamezpedia commented on #592
Yes i copy pasted from the docs:

here is my complete build.gradle file

[code]

there are two flavors and each flavor have debug and release variants, along with `google-services.json` files in each flavor folder.

i can see everything work in the Firebase analytics dashboard that each flavor is showing it's proper
RELEASE & DEBUG versions separately and the activity too.

- in the Main Activity

[2018-07-17 06:47] ayushsingla991 commented on #591
@jkasten2  The app is recently updated with OneSignal yesterday. So, Users affected by the crash are 2 and the occurrence of the crash is 4.

[2018-07-17 06:59] devlab-dariolipari commented on #589
@jkasten2 thanks for the reply.

Here the full ANR trace.

---------------------------------------------------------------------------------------------------

"main" prio=5 tid=1 MONITOR
  | group="main" sCount=1 dsCount=0 obj=0x41652cc0 self=0x4158dd80
  | sysTid=3640 nice=-11 sched=0/0 cgrp=apps handle=1073992020
  | state=S schedstat=( 0 0 0 ) utm=6 stm=10 core=0
  at com.onesignal.OneSignal.o

[2018-07-17 07:30] tbt-hasan opened #593 "ANR on Activity resume"
**Description:**

App sometimes freezes when `LocationGMS.onFocusChange()` called.

**Environment**

**Steps to Reproduce Issue:**
  1. Run the app
  2. press Home
  3. Open it again

**Anything else:**

One Signal related threads dump:
[code]

[2018-07-17 18:08] jkasten2 commented on #592
@Gamezpedia Thanks for all the details! I believe you are running into this issue https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/53.
Adding the following should fix this
[code]

This is due to some breaking changes in `com.google.firebase:firebase-core:16.0.0` that cause class missing errors with 15.x versions of `firebase-messaging`. Updating it to version 17.0.0 fixes this issue. Si

[2018-07-17 18:47] jkasten2 commented on #593
@tbt-hasan Thanks for reporting with the relevant ANR stacks. I believe this is the same issue as #589 so going to merge this one with it and close this one. Feel free to follow up on that issue. Thanks.

[2018-07-17 18:48] #593 closed

[2018-07-17 18:50] jkasten2 commented on #577
Closing due to inactivity. Feel free to reply if the above doesn't cover what you are seeing.

[2018-07-17 18:50] #577 closed

[2018-07-17 19:12] Gamezpedia commented on #592
i added that but got this .

[code]

[2018-07-18 07:02] vivekb91 commented on #590
@jkasten2 we can see some ANRs in play console, in some threads it is showing one signal also. But we are not sure about the actual reason of that ANR. let us understand the ANR properly. Then we will update with details.

[2018-07-18 11:43] bytekode opened #594 "OneSignalDbHelper.java line 107 | com.onesignal.al.b | Fatal Exception: android.database.sqlite.SQLiteException: not an error (Sqlite code 0), (OS error - 2:No such file or directory)"
**Description:**

I am using OneSignal Android SDK and this crash is occurring very frequently and here is link http://crashes.to/s/101f00453ee

**Environment**
1. Android SDK version **3.9.2**
2. build.gradle entry  **implementation 'com.onesignal:OneSignal:3.9.2'**

**Steps to Reproduce Issue:**

Unfortunately I couldn't reproduce this issue and is occurring in production environment.

**Anythin

[2018-07-18 13:33] cesar1287 commented on #500
Any update about this issue?

[2018-07-18 17:06] jpusp commented on #263
@jkasten2 I have updated my app with [OneSignal 3.9.1](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.1) and i had no more crashes on devices after 5 days of release. Thanks!!!

[2018-07-18 21:44] jkasten2 commented on #592
@Gamezpedia Can you try running Build > Clean Project?

If this does not help can you try disabling instant run as a work around for the time being?
https://stackoverflow.com/a/47815223/1244574

[2018-07-18 21:46] jkasten2 commented on #590
@vivekb91 Feel free to share the full ANR that contains OneSignal and we can take a look.

[2018-07-18 22:01] jkasten2 commented on #594
@bytekode It looks like the crash is related to OneSignal not able to create a database for a list of notifications your app has received. It looks like this crash started happening for you mostly on versionCode 101 of your app. Could you summarize what changed in this version?

[2018-07-19 06:00] rameshvoltella opened #596 "java.lang.IllegalStateException on android oreio devices"
Hi

i have getting a lot of crashes in the play console with java.lang.IllegalStateException for android Oreo devices 8.0 and 8.1,
I have updated my one signal to the latest version 3.9.2, still that crash is affecting i saw that #498 was resolved with that hope i updated the onesignal and gone for a relese it been 1 week i had got 1009 crash for oreo devices.

Device include MiA1,Redmi Note 5 Pro

[2018-07-19 06:35] vivekb91 commented on #590
@jkasten2 now we are calling sendTags from a background thread in order to avoid ANRs. Is this a good approach?

[2018-07-19 08:00] vivekb91 commented on #590
@jkasten2 These ANRs we collected from google play. Please check..
[anr1.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/2208892/anr1.txt)
[anr3.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/2208894/anr3.txt)
[anr2.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/2208896/anr2.txt)
[anr4.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/2208897

[2018-07-19 12:40] Mehrankhan10 commented on #327
i am facing this problem kindly someone help  me

`java.lang.NullPointerException:
  at com.myapplication.AppPathTrackingActivity.displayLocation (AppPathTrackingActivity.java:413)
  at com.myapplication.AppPathTrackingActivity.onConnected (AppPathTrackingActivity.java:573)
  at com.google.android.gms.common.internal.GmsClientEventManager.onConnectionSuccess (Unknown Source)
  at com.google.androi

[2018-07-19 12:44] Mehrankhan10 commented on #364
I am facing this problem how to resolve this crash ..
`Xiaomi Mi A1 (tissot_sprout), Android 8.1
Report 1

android.app.RemoteServiceException:
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1780)
  at android.os.Handler.dispatchMessage (Handler.java:106)
  at android.os.Looper.loop (Looper.java:172)
  at android.app.ActivityThread.main (ActivityThread.java:6590)
  at java.lan

[2018-07-19 15:41] mustafa-demir commented on #298
I had a very similar problem. I solved it by adding following lines in my build.gradle for app module.

`buildscript {
    repositories {
        maven { url 'https://plugins.gradle.org/m2/'}
    }
    dependencies {
        classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:[0.11.0, 0.99.99]'
    }
}
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'

repositories {

[2018-07-20 00:12] jkasten2 commented on #498
[Version 3.9.3](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.3) has now been released which contains a fix for this.

[2018-07-20 00:12] jkasten2 commented on #596
[Version 3.9.3](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.3) has now been released which contains a fix for this.

[2018-07-20 00:12] #596 closed

[2018-07-20 00:23] jkasten2 commented on #364
@Mehrankhan10 Thanks for the report but I don't see OneSignal in your stack trace. Can you provide exact details on how you reproduced the issue?

[2018-07-20 03:37] adrianambiclimate opened #597 "ANR after app reopened from Background"
**Description:**

After the app has been in Background for long time and then reopen. ANR (executing service com.ambiclimate.remote.airconditioner/com.onesignal.SyncJobService) may happen on either of the below code:
OneSignal.setEmail(email);
OSPermissionSubscriptionState status = OneSignal.getPermissionSubscriptionState();

Using version 3.9.0 - 3.9.2 have this problem. Seems don't have this pro

[2018-07-20 03:37] adrianambiclimate commented on #597
"main" prio=5 tid=1 Blocked
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x750ef910 self=0x721e014c00
  | sysTid=17994 nice=0 cgrp=default sched=0/0 handle=0x72a39fd548
  | state=S schedstat=( 915267621 150900476 1645 ) utm=61 stm=29 core=5 HZ=100
  | stack=0x7fd402a000-0x7fd402c000 stackSize=8MB
  | held mutexes=
  at com.onesignal.bi.g (UserStateSynchronizer.java)
- waiting to lock <0x0ef648f

[2018-07-20 03:38] adrianambiclimate commented on #597
"main" prio=5 tid=1 Blocked
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x750ef910 self=0x721e014c00
  | sysTid=17994 nice=0 cgrp=default sched=0/0 handle=0x72a39fd548
  | state=S schedstat=( 915267621 150900476 1645 ) utm=61 stm=29 core=5 HZ=100
  | stack=0x7fd402a000-0x7fd402c000 stackSize=8MB
  | held mutexes=
  at com.onesignal.bi.g (UserStateSynchronizer.java)
- waiting to lock <0x0ef648f

[2018-07-20 07:54] jamesmartins commented on #542
Hi John!
I'm same error!

Error LogCat:
`
E/OneSignal: Unknown error getting FCM Token
    java.lang.IllegalStateException: Default FirebaseApp is not initialized in this process br.com.rededuque.android. Make sure to call FirebaseApp.initializeApp(Context) first.
        at com.google.firebase.FirebaseApp.getInstance(Unknown Source:53)
        at com.google.firebase.iid.FirebaseInstanceId.getInst

[2018-07-20 09:33] bytekode commented on #594
// In Android Application class onCreate method

// Code snippet since version code < 101
OneSignal.startInit(this)
                .inFocusDisplaying(OneSignal.OSInFocusDisplayOption.Notification)
                .setNotificationOpenedHandler(new OpenHandler(getApplicationContext()))
                .unsubscribeWhenNotificationsAreDisabled(true)
                .init();

// Added in version code

[2018-07-20 18:55] jkasten2 commented on #542
@eirworks We just released a fix for this yesterday in 3.9.3.
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.3

Can you try re-syncing your gradle to pull in the latest version? Thanks.

[2018-07-20 20:59] novyd commented on #498
What is the Unity SDK version that contains this fix?

[2018-07-20 21:53] EmilAlipiev commented on #204
i have the same problem. after adding this line, I am seeing "not subscribed" instead of "outdated google play services". i followed all steps in the documentation. what could be the problem?

[2018-07-23 03:30] syahnurizal commented on #500
@jkasten2
Any fix for this issue?

[2018-07-23 23:34] jkasten2 commented on #500
We haven't been able to reproduce this issues. We will take a deeper looking will be doing some additional testing on some more details however to try to reproduce the issue.

Are you still seeing this use on the latest 3.9.3 SDK?

Step on reproducing the issue will help us pin point the issue as well.

[2018-07-24 08:38] eriuzo commented on #498
hi, after deploying with 3.9.3 we are still experiencing same kind of crash, but with different stack trace:
`
Fatal Exception: java.lang.RuntimeException: Unable to start receiver com.onesignal.GcmBroadcastReceiver: java.lang.IllegalStateException: Not allowed to start service Intent { cmp=com.airyrooms.android/com.onesignal.GcmIntentService (has extras) }: app is in background uid UidRecord{d210

[2018-07-24 08:42] iForests opened #599 "ANR: executing service app.xxx/com.onesignal.SyncJobService"
**Description:**
There are a lot of ANRs reported to Google Play Console.

**Environment**
Compile SDK Version: 27
Target SDK Version: 16
OneSignal SDK Version: 3.9.2

**ANR Report**
The "OSH_NetworkHandlerThread" (tid=33) thread is in waiting state.

"main" prio=5 tid=1 Blocked
  | group="main" sCount=1 dsCount=0 obj=0x75159538 self=0xa5304400
  | sysTid=12728 nice=-4 cgrp=default sched=0/0 handl

[2018-07-24 08:47] eriuzo commented on #498
looking at the stacktrace, i found this
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3cc4c311d01a8cc003210f312d864c801355052d/OneSignalSDK/onesignal/src/main/java/com/onesignal/GcmBroadcastReceiver.java#L142

[code]
why `startGCMServiceWithWakefulService(context, bundle);` called twice ?

[2018-07-24 08:48] iForests commented on #599
![2018-07-24 4 46 30](https://user-images.githubusercontent.com/307714/43127114-3d441b1a-8f61-11e8-9e77-59fec3099f9c.png)

The ANR rate is higher than the Google Play

[2018-07-24 09:39] Jack2jm commented on #280
![screenshot 243](https://user-images.githubusercontent.com/9676304/43129986-3afac1be-8f53-11e8-9045-acc3c086d35b.png)
I am having the same issue when using One signal Notification.

App Target SDK is 26.
Onesignal android version : 3.9.1
Plugin Version :  0.10

[2018-07-24 10:46] rampr commented on #590
Hi @jkasten2 Are these details sufficient ?
We wanted to know if it is a good idea to call sendTags in a different thread to avoid the ANR.
Also let us know if the ANRs attached above are relevant.

[2018-07-24 17:15] iForests commented on #599
Here are build.gradle files:

[code]

[code]

[2018-07-24 18:14] jkasten2 commented on #498
@eriuzo Thanks for the catch, the catch block should be calling `startGCMServiceWithJobScheduler` as a fallback. We will get patched into the next release.

[2018-07-25 13:32] kuldip4u commented on #11
I faced the same issue in the 8.1 Made the below change.. Cahnge the prority of the notification as LOW and it will disable the sound of notificatioin

NotificationManager.IMPORTANCE_LOW

the code is like :
NotificationChannel chan1 = new NotificationChannel("default", "default", NotificationManager.IMPORTANCE_LOW);

[2018-07-25 17:39] WilliamAnputra commented on #592
@jkasten2 i was getting the same error as @Gamezpedia , adding firebase messaging and Build > Clean project worked for me.

[2018-07-25 18:36] roysG commented on #572
same for me.

[2018-07-25 22:31] Gamezpedia commented on #592
@jkasten2 thanks; i solved it by removing everything related to OneSignal and then added
`implementation 'com.google.firebase:firebase-messaging:17.0.0'` after the syn: again added the OneSignal things and build it. it is working now

[2018-07-25 22:31] #592 closed

[2018-07-26 00:18] jkasten2 commented on #474
The "Google Play services" app (AKA GMS) is once again sending ordered broadcasts on Android Oreo 8.0+ devices. This seems to have been changed sometime after version 11580448 but on or before version 12.8.74. The commit noted above has details on this change.

Broadcasts are ordered now no matter the Android version now. Closing this issue as this is no longer a problem after Google made this cha

[2018-07-26 00:18] #474 closed

[2018-07-26 01:22] jkasten2 commented on #280
@Jack2jm Thanks for reporting, your stack trace is actually the same as issue #498

[2018-07-26 09:48] eriuzo commented on #498
thanks, looking forward to next release

[2018-07-26 15:40] rameshvoltella opened #601 "NotificationOpenedReceiver not opening after clearing app is some devices"
NotificationOpenedReceiver not calling in some devices

i will explain the way to produce

let the app is open and send a push, we will receive the notification, After that clear the application by swiping(our usual way to clear the app), now if i click the received notification  nothing is happening , the notification is been removed but no action is taken place.Mi a1 , Motorola, devices its work

[2018-07-26 18:57] jkasten2 commented on #190
@ironhide0396 Make sure you don't have an Android Studio debugger attached to your app when you close it as this will force killed the app. Please let us know the device model if this wasn't the issue.

[2018-07-26 19:04] ironhide0396 commented on #190
No detaching the debugged did not work out..
I'm currently using OnePlus 6
Android Oreo 8.1.0

[2018-07-26 19:05] jkasten2 commented on #594
@bytekode Thanks for the code changes from your 100 to 101 version. `OneSignal.idsAvailable` will read from shared preferences and not SQL so this shouldn't be related to this crash.

The crash stack is happening when trying to generate an updated summary notification after receiving one. Are you sending different notifications if uses have updated to version 101 of your app?

[2018-07-26 19:21] jkasten2 commented on #190
@ironhide0396 Thanks, I don't believe that device has any sort of modifications to Android to change this force kill behavior however do you see this same issue on the Android Emulator?

Are you using the OneSignal `NotificationExtenderService`? Do you see the issue if you only send a basic notification with only a body set? Without setting priority or any other options like images

[2018-07-26 21:42] jkasten2 commented on #590
@vivekb91 Thanks for the full logs!
@vivekb91 @rampr I believe we have all the logs that we need. The issue is an internal locking issue with in the SDK syncing changes to OneSignal, this can be tags, session count increase, ect. Using OneSignal methods on different threads won't have an effect.

In all the ANR#.txt log files I am not seeing any locks on the main thread directly on a OneSignal cla

[2018-07-27 04:16] rameshvoltella commented on #601
No app doesn't crash, this happened only when i clear my app when i already have a notification, after that when i click notification, i saw this on the log.

[2018-07-27 06:47] guyman opened #602 "Cordova - OneSignal and Firebase Analytics crashs on Push Notification"
**Description:**

I'm using OneSignal for push notifications and using Firebase for analytics. This is why I'm using this version of Firebase, so the Push Notifications won't be handled both by OneSignal and Firebase.
When sending a Push Notification via the OneSignal dashboard, some apps crash with the following stacktraces:
java.lang.NoSuchMethodError:
at com.google.firebase.messaging.FirebaseMe

[2018-07-27 13:22] LukasAnda opened #604 "Android 8.1 app crashes when sending notifications from console"
**Description:**

When I send notification from OneSignal console, on Android 8.1 the app force closes when user receives notification. When user later does receive another notification, the app does not display any. Tested on Emulator

**Environment**

gradle

**Steps to Reproduce Issue:**

1. Add the OneSignal SDK to your project
  2. Place your App ID in the application's gradle file
  3. Attem

[2018-07-28 11:51] ironhide0396 commented on #190
I did not initially use it but after your suggestion i used it as follows
`
public class BackgroundNotification extends NotificationExtenderService {
    @Override
    protected boolean onNotificationProcessing(OSNotificationReceivedResult notification) {
        OverrideSettings overrideSettings = new OverrideSettings();
        overrideSettings.extender = new NotificationCompat.Extender() {

[2018-07-29 22:53] EmilAlipiev commented on #583
I am having the same problem. have you found a solution for this?

[2018-07-30 04:02] ririlya94 commented on #592
Thanks for the solution guys! Was finding whats the problem for days edy

[2018-07-30 13:17] MacDegger commented on #558
Just to mention that we also got hit with this issue (after an update to OneSignal?) Anyway, since we didn't really use the pushToken/registrationid and were only looking for the userid, we replaced the call with OneSignal.getPermissionSubscriptionState().getSubscriptionStatus().getUserID(), which we could use instead.

We went from 3.8.4 to 3.9.3 btw and were using the lambda version OneSignal.id

[2018-07-31 00:46] jkasten2 commented on #602
@guyman I believe you are running into this issue.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/53

Once it has been fixed and an updated released the `onesignal-cordova-plugin` 2.4.1 and newer will use the latest version automatically.

[2018-07-31 00:46] #602 closed

[2018-07-31 01:00] jkasten2 commented on #604
@LukasAnda Thanks for reporting. This could either happen with if;
1. The OneSignal SDK version is in your app is older than 3.6.0
2. Your using an Android Support Library version older than 26
3. Or if another GCM / FCM `BroadcastReceiver` in your app is also displaying a notification

To confirm if this issue is from 2. make sure any `com.android.support` entries in your `build.gradle` are 26 or

[2018-07-31 05:27] ezeinis opened #605 "Reliable way to send notifications to devices with battery optimisation that kills background processes"
Hello, I have implemented one signal at 2 different applications and the customer complained about not receiving any notifications. After many hours of digging i found out about that new android 8 feature on some manufacturers where all the apps are by default optimized for battery usage. The question is that, is it possible to send reliably notifications to those manufacturers as well (android 8+

[2018-07-31 07:50] LukasAnda commented on #604
This is my dependencies section:

    dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    testImplementation 'junit:junit:4.12'
    annotationProcessor 'com.jakewharton:butterknife-compiler:8.8.1'
    implementation 'com.crashlytics.sdk.android:crashlytics:2.9.4'
    implementation 'com.github.dimorinny:floating-text-button:0.0.4'
    implementation 'com.android.support

[2018-07-31 12:33] rameshvoltella commented on #601
@jkasten2  any suggestions?

[2018-07-31 19:31] sundeeprs commented on #232
Is this issue solved, i am still getting below error. Any solution, please suggest

android.database.sqlite.SQLiteFullException: database or disk is full (code 13)
07-30 13:58:21.252 11646 17512 E ACRA    : 	at android.database.sqlite.SQLiteConnection.nativeExecute(Native Method)
07-30 13:58:21.252 11646 17512 E ACRA    : 	at android.database.sqlite.SQLiteConnection.execute(SQLiteConnection.java:5

[2018-08-01 14:27] FLM96 opened #606 "AndroidX OneSignal not recognised"
**Description:**

Since refactoring to AndroidX OneSignal is not recognised and causes gradle build errors. The app runs and appears and the device appears in the console.
(your description here)

**Environment**

1. What version of the Android SDK are you using? 28 (Android P)
2. How did you add the SDK to your project (eg. maven)? - maven

**Steps to Reproduce Issue:**
  (write below this line)

[2018-08-02 12:39] #606 closed

[2018-08-02 23:35] jkasten2 commented on #605
@ezeinis The changes in Android Oreo such as background execution limits don't effect the reliably of FCM/GCM notifications. The is because even if the app is closed the "Google Play services" app will start the app in the background to process the message. As long as the app hasn't been force killed / stopped (swiping away the app is a normal close) there won't be an issue with the restarting of

[2018-08-02 23:35] #605 closed

[2018-08-02 23:46] Nightsd01 commented on #599
@iForests Thanks for your excellent bug report, we are looking into this now. It looks like a deadlock is causing the main UI thread to become unresponsive.

Is this the only type of ANR you are seeing or are you seeing separate reports as well?

We should have an update soon to fix this (and other) ANR's/race condition issues.

[2018-08-03 01:02] jkasten2 commented on #232
@sundeeprs Can you post the full stack trace? I don't see OneSignal in yours above but we will need this to pin point the issue.

[2018-08-03 01:52] jkasten2 commented on #592
This issue was fixed in the 0.11.1 OneSignal-Gradle-Plugin update so the word around above is no longer needed.

[2018-08-03 04:57] iForests commented on #599
There are 3 types of ANR that look similar.

[code]

There is anohter type of ANR. I am not sure whether they are the same or not. Please let me know if I should open another issue for the following one. Thanks.

[code]

[2018-08-03 09:31] cheasocheat commented on #501
I also meet this problem too, here is my error log in logcat. It happen during runtime.

08-03 16:28:20.379 16557-16557/com.glf.mobile.co.beta I/art: Rejecting re-init on previously-failed class java.lang.Class<android.support.v4.app.JobIntentService$JobServiceEngineImpl>: java.lang.NoClassDefFoundError: Failed resolution of: Landroid/app/job/JobServiceEngine;
        at void com.evernote.android.

[2018-08-03 19:41] jkasten2 commented on #501
@cheasocheat Thanks for the stacktrace however I don't see OneSignal in it. It looks like the crash is coming from `CoApplication.kt:80` in your app where you are using the Evernote JobManager library.

[2018-08-05 17:57] ironhide0396 commented on #190
I modified the onesignal application by using the legacy server key of Firebase Console project instead of the regular one .
The app runs fine now on all android devices other than Oreo.
On Oreo the same issue is recurring
`W/GCM-DMM: broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=com.xxxxx (has extras) `

Any solution for this will be apprec

[2018-08-06 09:16] rf1804 commented on #180
Can we close the notification on click of particular action button without opening app in android.

[2018-08-06 11:04] sercangedik commented on #583
We are facing the same problem, is there any workaround we can apply for now before you fix it?

[2018-08-06 11:08] pacozaa commented on #298
@mustafa-demir Where did you put it in project?

[2018-08-06 11:10] pacozaa commented on #298
@mustafa-demir Do you have example of your file?

[2018-08-06 15:26] EmilAlipiev commented on #583
@sercangedik I asked their support over the portal but they didnt give me any answer since a week. It looks like that they dont even know themselves what the problem is

[2018-08-07 03:06] jkasten2 commented on #190
@ironhide0396 Using the legacy vs the normal Firebase server key shouldn't have any effect on the end device like this. The `GCM-DMM: broadcast intent callback: result=CANCELLED` message means the device did get a message from Google's server however the "Google Play services" app could not wake your app due your app being force closed.

Someone did report that using the `NotificationExtenderServi

[2018-08-07 05:38] vivekb91 commented on #583
@EmilAlipiev @sercangedik when we contacted them they told us to set a launch URL manually or try simply adding test://test. It is working for us. No other fixes found yet.

[2018-08-07 06:27] rampr commented on #590
@jkasten2 @Nightsd01 Want to understand the above question. If we called sendTags in a separate thread we don't see users complaining about freezing(hence ANRs shouldn't be there)

Do you think it still makes sense to call sendTags in a separate thread after #607 ?

[2018-08-07 18:34] jkasten2 commented on #298
@pacozaa The entries should be added to the very top of your `app/build.gradle (Module: app)` per the [Android SDK Setup - 1. Gradle Setup](https://documentation.onesignal.com/docs/android-sdk-setup#section-1-gradle-setup) instructions

[2018-08-07 18:45] #589 closed

[2018-08-07 22:18] Nightsd01 commented on #589
Resolved in 3.10.1! Thanks for reporting this issue

[2018-08-08 05:45] rampr commented on #590
Thanks @Nightsd01 for the reply. We will let you know our findings.

[2018-08-09 21:19] jkasten2 commented on #583
@vivekb91 @EmilAlipiev @sercangedik There was a fixed deployed on OneSignal's backend that should fix sending a blank URL param when doing so though the OneSignal dashboard.

[2018-08-10 16:53] dostalleos commented on #591
I have same crash reports in Crashlytics. Onesignal version 3.9.1, OS version 6.0.1, Nexus 4 not rooted. 4 users and 9 crashes in 10 hours.

[2018-08-13 06:02] kassimjk opened #609 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/internal/zzab;"
I have this error in my log cat and can't really figure it out.

08-13 01:59:58.704 25343-25343/com.parse.starter E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.parse.starter, PID: 25343
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/internal/zzab;
        at com.google.firebase.provider.FirebaseInitProvider.zza(Unknown Source:2)
        at com.g

[2018-08-14 03:52] ominfowave opened #610 "Unable to start receiver com.onesignal.NotificationOpenedReceiver: java.lang.SecurityException:"
I have seen many crashes from one signal Android Version, Details report http://crashes.to/s/4b799fc9804

[code]

[2018-08-14 18:25] Nightsd01 commented on #610
Hi @ominfowave , this stack trace indicates that something is crashing in your implementation of the Notification Opened handler. Specifically, it seems like your app is calling `getRunningTasks` without having the `GET_TASKS` permission. This would not be an issue with our SDK and our SDK doesn't use this functionality.

[2018-08-14 18:25] #610 closed

[2018-08-16 23:53] jkasten2 commented on #597
@adrianambiclimate Sorry for the delay, thanks for the full stack traces. I believe this is the same issue as #589, #590, and #599 by comparing some of the line number from the obfuscated stacktraces.
This was fixed in the 3.10.1 SDK update.

If you are still seeing an issue after the update can you provide a an unobfuscated stack trace?

[2018-08-16 23:53] #597 closed

[2018-08-16 23:58] jkasten2 commented on #609
@kassimjk Sorry for the delay. Can you make sure you have added the `onesignal-gradle-plugin` to the top of your `app/build.gradle` noted in step 1.1?
https://documentation.onesignal.com/docs/android-sdk-setup#section-1-gradle-setup

Missing this or adding it to the wrong `build.gradle` is the most common issue for this runtime error.

[2018-08-17 07:28] kassimjk commented on #609
@jkasten2 Thank you, I found out what the problem was, i had some extra dependencies in the build.gradle.

[2018-08-17 16:38] Flaviocrtt commented on #456
I got the same return too, i have to send this message and title: 'Nova atualização para você', if i remove 'ç', 'ã' and 'ê', it works fine, i have to do something on php where i create the message, do you guys know what to do?
I tried ` header('Content-Type: application/json; charset=utf-8');` but no success.

[2018-08-18 23:15] jkasten2 commented on #609
@kassimjk Good to hear you got things working? What did you have to remove? It could help others.

[2018-08-21 12:43] rameshvoltella commented on #601
@jkasten2  i have noticed that the notification that does not open is appearing   again if i launch the app,
Why is that is that some thing you guys handle any missing notification? i wnt to mention that it happening in one plus and gionee as i tested, i can tell how i produce it.
Gionee A1 (Android version 7.0)
1)Open the app
2)Wait till a notification received.
3)Clear the app (like we always sw

[2018-08-21 18:08] jkasten2 commented on #601
@rameshvoltella Do you have the Android Studio debugger attached to your app when you swipe your app away in step 3? If so this can freeze the so I recommend testing your steps without the device connected to your system to be sure. Let us know if you can reproduce the issue this way still.

[2018-08-21 22:54] rameshvoltella commented on #601
@jkasten2 i have reproduced this issue first without connecting to debugger, in my office 3 people have oneplus, all of them uaving this issue, and I found this isse in gionee A1, i debugging on A1 only but i muself produce this issue oneplus, Also it has noted that if app is not using or not opened in 2 or 3 days, and if we send a notification its not receving also.

[2018-08-22 08:10] #609 closed

[2018-08-22 18:38] jkasten2 commented on #604
@LukasAnda Thanks for the list. After looking at your crash log again it is crashing from a call to `startForeground`. However OneSignal does not use this method so this must be from your app or one  of the other dependencies in your project.

[2018-08-22 18:38] #604 closed

[2018-08-22 19:03] jkasten2 commented on #601
@rameshvoltella The issue you are describing seems like the OnePlus devices are putting your app into a battery optimize mode. You should be able to go to do the following on the device to prevent this.
Go to Settings > Battery > Battery Optimization > Application > Don't Optimize
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown#section-the-app-is-forc

[2018-08-23 02:40] kassimjk commented on #609
The problem was I had too many unnecessary dependencies on the build.gradle. So if anyone runs in to the same problem I know for sure the problem with extra dependencies.

dependencies {
    implementation 'com.android.support.constraint:constraint-layout:1.1.2'
    //noinspection GradleCompatible
    implementation 'com.android.support:appcompat-v7:27.1.1'
    implementation 'com.google.android.g

[2018-08-23 03:29] rameshvoltella commented on #601
@jkasten2 we cant do anything on this issue?one of my competitive app does not have this issue. I check battery optimization  there option is same as mine. I closed there app and wait until one day but it received notification, They are not using onesignal usual fcm only, Also they are not default whitelist app as whatsapp or facebook, any idea how they are achieve this solution (in oneplus)

[2018-08-24 02:42] jkasten2 commented on #601
@rameshvoltella The only other reason I could see why is if you have some other background process that is crashing your app after some time. The issue might be related to Android version rather than device manufacture. I would look from your logcat carefully to see if you can find any crashes and / or setup something like crashlytics to log any possible background crashes or ANRs

[2018-08-24 02:57] rameshvoltella commented on #601
@jkasten2 no crash is happening and am sure about that.i had made a separate project with only onesignal implemented and i given that app to the oneplus device. After installing push has received in the app. After that we close the app. After one day i send one more push, but it say it send via console but I didn't received it

[2018-08-24 03:07] jkasten2 commented on #601
@rameshvoltella After sending the notification can you check the logcat on the device? Check for anything with FCM, GCM, or your package name in it.

[2018-08-24 06:11] jkasten2 commented on #252
Since Android 4.1 is used on a declining 1% of Android devices and this feature is only used by a limited number of apps we do no plan on investigating a fix for this bug.

[2018-08-24 06:11] #252 closed

[2018-08-24 08:07] alaa-alshaikh opened #612 "NullPointerException: Attempt to read from field 'org.json.JSONObject com.onesignal.UserState.syncValues' on a null object reference"
I'm Updating my build to the latest OneSignal SDK, got this error,
 fabric.io :

Fatal Exception: java.lang.NullPointerException: Attempt to read from field 'org.json.JSONObject com.onesignal.UserState.syncValues' on a null object reference
       at com.onesignal.UserStatePushSynchronizer$1.onSuccess(UserStatePushSynchronizer.java:34)
       at com.onesignal.OneSignalRestClient$5.run(OneSignalRes

[2018-08-26 06:14] axilaris opened #613 "Conflict with dependency in project ':app'. Resolved versions for app (15.0.2) and test app (12.0.1) differ - (onesignal&firebase issue)"
**Description:**

I cant seem to build gradle for my app on Android Studio 3.0.1 (generate apk works). This used to work without problem until I made a build for another project (which included firebase integration) and then suddenly this does not work. Below was the build output.

[code]

I posted the same question here:
https://stackoverflow.com/questions/51867714/conflict-with-dependency-in-pro

[2018-08-26 13:57] vahid263 opened #614 "Behind Proxy App"
I am using Onesignal SDK in my android mobile app and myapp is behind a proxy server, how can I change the http://onesignal.com URL in my SDK?

[2018-08-26 14:24] ShabanKamell opened #615 "Android Pie: java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/location/LocationListener"
Due to restrictions on non-SDK interfaces https://developer.android.com/about/versions/pie/restrictions-non-sdk-interfaces
i get this exception:
java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/location/LocationListener

[2018-08-27 12:36] kinnrot commented on #138
happened to me also version 3.9.2

[2018-08-27 13:22] danlex-corp opened #616 "Crash OneSignalSyncServiceUtils IllegalArgumentException"
Hi, I am got a lot of this crash in Google Play Console:
[code]
on Android 7.0 and Adnroid 5.0.
Devices: Redmi Note 4 (mido), Galaxy A3 (a3lte), Honor 6C Pro (HWJMM), HOMTOM S16

I'm using OneSignal version 3.10.1

[2018-08-28 03:15] jkasten2 commented on #612
@alaa-alshaikh Thanks for reporting. It looks like this might be a race condition with the OneSignal initializing while on another thread `OneSignal.getTags()` was called.  Can you share the code how your calling `OneSignal.getTags()`?

[2018-08-28 04:12] jkasten2 commented on #613
@axilaris Thanks for all the details and sharing your `build.gradle` files. However I am not able to reproduce the issue. Can you try cleaning your project? You can do so from Android Studio or with `./gradlew clean` from the terminal.

If you still have the issue can you share the `./gradlew` command you ran to reproduce the error? Such as `./gradlew build`? Or if building through Android studio

[2018-08-28 04:14] jkasten2 commented on #614
@vahid263 The URL for all calls the SDK makes can be changed below.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignalRestClient.java#L44

We do not plan to make this configurable so you will need to build and use a local copy of this SDK. Thanks.

[2018-08-28 04:14] #614 closed

[2018-08-28 04:19] jkasten2 commented on #615
@ShabanKamell Can you share the full error message? It is most a warning only showing in the logcat as this SDK proving geotagging for push notifications. `com.google.android.gms.location.LocationListener` is part of the Google Play services library. You can ignore this warning if you don't use this feature.

This SDK does not use the NDK and only uses Java. Nor does it access any hidden Android O

[2018-08-28 04:19] #615 closed

[2018-08-28 04:28] jkasten2 commented on #616
@danlex-corp After `java.lang.IllegalArgumentException: ` it should provide a more specific error to help debug the issue. Can you provide this?

Are you able to reproduce the issue on your own device? There should be more details in the logcat.

Thanks.

[2018-08-28 04:33] jkasten2 commented on #572
@lingster The following from your logcat means that you have delete the player/device record from OneSignal.
[code]

You should see right after this that the device makes a new create call to create a new player.

It sound like you got things working if you got this far. If you are still having an issue specific to react-native-router-flux and the OneSignal React Native SDK I recommend opening a n

[2018-08-28 04:33] #572 closed

[2018-08-28 04:45] jkasten2 commented on #138
@ghost @kinnrot the `SyncService` has changed dramatically since 3.4.4 and is now only use for Pre-5.0 Android devices. `SyncJobService` is now used for most devices.

Please create a new issue and provide as much detail as you can including full stack traces and if you can reproduce the issue on your devices.

[2018-08-28 08:33] alaa-alshaikh commented on #612
Hi @jkasten2, Thanks for answering! the problem is i don't call OneSignal.getTags() all, all i'm doing is initializing the OneSignal and passing the Notification Opened Handler

[code]

[code]

Thats how I'm using the OneSignal !

[2018-08-28 08:47] danlex-corp commented on #616
@jkasten2 From Logcat: `Error: requested job be persisted without holding RECEIVE_BOOT_COMPLETED permission.`

An error occurs when applications are minimized.
I specifically did not add `RECEIVE_BOOT_COMPLETED` permissions, because I received a bad review.

[2018-08-28 12:03] danlex-corp commented on #616
I added this permissions, the problem was solved, but only after a full reinstallation of the application. When updating, the error remained. But I still do not want to prescribe this permisions, it may scare the user.

[2018-08-28 22:03] jkasten2 commented on #616
@danlex-corp Thanks for the details. Our SDK currently automatically adds this by default to restore notifications back to the notification shade on boot. This is not ensure the user does not miss any notification they haven't interacted with yet.

We look into adding a runtime check to try to prevent this error however for apps that have removed the permission.

[2018-08-29 10:04] bitshadow opened #617 "Android: Started getting crashes when sending the tags"
**Description:**
NullPointerException (@OneSignal$11:run:1508) {mqt_native_modules}

java.lang.NullPointerException:
  at com.onesignal.OneSignal$11.run (OneSignal.java:1508)
  at com.onesignal.OneSignal.sendTags (OneSignal.java:1524)
  at com.onesignal.OneSignal.sendTags (OneSignal.java:1450)
  at com.geektime.rnonesignalandroid.RNOneSignal.sendTags (RNOneSignal.java:88)
  at java.lang.reflect.Me

[2018-08-29 19:07] Behtom commented on #169
Hi @opheliadesign! I read your post and I have the same issue in my app. I already encoded my ExtenderService class with PendingIntents but does not work. Could you help me to solve it please?

[2018-08-29 19:49] jkasten2 commented on #617
@bitshadow Thanks for reporting, this was fixed in PR #611. It will be included in the next release of this SDK and then will be included in the next react native SDK update after.

In the mean time the issue can be avoided by making sure you don't call `sendTags` with a empty JSON object as this triggers `null` error. Thanks.

[2018-08-29 19:49] #617 closed

[2018-08-29 20:29] jkasten2 commented on #612
The following from your logcat points to `getTags` returning from a network response from onesignal.com.
[code]
This point to this line in the source of this SDK.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.10.1/OneSignalSDK/onesignal/src/main/java/com/onesignal/UserStatePushSynchronizer.java#L34

Can you double check where your calling `getTags` again? Could this have only been incl

[2018-08-30 01:06] jkasten2 opened #618 "enableVibrate & enableSound don't respect False unless initialized from Application.onCreate"
If `enableVibrate` or `enableSound` is set to `false` this setting is ignored if the app does not initialize  OneSignal from `onCreate` of the application class. The issue only occurs when the app has been pushed out of memory and is cold starting to display the notification.

Note, `enableVibrate` or `enableSound` are only used for Android 7 and older device. Android Oreo 8+ now uses Notification

[2018-09-01 06:17] rameshvoltella opened #619 "java.lang.IllegalStateException on android oreio devices"
Hi

i am getting a lot of crashes in the play console with java.lang.IllegalStateException for android Oreo devices 8.0 and 8.1,
I have updated my one signal to the latest version 3.10.1, still that crash is affecting i saw that #498 and #596  issues the below is what my log says

[code]

See the screen shot

![desk](https://user-images.githubusercontent.com/5446157/44943050-cab3ee00-addc-11e8-9b3

[2018-09-01 15:17] sealiasheq opened #620 "SERVICE_NOT_AVAILABLE oneSignal ?"
I have bellow error on some android device:

[code]

For example `PadFone T00C (4.3)`.

<img width="1440" alt="screen shot 2018-09-01 at 7 44 27 pm" src="https://user-images.githubusercontent.com/20620859/44947250-8bf35780-ae1f-11e8-801c-5ad09240895a.png">

[2018-09-02 04:35] rameshvoltella commented on #619
Crash is keep on increasing i update my app about 20 days ago with 3.10.1 Release of onesignal. suddenly this friday abhuge spikes came on my crash list with this issue. What making this issue. I know you guy fixed similar bug before. But why it is keep comming.

[2018-09-02 10:19] vahid263 opened #621 "how to recompile sdk ?"
I want to know how can I recompile sdk and use the output Jar file?
please help me.

[2018-09-03 10:26] marten83 opened #622 "Opening application has delay after clicking on notification"
**Description:**

When clicking a notification, it takes a long time (up to 10 seconds) before the app opens after it has been in the background for a longer time.
This happens in Android 8.0.0 in Samsung s8
I have tested with OneSignal example app with exactly the same result.

**Environment**

SDK 3.10.1
implementation 'com.onesignal:OneSignal:[3.9.1, 3.99.99]'

**Steps to Reproduce Issue:**

[2018-09-04 02:47] jkasten2 commented on #620
@sealiasheq Thanks for details. The `SERVICE_NOT_AVAILABLE` is thrown from the Firebase / Google play services library. This happens when the "Google Play services" app does not response or runs into some error when getting a push token. There isn't anything the app developer can do, getting this errors means the device will have being other issues with Google services
https://stackoverflow.com/a/

[2018-09-04 02:47] #620 closed

[2018-09-04 03:15] jkasten2 commented on #619
@rameshvoltella In 3.10.0 we added a catch for `IllegalStateException` specifically so it is odd you are still seeing this issue.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.10.0/OneSignalSDK/onesignal/src/main/java/com/onesignal/GcmBroadcastReceiver.java#L137

If you have confirmed these devices getting the crash are running OneSignal 3.10.0 or newer then the only way I can see this

[2018-09-04 03:56] rameshvoltella commented on #619
@jkasten2 So its obfuscator issue am not adding any proguard rule for onesignal do i need to add anything to solve this issue?I cant give a apk to support team but i can tell the playstore link, Also the issue was not there early but suddenly one day it apper, At what case this crash is occuring?Will it affect the user experience by seeing crash screen?

[2018-09-05 04:54] satish123 commented on #503
Hi,

I am also getting the same issue after updating the version 3.10.1

**Find the log**
Caused by java.lang.NullPointerException: Attempt to invoke interface method 'void com.onesignal.OneSignal$ChangeTagsUpdateHandler.onSuccess(org.json.JSONObject)' on a null object reference
       at com.onesignal.OneSignal$11.run(OneSignal.java:1508)
       at com.onesignal.OneSignal.sendTags(OneSignal.java:

[2018-09-05 05:16] rameshvoltella commented on #619
@jkasten2 can you suggest any solution?

[2018-09-05 13:34] Rualan commented on #486
@jkasten2 did you find a solution to this?

[2018-09-07 15:35] DLevai94 commented on #420
For me it isn't working on React Native.

When I put the app to background I see this error on logcat:
[code]

[2018-09-10 04:49] afalibykea opened #623 "Fatal Exception: Caused by com.onesignal.OneSignal.GetUnsentActiveTime"
**Description:**
We have been observing this crash on our fire base console for a particular user device only. However, we are unable to reproduce this on our end. Stack trace shows that its your internal method which is causing this fatal exception.

**Environment And Device Details**

**Device Info:**

- Model name:  Galaxy J7 Prime
- Model Number: SM-G610F
- OS version: Android 7.0 (Nougat)

On

[2018-09-11 15:39] bshka opened #624 "java.lang.IllegalStateException: Not allowed to start service Intent"
**Description:**
App craches on Android 9

**Environment**
Device - Pixel 2 XL Android 9

**Steps to Reproduce Issue:**

1. Start app
2. Just hide and reopen it

[code]

**Anything else:**

[code]

It works ok on all other android versions

[2018-09-11 22:38] Nightsd01 opened #625 "Missing FirebaseInstanceIdService Exception"
***NOTE*** This issue was originally ([#623](https://github.com/geektimecoil/react-native-onesignal/issues/623)) created for our react-native-onesignal SDK, however it appears to be an issue with recent changes we've made to our Android native SDK so I have moved the issue here. I have copied-pasted the issue below:

**Description:**
Integrated OneSignal with the official docs. iOS is working fine

[2018-09-12 04:39] afalibykea commented on #623
@jkasten2 do you guys need more information about this ?

[2018-09-12 18:46] amourinho opened #627 "No notification sound while on call"
**Description:**
There is no notification sound played while on a call. Notifications were sent with NORMAL priority, in a category with the importance set to IMPORTANT. The notification is received but no sound played. Now, if you end the phone call, and resend the notification and all should be back to normal. Is this a bug? Or could this be an additional feature?

**Environment**
LG G6, Android

[2018-09-12 20:30] kiddoware opened #628 "Huge Spike in OneSignal ANR on Android 5.0 device after upgrading target sdk to 26"
**Description:**

I am seeing huge spike OneSignal ANR on Android 5.0 device after upgrading target sdk to 26 regarding
Broadcast of Intent { act=android.intent.action.MY_PACKAGE_REPLACED flg=0x4000010 pkg=com.kiddoware.kidsplace cmp=com.kiddoware.kidsplace/**com.onesignal.UpgradeReceiver** (has extras)
Few Users have also reported app stuck on blue screen as soon as it starts after the upgrade. W

[2018-09-13 14:54] kiddoware commented on #628
Hi, I see this comment in the code in class com.onesignal.UpgradeReceiver

      // Return early if using Android 7.0 due to upgrade restore crash (#263)
      if (Build.VERSION.SDK_INT == Build.VERSION_CODES.N)
         return;

I think we need same logic for Android 5 (Lollipop).

[2018-09-14 06:59] ggobea commented on #456
I have same error. +1 Any solution ? Regards.

[2018-09-14 12:59] vahid263 commented on #614
I changed this line and build a Jar file and use in my project but I have the following error:
`09-14 17:24:00.866 12761-13010/com.onesigtest E/dalvikvm: Could not find class 'android.app.job.JobInfo$Builder', referenced from method com.onesignal.NotificationRestorer.startDelayedRestoreTaskFromReceiver
09-14 17:24:02.081 12761-13114/com.onesigtest E/dalvikvm: Could not find class 'android.app.Noti

[2018-09-15 10:51] casablancaplusplus commented on #173
Hi,

I really need this. I can generate the player id using the rest api. I just need to set it in the Android sdk of yours. Is there a work around ?

thanks in advance

[2018-09-17 06:10] afalibykea opened #629 "New Fatal Issue - OneSignalPrefs$WritePrefHandlerThread"
**Description:**
We have been observing this crash on our fire base console for a particular user device only. However, we are unable to reproduce this on our end. Stack trace shows that its your internal method which is causing this fatal exception.

**Environment And Device Details**

**Device Info:**

- Model name:  InnJoo ONE LTE HD
- OS version: Android 4.4.4 (KitKat)

OneSignal SDK Version:

[2018-09-17 17:34] Nightsd01 commented on #629
Thanks for reporting this. Generally if it's only happening on a single user's device it's possible that the device is rooted/jailbroken and has some weird setup. Is it possible for you to tell if the device this crash occurred on was rooted?

[2018-09-18 07:18] afalibykea commented on #629
@Nightsd01 I just checked this device is not rooted. I have attached image as well.

![2018-09-18_1204](https://user-images.githubusercontent.com/41981564/45670694-e0dfdf00-bb3c-11e8-94fc-578cb544b7dd.png)

[2018-09-18 13:58] Talkless commented on #503
I have similar issue with `deleteTags()` using `3.10.1`:
[code]

[2018-09-19 05:12] Talkless commented on #503
@satish123 I believe we should create new bug report.

[2018-09-19 12:55] rameshvoltella commented on #601
@jkasten2  any suggestion

[2018-09-19 19:58] jkasten2 commented on #622
@marten83 The app should open right away after tapping on the notification. Especially our example project since this is a very basic app.

Have you turned on any extra logging device wide that could be slowing things down?
Do you see this issue after swiping the app away then opening the notification?
Do you see this issue with any other devices?

[2018-09-19 23:03] jkasten2 commented on #619
You only need to add those Proguard rules manually to your project if you are using Eclipse or using our .jar file instead of the normal setup.

The follow is applied automatically to your project.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/consumer-proguard-rules.pro

There isn't specific to `GcmBroadcastReceiver` in there but it is fine if the class is

[2018-09-20 01:56] jkasten2 commented on #486
@davekedar  @Rualan  You will need to use `maven { url "https://maven.google.com" }` instead of `google()` if your Gradle version is less than 4.0. However I recommend updating the Gradle version number in your project from the `gradle-wrapper.properties` since Gradle 4.0 has been out for a while.

Also `jcenter()` should be after `google()`, otherwise you may see the noted here:
https://stackover

[2018-09-20 01:58] jkasten2 commented on #420
@DLevai94 Can you check all your `AndroidManifests.xml` in your project for `tools:node="replace"` in any `<application ...>` tags? This is will cause this exact error as well as a number of other `** ComponentInfo` errors with other plugins as well.

[2018-09-20 01:58] justTalk commented on #624
Caused by java.lang.IllegalStateException Not allowed to start service Intent { cmp=com.x.x.x/.x.x.xService }: app is in background uid UidRecord
Caused by java.lang.IllegalStateException
Not allowed to start service Intent { cmp=com.x.x.x/.x.x.xService }: app is in background uid UidRecord{7d9f297 u0a184 SVC bg:+15m25s900ms idle change:uncached procs:3 seq(0,0,0)}

Android 8.0 的应用尝试在不允许其创建后台服务的情况

[2018-09-20 02:15] jkasten2 commented on #624
@bshka Thanks for the details. We removed `com.onesignal.OneSignal.startSyncService` in our 3.8.2 so it looks like your project pulled in an older version of the OneSignal SDK.

I recommend changing `implementation 'com.onesignal:OneSignal:[3.7.1, 3.99.99]'` to `implementation 'com.onesignal:OneSignal:[3.10.1, 3.99.99]'` and re-sync Gradle through Android Studio to get the latest version.

@justTa

[2018-09-20 02:15] #624 closed

[2018-09-20 02:28] jkasten2 commented on #621
@vahid263 You can open the following project folder in Android Studio and build the `onesignal` project.
https://github.com/OneSignal/OneSignal-Android-SDK/tree/master/OneSignalSDK

Or run `./gradlew onesignal:build` from the terminal.

This will create `.aar` files under `onesignal/build/outputs/aar/`. You can extract `classes.jar` from it however it is recommend to use the `.aar` instead to as t

[2018-09-20 02:28] #621 closed

[2018-09-20 02:29] #625 closed

[2018-09-20 02:50] jkasten2 commented on #627
@amourinho I believe you have to set "Override Do not Disturb" on the notification category / channel if it should be played even during a call.
https://www.xda-developers.com/android-oreo-notification-phone-call/

I haven't tested this but the information above seems to point to this. Setting this on the category / channel isn't an option on the OneSignal dashboard but you can test it out by usin

[2018-09-20 02:55] jkasten2 commented on #628
@kiddoware Thanks for the report. Can you include the full stack trace of the ANR? Provide the full stack traces for all threads if you can. (Even though this will be ~1,000 lines).

The crash noted in that comment for issue #263 was due to a specific `Couldn't expand RemoteViews` crash due to some race condition bug with Android 7.0 itself.

Thanks.

[2018-09-20 03:33] jkasten2 commented on #456
@Flaviocrtt Can you try the PHP example code from the OneSignal documentation below?
https://documentation.onesignal.com/reference#section-send-to-all-subscribers-create-notification
If this doesn't help I recommend contacting OneSignal support with more details since your making the request from PHP and your issue isn't related to the Android SDK.

@ggobea Please try double check everything noted

[2018-09-20 03:36] jkasten2 commented on #614
These ` E/dalvikvm: Could not find class ` errors are expected in the logcat for Android devices before 5.0. It is just letting you know it could not find these classes as your app loads into memory. It does not cause any issues in your app as the calls are guarded with runtime checks so they won't create any issues.

[2018-09-20 03:39] jkasten2 commented on #173
@casablancaplusplus The OneSignal [player create / add a new device](https://documentation.onesignal.com/reference#add-a-device) REST API is used by this SDK to create a player with an id already. No need to make the REST API call your self in your app's code.

[2018-09-20 03:46] jkasten2 commented on #503
@satish123 @Talkless Thanks for reporting, this was fixed in PR #611 but hasn't been included in a release yet. It will be rolled into the next one.

In the mean time you can add an empty update handler to avoid the error;
[code]

[2018-09-20 06:34] rameshvoltella commented on #619
@jkasten2 am talking about  #601 my product has issue get notification for users

[2018-09-20 06:59] rameshvoltella commented on #601
@jkasten2  will solution 2 in the link https://stackoverflow.com/questions/28874973/android-repeating-alarm-calls-service-but-eventually-gets-process-is-bad-error   help to fix the issue #601

[2018-09-20 15:47] Talkless commented on #503
Good to know, thanks!

[2018-09-20 20:58] jkasten2 commented on #601
@rameshvoltella If you app is on the Play Store can you check the Google Play Console for any crashes that included OneSignal? Or any crashes in your logcat on your devices?

`process is bad` happens from repeated crashes of your app in the background. It would cause any background intent to no longer start your app including FCM intents for push notifications.

[2018-09-20 21:17] jkasten2 commented on #619
@rameshvoltella This may or may not be related to your other issue #601 issue. Let's keep this thread focused on the `IllegalStateException` so there is no confusion.

If you can provide a link to your app on the Google Play Store or to OneSignal support we can confirm the above.

[2018-09-21 22:31] jkasten2 commented on #628
@kiddoware Thanks for the full ANR. I don't see any threads running any OneSignal classes in the threads. The following from the main thread in your ANR report indicates that it is in the process of writing `SharedPreferences` to disk to save it's changes.
[code]

Are you see any other ANRs besides ones from the `com.onesignal.UpgradeReceiver` broadcast. Or any differences in the stack traces on t

[2018-09-21 22:35] kiddoware commented on #628
Yes, there are write preference but I am only seeing for this upgrade receiver in Play Store. There are two models of device (Android 4.4) where there are fatal crashes with this with following stack trace.  Not sure if its related but below is the stack trace:
java.lang.RuntimeException: Unable to instantiate receiver com.onesignal.UpgradeReceiver: java.lang.ClassNotFoundException: Didn't find cl

[2018-09-21 22:48] jkasten2 commented on #628
@kiddoware This error most likely means you hav multidex enabled for your app but the device didn't load the other dex file parts. This won't be related to your original issue with ANRs on Android 5.0 and above.
[code]

Since it isn't happening on all pre Android 5.0 devices then it most likely isn't an issue with the way you setup multidex. However can you still double check your setup with Googl

[2018-09-22 07:31] smitpatel88 opened #630 "Cocos2d-x SDKBox - Eclipse project issue on Android 8.1"
If our target targetSdkVersion is 27 which is now compulsory then Oreo devices is not able to get push notifications.
When Android-8.1 device getting notification, below log is printed in adb

`NotificationService: No Channel found for pkg=com.game.name, channelId=null, id=-1217830295, tag=null, opPkg=com.game.name, callingUid=10473, userId=0, incomingUserId=0, notificationUid=10473, notification=

[2018-09-22 21:47] jkasten2 commented on #630
@smitpatel88 In addition to updating the OneSignal .jar you will need to make sure you have the Android Support Library 26 newer in your project as well.

Lastly I believe there have been some changes to the `AndroidManifest.xml` so make sure to add the same ones noted here:
https://documentation.onesignal.com/docs/android-sdk-setup-eclipse#section-2-androidmanifest-xml

[2018-09-23 14:27] udarts opened #631 "subscriptionEnabled not true even when approving permissions"
**Description:**

I am having an issue where when a user approves the permission (set using a manual popup). And I check the getPermissionSubscriptionState, it returns the following:

[code]

According to the code, it mentions the following:
[code]
So subscriptionEnabled should be the same as that notificationsEnabled is, but it is not for the version on android I mentioned below. Other versions s

[2018-09-23 19:04] furkanozalp opened #632 ":app:debugRuntimeClasspath error gradle alpha10 and alpha11"
Hi

I get "ERROR: Cannot change strategy of configuration ':app:debugRuntimeClasspath' after it has been resolved" error in gradle:3.3.0-alpha10 and gradle:3.3.0-alpha11 but works before gradle:3.3.0-alpha10 version. How can I fix ?

Android Studio 3.3 Canary 11

[2018-09-24 06:52] smitpatel88 commented on #630
Okay, i delete `android_support_v7` folder from `project\cocos2d\cocos\platform\android\java\libs` and added below 2 lines in build.gradle
[code]
And after that its working fine.
BUT i am getting below log file initialization

[code]
Can we ignore this warning?

[2018-09-24 12:35] rampr commented on #630
I think this has been fixed in #626

[2018-09-24 13:22] rampr opened #633 "High Number of Partial Wake locks from com.onesignal.RestoreKickOffJobService"
**Description:**

Google Play shows a lot of stuck locks for this tag -> *job*/com.hashcube.sudokuquest/com.onesignal.RestoreKickoffJobService

**Environment**

1. Onesignal version 3.10.1
2. maven/gradle
3. Android versions 8.0.0 8.1.0 and 9.0 according to google play

**Steps to Reproduce Issue:**

1. I'm not able to reproduce the issue, but google play reports this.
2.
3.

**Anything else:**

A

[2018-09-24 19:00] jkasten2 commented on #631
@udarts The device is most likely having an issue getting a Firebase push token. It could also not be registering with OneSignal as well. To know which is the issue I recommend listing all properties from `OneSignal.getPermissionSubscriptionState()`

https://documentation.onesignal.com/docs/android-native-sdk#section--getpermissionsubscriptionstate-
These model objects also have a `toString()` whi

[2018-09-24 19:03] jkasten2 commented on #632
@furkanozalp This is an issue part of the OneSignal-Gradle-Plugin. `gradle:3.3.0-alpha09` or older will need to be used until there is a fix.

Closing this issue in favor of this already opened issue.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/66#issuecomment-423362343

[2018-09-24 19:03] #632 closed

[2018-09-24 19:10] jkasten2 commented on #630
@rampr Thanks, for replying, you're right.

@smitpatel88 As a work around you can use FCM in your project instead of GCM.
[code]

[2018-09-24 19:10] #630 closed

[2018-09-24 19:20] jkasten2 commented on #633
@rampr Thanks for the report.

The [`RestoreKickoffJobService`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.10.1/OneSignalSDK/onesignal/src/main/java/com/onesignal/RestoreKickoffJobService.java) is using a `JobScheduler` instead of a manual wake lock. It is extending our  [`OneSignalJobServiceBase`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.10.1/OneSignalSDK/onesignal

[2018-09-24 19:46] jkasten2 commented on #594
Closing due to inactivity. Please provide more details and we can try to look into this further. Thanks.

[2018-09-24 19:46] #594 closed

[2018-09-24 19:51] jkasten2 commented on #394
@jgersindemir Thanks for reporting.

@jgersindemir @naseeb8950925214 Almost all devices we have seen reporting this issue have been 7.0 so I believe the changes we made for #263 also fixed this issue. We also haven't seen any recent reports of this issue. Closing this as resolved.

[2018-09-24 19:51] #394 closed

[2018-09-24 19:53] jkasten2 commented on #383
@DimaKoz We haven't seen any other reports of this issue. Are you still seeing this problem in your app? If so what has been the frequency / number of users if you can share?

[2018-09-24 19:59] jkasten2 commented on #569
I believe this issue was fixed in PR #607. Closing this issue as resolved.

[2018-09-24 19:59] #569 closed

[2018-09-24 21:18] jkasten2 commented on #613
Closing due to inactivity, please provide more details and we can look into the issue further.

[2018-09-24 21:18] #613 closed

[2018-09-25 00:31] Nightsd01 commented on #631
@udarts Thanks for posting a detailed issue, but please do not open the same issue on multiple repos (original issue [here](https://github.com/geektimecoil/react-native-onesignal/issues/638))

[2018-09-25 00:31] #631 closed

[2018-09-25 04:51] rampr commented on #633
@jkasten2 Thanks for the response.
The volume is less because we were rolling out a release. I will share updated numbers in a few days so we can see the exact volume.

But we are in the bottom 14% percentile compared to other apps in the similar category. So that is what is troubling. Any thoughts on the above ?

[2018-09-25 05:40] jkasten2 commented on #633
@rampr We haven't changed anything in the last few versions around this. What versions did you update from?

The `RestoreKickoffJobService` restores any notifications back to the notification shade if they haven't been interacted by with by the user (User either tapping or swiping it away).  It has been around for some time in the SDK. It runs when your app gets updated from the Google Play store

[2018-09-25 06:18] rampr commented on #633
@jkasten2 We moved from 3.8.0 to 3.10.1 atleast a month ago. We fixed a few wakelock issues ourselves in the update that we rolled out recently.

Maybe it is still showing old data. I will wait a few more days to see if it changes and update this issue with more details.

[2018-09-25 07:38] rampr commented on #633
@jkasten2 I have more details actually. I am taking data for the past 30 days. This data includes both onesignal versions 3.8.0 and 3.10.1

There are 3 wake locks that are present (Please see screenshot).
- RestoreJobService
- SyncJobService
- RestoreKickoffJobService

![image](https://user-images.githubusercontent.com/100719/45996799-1fd0e000-c0bb-11e8-8979-d36a2cdd3a00.png)

The android versions

[2018-09-25 08:06] bshka commented on #624
@jkasten2 thanks!

[2018-09-25 08:38] vahid263 commented on #621
@jkasten2
when I run ./gradlew onesignal:build I got the following Error in my Terminal

* What went wrong:
Execution failed for task ':onesignal:lint'.

  Fix the issues identified by lint, or add the following to your build script to proceed with errors:
  ...
  android {
      lintOptions {
          abortOnError false
      }
  }
  ...

  Errors found:

  /Users/apple/Desktop/mine/OneSigSDK_NE

[2018-09-25 12:03] rameshvoltella commented on #601
@jkasten2 Yesterday i tried one test i removed all the gcm and onesignal stuff from my app and implemented the FCM. When i try push on app is not killed it was working but when i swipe and clear the app it show the following log at the time of receiving notification.

`09-25 16:47:29.591 3422-3422/? W/GCM: broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.R

[2018-09-25 22:40] jkasten2 commented on #633
@rampr In version 2.8.2 we added a `setRequiredNetworkType` flag to `com.onesignal.SyncJobService` so this should lower the duration of the wakelock. As it won't be waking up to try to sync any missed tags or sessions unless there is a network connection.
https://github.com/OneSignal/OneSignal-Android-SDK/commit/bfb8006770d622dc169702ab0383c70dfde78396#diff-94c5d5923e7e08f42219e5c32b20c284R131

Th

[2018-09-25 23:34] jkasten2 commented on #591
Thanks for reporting everyone, we have only seem reports of Android 6.0.1 here so it would seem this is only an issue in this version. I have created a PR with an added `null` change to work around this Android bug. It will be included in the next release.

[2018-09-25 23:48] jkasten2 commented on #621
@vahid263 We haven't configured Android's lint for our project. You can ignore the lint error, the `onesignal/build/outputs/aar/` folder and files will still be created.

[2018-09-25 23:58] jkasten2 commented on #601
@rameshvoltella That error means your app has been "Force Stopped" and the GCM Intent could not start your app to process the payload do to this. There isn't anything your app can do to get out of this state. No other intents will start your app, only the user opening it again.

If notifications are core to your app the best you can do is try to detect these devices and prompt users to disable Bat

[2018-09-25 23:58] #601 closed

[2018-09-26 02:55] #591 closed

[2018-09-27 05:34] rameshvoltella commented on #601
@jkasten2 why this issue closed? is it because it wont fix?

[2018-09-27 06:25] #633 closed, assigned to nobody

[2018-09-28 21:09] studiobunt opened #635 "How to launch app on notification click?"
**Description:**
I have successfully implemented OneSignal to my Android app and I am receiving notifications from Wordpress blog whenever new post is published. When application is already launched and running in the background, it will open on notification click, my problem is when app is closed and not running, notification doesn't launch an app, nothing happens on notification click. I couldn'

[2018-09-28 22:27] jkasten2 commented on #635
@studiobunt Could you let us know how you are closing the app? Swiping it away, force killing, stopping it through Android Studio?

Can you check the logcat for any errors or warnings when you tap on the notification? Make sure you are not filtering by your package name or anything else if you have already check this.

Thanks.

[2018-10-01 05:54] fazalBykea opened #638 "SecurityException: Caller no longer running, last stopped"
**Description:**
We have been observing this crash on our fire base console for the users which have android 8 (Oreo) + devices. Stack trace shows that its your internal method which is causing this fatal exception.

**Environment And Device Details**

**Device Info:**

- Devices: samsung, HUAWEI, HMD Global, Xiomi, others
- OS version: Android 8.0 (Oreo), Android 9.0 (Pie)
- Crash Percentage: And

[2018-10-03 01:53] jkasten2 commented on #383
Closing this issue as it seems to no longer be occurring. Let us know if you're still seeing this and we can re-open.

[2018-10-03 01:53] #383 closed

[2018-10-03 02:28] jkasten2 commented on #619
@rameshvoltella We already have a catch for the `IllegalStateException` in our latest SDK in `GcmBroadcastReceiver`. The only why you could be seeing a crash is if this is from the old version of your app or proguard is somehow removing the catch. We can verify the later if you can provide a link to your app on the Google Play store and we can check this.

[2018-10-03 02:28] #619 closed

[2018-10-03 02:33] jkasten2 commented on #579
@manishpatelgt We haven't seen any recent reports of this crash, other changes made may have fixed this issue. Please let us know however if you are still seeing this issue and we can look into it.

Thanks!

[2018-10-03 02:33] #579 closed

[2018-10-03 02:41] jkasten2 commented on #612
@alaa-alshaikh Are you still seeing this crash? If so can you get in touch with OneSignal support. I think it would be best to make sure that your on the latest version as this might have been a crash from an older version since the line numbers don't seem to line up in the stack trace.

[2018-10-03 02:41] #612 closed

[2018-10-03 02:47] jkasten2 commented on #622
Closing due to inactivity, please provide the details above and we can look into the issue. Thanks.

[2018-10-03 02:47] #622 closed

[2018-10-03 02:48] jkasten2 commented on #627
@amourinho Let us know if the above does not help and we can reopen this issue and look into it. Thanks.

[2018-10-03 02:48] #627 closed

[2018-10-03 02:52] jkasten2 commented on #628
@kiddoware Closing due to inactivity, let us know if the above did not help and we take another look.

[2018-10-03 02:52] #628 closed

[2018-10-03 02:54] jkasten2 commented on #500
We haven't seen any recent reports of this, let us know if you are still seeing this issue with the latest 3.10.1 SDK and we can take a 2nd look at this issue.

[2018-10-03 02:54] #500 closed

[2018-10-03 04:50] manishpatelgt commented on #579
@jkasten2 Recently i have updated SDK version. I hope this will resolve the issue.

[2018-10-03 17:45] AhmadullahSaikat commented on #415
Please replace `<android.support.v7.widget.AppCompatTextView` with `<TextView` from custom notification layout. Because `android.support.v7.widget.AppCompatTextView` or `android.support.v7.widget.AppCompatImageView` only works at runtime.

[2018-10-03 18:58] jkasten2 commented on #415
@AhmadullahSaikat The SDK does use `android.support.v7`, we use the `TextView` directly instead of going through a support library. Same for the image view. Please point the the exact line of code in our SDK if I am mistaken in a new issue. We would like to keep each issue thread on a single topic. Also note that the OneSignal custom notification layout is only used if you set a background image f

[2018-10-04 23:10] jkasten2 commented on #635
@studiobunt Closing due to inactivity, feel free to still provide the information above and we can take a look.

[2018-10-04 23:10] #635 closed

[2018-10-05 02:16] #475 closed

[2018-10-05 12:07] icsd opened #641 "Can not receive push notifications when adding google-services.json and calling setEmail method"
**Description**
I can not receive Push Notifications from OneSignal if I add in my project the
_google-services.json_ from the **Firebase project ** I have created and use in my code OneSignal.setEmail method. If I don't use the OneSignal.setEmail method I can receive push notifications.
I don't want to remove the _google-services.json_ from my project because it contains info
for another flavor o

[2018-10-05 15:11] muradmohdzain commented on #641
Need solution ASAP. I encounter the same problem

[2018-10-05 20:37] jkasten2 commented on #641
@icsd @muradmohdzain Can you check the logcat on the device for any errors or warnings? If you don't see any can you enable VERBOSE logging on the SDK and share all the entries it prints to your logcat?
[code]

Also are you using the `NotificationExtenderService`? If so does disabling it have any effect?

[2018-10-06 00:00] jkasten2 commented on #601
@rameshvoltella Just a quick update on the GCM warning with `CANCELLED` in it you posted before. Since you seen `flg=0x10000000` in the message this means our SDK did get the GCM payload.

    act=com.google.android.c2dm.intent.RECEIVE
   **flg=0x10000000**
   pkg=in.oliveboard.prep (has extras)
}

We have cleaned up this warning in version 3.10.2.
https://github.com/OneSignal/OneSignal-Android-SD

[2018-10-06 00:02] jkasten2 commented on #397
Just a quick update on the GCM warning with `CANCELLED` in it you posted before. Since you seen `flg=0x10000000` in the message this means our SDK did get the GCM payload.

    act=com.google.android.c2dm.intent.RECEIVE
   **flg=0x10000000**
   pkg=in.oliveboard.prep (has extras)
}

We have cleaned up this warning in version 3.10.2.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.10.2/On

[2018-10-06 11:06] icsd commented on #641
I don't use the `NotificationExtenderService`

From OneSignal log I see that GCM and Firebase Libraries should not exist concurrently in the project.
(I use GCM for Intercom, and it seems that I have to update it to a newer version that uses Firebase)
After some debugging I believe that the problem is not the call of the OneSignal.setEmail() method.
When the GCM is registered, OneSignal Notificati

[2018-10-06 17:57] namxuqureshi opened #643 "Google location gradle API Update"
**Description:**

(Issue when updating google api to latest version onesignal using 15.0.1 version so giving issue of google base api version)

**Environment**

**Steps to Reproduce Issue:**
<!--
**Anything else:**

[2018-10-09 05:36] jkasten2 opened #644 "IllegalArgumentException Thrown from WrapperWorkItem.complete"
**Description:**
Reported Crashlytics crash, issue happening at `ccom.onesignal.JobIntentService$JobServiceEngineImpl$WrapperWorkItem.complete(JobIntentService.java:290)`.

Full stack trace below.
[code]

From investigation it seems this is happening when notifications are restored after reopening the app.

**Environment**
Almost all devices are Android 8.x.
Happening on OneSignal SDK 3.10.1 and 3

[2018-10-09 09:54] nishkul opened #646 "Unable to get Firebase push notification when Onesignal push notification is integrated in Android"
**Description:**
I am using firebase notification service in my android  aap and also integrated onesignal push notiifcation service in android , after integrating one signal in android unable to get firebase push notiifcation from dashboard . i dont understand what is the problem

(your description here)

**Environment**

build.gradle file

dependencies

 {

    implementation fileTree(dir: 'libs

[2018-10-09 13:00] rameshvoltella commented on #601
@jkasten2 you saying if i update to new release this issue will be resolved?

i want give an add on i tried the integrated of pushbots (https://pushbots.com/) to my app , i try the same steps in one plus, Push notification was getting all the time. i haven't miss any notification.

I tried

1)Swipe the app from task bar
2)Turn off the device and turn it on
3)Swipe the app and wait for more that 2

[2018-10-10 12:25] IvanShafran opened #647 "User isn't marked "opted out" after setSubcription(false) when using OneSignal.provideUserConsent(false)"
**Description:**
Hi!
I've tried to implement push notification subscription status switching.
But it doesn't work as expected.
Could you please point out what is wrong?

My code:
[code]

**Environment**
1. Any android OS(>=21) and any device
2. Internet is on
3. OneSignal Android SDK 3.10.2
4. Notification is enabled

**Steps to reproduce**
1. Start application and call updateState(isAnalyticsEnab

[2018-10-12 22:18] jkasten2 commented on #646
@nishkul Thanks for the details. If you fully uninstalled and reinstalled the app on your device this will cause FCM to assign a new token to your device. Can you make sure you are sending to the new token?

Just to confirm, after adding the OneSignal SDK project notifications from the Firebase dashboard are no longer displaying but notifications sent from OneSignal are displaying?

Can you check

[2018-10-12 23:44] jkasten2 commented on #647
@IvanShafran Thanks for all details and the break down all the cases!

When `OneSignal.provideUserConsent(false);` is called the OneSignal SDK stops sending any updates to onesignal.com. Including any unsynced changes as you case where you have set `setSubscription` false since the network request would not have been triggered right away.

This is the same issue as #565.

[2018-10-12 23:46] jkasten2 commented on #643
@namxuqureshi Can you describe the issue in more detail? Can you share your `build.gradle` or snippets from it where you are setting these versions?

If you are seeing a build or runtime crash due missing class files make sure you have added the `onesignal-gradle-plugin` noted below>
https://documentation.onesignal.com/docs/android-sdk-setup#section-1-gradle-setup

[2018-10-13 04:02] amit2amitsoni commented on #298
Process: justfind.org, PID: 9441
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/common/api/Api$zzf;
        at com.google.android.gms.auth.api.Auth.<clinit>(Unknown Source:0)
        at com.facebook.accountkit.ui.AccountKitActivity.onCreate(AccountKitActivity.java:281)
        at android.app.Activity.performCreate(Activity.java:7136)
        at android.app.Activi

[2018-10-13 04:03] amit2amitsoni commented on #298
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'androidx.appcompat:appcompat:1.0.0-alpha1'
    testImplementation 'junit:junit:4.12'
    androidTestImplementation 'androidx.test:runner:1.1.0-alpha3'
    implementation 'com.mcxiaoke.volley:library:1.0.19'
    implementation 'com.google.firebase:firebase-core:16.0.0'
    implementation group: 'com.pubn

[2018-10-13 10:56] mvisionapps opened #649 "java.lang.IllegalArgumentException in JobIntentService on Android 8.1"
I updated my app to use SDK 3.10.2. I'm seeing some issues on Android 8.1 and 8.0 on different devices  with the following exception
[code]
Already included these line in manifest
[code]
@jkasten2

[2018-10-13 23:49] mitonline opened #650 "[Onesignal SDK: 3.10.2] ANR seen at com.onesignal.OneSignal.onAppFocus (OneSignal.java:1155)"
**Description:**

Hi,
I see that the above issue is fixed in 3.10.1. But I still see this issue in my app when using 3.10.2. I tried to recreate this problem but can't. I see quiet a few ANRs with this error on the developer console.
I am attaching the complete stack trace.

**Environment**

Android SDK: 27
OneginalSDK: 3.10.2
Integrated Onesignal sdk using build.gradle (android studio)

**Steps t

[2018-10-15 13:06] nishkul commented on #482
I am also getting the same  error one thing I got to know that most of them crash is coming in Oero devices
Library version is
 // OneSignal SDK
    implementation 'com.onesignal:OneSignal:[3.10.1, 3.99.99]'

[code]
[code]

[2018-10-15 13:17] nishkul commented on #646
Thanks for your response, yes I am sending a new device token whenever it's installed, I figure out the issue maybe it's because of firebase latest libary version is
[code]
as I downgrade the library to 11 i.e
[code]
its working fine, I am clueless about this issue please help me what is wrong in these

[2018-10-15 20:19] jkasten2 commented on #650
@mitonline Thanks for reporting along with the full stack trace. We will take a look and get back to you

[2018-10-15 20:35] jkasten2 commented on #649
@mvisionapps Thanks for the stacktrace, are you able to reproduce this issue on your own devices? Or only reports from the Google Play Console? If you can reproduce the issue on your own devices there should be a more detailed message just after `java.lang.RuntimeException: ` that would be helpful.

If you can reproduce the issue can you let us know which device models are being reported as crashi

[2018-10-15 23:33] jkasten2 commented on #298
@amit2amitsoni Thanks for the full logcat crash and your `build.gradle` config. However it looks like your dependencies doesn't include OneSignal. Can you check you have add the correct `build.gradle` here?

[2018-10-15 23:50] jkasten2 commented on #482
@nishkul Someone else opened issue #649 noting the same issue started with the 3.10.2 update. If this only started after then can you follow up on that issue with the information we are looking for noted there?

[2018-10-16 00:08] jkasten2 commented on #646
@nishkul I wasn't able to see any conflicts between the following 3 dependencies.
[code]
Since OneSignal is set to use older versions of `firebase-messaging` and the limitations on how Gradle handles interdependencies you will need to make sure you have the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin) setup in your project.

If you can double check for any FCM or

[2018-10-16 06:02] nishkul commented on #646
Okay  @jkasten2  I will try and let you know
 yes I am using

  version

[2018-10-16 06:08] nishkul commented on #638
Hello, @fazalBykea  I am also facing the same issue and most of them are coming in Android Oero
 I am giving crash report below
Samsung Galaxy J8 (j8y18lte), Android 8.0
Report 1

[2018-10-16 08:12] fazalBykea commented on #638
@nishkul Are you able to reproduce this crash?

[2018-10-16 09:06] mvisionapps commented on #482
@jkasten2 continuing from issue #649
Right now i only have stacktraces from Play console and Crashlytics that i got just yesterday. Not able to reproduce them on real devices.

Here are the stacktraces from Crashlytics:

Caused by java.lang.IllegalStateException: Not allowed to start service Intent { act=com.onesignal.NotificationExtender pkg=com.package.xxx cmp=com.package.xxx /.util.Notification

[2018-10-16 18:33] xzamirx opened #651 "crash at GenerateNotification.java line 372"
**Description:**
Hello i have been getting a crash on 70+ devices with 1600+ crashes. I have seen that this was an old issue from 2017 that was closed but is happening in our app.

Crash at:
[code]

**Environment**
1. Android SDK 27
2. SDK is added with Gradle
3. Android support version: 27.1.1
4. Android api 4 and 5
5. One signal: api('com.onesignal:OneSignal:[3.8.3, 3.99.99]')

**Steps to Reprod

[2018-10-16 18:41] jkasten2 commented on #651
@xzamirx Thanks for reporting. Can you provide the full stack trace of all threads? I believe you download this from the crash on the fabric dashboard on the issue.

Are you able to reproduce the crash? We were not able to do so in the past which is critical to us finding a fix for this issue. Thanks

[2018-10-16 18:58] xzamirx commented on #651
@jkasten2 Hello i was not able to reproduce the crash by myself. We are trying to contact the users to see if we can find at least one device were the crash is happening.

PD: i updated my post to show the full fabric's stack traces

[2018-10-18 16:52] xzamirx commented on #651
@jkasten2  these are the models and versions: https://imgur.com/a/IhlLTz9

[2018-10-18 19:41] jkasten2 commented on #641
@icsd Thanks for the logcat, I can see your device is successfully registering to OneSignal with a push token. If you uninstall your app and reinstall it you may get a new player_id so make sure you are sending to a new id in your testing.

If you are using `google-services.json` in your project make sure it is for the same FCM project as you are using with OneSignal. This is normally only a requi

[2018-10-18 20:00] juniorfrogie opened #652 "Got double notification when using custom Notification"
**Description:**

(your description here)
I want to customize content to display in notification. In Application class, I init OneSignal with setNotificationReceivedHandler(new CustomNotificationReceivedHandler(this)).
**Environment**
SDK 27

[2018-10-18 20:03] jkasten2 commented on #651
@xzamirx Thanks for the details. We don't have any of these specific tests to test with but since it is wide range of devices it is most likely a bug related to ASOP itself.

The crash has `RestoreJobService` in it so this is happening when restoring notifications back to the notification shade after an app update or a device reboot. We are limiting the number of notifications to be restored to 49

[2018-10-18 20:04] fatsjohonimahnn commented on #652
Please contact OneSignal support with your OneSignal app ID and details listed in our docs on this here: https://documentation.onesignal.com/docs/duplicated-notifications

[2018-10-18 20:05] #652 closed

[2018-10-20 06:07] mvisionapps commented on #649
@jkasten2 Should we wait for next update or Is there any fix for the issue? I cannot find any solution  in the referenced issue #498

[2018-10-20 07:18] mitonline commented on #650
Hi Team,
I see this in other places with a different heading on the console but same backtrace. Attached the stacktrace.  We are trying to recreate this. Will keep this thread updated if we recreate this.
Do you need any additional information from us that will help you identify the problem ?

**_Input dispatching timed out (Waiting because no window has focus but there is a focused application th

[2018-10-20 07:29] mitonline opened #653 "[Onesignal 3.10.2] java.lang.IllegalArgumentException com.onesignal.OneSignalSyncServiceUtils.scheduleSyncServiceAsJob"
**Description:**

We are seeing some crashes on the developer console with the above exception. Are using version 3.10.2.
All the crashes seen happen only on the following devices:
Z91 and Z61 (Device Vendor: Lava)
and all the crashes are seein in Android Version 7.1 and 8.1

**Environment**

Android SDK: 27
OneginalSDK: 3.10.2
Integrated Onesignal sdk using build.gradle (android studio)

**Steps

[2018-10-24 09:04] keat1996 opened #654 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/internal/zzbcc; And Caused by: java.lang.ClassNotFoundException: Didn't find class "com.google.android.gms.internal.zzbcc" on path:"
**Description:**

i facing an error that" java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/internal/zzbcc; "And  "Caused by: java.lang.ClassNotFoundException: Didn't find class "com.google.android.gms.internal.zzbcc" on path:" after i click on scan barcode button

**Steps to Reproduce Issue:**

2018-10-24 17:00:43.242 24525-24525/com.example.johnn.lodgingservicesystemo

[2018-10-25 07:28] jkasten2 commented on #654
@keat1996 Can you provide the exact version of OneSignal you are using? If you can attach your `build.gradle` that would be helpful.

Make sure you have applied the OneSignal Gradle Plugin noted in step one as this will most likely fix this issue
https://documentation.onesignal.com/docs/android-sdk-setup#section-1-gradle-setup

[2018-10-27 08:43] reddy36996 commented on #487
@jkasten2 I am also receiving the same crash error but on device model - LAVA Z61_2GB. Till now i got 9 reports for past week and it keeps increasing every day. I'm using :
Onesignal Unity - 2.7.6
Unity3D -2018.2.11f1
Here's the stack trace:
`java.lang.Error: FATAL EXCEPTION [OSH_LocationHandlerThread]
Unity version     : 2018.2.11f1
Device model      : LAVA Z61_2GB
Device fingerprint: LAVA/Z61_2G

[2018-10-29 03:45] cearsandroid commented on #654
This error coming when i am add google ads

[2018-10-30 02:17] jkasten2 commented on #654
@cearsandroid We just released [OneSignal-Gradle-Plugin 0.12.1](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.12.1) which should fix this issue. Resync gradle and you should get this new version.

Let us know if upgrading this does not work and provide your `build.gradle` files and we can reopen this issue.

[2018-10-31 04:46] bhaveshrangani commented on #649
Same issue after i updated to 3.10.2. have you found any solution?

[2018-10-31 09:33] sonicwong commented on #586
@rostopira
May you tell me how to make shrinker to keep that file?
I am using ionic 3.x

[2018-10-31 09:39] rostopira commented on #586
@sonicwong I've never worked with ionic, but in native sdk you should add file `keep.xml` in `res/xml` folder with following content

[code]
This will tell shrinker to keep specific resources.

[2018-11-01 05:43] samanyougarg commented on #653
I am facing the same issue in some of my apps as well. Please advise a fix.

[2018-11-01 10:17] ronayumik commented on #286
Hi, I want to ask
Do I need to add firebase dependencies into my build gradle to use OneSignal SDK?

[2018-11-01 21:18] jkasten2 commented on #286
@ronayumik No need to add them manually to your `build.gradle`. They are added automatically when you add OneSignal. Since OneSignal has defined Firebase Messaging as a dependency.

[2018-11-02 00:47] jkasten2 commented on #643
Closing due to inactivity. We released a OneSignal-Gradle-Plugin update 0.12.1 earlier this week which may have fixed this issue. Please provide the details noted above if this does not help. Thanks.

[2018-11-02 00:47] #643 closed

[2018-11-02 00:48] jkasten2 commented on #641
Closing due to inactivity, please provide the details above if you are still seeing this issue and we can reopen. Thanks.

[2018-11-02 00:48] #641 closed

[2018-11-02 00:51] jkasten2 commented on #646
We released OneSignal-Gradle-Plugin version 0.12.1 which I believe has fixed this issue. Please create an issue below if you are still seeing problem with all the details in it's template.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues

Thanks.

[2018-11-02 00:51] #646 closed

[2018-11-02 03:50] #649 closed

[2018-11-02 04:44] #616 closed

[2018-11-02 04:44] #653 closed

[2018-11-02 05:19] jkasten2 commented on #649
@gsksarath Sorry for the delay, we just released [version 3.10.3](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.10.3) with a fix for this. It will take maven central a few hours to sync the update so you might not see it right away.

[2018-11-02 11:31] soshial commented on #542
got this error with these versions:

[code]

[2018-11-02 19:01] ahrherrera opened #659 "Unknown error getting FCM token"
**Description:**

Yesterday I was receiving the notifications on android, but today I ran my Ionic project, then, I noticed that the plugin was not registering my device properly.
(your description here)

**Environment**

Using Ionic Cordova. The latest version available.

**Steps to Reproduce Issue:**

1. Add android platform (android@6.3.0)
2. Add Onesignal Plugin, configure and add keys
3. Run

[2018-11-02 19:09] jkasten2 commented on #542
@soshial The `ONESIGNAL_SDK_FCM_APP_NAME already exists!` error was fixed in `3.9.3`. Can you share the exact error you are getting in a new issue? Thanks.

[2018-11-02 20:03] jkasten2 commented on #659
@ahrherrera Can you provide more details on where you are seeing the `Unknown error getting FCM token` error? I recommend checking the logcat for the device as this will provide the most detail on the issue registering the device. You can also check the User list on the OneSignal dashboard which will provide a bit more detail on the error that might be helpful.

Lastly we recommend upgrading to Co

[2018-11-02 23:13] jkasten2 commented on #659
@ahrherrera The `NoSuchMethodError` with `com/google/android/gms/common/util/zzw` is due to another plugin mixing versions of the Google Play services library or Firebase modules. Updating to Cordova android@7.0.0+ will fix this issue. You can upgrade by running the following.
[code]

[2018-11-02 23:19] ahrherrera commented on #659
I had to downgrade to 2.3.3 to fix it.

[2018-11-05 05:51] yinjimmy opened #660 "what's the android-support-v4.jar version"
https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/Examples/Eclipse/OneSignalExample/libs/android-support-v4.jar

I use android-support-v4.jar 26.0.2 version, but can not receive OneSignal notification.

Thanks,

[2018-11-07 09:25] TuiyTuyHussein opened #661 "Fatal Exception: java.lang.OutOfMemoryError: pthread_create (1040KB stack) failed: Try again"
**Description:**
[code]

**Environment**
1. SM-J610F --> Android 8.1
2. implementation 'com.onesignal:OneSignal:3.10.2'

[2018-11-07 19:15] jkasten2 commented on #661
@TuiyTuyHussein Thanks for the full stacktrace. This is the same problem as issue #258.

This is due the your app being close the memory limit and this extra thread setting it over the edge. Are you getting any other out of memory crashes? Can you profile the memory your app is using?

We will be optimizing `OneSignalRestClient` in this SDK in the future to not create a new thread per request but

[2018-11-08 09:26] xabixa opened #662 "Fatal Exception: java.util.concurrent.TimeoutException android.content.res.AssetManager$AssetInputStream.finalize() timed out after 10 seconds"
**Description:**
Hi, I am trying to debug this crash that I get on my app.
I cannot find a way to reproduce the crash consistently.
The crash may be caused by an opened stream.
After looking at the source code, I noticed that in the class
```com.onesignal.GenerateNotification.java``` (line 825) ,
an inputstream is opened by ```currentContext.getAssets().open(bitmapStr)``` but never closed
Could th

[2018-11-08 12:58] aleesha711 commented on #613
I am having same issue
Conflict with dependency 'com.google.firebase:firebase-messaging' in project ':app'. Resolved versions for app (15.0.2) and test app (12.0.1)

[2018-11-09 01:36] jkasten2 commented on #662
@xabixa Thanks for the stack trace. It looks like Android is trying to close any opened assets automatically with it's own background daemon thread. We have received any other reports of this crash so the only case I could see this maybe being an issue is sending notifications with large images.

Can you provide a step-by-step of reproducing the issue? Even if it is inconsistent for you.

Let us k

[2018-11-09 01:39] jkasten2 commented on #613
@aleesha711 Can you provide the same details as I noted above? If you can provide an minimum example project this will help us reproduce the issue quicker. Thanks.

[2018-11-09 05:37] xabixa commented on #662
I'm not able to reproduce the crash unfortunately. From the crash reports, it looks like it happens only for samsung device running Android 6.
Example: Galaxy J7 running Android 6.0.1

Again, it's hard to say from the stack trace where the crash comes from.
I still think it's a good idea to close the Input streams after decoding anyway.

From the source code of BitmapFactory.java [https://android.

[2018-11-09 07:19] j2emanue commented on #662
can you guys just close the stream ?

[2018-11-09 11:10] cuichanghao opened #663 "intent.setFlags recommend"
sometime onesignal will not start activity if activity backstack already existed.
after 4 hour research i found this is intent flag problem.

How to reproduce：
1.kill application.
2.touch onesignal notification.
3.start some activity.( with (applicationContext) )。and manually start some your other activity.
4.touch onesignal other notification.
4.just bring up previous activity, not my specify act

[2018-11-09 16:06] An3ramirez commented on #560
muchas gracias amigo llevaba rato luchando con este problema.

[2018-11-09 19:01] jkasten2 commented on #663
@cuichanghao Thanks for the suggestion, we will look into using an `Activity`, if available to resume the app on the last activity instead bring / launch the main `Activity`. However this won't be the right behavior for every user. You can add the following `<meta-data>` tag to prevent the OneSignal SDK from opening any `Activity`, so you can control the behavior.
[code]

https://documentation.one

[2018-11-11 20:11] Denmal1982 opened #664 "OneSignal.h file not found"
flutter build ios:

 === BUILD TARGET path_provider OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/myUser/AndroidStudioProjects/myApp/ios/OneSignalNotificationServiceExtension/NotificationService.m:1:9: fatal error: 'OneSignal/OneSignal.h' file not found
    #import <OneSignal/OneSignal.h>

flutter doctor:

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel b

[2018-11-12 04:04] Nightsd01 commented on #664
@Denmal1982 please post this issue on our Flutter SDK repo.

https://github.com/OneSignal/OneSignal-Flutter-SDK/issues

[2018-11-12 04:04] #664 closed

[2018-11-12 14:00] bytekode opened #665 "Notifications in "Restored" channel doesn't open the app"
**Description:**

Clicking on push notification under **Restored** channel doesn't open the app but the notification get's cleared from the notification tray. After opening the app again from the launcher, the notification appears again.

Clicking on push notification under **Restored** channel works if the app is in background or closed via device back button.

**Environment**

Phone name : OnePl

[2018-11-14 09:41] j2emanue commented on #263
i have the following 👍
   com.onesignal:OneSignal:3.10.3@aar
and 100% samsung users are affected by this issue.  96% of the users were in the background when it occured.  one particular device is
SM-G610F.  all the crashes occurred on android 7 which is api 24.

[2018-11-14 20:13] jkasten2 opened #666 "Android 7+ auto grouping of 4 or more notifications does not track open"
## Issue
On Android Nougat (7.0)+ when 4 or more notifications are received Android will auto group them. However the `Intent` it sets up just launches the app's main `Activity` so this causes OneSignal to not be able to track an open.

## Workaround
Set the same [Group Key](https://documentation.onesignal.com/docs/android-customizations#section-notification-grouping) for all your notifications. T

[2018-11-15 09:55] alex-techhuddle opened #667 "IllegalArgumentException in version 3.10.3"
**Description:**

We get the following crash

[code]

**Environment**
The issue is happening exclusively on Android 8 devices. It _seems_ to happen while the app is in the background. The issue started happening with version 3.10.3, before that we were using an older version and did not get errors.

CompileSdk=TargetSdk=26
we add the onesignal library like this:
implementation 'com.onesignal:OneSi

[2018-11-15 14:42] mwaked301 opened #668 "OneSignal In-App Service never unbinds"
I made a application which uses in-app purchases, and I was handling the in-app purchase service to shutdown as soon as you close the app. I discovered that OneSignal, is keeping that service running through "TrackGooglePurchase" function in those two lines

         if (iapEnabled == PackageManager.PERMISSION_GRANTED)
            IInAppBillingServiceClass = Class.forName("com.android.vending.bill

[2018-11-15 19:37] jkasten2 commented on #667
@alex-techhuddle The `java.lang.IllegalArgumentException: No such service ComponentInfo` error happens either when this listed service isn't defined in the `AndroidManifest.xml` at all or since you are only seeing the issue on Android Oreo then `android:permission="android.permission.BIND_JOB_SERVICE"` is most likely missing from the `com.onesignal.SyncJobService` service in the `AndroidManifest.x

[2018-11-16 11:33] chitswe opened #669 "`RejectedExecutionException` occur when calling `OneSignal.idsAvailable` only in Android 8.0 and 8.1"
**Description:**

I am using OneSignal with react native on Android. But the error come from native side. According to the stack trace the error come from [this line ](https://github.com/OneSignal/OneSignal-Android-SDK/blob/91f160dd67812713222ea044861bad090458aab0/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignal.java#L1751). This method `OneSignal.idsAvailable` is called when OneSignal

[2018-11-16 19:06] jkasten2 commented on #669
@chitswe Thanks for reporting, it looks like a race condition that might need some extra guards in our SDK to prevent. Does the Bugsnag report include the stack trace of each thread and can you add this to your issue? Since this is an concurrency issue this will be helpful in finding the cause.

Also could you let us know how many reports you have gotten for this issue and if you are able to repro

[2018-11-17 09:31] chitswe commented on #669
### `Thread 24134·HybridData DestructorThread`
[code]
### `Thread 2·main`
[code]
### `Thread 24091·FinalizerDaemon`
[code]
### `Thread 24092·FinalizerWatchdogDaemon`
[code]
### `Thread 24093·HeapTaskDaemon`
### `Thread 24107·pool-2-thread-1`
[code]
### `Thread 24110·pool-4-thread-1`
[code]
### `Thread 24111·pool-3-thread-1`
[code]
### `Thread 24112·App Event Thread #1`
[code]
### `Thread 24119·Bug

[2018-11-18 02:08] mitonline opened #670 "Lava Devices - [Onesignal 3.10.3] java.lang.IllegalArgumentException com.onesignal.OneSignalSyncServiceUtils.scheduleSyncServiceAsJob"
**Description:**
On some devices, see the following exception on Onesignal sdk v 3.10.3. This was fixed in v3.10.3 but we still see these in the console.
[code]
(your description here)

**Environment**

We upgraded to onesignal sdk v 3.10.3 but still see the issue.
The sdk is added using build.gradle in android studio

**Steps to Reproduce Issue:**

Unable to recreate this issue. This is seen on a

[2018-11-18 10:47] marab2 commented on #668
@jkasten2 I had the same problem here, I can see a memory consuming starting by 70MB and ending up 300MB by Google In-App Billing services. We really appreciate your help to solve this ASAP.

[2018-11-18 11:45] mwaked301 commented on #668
@jkasten2 after checking i found that this is consuming 300mb of old devices which makes the device laggy too much

[2018-11-19 10:19] asfdfdfd opened #671 "ConcurrentModificationException in UserStateSynchronizer since 3.10.3"
**Description:**

Nothing to add here. I had this crash since 3.10.3. You could investigate it in Crashlytics http://crashes.to/s/6373d771db0.

**Environment**

[code]

OneSignal SDK added via Gradle:

[code]

**Steps to Reproduce Issue:**

I could not reproduce it on my device, but i've received multiple crashes via Crashlytics from users. http://crashes.to/s/6373d771db0

[2018-11-19 20:04] jkasten2 commented on #668
@mwaked301 @marab2 I have seen the "Google Play services" app (com.google.android.gms) take up 300MB on devices that have a 4GB of RAM as well. Even without it's purchase service running. I believe the amount of memory GMS will use depends on the device as on lower memory devices it will stop or free up some space in each of it's services. On lower end devices it might only be around 50MB.

Since

[2018-11-19 20:11] jkasten2 commented on #671
@asfdfdfd Thanks for the report, it looks like this crash effected 8 users on Android 7 but mostly 8. We will look into the stack trace and see if we can fix the is in future update.

Attaching the stack trace from the link for quicker reference.
[code]
Only one thread with OneSignal in the stack trace `OSH_NetworkHandlerThread`

[2018-11-19 20:33] jkasten2 commented on #670
@mitonline Thanks for reporting, in the 3.10.3 release we fixed an exception related to scheduling a job with `persisted` without the app having the `RECEIVE_BOOT_COMPLETED` permission.

Could you provide the details below so we can narrow down the issue?
1. There are a few different `java.lang.IllegalArgumentException` exceptions, does the crash report indicate any more details?
2. Are you only s

[2018-11-19 20:34] jkasten2 commented on #660
Closing due to inactivity. Please provide more details if the above does not help.

[2018-11-19 20:34] #660 closed

[2018-11-19 20:44] jkasten2 commented on #665
@bytekode Thanks for the update. It sounds like OxygenOS is force killing your app then restarting it when it is swiped away. We will need to full verbose logcat to confirm that this is happening. Make sure it contains entries from steps 3 and another log when you do step 4.

Also there is an OxygenOS 5.1.7 update for your device. I recommend trying to update just incase they fixed this issue.
htt

[2018-11-20 00:43] mitonline commented on #670
1. The console just indicates this stacktrace. There is a variation in some of them having scheduleSyncService as below
2. All crashes are seen on Lava devices and only on android versions 7.1 and 8.1. (90% of crashes are on 8.1 and 10% on 7.1)
3. We have not been able to reproduce
4. We are having about 50 crashes every day (Looks like affecting almost all lava devices on these android versions)

[2018-11-22 12:16] sandijs-lattelecom commented on #591
This is still an issue with Android SDK 28, OneSignal 3.10.3
Nexus 4, Android 6.0.1

Happens on app cold startup, potentially after some crash with previous activities being going on.

#39
RestoreJobService.java line 41
com.onesignal.RestoreJobService.onHandleWork

Caused by java.lang.NullPointerException: Attempt to read from field 'android.os.Parcel android.os.BaseBundle.mParcelledData' on a nul

[2018-11-22 19:08] toxisco commented on #591
I can confim that bug/issue is still running. with Android SDK 28, OneSignal 3.9.3.
SM-A510F (7.0)

RestoreJobService.java line 41
com.onesignal.RestoreJobService.onHandleWork
Caused by java.lang.NullPointerException: Attempt to read from field 'android.os.Parcel android.os.BaseBundle.mParcelledData' on a null object reference
       at android.os.BaseBundle.<init>(BaseBundle.java:121)
       at a

[2018-11-23 06:13] sandijs-lattelecom commented on #591
I saw that OneSignal is using Firebase 12.x.x, and out there it is something like 16.x.x - maybe it is time to upgrade Firebase libraries?

[2018-11-26 18:39] jkasten2 commented on #591
@sandijs-lattelecom Can you confirm the stack trace is definitely from a version of your app that contains the [OneSignal SDK 3.10.2](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.10.2) or newer?

Based on your stack trace `RestoreJobService.java:41` this points to a comment so it seems that stacktrace is from an older version.
https://github.com/OneSignal/OneSignal-Android-SDK

[2018-11-27 05:55] sandijs-lattelecom commented on #591
implementation('com.onesignal:OneSignal:3.10.3') {
        exclude group: 'com.google.android.gms'
        exclude group: 'com.google.firebase'
    }
    implementation('com.google.firebase:firebase-core:16.0.4') {
        exclude group: 'com.android.support'
        exclude group: 'com.google.android.gms'
    }

[2018-11-27 05:57] sandijs-lattelecom commented on #591
Yes, it could be 3.10.2 :(

[2018-11-28 03:30] AndroidZbb opened #673 "java.lang.SecurityException com.onesignal.JobIntentService$JobServiceEngineImpl.dequeueWork"
**Description:**

java.lang.SecurityException

com.onesignal.JobIntentService$JobServiceEngineImpl.dequeueWork

(your description here)

**Environment**

3.10.3

Android 8.0  Android 8.1

**Steps to Reproduce Issue:**

1. (your steps here)
2.
3.

**Anything else:**

(crash stacktraces, as well as any other information here)
[code]

[2018-11-28 04:20] kunalbhise commented on #673
Facing Similar crash on Android 8, Android 9 devices.
SDK version:
implementation 'com.onesignal:OneSignal:[3.9.1, 3.99.99]'

StackTraces:
JobIntentService.java line 339
com.onesignal.JobIntentService$JobServiceEngineImpl.dequeueWork

Fatal Exception: java.lang.RuntimeException: An error occurred while executing doInBackground()
       at android.os.AsyncTask$3.done(AsyncTask.java:353)
       at j

[2018-11-28 21:43] jkasten2 commented on #673
Thanks for the details. This looks to be the same error as this open issue on Google's tracker.
https://issuetracker.google.com/issues/63622293

@kunalbhise There is a difference as you are getting "last work dequeued" but the stack traces and other parts of the error do match up. Are you able to provide steps on reproducing the issue.

[2018-11-29 04:08] trungnguyennam commented on #553
I have similar issue with Eclipse version. How can i resolve this issue?

[2018-11-29 04:54] kunalbhise commented on #673
@jkasten2 Have tested Notification delivery on my test devices but no visible crash observed. Additionally, My Crashlytics reports approx 70 crashes/day indicating 92% when App is in the background.

[2018-11-29 07:35] CodeBoyChd commented on #638
This is what i am facing these days. Getting almost 6300 crashes a day. It has to be resolved. Please let me know, what i can do to help you to fix this issue.

Caused by java.lang.SecurityException: Caller no longer running, last stopped +622ms because: last work dequeued
       at android.os.Parcel.readException(Parcel.java:1943)
       at android.os.Parcel.readException(Parcel.java:1889)

[2018-11-29 07:47] trungnguyennam opened #674 "Outdated Android Support Library with Android 8.0 devices with Eclipse SDK"
**Description:**

Outdated Android Support Library with Android 8.0 (and above) devices with Eclipse SDK

**Environment**

1. What version of the Android SDK are you using? Eclipse + Sample's targetSDK27
2. How did you add the SDK to your project (eg. maven) I use the lastest OneSignal Eclipse sample  in 3.10.3 Release

**Steps to Reproduce Issue:**

1. Add the OneSignal SDK to your project
  2. P

[2018-11-29 07:53] CodeBoyChd commented on #673
I am facing the same issue. Getting 6300 crashes a day. It's a high priority issue for me.
Below are the logs:

[code]

[2018-11-29 23:03] ron-k opened #675 "App fails CTS test due to invalid intent"
The SDK includes the following intent:
[android.intent.action.ACTION_BOOT_COMPLETED]

https://github.com/OneSignal/OneSignal-Android-SDK/blob/82a0a419b8712407adc6e5e6c2613476ab9d31e9/OneSignalSDK/onesignal/src/main/AndroidManifest.xml#L88

Cause:
This is invalid intent which causes Compatibility Test Suite to fail: all intents starting with "android.intent" are considered system and must be regist

[2018-11-30 10:45] worstkiller opened #676 "No such service ComponentInfo{com.app.manch/com.onesignal.SyncJobService}"
**Description:**
[code]
-----------
[code]
**Environment**
Manufacturer : LAVA
OS : 7.1.1, 8.1.0
Model : Z91, Z60s
OneSignal SDK : com.onesignal:OneSignal:3.10.3
OneSignal Plugin : 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:0.12.0'
Android SDK Target  : Max(28)  Min(16)

**Steps to Reproduce Issue:**
Not able to reproduce since it's happening only on Lava Devices which we don't have unfo

[2018-11-30 12:15] toxisco commented on #591
jkasten2 I can confirm, it's fixed. Thank you!

[2018-11-30 19:57] jkasten2 commented on #676
@worstkiller This error `No such service ComponentInfo{.../com.onesignal.SyncJobService}` should only happen if it was missing from your `AndroidManifest.xml`. Since it is only happening on Lava devices it could be a bug with the ROM on these devices. If you are only seeing single digit number of cashes then it may just be someone running a modified version of your APK where they removed this.

[2018-11-30 20:05] jkasten2 commented on #675
`ACTION_BOOT_COMPLETED` is valid intent and it can be used by any app, just requires the permission `android.permission.RECEIVE_BOOT_COMPLETED`.
https://developer.android.com/reference/android/content/Intent#ACTION_BOOT_COMPLETED

If you have removed this permission this could be why `cts` is showing this.

[2018-11-30 20:07] jkasten2 commented on #673
@CodeBoyChd Thanks for reporting. Can you provide the following details?
1. Android SDK version in your app.
2. List of device models and counts affected.
2. List of Android version and counts affected.

[2018-11-30 21:02] jkasten2 commented on #638
@CodeBoyChd Followed up with you on #673

[2018-12-01 03:50] ron-k commented on #675
Please note the valid intent value:
android.intent.action.BOOT_COMPLETED

Compared to the one appearing in the manifest:
android.intent.action.ACTION_BOOT_COMPLETED

[2018-12-01 08:07] vishrut2207 commented on #670
I had the same problem here. We are getting around 40 crashes every day.

Devices: LAVA: **Z61_2GB, Z60s, Z61, iris65, Z91, Z90, iris88**
Operating System : **7.0, 7.1.1, 8.1.0**

Fatal Exception: java.lang.IllegalArgumentException
No such service ComponentInfo{com.rollerbannermaker/com.onesignal.SyncJobService}

Fatal Exception: java.lang.IllegalArgumentException: No such service ComponentInfo{co

[2018-12-01 16:00] worstkiller commented on #676
Thanks for the reply, I guess we have to live with this.
Thanks, closing this

[2018-12-01 16:00] #676 closed

[2018-12-02 22:48] jkasten2 commented on #674
@trungnguyennam I highly recommend switching to Android Studio when you can. Google no longer provides .jar files directly for the latest versions of their libraries, instead they are .aar files. As well as their build tools are no longer being updated for Eclipse.

The error means your Android Support Library is out of date. You will need to use 27.0.0 or newer since you are using targetSDK 27.

[2018-12-02 22:55] jkasten2 commented on #675
Ah you are correct, we will remove `ACTION_BOOT_COMPLETED` in the next release!

[2018-12-02 23:32] jkasten2 commented on #667
@alex-techhuddle Closing this issue in favor of #670 for this issue since there is more activity there. If this crash is not happening on a Lava device let us know and we can reopen this issue.

[2018-12-02 23:32] #667 closed

[2018-12-02 23:33] jkasten2 commented on #676
Ref #670

[2018-12-02 23:36] jkasten2 commented on #670
@mitonline In reply to number 3, do you have any Lava devices where you tried to reproduce this issue? Or was it on devices by other manufacturers?

@vishrut2207 Can you try to reproduce this issue? Steps to reproduce will be key fixing this issue.

[2018-12-04 18:40] jkasten2 commented on #674
@trungnguyennam We will look into updating our Eclipse example. Google is moving from the Android Support Library to AndroidX. We plan to drop support for Eclipse when we switch to this new library.

[2018-12-05 04:30] #675 closed

[2018-12-06 07:51] trungnguyennam commented on #674
@jkasten2 i had tried to update support-compat v28 and v27.1.1 but i still got outdated device. If i remove support-compat.jar, i will get support library missing. So i think im doing the right thing. Do you have any suggestion?

[2018-12-06 08:07] AndroidZbb opened #680 "Keep going remove tags"
**Description:**

When opened app, it was keep going remove tags

2-05 22:02:27.551 27292-29256/im.kumu.ph D/OneSignal: OneSignalRestClient: Making request to: https://onesignal.com/api/v1/players/d2f6fed5-916e-4097-819d-308edc53fc57/on_session
12-05 22:02:27.561 27292-29256/im.kumu.ph D/OneSignal: OneSignalRestClient: POST SEND JSON: {"ad_id":"3b131053-118d-4f98-b868-f4e38717f976","game_version":

[2018-12-06 08:08] AndroidZbb commented on #680
I didt call remove tags api.

[2018-12-06 22:53] jkasten2 commented on #673
@AndroidZbb @CodeBoyChd @kunalbhise We just released SDK version 3.10.4 with a fix for this. Feel free to reply if this does not help and we can reopen this issue.

[2018-12-06 22:53] #673 closed

[2018-12-06 23:10] jkasten2 commented on #680
@AndroidZbb Are you setting these keys to blank values with `sendTags` or `sendTag`? You should only use upto 20 or 30 unique tag keys per device with OneSignal. If you need more you should store the OneSignal player / user id in your system and do your filtering there.

[2018-12-07 08:03] xcaEi opened #681 "[3.10.2] Issue with FirebaseApp not initialized"
**Description:**

I launched a new app recently and haven't had a problem until last night for one specific user who encountered the issue about 10 times yesterday and today.

As I don't use Firebase in my application, I think this might be the Firebase App created by OneSignal. However as it has only happened to one specific user, I think the issue might be with linked to his device.

**Environme

[2018-12-07 19:36] jkasten2 commented on #681
@xcaEi Thanks for the report, this seems to be the same as issue #552, it should have been fixed in the 3.9.3 release however.

It is possible there could be some edge case here. Since it is just one device it could be some issue with it. I'll leave this issue open for a bit incase others are seeing this issue, or if you see more occurrences or can reproduce this issue.

[2018-12-07 20:23] GiacomoK commented on #461
Same problem here.
Done everything written in the docs, created my own `NotificationExtenderService` that returns false in the `onNotificationProcessing` function, but I still do not get any notification when the app is killed.

[2018-12-07 21:14] jkasten2 commented on #461
@GiacomoK Please see the following guide on debugging if a notification is reported as success by OneSignal but is not showing on the device.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown#section-mobile-specific

Adding the `NotificationExtenderService` and returning `false` should show the notification just the same as if `NotificationExtenderServi

[2018-12-07 21:23] GiacomoK commented on #461
@jkasten2 I am not able to understand that guide .... the only thing I am sure of is that I enabled my app to receive notification on the phone.

[2018-12-07 21:41] GiacomoK commented on #461
@jkasten2 I removed this section:

    <service
        android:name=".Services.MyServiceNotificationPush"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:exported="false">
        <intent-filter>
          <action android:name="com.onesignal.NotificationExtender" />
        </intent-filter>
      </service>

from my AndroidManifest and indeed I receive notificatio

[2018-12-10 17:03] CeccoCQ opened #683 "Issue with Gradle Offline mode"
It's simple.
I've imported:
`implementation ('com.onesignal:OneSignal:3.10.5')`
and
`apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'`

but when I try to speed up the gradle build, I get this error:

[2018-12-10 18:20] caipivara opened #684 "NoClassDefFoundError GoogleCloudMessaging"
**Description:**
Im getting an error from OneSignal

[code]

**Environment**
1. OneSignal:3.10.5.
2. `gradle.plugin.com.onesignal:onesignal-gradle-plugin:0.12.1`.

I have proguard on my app, maybe it is related to that?

I put this rules:

[code]
 -->

[2018-12-10 18:33] caipivara commented on #684
I had an ```exclude``` for google play services. Sorry for the false alarm.

[2018-12-10 18:33] #684 closed

[2018-12-10 18:39] jkasten2 commented on #683
@CeccoCQ Could you let us know when you did to speed up the build? You noted that "... but when I try to speed up the gradle build, I get this error".

I recommend making sure Android Studio isn't set to offline mode.
https://documentation.onesignal.com/docs/troubleshooting-android#section-failed-to-resolve-com-onesignal-onesignal-3-10-2-3-99-99-

Also make sure you are not having any connection i