[2017-11-22 10:03] jkasten2 commented on #377
@valentinmoscone OneSignal 3.6.5 uses the Android Support library revision 26.1.0. However some other dependencies are using 26.0.1 instead which is creating the merge issue you noted above.

Using `exclude` on `compile ('com.onesignal:OneSignal:3.6.5')` will fix the build error however it will be missing those decencies  at runtime which will cause OneSignal not to work. Based on your exclude lis

[2017-11-22 10:18] gsksarath commented on #378
@jkasten2 when using OneSignal version 3.6.5 still face the same bug.
 My App minSdkVersion 16 & targetSdkVersion 24
I tested on Lollipop & Nougat devices

[2017-11-23 00:18] jkasten2 commented on #378
@gsksarath I am not able to reproduce an issue with `enableSound`. It is working to both disable and re-enable the sound setting when it should. Is the issue that sounds are not playing or are always playing?

Search your code to make sure your not calling `enableSound` anywhere else by mistake.

Are you using the  `NotificationExtenderService`? If so and your calling `setDefaults` then this will

[2017-11-23 05:21] gsksarath commented on #378
@jkasten2 always sound is playing
i checked enableSound is calling, already i post the log above
Yes, am using NotificationExtenderService, & am not calling setDefaults

**Note: when i revert back to OneSignal version 3.6.1 OneSignal.enableSound() is working fine.**

where i upgrade OneSignal version 3.6.2, 3.6.3, 3.6.4, 3.6.5 face the same bug the sound is always  playing

[2017-11-23 09:01] ehudros commented on #263
We are also seeing this exact same issue after every update we release.
Any plans on fixing this? It's really hurting user experience :(

[2017-11-24 11:09] gsksarath commented on #378
@jkasten2 always sound is playing
i checked enableSound is calling, already i post the log above
Yes, am using NotificationExtenderService, & am not calling setDefaults
[code]

**Its seems the issue is in gradle level when updating supporting gradle** and not on OneSignal version i hope

Sound ON/OFF is working fine when using the below gradle

[code]
Sound is always playing when using the below g

[2017-11-24 22:45] Xy-joe opened #379 "MultiDex Application and OneSignal"
[code]

For some reasons i had to change my application name in the application tag of the manifest to a multidexapplication and since then oneSignal doesn't seem to be working. I've deleted and reinstalled it but it's not showing any user on the onsignal dashboard after the App runs. Please  I need a solution on  this

[2017-11-25 07:03] jkasten2 commented on #378
@gsksarath The log you posted shows that `OneSignal.enableSound(false)` was called then right afterwards `OneSignal.enableSound(true)`. Could you share where you are calling this in your code?

The `compileSdkVersion` update and the dependency updates should not be an issue.

[2017-11-25 07:38] gsksarath commented on #378
@jkasten2  yes, i know i just telling the preference is called but sound is always

i post my full code below

MainActivity
[code]

NotificationExtenderService
[code]
OneSignalNotificationReceivedHandler
[code]

[code]

[2017-11-26 09:57] pawga commented on #263
Similar to the problem with our some users when updating. Many crashes.

[2017-11-27 04:05] JamesQAQ opened #380 "Excessive wakeups from version 3.6.3 to 3.6.5"
Google Play reports excessive wakeups caused by OneSignal.

In our case we were never reported excessive wakeups greater then 0.5%. After updating OneSignal version to 3.6.3, it starts generating excessive wakeups.

Until version 3.6.5 this problem still exists. Is there any method to solve it?

![2017-11-27 11 11 56](https://user-images.githubusercontent.com/6916615/33250189-b5235bde-d2f4-11e7-92

[2017-11-27 16:32] robertturrall opened #381 "In-app Webview opened via launchURL not refreshed upon device orientation change - content doesn't fit viewport"
I was very happy to see that simply sending a `launchURL` will cause an in-app Webview to open up in a modal (iOS SDK). Unfortunately, turning the device from portrait to landscape leaves the viewport window width at the original portrait width and doesn't cause the content to resize as would be expected.

The HTML page being loaded has `<meta name="viewport" content="width=device-width">` so all

[2017-11-27 16:33] #381 closed

[2017-11-27 16:37] robertturrall commented on #381
Closed - wrong SDK!

[2017-11-28 08:23] JorgeZapa commented on #339
This is one of the features i am interested in because of similar reasons. It would be really interesting to set the badge count in android the same you can do with IOS.

[2017-11-29 01:52] jkasten2 commented on #379
@Xy-joe Can you check the logcat for the device to see if you are getting any errors or warnings with OneSignal?

[2017-11-30 06:19] amitinfostretch opened #382 "Android Studio 3.0.1: Error:(22, 0) Could not find method plugins()"
I am getting following problem after updating gradle and Android Stdudio 3.0.1

Error:(22, 0) Could not find method plugins() for arguments [build_1049pxmidf1iwuzzil2ognsyi$_run_closure1$_closure5@8d7bbd] on object of type com.android.build.gradle.AppExtension.

Below is my shared link

https://photos.app.goo.gl/XL3akNb8QXMHyXU93

[2017-12-02 03:30] jkasten2 commented on #263
### Source of Issue
After digging into the Android source I've found where the `Couldn't expand RemoteViews` exception is being thrown,  [BaseStatusBar.java](https://github.com/aosp-mirror/platform_frameworks_base/blob/android-7.1.2_r33/packages/SystemUI/src/com/android/systemui/statusbar/BaseStatusBar.java#L2200).

The error only fires if [`inflateViews`](https://github.com/aosp-mirror/platform_f

[2017-12-02 09:58] DimaKoz opened #383 "ANR at com.onesignal.OneSignalChromeTab$OneSignalCustomTabsServiceConnection.onCustomTabsServiceConnected"
From my build.gradle: `compile 'com.onesignal:OneSignal:3.6.4@aar'`
From Google Play Console:
Input dispatching timed out (Waiting because the touched window has not finished processing the input events that were previously delivered to it.)
An  [expanded log](https://github.com/OneSignal/OneSignal-Android-SDK/files/1523705/log_clusters.3b6812dc.detailsSpan.7.txt) was attached.

[2017-12-02 10:12] DimaKoz opened #384 "ANR when executing service my.package/com.onesignal.SyncService(no location available)"
From my build.gradle: compile 'com.onesignal:OneSignal:3.6.4@aar'
From Google Play Console:
<img width="417" alt="screen shot 2017-12-02 at 13 06 43" src="https://user-images.githubusercontent.com/3092276/33514263-2194ccf0-d762-11e7-8442-752c8445158f.png">

About devices:
<img width="505" alt="screen shot 2017-12-02 at 13 06 25" src="https://user-images.githubusercontent.com/3092276/33514271-36d72

[2017-12-02 10:42] DimaKoz opened #385 "ANR when executing service my.package/com.onesignal.SyncService(no location available)"
From my build.gradle: compile 'com.onesignal:OneSignal:3.6.4@aar'
From Google Play Console:
<img width="414" alt="screen shot 2017-12-02 at 13 27 56" src="https://user-images.githubusercontent.com/3092276/33514431-f08ae448-d764-11e7-800a-27e696f4d15f.png">
About devices:
<img width="507" alt="screen shot 2017-12-02 at 13 28 22" src="https://user-images.githubusercontent.com/3092276/33514439-17227c

[2017-12-02 10:53] DimaKoz opened #386 "ANR when executing service my.package/com.onesignal.SyncService(no location available)"
From my build.gradle: compile 'com.onesignal:OneSignal:3.6.4@aar'
From Google Play Console:
<img width="412" alt="screen shot 2017-12-02 at 13 44 01" src="https://user-images.githubusercontent.com/3092276/33514629-1fd00776-d768-11e7-8496-bb5e7035c989.png">
About devices:
<img width="507" alt="screen shot 2017-12-02 at 13 44 33" src="https://user-images.githubusercontent.com/3092276/33514631-299a78

[2017-12-03 14:36] davisoqt opened #387 "Duplicate Notification"
I have Implemented my own Push receiver class. But I am getting two push notification. One is my and the other one is default with the messages which I am sending from OneSignal.
[code]
How can I make that only my custom notification is used, and not both?

[2017-12-03 14:51] iballan commented on #380
I got the same reports !

[2017-12-05 14:45] dniHze commented on #352
Btw any updates on upgrade to Support Lib 27?

[2017-12-05 19:48] thedude61636 commented on #351
@jkasten2 you may want to update it here too
https://documentation.onesignal.com/docs/android-native-sdk#section--notificationextenderservice-

[2017-12-05 19:55] jkasten2 commented on #351
@thedude61636 Thanks for the catch, it is now updated.

[2017-12-05 19:55] #351 closed

[2017-12-05 22:46] niqo01 opened #388 "Onesignal plugin pollutes my gradle build output"
I got hundreds of lines like below when building my project:
[code]

[2017-12-06 04:54] jkasten2 commented on #263
I have a build available that can be released into your production app which will provide a better stacktrace.

[code]

Please attach the fullstack trace of any stacktraces that contain OneSignal. If this update does not have any effect and you still seeing the original stack traces then the issue is most likely not related to the OneSignal SDK.

Code changes themselves on are the [debug_inflate_n

[2017-12-06 05:29] jkasten2 commented on #280
@ominfowave Closing due to inactivity. Please feel free to reopen this issue if the latest SDK update does not solve this issue.

[2017-12-06 05:29] #280 closed

[2017-12-06 05:32] jkasten2 commented on #355
@Yogi1994 This is due to an issue with OneSignal gradle plugin you can track here.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/7

[2017-12-06 05:33] #286 closed

[2017-12-06 05:34] jkasten2 commented on #303
@consp1racy Feel free to reopen this issue if you have any additional feedback on this. Thanks.

[2017-12-06 05:34] #303 closed

[2017-12-06 05:43] jkasten2 commented on #307
@DennyWeinberg Closing due to inactivity. Feel free to reply if you see the issue again.

[2017-12-06 05:43] #307 closed

[2017-12-06 18:05] ibnabdelfatah opened #389 "Open Launch URL in an my app web view"
Hello i set up onesignal Notification in my android app web view

but android when open notification will launch web browsers not in android app.

i want launch web url into my app

please help me

[2017-12-08 13:06] iballan commented on #386
I get the same error over and over on the ANR & Crashes board.. Any Fix ?

[2017-12-08 13:18] iballan commented on #387
If you are getting the same notification twice, It had the same problem once.
I ended up saving couple of last notifications to SharedPreferences, and on each received notification i compare wether it has been sent before or not by the Notification ID:

[code]

[2017-12-08 13:20] iballan commented on #359
Do you have this line in you manifest ?

`android:permission="android.permission.BIND_JOB_SERVICE"
`

I should look like this:
[code]

[2017-12-08 22:55] jkasten2 commented on #388
@niqo01 Thanks for reporting this. Just fixed this in https://github.com/OneSignal/OneSignal-Gradle-Plugin/pull/12. It is now released in 0.8.0 so you just need to update this in your `app/build.gradle` and rebuild your project.
[code]

[2017-12-08 22:55] #388 closed

[2017-12-09 01:19] jkasten2 commented on #382
@amitinfostretch The following section of code needs to be moved to the very top of the file.
[code]

We just added this to our troubleshooting guide.
https://documentation.onesignal.com/v3.0/docs/troubleshooting-android#section-error-22-0-could-not-find-method-plugins-for-arguments-on-object-of-type-com-android-build-gradle-appextension

[2017-12-09 03:31] kafabih4raka commented on #359
sure, I have the bind_job_service on android manifest
I think this problem on google play

[2017-12-09 04:50] jkasten2 commented on #386
@DimaKoz

### Issue
Each of the recent `com.onesignal.SyncService` ANR logs you have attached has `android.app.SharedPreferencesImpl$EditorImpl$1.run`on the main thread in a "Waiting" state. It doesn't seem to be a deadlock on another thread as it would say "Blocked" and there would be object id that could be tracked to the other thread. Or it would say "blocked on lock ".

I see a `ONESIGNAL_EXEC

[2017-12-09 10:43] jemshit commented on #361
try adding
    compile 'com.google.android.gms:play-services-loation:11.2.0' as well

[2017-12-09 11:53] iballan commented on #386
@jkasten2 Of course

Title:

**Executing service com.myAppPackage.app/com.onesignal.SyncService
(no location available)**

Samsung Galaxy Grand Duos (baffin), 1024MB RAM, Android 4.2

I will share the whole report, but this line looks a bolder on the Report:
  **at com.onesignal.al$2.run (PushRegistratorGPS.java:168)**

Report 1
[code]

[2017-12-11 14:37] christian-tenzo commented on #263
Our users are complaining about this too. Any timeline on a fix?

[2017-12-11 19:41] jkasten2 commented on #263
@christian-tenzo My post above from [Dec 1st](https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-348664720) is a detailed report of the issue. In summary, we are in the researching phase of this issue. it isn't reproducible in our testing or from the reports of others on their test device. If you can try following the `Reproducing` section above it might reproduce the issue

[2017-12-11 19:48] jkasten2 commented on #361
@NalyLas Could you attach the full build log? There should be some additional entries before or after the `app:processDebugManifest` error you are seeing.

The issue however is most likely due to some interdependencies using mixed version between the Android Support library and Google Play servers. You can add the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin#setup

[2017-12-11 19:56] jkasten2 commented on #359
@kafabih4raka  I see you are on 3.6.0 from your gradle file, can you update to the latest OneSignal SDK? You can use the following compile line to keep up to date on the latest 3.X version.

[code]

[2017-12-11 22:59] niqo01 opened #391 "Android plugin 0.8.0 fail"
Updating the plugin from 0.7.0 to 0.8.0 I now see a build failure:
[code]

[2017-12-11 23:06] jkasten2 commented on #391
@niqo01 Thanks for reporting, I just tried out the released version and wasn't able to reproduce this.

Did you get this in Android Studio after pressing "Sync Now"? Or are you getting this this from `./gradlew` in the terminal?

Are you getting any other errors before or after?

[2017-12-11 23:29] niqo01 commented on #391
On the command line my build never finishes:
[code]
On Android studio "Build" -> Rebuild seams to continually loop with "Gradle: Resolve dependencies off: ..." and then crash with  `Error:Unexpected type tag 13996 found.`
I am using gradle-4.3.1

[2017-12-11 23:55] jkasten2 commented on #391
@niqo01 Could you try running the following?
[code]

This `...CompileClasspath` should run less tasks which will help us pin point the issue. Then attach the full log if you could.

Also if you could attach your `app/build.gradle` and your root `build.gradle`?

[2017-12-12 01:28] jkasten2 commented on #360
@android-kaizen If you search for the OneSignal player / user id on the "All Users" on the OneSignal dashboard it will provide more detail on why the device is not subscribed under the Subscribed column.

You can also check the logcat on the device when opening the app which should provide more details on any issues the SDK encounter subscribing the device.

[2017-12-12 01:30] jkasten2 commented on #257
Closing to merge with issue #224

[2017-12-12 01:30] #257 closed

[2017-12-12 02:45] #352 closed

[2017-12-12 02:46] jkasten2 commented on #352
Just fixed compatibility in the pull above. We will be releasing an update later this week with this fix included.

[2017-12-12 02:50] jkasten2 commented on #355
@Yogi1994 The `FLAVOUR_VARIENT_WearApp` error has been fixed in the [OneSignal-Gradle-Plugin version 0.8.0](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.8.0). Updating and rebuilding your project should fix this error.

[2017-12-12 02:50] #355 closed

[2017-12-12 02:51] mayurwish commented on #352
Great! looking forward to this update.

[2017-12-12 16:18] NalyLas commented on #361
Thanks!!! I added the OneSignal-Gradle-Plugin and it fix all conflicts. Everything worked correctly until I updated the android API.
Thank you @jkasten2 now my app it's working again!!!

[2017-12-12 18:44] jkasten2 commented on #361
@NalyLas Awesome, good to hear our plugin worked well!

[2017-12-12 18:44] #361 closed

[2017-12-12 20:57] jkasten2 commented on #302
@yasharpm `onNotificationProcessing` will fire in two cases;
1. When the notification is first received
2. Each time the notification needs to be restored back to the shade.
   2a. If you prevented the notification from displaying this event should not fire
   2b. Restoring happens when your app is updated, device is rebooted, or the app is cold started

However there is an edge case bug in 2a in

[2017-12-12 20:57] #302 closed

[2017-12-12 21:59] jkasten2 commented on #309
Closing due to inactivity. Feel free to reply if you have any more question on this. Thanks

[2017-12-12 21:59] #309 closed

[2017-12-12 22:00] jkasten2 commented on #328
@sinhpn92 Feel free to reply if the above answer did not help

[2017-12-12 22:00] #328 closed

[2017-12-12 22:02] jkasten2 commented on #333
@mginz83 Closing due to inactivity. Feel free to re-open if the above did not answer your question.

[2017-12-12 22:02] #333 closed

[2017-12-12 22:03] jkasten2 commented on #336
@aakhani Closing due to inactivity. Feel free to reopen the above if the above didn't solve your issue.

[2017-12-12 22:03] #336 closed

[2017-12-12 22:09] jkasten2 commented on #372
@mradzinski The OneSignal player / user id will stay the same while the app is installed on the device. If OneSignal can detect the app was reinstalled on the same device the id will also stay the same.

The subscription and permission observers will only fire when a properties changes. Even if the app is closed and reopened the observer won't first again unless something changed about the state.

[2017-12-13 03:18] mradzinski commented on #372
Awesome @jkasten2, thanks for the explanation.

[2017-12-13 03:18] #372 closed

[2017-12-13 14:14] naseeb8950925214 opened #394 "Fatal Exception: java.lang.RuntimeException bad array lengths"
[code]

[2017-12-13 14:16] naseeb8950925214 commented on #394
Using this version of support library:
implementation 'com.android.support:appcompat-v7:26.1.0'

[2017-12-13 17:25] tjouin commented on #391
Got the same issue, i will try to send u my logs tomorrow

[2017-12-13 19:13] jkasten2 commented on #391
@tjouin Thanks, could you attach your root `build.gradle` and your `app/build.gradle` as well?

[2017-12-13 19:18] jkasten2 commented on #394
@naseeb8950925214 Are you able to reproduce this crash on a test device? Could you let us know which version of the OneSignal SDK and the Android version of the device?

Could you also link this issue to OneSignal support and let them know which notification id triggered the crash?

[2017-12-14 02:18] jkasten2 commented on #384
Closing as duplicate in favor of #386 to continuing tracking this ANR. The log was still helpful in narrowing down the root issue.

[2017-12-14 02:18] #384 closed

[2017-12-14 02:19] jkasten2 commented on #385
Closing as duplicate in favor of #386 to continuing tracking this ANR. The log was still helpful in narrowing down the root issue.

[2017-12-14 02:19] #385 closed

[2017-12-14 02:27] jkasten2 commented on #389
@ibnabdelfatah To open a URL in your own custom WebView you will need to use additional data instead of setting launchURL on your notification. More details in our documentation below.
https://documentation.onesignal.com/docs/links#section-how-do-i-open-a-url-in-my-app-instead-of-the-web-browser-

[2017-12-14 02:57] jkasten2 commented on #377
@valentinmoscone Feel free to open an issue on the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin) if you are still seeing this issue after adding the gradle plugin.

[2017-12-14 02:57] #377 closed

[2017-12-14 03:03] jkasten2 commented on #365
@niqo01 After taking another look I realized that the `startWakefulService` is what takes the wake lock, however this isn't being called so this won't be an issue.

I did switch this to a `BroadcastReceiver` so this isn't misleading in pull https://github.com/OneSignal/OneSignal-Android-SDK/pull/393

[2017-12-14 03:03] #365 closed

[2017-12-14 14:21] valentinmoscone commented on #377
@jkasten2 Thanks for a lot for the help!!! I added the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin) and is working as expected. I let you know if i have any problem with the plugin.

[2017-12-15 04:11] jkasten2 commented on #374
@kiberzoid Closing due to inactivity. Please feel free to reply if the above didn't help.

[2017-12-15 04:11] #374 closed

[2017-12-15 04:59] jkasten2 commented on #352
@mayurwish Just released 3.7.0 which includes this fix

[2017-12-15 05:48] mayurwish commented on #352
@jkasten2 Thanks, migrating to updated release.

[2017-12-15 06:34] NeverMorer commented on #263
@jpusp @jkasten2
I solved this by remove my OneSignal initialize code

It's worked for me,and i got the same problem like everybody.

[2017-12-15 07:27] joelfernandes19 opened #395 "Gradle build fails with 3.7.0"
Version update `3.7.0` fails to build and gives the following error:
[code]

It is overriding Play Services version. I have the latest OneSignal Gradle plugin - `0.8.0` with the following dependency - `compile 'com.onesignal:OneSignal:[3.6.5, 3.99.99]'` Also, my Play Services version is set to the latest `11.6.0`

[2017-12-15 09:59] amautone commented on #395
Same here, and I can't sync my gradle! Any ideas on how to force OneSignal 3.6.5? (at least to be able to compile my project)

[2017-12-15 10:07] joelfernandes19 commented on #395
@amautone I complied with the older version with `compile 'com.onesignal:OneSignal:3.6.5'`, and it synced fine. But fails with the latest version.

[2017-12-15 10:12] amautone commented on #395
@joelfernandes19 thank you! I was using `'compile com.onesignal:OneSignal:[3.6.5, 3.99.99]'` but in this way was still compiling with the latest one (3.7.0) giving me error

[2017-12-15 10:24] priyacse0054 commented on #395
I was also having the same issue since morning, whereas my project was running fine till yesterday . Thanks @joelfernandes19  its working now.

[2017-12-15 10:33] jkasten2 commented on #395
Sorry for the issue, we just released a 3.7.1 version to fix the dependency ranges.

[2017-12-15 12:44] joelfernandes19 commented on #395
Works fine now. Thanks for the update @jkasten2

[2017-12-15 13:37] fedorcomander opened #396 "Exception in NotificationServiceExtender"
[code]

[2017-12-15 18:43] #395 closed

[2017-12-15 22:04] jkasten2 commented on #371
Updating to the OneSignal SDK 3.6.5 or newer should fix any issues related to Jobs with Android 8.0 (Oreo) with OneSignal.

If you are using the `com.onesignal.NotificationExtender` make sure to add `BIND_JOB_SERVICE ` to this.
[code]

Feel free to reply if you are still running into this same error.

[2017-12-15 22:04] #371 closed

[2017-12-15 22:11] jkasten2 commented on #263
@NeverMorer Were you able to reproduce the issue on your device? If so can you share the full logcat from your device?

[2017-12-16 11:39] fedorcomander commented on #396
Any help?

[2017-12-16 19:21] christian-tenzo commented on #263
@NeverMorer - the React Native OneSignal doesn’t actually have the snippet of code that you removed. This is still an issue for us.

[2017-12-18 12:44] CoLang opened #397 "OneSiganl GcmBroadcastReceiver issue"
[code]

[2017-12-18 12:47] BobyIlea commented on #263
@NeverMorer Our app was configured with **OneSignal.OSInFocusDisplayOption.None** when the crashes appeared.
@jkasten2 What is the default value for **OSInFocusDisplayOption**?

[2017-12-18 19:23] jkasten2 commented on #263
@BobyIlea @christian-tenzo @NeverMorer This setting shouldn't have an effect on this crash. It only stops notifications from being displayed when the app is in focus. The reports seems to indicate that the crash is happening after the app is updated.

@BobyIlea The default `OSInFocusDisplayOption` value is `InAppAlert`.

[2017-12-18 20:14] devqx opened #398 "data is returned as [object object] , JSON format is expected."
am currently building an app that pushes a notification to a user with additional data, when trying to fetch the data sent from one signal , i get [object object], how can i get data from this ?

[2017-12-19 14:37] greywolfhalil commented on #263
Hi, I have a same issue.

Device: Samsung Galaxy S8

OS Version: 7.0

Logcat:

My Application Class:

Have any solution for this issue ?

[2017-12-19 19:39] jkasten2 commented on #263
@greywolfhalil Can you try to reproduce the issue on your test devices by following the [Reproducing section](https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-348664720) in my comment above?

You can also try switching your production app to the [specific SNAPSHOT](https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-349533313) build listed above whi

[2017-12-19 19:51] greywolfhalil commented on #263
Unfortunately, its not my own device. Device is customers device.

[2017-12-19 22:38] jkasten2 commented on #396
@fedorcomander Can you share you `AcousticProtocolNotificationListener.onNotificationProcessing` code as well?

[2017-12-19 22:41] jkasten2 commented on #397
@CoLang It looks like you may have sent a notification while your had a debugger attached to your app. Can you confirm if you had your app paused on a break point at the time?

[2017-12-19 22:44] jkasten2 commented on #398
@devqx You can access additional data from the [NotificationOpenedHandler](https://documentation.onesignal.com/docs/android-native-sdk#section--notificationopenedhandler-) with the following code.
[code]

You can then call `data.optString("customkey", null);` for example to get the value set on a specific key.

[2017-12-22 03:05] keith30xi commented on #391
I am seeing what appears to be a similar issue.  Build hangs indefinitely.  Here are a few thread dumps taken minutes apart for the same build.

[code]

[code]

[2017-12-22 06:48] sandstranger commented on #138
This error not fixed !

[2017-12-24 19:38] champrocks3190 opened #399 "notificationReceived called before onNotificationProcessing"
how to override the notification show or not , accordingly additional data key ,

i mean if additional data contains key "some key "

if(data.has("somekey"))
return true ;// don't show notification but do work with data received

else
return false ; // show notification and all receive data

this don't work in my scenario , i save data in notificationReceived but , it always show notification.
whe

[2017-12-25 08:44] westlinkin commented on #391
Same here

[code]

[2017-12-25 09:27] kozinakoff commented on #391
I've got the same issue on v0.8.0
v0.7.0 OK

[2017-12-25 09:32] kiberzoid opened #400 "android:attr/fontStyle not found"
I get an error when i try to build my project:
[code]
I use:
[code]

[2017-12-25 10:33] SurajPadmasali commented on #371
This will always happen when you move to the new release version of Android or iOS. Wait for its official release or give sometimes to the developer to update their apps and fix the bugs. OR you can try these [possible solutions](https://www.megebyte.com/how-to-fix-apps-crashing-freezing-issue-on-google-pixel-2-2-xl/) if not wait.

[2017-12-25 20:47] #399 closed

[2017-12-25 20:50] champrocks3190 opened #401 "Some time receiving sometime not."
Not accurate..

 Sometime works flawlasely,
  and sometime if we turn off mobile wifi and turn it on it display notification.

[2017-12-26 01:18] avirudoi commented on #391
I got the same any solution ?

[2017-12-28 10:08] CoLang commented on #397
No, this crash is reporting from production app. Many instances have occurred in the crashlytics report.

[2017-12-29 07:36] joelfernandes19 commented on #380
Any updates on this? I'm seeing the same reports too.

[2017-12-29 17:00] #398 closed

[2017-12-30 08:36] Karthikg206 commented on #263
Exact same issue after every update. It's really hurting user experience.
@jkasten2 full crash report from crashlytics.
I think this will help you to fix?

# Platform: android
# Date: 2017-12-30T08:09:21Z
# OS Version: 7.0
# Device: SM-G570F
# RAM Free: 14.6%
# Disk Free: 10.8%

#0. Crashed: main: 0 0 0x0000000000000000
       at android.app.ActivityThread$H.handleMessage(ActivityThread.java:1813)

[2018-01-02 08:52] ishratkhan commented on #287
Same problem at

https://github.com/OneSignal/OneSignal-Android-SDK/blob/274f98b0a0a37d79422f7eacdc102358bbbd57e1/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSignalPrefs.java#L105

[2018-01-04 02:45] tantom commented on #263
Same issue after every update. It's really hurting user experience.

[2018-01-06 21:21] Jamie-Landeg-Jones opened #402 "ONESIGNAL_USERSTATE_SYNCVALYES_CURRENT_STATE and my sofa"
Why the hell is ONESIGNAL_USERSTATE_SYNCVALYES_CURRENT_STATE retrieving and reporting my device ID along with my current position to such a precise detail that if you threw a grenade at those coordinates, you'd blow up my sofa?

And yes, I'm serious.

[2018-01-08 00:12] gdeglin commented on #402
Hi. The device's location is reported to OneSignal for notifications that you may send or trigger that are location related, and only when your app has been granted location permission by the device. This  If you do not plan to send notifications related to device location, you can disable this by calling `OneSignal.setLocationShared(false)` before calling `OneSignal.initWithLaunchOptions`.

[2018-01-08 00:12] #402 closed

[2018-01-08 07:05] krishna2122 opened #403 "New ANR issues found in play store .Broadcast of Intent { act=android.intent.action.BOOT_COMPLETED flg=0x8000010 cmp=com.onmo.discover/com.onesignal.BootUpReceiver (has extras) }"
Currently I am using one signal   compile 'com.onesignal:OneSignal:3.6.3'.
It is giving this ANR in my play store app.

https://play.google.com/store/apps/details?id=com.onmo.discover

[onesignal_anr.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1610806/onesignal_anr.txt)

[2018-01-08 11:12] escalope opened #404 "wrong pom description at maven central (perhaps)"
Hi
I think your pom description as uploaded to maven central is wrong. It works with gradle, but when trying the maven-android-plugin, missing artifact errors are triggered.  Now that google repositories are available for maven when adding this to the pom.
    <repository>
      <id>googlemaven</id>
      <name>google</name>
      <url>http://maven.google.com</url>
    </repository>

It makes sens

[2018-01-09 10:56] kichushanil opened #405 "Android Oreo 8.0.0 push notification issue..app crashes"
E/OneSignal: The included Android Support Library is to old or incomplete. Please update to the 26.0.0 revision or newer.
                                            java.lang.ClassNotFoundException: android.support.v4.app.JobIntentService
                                                at java.lang.Class.classForName(Native Method)
                                                at java.lang.Clas

[2018-01-11 11:36] reeteshkumar39 opened #406 "One Signal not working with firebase analytics"
it gives this error in integration from both docs
[code]

[2018-01-11 11:39] reeteshkumar39 commented on #406
01-11 12:38:15.095 16038-16038/? E/AndroidRuntime: FATAL EXCEPTION: main
                                                   Process: in.playx.app, PID: 16038
                                                   java.lang.NoSuchMethodError: No static method zzb(Ljava/lang/Object;Ljava/lang/Object;)Ljava/lang/Object; in class Lcom/google/android/gms/common/internal/zzac; or its super classes (declarat

[2018-01-12 00:43] jkasten2 commented on #404
@escalope Thanks for reporting. I just created a SNAPSHOT build so you can try the fix for this.
1. Add the following snapshot repo if you don't have it already.
`https://oss.sonatype.org/content/repositories/snapshots`
2. Add the following specific version with this fix.
`com.onesignal:OneSignal:4.0.0-20180112.003255-6`

I haven't tested `maven-android-plugin` but for reference this is how it wou

[2018-01-12 00:52] jkasten2 commented on #400
@kiberzoid You have `compileSdkVersion 22` which is quite old. Can you try updating to `compileSdkVersion 27`. You will also need to update the Android SDK on your system if you haven't already.

Google also recommends keeping `targetSdkVersion` up to date as well. However you should read through Google's migration guides to ensure there are no issue for your app.
https://developer.android.com/abo

[2018-01-12 00:57] jkasten2 commented on #401
@champrocks3190 OneSignal relies on Google GCM / FCM to push notifications to the device. Since you noted toggling the wifi fixes the issue i most likely either with the specific device or your wifi router / gateway. Specific it sounds like the open port to GCM / FCM is getting closed. Can you test on other networks and devices? Also recommend checking out our troubleshooting guide on receiving is

[2018-01-12 01:00] jkasten2 commented on #405
@kichushanil Make sure you add the following at the very top of your `app/build.gradle`.
[code]

This will make sure all the required dependencies are added and are the correct versions.

[2018-01-12 01:02] jkasten2 commented on #406
@reeteshkumar39 It looks you have a mixture of different versions of Google Play services / FCM libraries in your build.gradle. Can you Open your app/build.gradle (Module: app) file, add the following to the very top (line 1).
[code]

[2018-01-12 01:06] jkasten2 commented on #380
Can you sure the percentages of Android version effected? Are you able to reproduce any additional wake ups on your test devices?

[2018-01-12 02:19] jkasten2 commented on #263
@Karthikg206 @tantom Can you use the snapshot build noted in my  https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-349533313 comment in your next app release? This will provide a better stack trace so we can try to narrow down the issue.

[2018-01-12 05:27] reeteshkumar39 commented on #406
buildscript {
    repositories {
        maven { url 'https://maven.fabric.io/public' }
    }

    dependencies {
        classpath 'io.fabric.tools:gradle:1.24.4'
    }
}
apply plugin: 'com.android.application'
apply plugin: 'io.fabric'

repositories {
    maven { url 'https://maven.fabric.io/public' }
    maven { url "https://jitpack.io" }
}

android {
    compileSdkVersion 26
    buildToolsVers

[2018-01-12 05:43] #406 closed

[2018-01-12 05:43] reeteshkumar39 commented on #406
mind blowing working ..........

[2018-01-12 10:53] janbolat commented on #391
Is there a solution yet?

[2018-01-12 10:57] MostafaSh commented on #401
I have the same problem in android.
and it's not about what kind of device i'm using. the strange note is that all thing is okay in debug mode or in emulator, but when i build an apk and install it, when app is closed sometimes the notif's are not received but sometimes they do. and it's not related to setting proguard or not.
I have kind of a news app that all data operations is based on notif. f

[2018-01-12 19:24] jkasten2 commented on #401
@MostafaSh Debug builds of your app won't have an effect on OneSignal or on receiving FCM / GCM payloads. What devices and Android versions are you testing on? Some device manufacturers force kill apps which means most Android Intents (including push) won't wake up your app. If this is the case you will see an entry like this in the device's logcat.
[code]

See OneSignal's [Notifications are highl

[2018-01-12 23:26] jkasten2 commented on #391
@niqo01 @janbolat @avirudoi @kozinakoff @westlinkin @keith30xi @tjouin
Just fixed this in [OneSignal-Gradle-Plugin 0.8.1](https://github.com/OneSignal/OneSignal-Gradle-Plugin/releases/tag/0.8.1).

[2018-01-12 23:26] #391 closed

[2018-01-12 23:29] jkasten2 commented on #379
@Xy-joe If you are still getting the issue try to include OneSignal in the main dex file. Feel free to reply and I can reopen this issue if that does not help.

[2018-01-12 23:29] #379 closed

[2018-01-12 23:54] jkasten2 commented on #373
@Reza-Soltani For this case you can call [`getTags`](https://documentation.onesignal.com/docs/cordova-sdk#section--gettags-) on the first run. Then you can call [`deleteTags`](https://documentation.onesignal.com/docs/cordova-sdk#section--deletetags-) on any keys you need to remove.

[2018-01-12 23:54] #373 closed

[2018-01-13 00:45] jkasten2 commented on #396
@fedorcomander This issue occurs when a message body `contents` is set on the notification sent from OneSignal. Can you make sure this is always set? You can still just replace the full contains in your extender.

I'll still mark this as a bug as the SDK should still handle this edge case through in the future.

[2018-01-13 00:49] jkasten2 commented on #403
@krishna2122 Could you share the code you are running in `onCreate` method of your `com.onmo.discover.app.DiscoverApplication`? The issue is there is to much work happening here on the main thread.

[2018-01-13 01:11] jkasten2 commented on #397
@CoLang This looks like an ANR, can you attach the full ANR report as an attachment? It should include a full stack trace. You can also share the notification id that triggered this with OneSignal support linking them to this github issue.

[2018-01-13 02:00] jkasten2 commented on #387
@iballan This shouldn't be needed as the SDK already checks for duplicate Notification UUIDs.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.7.1/OneSignalSDK/onesignal/src/main/java/com/onesignal/NotificationExtenderService.java#L151

@davisoqt Did you answer resolve your duplicated notification issue? If not please reply and I can reopen the issue.

[2018-01-13 02:00] #387 closed

[2018-01-13 02:03] jkasten2 commented on #364
Closing due to inactivity, feel free to reply and I can reopen this issue.

[2018-01-13 02:03] #364 closed

[2018-01-13 14:09] mochadwi opened #408 "Error:Error converting bytecode to dex: Cause: com.android.dex.DexException: Multiple dex files define Lcom/google/android/gms/gcm/PendingCallback;"
**compiledSdkVersion 25** to support older version

![screen shot 2018-01-13 at 9 05 29 pm](https://user-images.githubusercontent.com/7057959/34906740-c2dfee50-f8a5-11e7-8c70-6d0123ba009a.png)
![screen shot 2018-01-13 at 9 06 04 pm](https://user-images.githubusercontent.com/7057959/34906741-c319dbe2-f8a5-11e7-9a1f-3419fe409eaf.png)
![screen shot 2018-01-13 at 9 06 15 pm](https://user-images.github

[2018-01-14 20:05] jkasten2 commented on #408
@mochadwi Can you try removing all the compile lines with `force` in them? Then add the following to the very top of you `build.gradle`.
[code]
This plugin will fix an mixture of different versions of decencies with Google Play services. Also make sure you do not have any local .jar or .aar files of Google Play services in your project directory.

If the above does not help can you share you full

[2018-01-15 09:20] agr111 opened #409 "Usage Of OneSignal Plugin Inside Android Library Module"
There seems to be issues using OneSignal at the library module level. It works when `OneSignal` is configured in the main app module's build.gradle file. But modifying the library module's build.gradle so that `OneSignal` files can be placed inside the library module seem to produce Gradle errors.

```Could not find property 'applicationVariants' on com.android.build.gradle.LibraryExtension```

Li

[2018-01-15 14:20] mochadwi commented on #408
here's the module level gradle @jkasten2

https://gist.github.com/mochadwi/aac4c20fdb43cd0e819bacabf1c69e8f

[2018-01-15 14:27] mochadwi commented on #408
Is OneSignal possible side-by-side with FCM libs? @jkasten2

Currently, on our project, there's an FCM, before we try to migrate to OneSignal due to it's awesome offers :D

[2018-01-15 14:28] mochadwi commented on #408
https://github.com/OneSignal/OneSignal-Android-SDK/issues/408#issuecomment-357538166

Well, we already did this. Still, no success T_T

[2018-01-15 20:30] canado opened #410 "App crashes after push notifications possible initiator getColor"
Hi Onesignal team

I received a lot of crashes errors after a push notification, here is the details I have in Firebase.

Is there restricted colors we should not use  ?
getColor seems to be the error here.

Thanks

[2018-01-15 20:35] canado commented on #410
My custom colors for LED includes

blue = "FF0000FF";
orange ="FFFF8800";
green ="FF00ff00";
yellow ="FFFFFF00";

[2018-01-16 01:02] jkasten2 commented on #408
@mochadwi Thanks for the full `app/build.gradle`. I see `compile fileTree(include: ['*.jar'], dir: 'libs')`, can you list all .jar / .aar files in your local libs directory if you have any?

The issue might be a very old version of Firebase is being used. What do you have `rootProject.googleCommonLibVersion` set to?

Could you also attach your root `build.gradle` as well?

Lastly can you run `./gr

[2018-01-16 01:41] jkasten2 commented on #409
@agr111 This actually an issue with the OneSignal-Gradle-Plugin. I have open an issue on this repo instead where we can continue there.

[2018-01-16 01:41] #409 closed

[2018-01-16 01:59] jkasten2 commented on #410
@canado  This crash is coming from `cordova-plugin-firebase` in your project. From looking at their source the issue is happening at:
https://github.com/arnesson/cordova-plugin-firebase/blob/550798c1d62f40a1c376b7eb14dd12453779c0df/src/android/FirebasePluginMessagingService.java#L105

This isn't need for OneSignal so you can remove or disable the push notification part if you don't need it.

There

[2018-01-16 01:59] #410 closed

[2018-01-16 06:55] ashfaqbinnazar commented on #405
Added this but still app crashes and push is not receiving

plugins {
    id 'com.onesignal.androidsdk.onesignal-gradle-plugin' version '0.8.0'
}
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'

[2018-01-16 08:31] d-rahul commented on #93
Open application manifest(AndroidManifest.xml), click on the "Merged Manifest" tab next to the "Text" tab of the manifest file. You can view the error in the right column, try to solve the error and build again it will solve this error.
For error: [](https://readyandroid.wordpress.com/errorexecution-failed-for-task-appprocessdebugmanifest-manifest-merger-failed-with-multiple-errors-see-logs-androi

[2018-01-16 08:33] d-rahul commented on #121
Open application manifest(AndroidManifest.xml), click on the "Merged Manifest" tab next to the "Text" tab of the manifest file. You can view the error in the right column, try to solve the error and build again it will solve this error.
For error: https://readyandroid.wordpress.com/errorexecution-failed-for-task-appprocessdebugmanifest-manifest-merger-failed-with-multiple-errors-see-logs-android/

[2018-01-16 11:28] krishna2122 commented on #403
Thanks @jkasten2  here is the onCreate code of the application com.onmo.discover.app.DiscoverApplication .

@Override
    public void onCreate() {
        super.onCreate();
        mApplication = this;
        OneSignal.startInit(this)
                .inFocusDisplaying(OneSignal.OSInFocusDisplayOption.Notification)
                .unsubscribeWhenNotificationsAreDisabled(true)
                .in

[2018-01-16 11:35] krishna2122 opened #411 "Some of the devices not receiving push Notification from OneSignal ."
I have tried to debug one use case : some of the devices not receiving push notification sent from OneSignal . When ever I tried to debug I receive the notification but when I run it in normal mode I don't receive the push notification from OneSignal .

Below is the Log .
[code]

[2018-01-16 12:14] canado commented on #410
Hi Josh,

Thank you for pointing me to the right direction, I believed it was coming from the firebase console.log equivalent for crash stats.

I use firebase in my project but not firebase cloud messaging. I only trigger onesignal when I have an alert to push on my users's screen.
I will look into firebase

Thank you so much

[2018-01-16 14:06] programmorem opened #412 "Getting Error when try to send PushNotification"
I tried to send a push notification from an Android device.
Here is my Code:
[code]
But every time I run this code I get the following Error:
[code]

Si only wants to send the SAME Message to all Languages.

[2018-01-16 22:20] jkasten2 commented on #411
@krishna2122 The `SSL_HANDSHAKE_FAILURE` error can occur if the date and time is incorrect on the device or if there is a network stability issue. Also using a proxy or VPN that isn't configured correctly could cause this.

What device and version of Android did you get this error on? Can you try another device or another network connection as well?

[2018-01-16 22:22] jkasten2 commented on #412
@programmorem Can you make sure `message` is set to a non-null and non-blank string? I also recommend calling `toString()` on your `JSONObject` and print it to the logcat to make sure it was added to the payload correctly.

[2018-01-16 22:32] jkasten2 commented on #403
Since there is a number of things being initialized here, you will need to move some of it to a new thread to solve the main thread taking to long issue. I recommend you profile your app start to see what it taking the time.

This doesn't look to be a OneSignal related issue however if find any issues with OneSignal creating a delay here feel free to reply with the details and I'll reopen the issu

[2018-01-16 22:32] #403 closed

[2018-01-16 22:36] jkasten2 commented on #405
@ashfaqbinnazar Is the error and stacktrace the same on the crash?

Do you have any code in your `build.gradle` using `resolutionStrategy` that is lowering the version number of android.support.v4? Can you share your full `app/build.gradle` and your root `build.gradle` here?

[2018-01-17 05:19] ashfaqbinnazar commented on #405
issue solved.
Sincerely,Ashfaq bin nazar

    On Wednesday, January 17, 2018, 4:06:29 AM GMT+5:30, Josh Kasten <notifications@github.com> wrote:

@ashfaqbinnazar Is the error and stacktrace the same on the crash?

Do you have any code in your build.gradle using resolutionStrategy that is lowering the version number of android.support.v4? Can you share your full app/build.gradle and your root build

[2018-01-17 07:11] programmorem commented on #412
@jkasten2 Hey, I fixed the Problem. Thanks for your help. It helps me a lot. The [ ] after 'en': was the error..
Here is the working Code: `JSONObject jsonObject = new JSONObject(
                                "{'contents': {'en': '" + message + "'}, " +
                                "'include_player_ids': ['" + user_id + "'], " +
                                "'headings': {'en': 'Tag sub Ti

[2018-01-17 07:12] #412 closed

[2018-01-18 01:11] niqo01 opened #413 "Updating plugin from 0.7.0 to 0.8.1 result in build failure"
After upgrading onesignal plugin from 0.7.0 to 0.8.1 I get:
[code]

Rolling back to 0.7.0 solve the issue.

I was wondering why Onesignal plugin need to manipulate dependencies ?

[2018-01-18 02:27] jkasten2 commented on #413
@niqo01 Thanks for the report. This seems very similar to the issue below but since it is on `firebase-core` instead of `onesignal` it might be getting triggered a bit differently.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/16

Do you have different `targetSdkVersion` in your `build.gradle` for your `productFlavors` or `buildTypes`? If so this could be causing different dependence

[2018-01-18 12:39] rokto opened #414 "onesignal backup as firebase"
I was trying to use one signal as backup plan of firebase failure. So, but in get data of one signal there is  an extra {custom={"a":{}}.  How to avoid this extra token. In firebase getdata there is no {custom={"a":{}} susch type parameters .

[2018-01-19 04:02] chitgoks commented on #361
Im doing this in Android Studio 3.

Error:Unable to resolve dependency for: ... Could not resolve com.onesignal:OneSignal:[3.7.1, 3.99.99].

I added the plugin and apply at the top most

[2018-01-19 04:06] jkasten2 commented on #361
@chitgoks Can you try following this steps in this guide?
https://documentation.onesignal.com/docs/troubleshooting-android#section-failed-to-resolve-com-onesignal-onesignal-3-7-1-3-99-99-

If it doesn't help can you copy the full error?

[2018-01-19 04:18] chitgoks commented on #361
Yep, same. only difference was i removed maven { url 'https://maven.google.com' }
because i already have mavenCentral()

Error:Unable to resolve dependency for ':app@googleFreeDebug/compileClasspath': Could not resolve com.onesignal:OneSignal:[3.7.1,3.99.99].

[2018-01-19 05:01] chitgoks commented on #361
well ... anyway... the problem is fixed. i did not specify targetSdkVersion (i never do) so this was what the error message was pertaining to.

[2018-01-19 05:09] jkasten2 commented on #361
@chitgoks Thanks for exact error.
`Cannot get property 'apiLevel' on null object`

It seems this is thrown from the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin) due to a bug. I created a new issue for this so we can handle the case where the project doesn't set `targetSdkVersion`.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/20

[2018-01-19 05:27] jkasten2 commented on #414
@rokto OneSignal and basically all other push notification services use FCM / GCM to send notifications to devices. This is for two reasons; 1. It is taxing on devices' resources and battery if each app needs it own direct network connection; 2. FCM / GCM can wake the device from doze mode if high priority is needed.

If for some reason just the Firebase dashboard was down but not their API servic

[2018-01-19 05:27] #414 closed

[2018-01-19 06:42] apurvaaggarwal commented on #286
007law thanks . It worked for me
update all library versions and gms version as well . It will definitely work. Make sure all google services library you are using must be of same version

[2018-01-22 02:51] j2emanue opened #415 "Fatal Exception: android.app.RemoteServiceException Bad notification posted"
3 users got the following error when sending notification :

[code]

it occurred on this thread:

[code]

and here is the stack trace:

[code]

here is my gradle dependency:
`implementation 'com.onesignal:OneSignal:[3.7.1, 3.99.99]'`

and android support library version: 27.0.2

For one of the users the error occurred on a non-rooted device with following specs:

SM-G950F device.  OS: 7.0

[2018-01-22 16:16] mochadwi commented on #408
@jkasten2
There's nothing yet in the libs directory though

root/build.gradle
https://gist.github.com/mochadwi/7f10a3bf36603e2a6449664d3917f199

The issue might be a very old version of Firebase is being used. What do you have `rootProject.googleCommonLibVersion` set to?

^ looks like is answer our question though. after removing all of firebase related gradle, the OneSignal SDK is runs smoothly

[2018-01-24 07:21] mayurwish opened #416 "ANR while executing service com.gocheckapp/com.onesignal.SyncService [SharedPreferencesImpl]"
executing service com.gocheckapp/com.onesignal.SyncService

Atom_2X, 0MB RAM, Android 5.1
RAM: 1024MB (TotalMem: 963MB)
Form factor: Unknown
System on Chip: Unknown
Screen size: 480 x 854 (normal)
CPU: Unknown
Screen density (DPI): 240
ABI: armeabi-v7a

SDK: Android 5.1 (SDK 22)
GPU: Unknown
OpenGL ES version: 2.0

The "main" (tid=1) thread is in waiting state.

"main" tid=1 Waiting
"main" prio=5

[2018-01-25 05:46] cookksss opened #417 "Hhg"

[2018-01-26 03:37] sw926 commented on #263
@jkasten2
[code]
This is my OneSignal dependence

[code]

This is seems like same exception

[2018-01-26 09:02] sbrkx commented on #415
I have the same issue:

`android.app.RemoteServiceException:
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1870)
  at android.os.Handler.dispatchMessage (Handler.java:105)
  at android.os.Looper.loop (Looper.java:164)
  at android.app.ActivityThread.main (ActivityThread.java:6809)
  at java.lang.reflect.Method.invoke (Method.java)
  at com.android.internal.os.Zygote$MethodAn

[2018-01-28 07:56] hashirmdv opened #419 "problem on adding id on build.gradle..."
iam using android ide.it is an android mobile app for developing android app(https://play.google.com/store/apps/details?id=com.aide.ui&referrer=utm_source%3Daidewebsite%26utm_campaign%3Dhomepage).

when i using below `manifestPlaceholders = [onesignal_app_id: "3beb3078-e0f1-4629-af17-fde833b9f716",
                                // Project number pulled from dashboard, local value is ignored.

[2018-01-29 15:27] insacc opened #420 "No such service (com.onesignal.SyncJobService) crash on HTC running on Android 8.0"
We realized that our app crashes on HTC smartphones that are running on Android 8.0. Below is the crash report from the Fabric

       at android.os.Parcel.readException(Parcel.java:1955)
       at android.os.Parcel.readException(Parcel.java:1897)
       at android.app.job.IJobScheduler$Stub$Proxy.schedule(IJobScheduler.java:180)
       at android.app.JobSchedulerImpl.schedule(JobSchedulerImpl.jav

[2018-01-30 10:41] buddhasaikia opened #421 "Unable to hide alert dialog when app is in focus"
When the app is in focus, I need to show notification in android notification drawer instead of in app alert dialog. I tried `inFocusDisplaying(OneSignal.OSInFocusDisplayOption.Notification)` but still it is showing alert dialog. Any help would be highly appreciated.

[2018-01-31 08:28] rasoulinejad opened #422 "crash app on android 6"
[code]

![untitled](https://user-images.githubusercontent.com/21033999/35612432-0143d4aa-067e-11e8-8ff4-f0d9497e7107.png)

[2018-01-31 12:07] SirHazgard opened #423 "Crash OneSignal UnitySdk in Android 7.0"
![2018-01-31_13h06_52](https://user-images.githubusercontent.com/35848841/35622306-a037153c-0687-11e8-97a9-89e89ee4781c.png)

java.lang.RuntimeException:
  at android.app.ActivityThread.handleServiceArgs (ActivityThread.java:3755)
  at android.app.ActivityThread.-wrap23 (ActivityThread.java)
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1744)
  at android.os.Handler.dispatch

[2018-01-31 12:11] #423 closed

[2018-01-31 15:18] dilah commented on #263
we added the snapshot as well. no difference in stacktrace.

We noticed the crash happens in several LGE phones, in Samsung Galaxy J3, in Galaxy Tab S2 9.7, in SAMSUNG-SM-J727A,  and in Motorola G4, G5, XT1585. All of those are running Android 7.0

The stacktrace is always the same
[code]

[2018-01-31 22:53] #417 closed

[2018-01-31 23:16] jkasten2 commented on #419
@hashirmdv I believe the AIDE still has a limitation on `manifestPlaceholders` so you won't be able to follow the Android Studio / Gradle setup for this SDK. Instead however you can add our OneSignalSDK.jar directly by and include the require `AndroidManifest.xml` entries manually.
https://documentation.onesignal.com/docs/android-sdk-setup-eclipse#section-2-androidmanifest-xml

I recommend you sug

[2018-01-31 23:16] #419 closed

[2018-01-31 23:27] jkasten2 commented on #420
@insacc Did you add our SDK with our [Gradle / Android Studio instructions](https://documentation.onesignal.com/docs/android-sdk-setup) or our .jar directly?

If you have `compile 'com.onesignal:OneSignal:[3.7.1, 3.99.99]'` then this should be getting added correctly. See the entry that is aded by our SDK.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.7.1/OneSignalSDK/onesignal/src/mai

[2018-01-31 23:29] jkasten2 commented on #421
@buddhasaikia That is all you should need. Full example.
[code]

Can you make sure you are using the latest 3.7.1 release? If so make sure you are not calling OneSignal.startInit() any where else in your code without this option.

Lastly make sure you don't have any other GCM / FCM code that could be displaying the notification as an alert.

[2018-01-31 23:31] jkasten2 commented on #422
@rasoulinejad Thanks for reporting, will look into this.

[2018-01-31 23:43] jkasten2 commented on #263
@sw926 Found the same crash [you reported](https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-360675716) on stackoverflow.
https://stackoverflow.com/questions/47257407/securityexception-permission-denial-opening-provider-com-google-android-gms-phe

It is a bug in the GCM / FCM library. Doesn't look like the issue was resolved yet but the comments in that post have a lot of

[2018-01-31 23:47] jkasten2 commented on #263
@dilah Thanks for reporting back. Just to confirm this wasn't trigger from something else, do you have any other code or SDKs in your app?

* Did you see the same corresponding spike in this crash after the update like the last time you released an app update?
* Do you see any new crashes related to OneSignal or notifications after this update?

[2018-02-01 03:39] insacc commented on #420
@jkasten2 thank you for the response.
We are currently using `compile 'com.onesignal:OneSignal:3.6.4@aar'` to add the sdk.  We were not reproduce this error, because we currently do no have a HTC phone that works on Android 8.0 . This crash affected 14 users in the past 7 days. All of the devices seems to be the HTC and working on 8.0

[2018-02-01 07:48] dilah commented on #263
@jkasten2 yes every time we upload a new version in play store we get those issues the first days. then crash goes away until next release.
no new issues related to notifications after this update.

[2018-02-03 07:39] calanti opened #424 "AbstractMethodError, JobHandler.handleMessage on some Android 8.0 devices"
Yesterday we released an update to our app, and OneSignal is causing quite a lot of issues for 2 devices so far with this error;
[code]
The affected devices are;

2 days ago is when we released an update containing a much more up-to-date version of the OneSignalSDK, as per the documentation is it in our gradle file as;
`compile 'com.onesignal:OneSignal:[3.7.1, 3.99.99]'`

This release caused hundr

[2018-02-03 11:16] calanti commented on #424
After playing with it this is only a problem when proguard is enabled, long story short I have proguarded OneSignal working successfully on Adnroid 8.0 and 8.1 by adding this to my proguard rules;

`-keep class com.onesignal.JobIntentService$* {*;}`

I can only test on an emulator since I don't have a physical 8.0/8.1 device, but so far so good.

[2018-02-03 17:51] buddhasaikia commented on #421
oh! Yes. That was the issue. I see OneSignal.startInit() in multiple places. Thanks for your support.

[2018-02-03 17:51] #421 closed

[2018-02-05 06:19] iballan opened #425 "SecurityException on Android 7.0"
**java.lang.SecurityException**
_com.onesignal.OneSignalSyncUtils.scheduleSyncTask_

Samsung Galaxy J7 Prime (on7xelte), 3072MB RAM, Android 7.0

[code]

[2018-02-05 07:06] Talkless opened #426 "Android 8 crash with IllegalArgumentException in NotificationRestorer.startDelayedRestoreTaskFromReceiver"
Hi,

Google Play Consle shows crashes on (currently all, there are few of them) Android 8 devices, such as `Sony Xperia XZs (G8231)` and `Sony Xperia XZ1 (G8341)`:
[code]
OneSignal 3.7.1

android:minSdkVersion="19" android:targetSdkVersion="27" android:maxSdkVersion="27"

This is Qt application with a workaround for #102 `<service android:name="com.onesignal.SyncService" android:stopWithTask="true

[2018-02-05 07:16] Talkless commented on #426
Before 3.7.1 update, (that was 3.5.1) there was different exception on Sony Xperia XZ1:
[code]

[2018-02-05 10:54] AlexAndriichenko opened #427 "getCarrierName crash"
I have crashes in 3.7.1 version. READ_PHONE_STATE permission access is not handled
[code]

[2018-02-05 17:45] M4ttscx opened #428 "Can someone help me, error when sending notification."
When I send a notification, the application stops working;

I have these codes in my application;

[code]

[code]

Compiles;
`
    compile 'com.onesignal:OneSignal:[3.7.1, 3.99.99]'`

Plugins;

[code]

Even with these codes and all the right settings my application closes and stops working even in the background.

[2018-02-05 22:53] jkasten2 commented on #424
@calanti Thanks for the details, we have included it in our SDK with the commit above and it will be included in our next release.

[2018-02-05 23:07] jkasten2 commented on #426
@Talkless Thanks for the crash reports.

Can you confirm that this crash is from the OneSignal 3.7.1 SDK and is from an Oreo device?
[code]

[SDK 3.7.1 NotificationRestorer.java:240](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.7.1/OneSignalSDK/onesignal/src/main/java/com/onesignal/NotificationRestorer.java#L240) points to creating a pendingIntent which doesn't match up.

The `com.one

[2018-02-05 23:26] #424 closed

[2018-02-05 23:34] jkasten2 commented on #427
@AlexAndriichenko We added a catch for this and it will be included in the next release. Could you let us know which device models and Android versions you seen this crash on?

[2018-02-05 23:35] jkasten2 commented on #428
@M4ttscx Can you include the full stack trace from the crash log? We should be able to pin point the reasons from this. Thanks.

[2018-02-06 00:37] jkasten2 commented on #422
@rasoulinejad Did some digging on this stack trace and others have run into using `NotificationManager.getActiveNotifications` on Android 6.0.x devices as well. I added a try-catch around it's usage to work around the Android bug. The fix will be included in the next SDK release.

[2018-02-06 00:37] #422 closed

[2018-02-06 00:55] #427 closed

[2018-02-06 03:50] onepas opened #431 "Multiple dex files define Lcom/onesignal/ADMMessageHandler$Receiver;"
Dear
We use OneSignal with cocos, but we get an error:
`
Error:Error converting bytecode to dex:
Cause: com.android.dex.DexException: Multiple dex files define Lcom/onesignal/ADMMessageHandler$Receiver;
`
gradle:
`
dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    compile project(':libcocos2dx')

    compile 'com.onesignal:OneSignal:3.+@aar'
}
`

[2018-02-06 04:21] janbolat commented on #351
@jkasten2 the documentation which @thedude61636 mentioned still doesn't have the required instruction.

[2018-02-06 05:02] jkasten2 commented on #431
The error means OneSignal is included twice in your project.

Did you also add OneSignal with SDKBox? If so then I believe it adds it's own copy so you don't need to add `compile 'com.onesignal:OneSignal:3.+@aar'`.

[2018-02-06 05:09] jkasten2 commented on #351
@janbolat Thanks, it might have gotten reverted when we released the latest version of our docs. I made sure it was applied to the latest this time.

[2018-02-06 07:32] Talkless commented on #426
Ugh, somehow I've managed to package 3.6.4 jar as if it was 3.7.1. Probably accidentally exacted older release download...

Sorry for the noise.

[2018-02-06 07:32] #426 closed

[2018-02-06 07:42] Talkless commented on #426
@jkasten2 I believe your 3.7.1 .zip archive has OneSignalSDK.jar v3.6.4 jar inside. I can extract it and find "030604" string inside some .class file (using `strings`).

[2018-02-06 08:14] Talkless opened #432 "3.7.1 release archives (zip and tar) has old v3.6.4 .jar file inside"
To reproduce:
[code]
I have used that `.jar` and created issue about apparently old crash: #426

[2018-02-06 18:34] niqo01 opened #433 "Excessive Wi-Fi scans (background)"
After releasing one signal our Excessive Wi-Fi scans (background) Android vitals rate went from 0.01% to 0.15%.
Upon doing our first push notification from onesignal to a few users this metric went crazy up, 0.34%.
Note that Android vitals bad threshold set to 0.10%.

![onesignal_excessive_wifi_scan](https://user-images.githubusercontent.com/1121251/35877119-430ad7da-0b29-11e8-8078-6674e0420803.pn

[2018-02-07 08:11] onepas commented on #431
Thank you, It worked

[2018-02-07 08:11] #431 closed

[2018-02-07 09:36] sinhpn92 commented on #263
Oh i have the same crash on device Android 7.0. Have any solution for this issue?

[2018-02-07 12:58] paularius opened #434 "NPE in OneSignalStateSynchronizer.java line 236"
I'm getting a crashlytics error, that looks like this:
![image](https://user-images.githubusercontent.com/1263573/35917511-124c5742-0c17-11e8-9cfe-c8b440649b9a.png)

The thing is that I cannot reproduce it, so any ideas?
I am using the 3.7.1 of the SDK.

[2018-02-09 04:59] CoLang opened #435 "Non-fatal Exception: java.lang.InternalError:Thread starting during runtime shutdown"
Found too many occurrences on Crashlytics platform.

Please find the full stack trace below
[code]

[2018-02-09 19:34] jkasten2 commented on #435
@CoLang Thanks for reporting. Going to merge this issue with #287 as it the same exception.

[2018-02-09 19:34] #435 closed

[2018-02-14 04:40] rampr commented on #362
We are also facing the same issue in our google play console.

[2018-02-14 11:30] rasoulinejad opened #437 "VerifyError: com.onesignal.OneSignal"
Android: 4.2.1
Manufacturer: HUAWEI
Model: HUAWEI G700-U10
----
Android: 4.4.4
Manufacturer: HTC
Model: HTC Desire 620

java.lang.VerifyError: com.onesignal.OneSignal
when init OneSignal on application class:
	OneSignal.startInit(getApplicationContext())
                                .inFocusDisplaying(OneSignal.OSInFocusDisplayOption.None)
                                .setNotificationOpenedH

[2018-02-14 15:57] caipivara opened #438 "Why onesignal_google_project_number is needed if pulled from remote"
Hi

I see in [documents](https://documentation.onesignal.com/docs/android-sdk-setup) that I need to add `onesignal_google_project_number: "REMOTE"`.

Why this value is needed? can I ignore it in my setup and have it like the next example?

[code]

[2018-02-15 11:11] LDALEGRIA commented on #263
@jkasten2 Guys, this issue has been going on for a long time now and we are still not able to get rid of this annoying bug.

Please give us a proper answer to what we should do to provide.
If a workaround is needed we are open but ideally, you find the final fix for it.

@andresfabreu is working on from our side.

[2018-02-15 15:00] ishratkhan opened #439 "Anyone please help me about this issue? i am getting this issue around 500times in a week."
[code]

[2018-02-15 21:53] jkasten2 commented on #437
@rasoulinejad Can you include the full stack trace of the error?

Do you have `multiDexEnabled true` set in your `build.gradle`? If so make sure to double check Google's instructions on setting up support for for Pre 5.0 devices.
https://developer.android.com/studio/build/multidex.html

[2018-02-15 21:55] jkasten2 commented on #434
Thanks for the report, we will look into reproducing the issue.

[2018-02-15 21:58] jkasten2 commented on #438
@caipivara The `onesignal_google_project_number` key is still required to as it is still in the `AndroidManifest.xml`. We have to wait until the next major release (4.0.0) to remove this as it will break builds of those are relying on a local value.

Thanks.

[2018-02-15 21:58] #438 closed

[2018-02-15 22:04] jkasten2 commented on #439
@ishratkhan A `Thread starting during runtime shutdown` should be extremely rare as this could only happen when the whole process for the app is about to be stoped.

Do you have anything in your code force killing your app? Such as `android.os.Process.killProcess`?

[2018-02-15 22:05] jkasten2 commented on #432
@Talkless Thanks for reporting. The .jar has been updated with 3.8.0 release.

[2018-02-15 22:05] #432 closed

[2018-02-17 06:38] ishratkhan commented on #439
No! we don't have anything to kill process, we made some changes in our app, update you on this issue after few days.

Thank you

[2018-02-19 08:21] KirilaMenski opened #441 "java.lang.ClassNotFoundException Didn't find class "android.app.job.JobServiceEngine""
Hello.
When I send notification at first time I get this error:
[code]

I think this is due to the lack of `android.permission.BIND_JOB_SERVICE` which has not been set in android manifest. I was trying to create my custom NotificationService which was implement from com.onesignal.NotificationExtenderService but it not helped.

I will be really appreciate if someone can help me.
Thanks advance

[2018-02-19 15:13] karopass opened #442 "Battery Optimization Android 6.0+"
Hi!
I have marked that if device have battery optimization is enabled for my application, its not receiving push notification if application is not opened. Application automatically going in battery optimization enabled by default so my 50%+ users does not getting notification. Let me know if there any solution for it.
Thanks

[2018-02-20 00:14] Goran1708 opened #443 "Thread starting during runtime shutdown crash. [can't reproduce]"
Bunch of crashes with this stack trace, but we can't reproduce it. Using latest version

[code]

[2018-02-20 00:15] Goran1708 opened #444 "Another crash, can't reproduce"
Another crash by others, can't reproduce.

[code]

[2018-02-20 00:25] Goran1708 commented on #443
have this logic. Will check tomorrow if this might be the reason app is getting fatal exception.

[code]

[2018-02-20 01:44] jkasten2 commented on #441
@KirilaMenski What versions of Android are you seeing the error on? Could you let us know OneSignal SDK version you are using as well.

`android.permission.BIND_JOB_SERVICE` is required on the `NotificationExtenderService` but if this was an issue the stack trace would be different as noted in issue #424.

[2018-02-20 01:53] jkasten2 commented on #442
@karopass Could you let us know which device models you are seeing the issue on? The standard Android 6.0 "Battery optimizations" under Settings > Battery > Options (...) won't cause issue with notification not being delivered for your app.

There are some manufactures that tweak Android that can create issues however. These are listed below.
https://documentation.onesignal.com/docs/notifications-

[2018-02-20 01:57] jkasten2 commented on #444
@Goran1708 Let's merge this with your other issue #443, since this is the same exception and is most likely related.

[2018-02-20 01:57] #444 closed

[2018-02-20 03:04] jkasten2 commented on #443
@Goran1708 We don't use `setDefaultUncaughtExceptionHandler` in the OneSignal SDK. I did try experimenting with it however in a test app with the OneSignal SDK and wasn't able to reproduce any issues on a 7.1.2 Android device.

Could you share what Android versions you seen the error on? Do you have have a log with the stack trace of all other threads at the time of the crash?

[2018-02-20 03:04] jkasten2 commented on #439
Could you share what Android versions you seen the error on? Do you have have a log with the stack trace of all other threads at the time of the crash?

[2018-02-20 06:19] KirilaMenski commented on #441
@jkasten2 Thank for reply. I am using last version of OneSignal SDK 3.8.0 and tested on phones with the version of android 7.0 and above

[2018-02-20 10:00] KirilaMenski commented on #263
Hello.
I faced with the same issue. I also faced with the same error when I used custom view for NotificationManager via RemoteView. My mistake was that I used direct values of width and height but I solved it by using math_parent in custom view.
I don't sure, but I think the problem can be in this [file](https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/mai

[2018-02-20 11:48] Goran1708 commented on #443
Bunch of phones. Samsungs, huawei's, LG's, google pixels.

[2018-02-20 11:57] Goran1708 commented on #443
I think I figured it out. We are using this to log any Throwable that get thrown in app:
[code]
Which seems some error gets thrown on different thread, which might not crash the app.
Not sure whats happening in OneSignal though.

[2018-02-20 11:59] Goran1708 commented on #443
[one_signal_crash.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1739947/one_signal_crash.txt)

that `setDefaultUncaughtExceptionHandler` is in custom `App` class `com.default.App`. You can search for it in text file.

[2018-02-22 05:55] alexsmartens commented on #281
+1 I'm having the same issue

[2018-02-22 07:09] ishratkhan commented on #439
No, Possible log i catch is

`ONESIGNAL_EXECUTOR_27961
       at java.lang.Object.wait(Object.java)
       at java.lang.Thread.parkFor$(Thread.java:2135)
       at sun.misc.Unsafe.park(Unsafe.java:358)
       at java.util.concurrent.locks.LockSupport.park(LockSupport.java:190)
       at java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQueuedSynchronizer.java:2059

[2018-02-24 12:39] saurabhtanu commented on #415
Exactly the same problem,

android.app.RemoteServiceException:
  at android.app.ActivityThread$H.handleMessage (ActivityThread.java:1870)
  at android.os.Handler.dispatchMessage (Handler.java:105)
  at android.os.Looper.loop (Looper.java:164)
  at android.app.ActivityThread.main (ActivityThread.java:6809)
  at java.lang.reflect.Method.invoke (Method.java)
  at com.android.internal.os.Zygote$Method

[2018-02-25 07:54] rokto opened #446 "Cant get payload or data is null in onreceivehandler class"
I integrated One Signal for push  notification in my android app, When i send push from onesignal dashboard , there is a notification popped up when received but the data is null in my MyNotificationReceivedHandler class. What is the issue?

[2018-02-26 12:41] tjouin opened #447 "Unable To merge dex"
Hello, i'am not able to implement OneSignal for MergeDex reason can you help with that?

There is my all gradle stacktrace:
[code]

[2018-02-26 15:52] tjouin commented on #447
Fix it removing FCM. But that a workaround.

[2018-02-27 01:57] jkasten2 opened #448 "Alarm Manger Wake ups with com.onesignal.NotificationRestoreService"
Android vitals counts Alarm Manger wake ups and some show up on the dashboard for the `com.onesignal.NotificationRestoreService` class. A wake lock isn't necessary for this class this alarm so it can be set to normal schedule to avoid this vitals hit.

[2018-02-27 04:00] calanti opened #449 "NullPointerException in UserStateSynchronizer since 3.7.1"
This seems to be a fairly rare crash but it started occurring since we pushed our last 2 app updates;

[code]

This has happened in production using v3.7.1 and v3.8.1. Prior to this we were using v3.5.4, but since this is quite rare I can't confirm the problem exists in earlier versions.

Android versions effected: 5.0, 5.1, 6.0, 7.0, 7.1

[2018-02-28 00:16] jkasten2 commented on #447
@tjouin Issue happened due to duplicated definition of the
 `com/google/android/gms/gcm/PendingCallback` class. Could you share you `build.gradle`? Having FCM should be fine unless your including an older version. It should be 11.8.0 to be safe as this is the Google Play services version OneSignal uses.

However we recommend using our Gradle plugin which will align Firebase, Google Play services,

[2018-02-28 00:30] jkasten2 commented on #446
@rokto Are you referring to the OneSignal `NotificationExtenderService.onNotificationProcessing` interface noted below?
https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding

`receivedResult.payload.additionalData` will be `null` unless you add something to the additional data setting on the dashboard.

You will find other properties un

[2018-02-28 01:10] jkasten2 commented on #443
@Goran1708 Thanks for the log, I reviewed but don't see anything key to the state of other threads that would create this crash. Just to confirm you have Crashlytics and are using your own global exception handler with `Thread.setDefaultUncaughtExceptionHandler`? Not sure if this would put the process in a shutdown state on the uncaught exceptions is thrown but it is a possibility. The key will be

[2018-02-28 01:20] jkasten2 commented on #441
@KirilaMenski Is this causing a crash or are you just noticing these entries in the logcat after sending a push? Are you consistently getting this error on your test devices each time you send a notification?

Do you get the same results with our example project?
https://github.com/OneSignal/OneSignal-Android-SDK/tree/master/Examples/AndroidStudio

[2018-02-28 01:37] jkasten2 commented on #439
@ishratkhan Thanks for the full log with all threads. I wasn't able to find anything that would create this error from it. By chance are you using `Thread.setDefaultUncaughtExceptionHandler` in your app code in-addition  to Crashlytics?

Going to merge this one into issue #443 as it is the same stack trace. Please follow up with us there. Thanks.

[2018-02-28 01:37] #439 closed

[2018-02-28 02:08] jkasten2 commented on #263
@LDALEGRIA @andresfabreu Just to confirm, your are not creating any notifications outside of OneSignal when your app is updated? Or using the `NotificationExtenderService` to change any notifications?
Also have you tried my pre-post notification rendering build from [Dec 1st](https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-348664720) in your production app?

We have trie

[2018-02-28 02:20] jkasten2 commented on #263
@KirilaMenski The custom remote notification view [`onesignal_bgimage_notif_layout.xml`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/src/main/res/layout/onesignal_bgimage_notif_layout.xml) you linked to is only used if added background image. The notification have checked before from the reports we received haven't included a background picture yet as part

[2018-02-28 06:28] KirilaMenski commented on #441
@jkasten2 It is not a crash. Actually, I did not notice that this somehow affected the work of the program. It is just a message, but I am getting this only for the first notification when app is started. It is weird.

No, I don't have same result with your example.
I initialize OneSignal by the follow:
[code]

[2018-02-28 09:53] Goran1708 commented on #443
@jkasten2 The issue seems to be fixed, but we do not know how it was fixed and we were not able to reproduce the issue. What we did remove is the `Thread.setDefaultUncaughtExceptionHandler`. https://github.com/segmentio/analytics-android/issues/490 this thread also mentions that `setDefaultUncaughtExceptionHandler` could be causing it.

[2018-02-28 19:19] jkasten2 commented on #443
@Goran1708 Thanks for the update and the link, let us know if the issue comes up again.

[2018-02-28 19:19] #443 closed

[2018-02-28 19:44] AliBadar opened #451 "Notification issue in Android 6.0"
Hello,
I am getting issue in 6.0 while getting notification, my app is stopped can you please tell me whats the issue? The logs are describe below:

[code]

[2018-02-28 19:52] jkasten2 opened #452 "Don't default app name as notification title in Android 7+"
Google changed their notification layout dramatically in Android 7(Nougat). It now includes the app name next the the app icon in it's own section.

Since the OneSignal SDK defaults the notification title to the app name if one is not present in the payload we see the name twice.
![image](https://user-images.githubusercontent.com/645861/36809661-6761a202-1c7d-11e8-88ed-edea1b64b849.png)

To fix th

[2018-02-28 20:00] jkasten2 commented on #441
@KirilaMenski Thanks for checking. I believe the cause of it is due to the device trying to resolve all the inherited classes. `android.app.job.JobServiceEngine` noted in the error as it is only on Android 8.0 device, however since there is a guard around the code to detect the Android version this won't result in a crash or broken behavior.

Since this is only a logcat message and I don't believe

[2018-02-28 20:00] #441 closed

[2018-02-28 20:14] jkasten2 commented on #433
@niqo01 The SDK does not preform any wifi scans directly. If the location permission is enabled in your app OneSignal will use the `FusedLocationProvider` that could trigger wifi scans. If you have added the location permission by mistake to your `AndroidManifest.xml` removing may fix this issue.

You noted that the issue did not appear until you sent your first batch of notifications. Do note tha

[2018-02-28 20:35] jkasten2 commented on #425
@iballan Are you able to reproduce this issue on your test devices? After `java.lang.SecurityException:` there should be a reason for the exception type included in the logcat. This will help us point pin what is causing this.

[2018-02-28 20:41] jkasten2 commented on #449
Thanks for reporting. Going to merge this into issue #434 as it is from the same SDK version and seems to be the same cause.

[2018-02-28 20:41] #449 closed

[2018-02-28 22:57] jkasten2 commented on #451
@AliBadar Is there any other log entires before or after this? I don't believe the entries you added would result in a crash.

[2018-02-28 23:00] jkasten2 commented on #383
@DimaKoz Thanks reporting. We will look into move the code in that stack off the main thread to avoid any possibility of this ANR.

[2018-03-01 01:13] whosea commented on #263
FCM to 11.8.0, Support to 27.0.0, oneSignal to 3.6.0 , it also crash on device Android 7.0.
1.no creating any notifications outside of OneSignal
2.no using the NotificationExtenderService to change any notifications
3.it always happened in samsung 7.0 when updated app or new installed app
Have been watching for a long time to wait for you to solve this onesignal issue!!!

I think you can use a few

[2018-03-01 06:28] AliBadar commented on #451
@jkasten2 The app does not crashed, it just freezes the application for few seconds and it happens only when i have to receive the push notification, The app is freezes and i didn't receive any push notification., This issue is coming in only 6.0 Marshmallow devices whereas its working fine on 7.0, 8.0 and previous versions of 6.0 also.

[2018-03-01 06:31] AliBadar commented on #451
@jkasten2
The logs are below:

No pending exception expected: java.lang.NoClassDefFoundError: com.onesignal.JobIntentService$JobServiceEngineImpl
at java.lang.Class dalvik.system.DexFile.defineClassNative(java.lang.String, java.lang.ClassLoader, java.lang.Object) (DexFile.java:-2)
at java.lang.Class dalvik.system.DexFile.defineClass(java.lang.String, java.lang.ClassLoader, java.lang.Object, java.u

[2018-03-01 06:38] AliBadar commented on #451
This is my gradle file:

plugins {
    id 'com.onesignal.androidsdk.onesignal-gradle-plugin' version '0.8.1'
}
apply plugin: 'com.onesignal.androidsdk.onesignal-gradle-plugin'

manifestPlaceholders = [onesignal_app_id: "123-123-123-123-123",
                                // Project number pulled from dashboard, local value is ignored.
                                onesignal_google_project_numb

[2018-03-01 12:30] calanti opened #453 "Grouping and other things not working in Android 8.1.0"
Our production app does not seem to group notifications properly on Android 8.1.0 (Observed on the Nexus 5X), we believed it was to do with our payload being incorrect, however after spending some time testing a variety of options in the templates on the OneSignal dashboard, we are still unable to get notifications to group at all on 8.1.0.

We have also observed the following issues;

### Single

[2018-03-01 20:30] jkasten2 commented on #451
@AliBadar Thanks for the details, a signal 6 is normally sent when the app is not responding on the main thread as you noted. Normally there is an ANR prompt and report as well? Do you get an ANR in either case?

Do you have any other code handling FCM / GCM messages outside of OneSignal? Could you try our example project to see if you still have the issue with that device?
https://github.com/OneS

[2018-03-02 06:13] jkasten2 commented on #453
@calanti Thanks for reporting all these issues to us!

We will look into this one and update the our tooltips and documentation for the color format.

It looks like your notifications were grouped (AKA stacked) in your 2nd screenshot. Did you use the Group key "newmessage" on both notifications you sent? The small icon used for the group is the one named `ic_stat_onesignal_default` per the [Androi

[2018-03-02 06:43] calanti commented on #453
No problem, happy to help!

Yes the "newmessage" group key was the same for both notifications. I can confirm actually that having a different group key has 2 completely separate stacks as shown below;
![fm double notification completley seperate](https://user-images.githubusercontent.com/12170223/36886095-8090fa94-1e25-11e8-98f8-af8c94d6cffa.jpg)

So, the group key works to some extent, but what

[2018-03-02 07:20] jkasten2 commented on #453
### Colors
I looked into the accent color and LED issue and they should both be ARGB hex format without the hash `#`. Example `FFFF0000` for red. We will update our docs for both fields.
However you noted that `AARRGGBB` was not working for you for the LED color? It is possible that your device does not support apps customizing the LED color. Also note for Android 8 device the LED color has to be

[2018-03-02 07:50] calanti commented on #453
The device in question is the Xiaomi Mi Max running Android 6.0.1, unfortunately I do not have access to other devices to test. Yes this device allows custom LED coloring, for example Viber shows a purple LED, Messenger shows a green LED. Setting the LED color for OS notifications does do something since it displayed white instead of the default blue, however I am trying to set a light red color.

[2018-03-02 08:17] jkasten2 commented on #453
Hmm, could be a special API for the Xiaomi MIUI to allow set the LED color. MIUI 8 required this to allow customizing the large icon so I suspect this is the case.

I see, I believe setting "LOCKSCREEN VISIBILITY" to "Private" on the notification will give you what you need.

If you still want the Viber like behavior you will still need to use the `NotificationExtenderService` is suggested. We des

[2018-03-02 08:41] calanti commented on #453
After testing further with Viber, the notification can be expanded to show all the messages, please see screenshots below. I don't believe this is possible with simple replacement?

![viber min](https://user-images.githubusercontent.com/12170223/36890353-7a0c8a36-1e38-11e8-9c0d-f116b9334889.jpg)

![viber max](https://user-images.githubusercontent.com/12170223/36890371-8c438556-1e38-11e8-9660-73c06

[2018-03-02 11:33] gvozditskiy opened #454 "Google Analytics for Firebase requires NotificationOpenedHandler when it should not"
I've made my test project.
Push notifications work fine, i can receive and open them.
But when I try to receive events in Google Analytics for Firebase nothing happens. I've enabled [this integration](https://documentation.onesignal.com/docs/google-analytics-for-firebase#section-2-enable-firebase-in-onesignal) and after I send a message and open it on my phone I don't see any events in Firebase de

[2018-03-02 13:00] vaniakerer opened #455 "Strange http error in logcat"
Hi!
I use Android Emulator from Android Studio, Google Pixel, Android 8
All works great, but in logs I see error:
[osgnl.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1775145/osgnl.txt)

That's normal?

[2018-03-02 17:28] denisshikunets commented on #394
have the same issues, support library 27.0.2, one signal version 3.8.1
reproduced only on android 4, most popular devices is Galaxy Tab3 Lite 7.0

[2018-03-02 20:15] jkasten2 commented on #455
@vaniakerer It looks like a 500 error was return from OneSignal to the device. Are you getting this consistently or just saw this once? If it was a one off note that the SDK will retry for you so updates are not lost.

[2018-03-03 09:21] paveltech opened #456 "app_id not found. You may be missing a Content-Type: application/json header."
Here i am init onesignal in my AppController and done everything. But it says your app_id is not found.
How i can solve this.

[2018-03-03 11:00] AliKhoshraftar opened #457 "open app and do something"
We are using OneSignal , in android when app is closed , the notification button only opened the app, but when app is running it's done the specified task well. what is the problem ? is there any flag that can help us ? or anything else.
Thanks In Advanced.

[2018-03-03 11:04] Reza-Soltani opened #458 "OneSignal is starting my application class after closing my app"
Hi,

Seems that after closing my app, OneSignal is creating my app's application class for SyncJobService. I know this is not a bug, but I am initializing a lot's of things in onCreate method of my application class.

Leakcanary has a very usefull method, named isInAnaluzerProcess that determines: "is the reason of calling onCreate leakcanary or not"?

You may see it's usage here:
[code]

Can you

[2018-03-03 19:59] jkasten2 commented on #456
@paveltech Make sure you have `onesignal_app_id` set in your `build.gradle` to your OneSignal app_id as noted in step 1.3 below.
https://documentation.onesignal.com/docs/android-sdk-setup

If this does not help please attach the logcat log showing the error. As well as your `build.gradle` and `AndroidManifest.xml` as we can take a look.

[2018-03-04 03:48] rampr opened #459 "Crash in com.onesignal.NotificationRestorer.startDelayedRestoreTaskFromReceiver"
We are seeing the following crash only in Android 8.0/8.1 devices. We are using 3.7.1 of the onesignal sdk.

[code]

[2018-03-04 10:45] AliBadar commented on #451
@jkasten2
I am not getting any report, my app is struck and phone hangs for few seconds in 6.0 when i have to receive the notification, its working fine on other versions of android. The logs are as below:

No pending exception expected: java.lang.NoClassDefFoundError: com.onesignal.JobIntentService$JobServiceEngineImpl
at java.lang.Class dalvik.system.DexFile.defineClassNative(java.lang.String, j

[2018-03-04 19:47] SAFatemi opened #460 "JobIntentService.java sample implementation"
Salam.
I need to use `OneSignalSDK/onesignal/src/main/java/com/onesignal/JobIntentService.java` in my project.
But don't know how to implement.
Please help..

[2018-03-04 19:55] jkasten2 commented on #451
@AliBadar Are you getting any other errors or warnings before this line in your logcat?
`No pending exception expected: java.lang.NoClassDefFoundError: com.onesignal.JobIntentService$JobServiceEngineImpl`

Are you seeing this same issue on our example project?

Can you try another Android 6.0 device such as an emulator?

Does disabling `multiDexEnabled` fix the issue for you?

Thanks.

[2018-03-04 20:01] jkasten2 commented on #460
@SAFatemi This is actually the same as `android.support.v4.app.JobIntentService` which you can find their docs for below.
https://developer.android.com/reference/android/support/v4/app/JobIntentService.html

`com.onesignal.JobIntentService` was only added directly to OneSignal incase the app developer didn't update to the Android Support Library 26.1.0 or newer. It should not be used directly in y

[2018-03-04 20:01] #460 closed

[2018-03-04 20:09] SAFatemi commented on #460
Thank you for your reply.
I know my problem not related with OneSignal project, but my you can help me.
I want to implement background service that work on API >=19 without termination and without using any dependency like [EverNote Android-Job](https://github.com/evernote/android-job) or [FireBase Job Dispatcher](https://github.com/firebase/firebase-jobdispatcher-android).
Do you have any solutio

[2018-03-04 20:49] jkasten2 commented on #460
@SAFatemi Sorry but this is off topic for this repo. However if you can create a stackoverflow question and reply with the link here I can try to follow up there. I recommend providing more detail around what you mean by "without termination" and why it is important not to use other dependencies.

[2018-03-05 04:30] johnvinosh opened #461 "One Signal Background Notification Service is getting killed when I close my app"
I followed the steps which are mentioned in the documentation to enable the push notification even after the app is closed. But when my app is open, the notification service is working fine. But when I closed my app, I am not getting the notifications.

I also checked my running services on my mobile and I can see that when I opened my app I can see the service is running and when I close the app

[2018-03-05 05:24] jkasten2 commented on #461
@johnvinosh Your `BackgroundNotification` will only run when your app receives a notification, so you won't see it in the running services list.

How are you closing your app? I normal close such as swiping your app is a normal close on most devices won't be an issue. However force closing it through the app settings, task killer, or through Android Studio would result in most Intents including pu

[2018-03-05 05:31] johnvinosh commented on #461
Hi jkasten,

Thanks for your help. I am using One Plus mobile and removed the app from Battery Optimization and now the notification is working fine.

Is there any way to check the device and enable these things through code ?

So that notification will work on all the devices.

Thanks

[2018-03-05 05:38] johnvinosh commented on #461
Hi jkasten,

I am using One Plus 5 and I removed the app from Battery Optimization. And I am not force closing the app instead I am swiping away the app.

Still I am not getting notifications.

[2018-03-05 05:40] johnvinosh commented on #461
I am not seeing this entry on my Logcat

broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=com.onesignal.example (has extras) }

[2018-03-05 06:16] jkasten2 commented on #461
@johnvinosh Can you make sure you don't have any filters enabled when viewing the logcat? Can you check for any other error or warnings when your app is swiped away or when your send a notification?

Do you have any other push notification SDKs in your app?

If your targeting your device with a OneSignal player_id make sure it didn't change. If you fully uninstalled and reinstalled your app the pl

[2018-03-05 06:18] jkasten2 commented on #457
@AliKhoshraftar If you are starting a different Activity based on tapping on a notification button then you will need to disable the SDKs default action noted below.
https://documentation.onesignal.com/docs/android-customizations#section-changing-the-open-action-of-a-notification

[2018-03-05 06:34] johnvinosh commented on #461
@jkasten2 Thanks for your quick response on this.

I enabled the no filters and I can see the following line

broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=com.onesignal.example (has extras) }

But when I search for onesignal, Please see the following results.

<img width="1404" alt="screen shot 2018-03-05 at 11 59 33 am" src="https://user-i

[2018-03-05 06:44] jkasten2 commented on #458
@Reza-Soltani OneSignal does not have a process start reason like LeakCanary does. LeakCanary is a bit different too since it starts it's own process where OneSignal does not.

Depending on what you need to initialize you may want to defer it to when the first Activity is started. This can be done with the `registerActivityLifecycleCallbacks` noted below.
http://www.klaasnotfound.com/2015/08/24/tr

[2018-03-05 06:56] jkasten2 commented on #459
@rampr Can double check your app was build with the 3.7.1 SDK? Are you using the .jar directly or using the `compile` line through Grade?

This stack trace only matches version 3.6.4 of the Android SDKs which there were a few fixes to Android O after this version.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.6.4/OneSignalSDK/onesignal/src/main/java/com/onesignal/NotificationRestorer.j

[2018-03-05 07:13] jkasten2 commented on #461
@johnvinosh The scheduled restart of the SyncService could be an issue. Can you ensure you have the latest SDK installed in your app? You can get this on the OneSignal dashboard under all users after you enable the column.
![image](https://user-images.githubusercontent.com/645861/36961655-38fdccc4-2001-11e8-91fc-d1480384a942.png)

Also make sure the device's Last Active time is recent to make sure

[2018-03-05 07:14] rampr commented on #459
We are using the jar directly. I'm suspecting it is because of #426

[2018-03-05 07:20] jkasten2 commented on #281
@akki777 @akki777 The Android Support Library revision 26 moved some classes around. [See my comment this](https://github.com/OneSignal/OneSignal-Android-SDK/issues/281#issuecomment-322708849) of where they moved to.

We require revision 26 for Android O compatibility which is why you may not seen this issue until adding OneSignal.

[2018-03-05 07:24] johnvinosh commented on #461
@jkasten2 The SDK version on the user is "030801"
The Last Active session is getting updated regularly If I open my app

[2018-03-05 07:32] jkasten2 commented on #415
@j2emanue This is a duplicate of issue #263, so going to merge it with that one. The `ONESIGNAL_EXECUTOR_1519` thread isn't related, it is in a waiting state.

@sbrkx @saurabhtanu The stack traces you reported aren't related to the first issue.
I also don't see OneSignal in the stack trace at all. Can you open a new issue and provide more detail when this happening in your app? Also any other deta

[2018-03-05 07:32] #415 closed

[2018-03-05 07:43] jkasten2 commented on #461
@johnvinosh Can attach the logcat entries above the "Scheduling restart of crashed service..."?

Can you try another device or an Android emulator to rule to rule out the device? Also another network / connection if possible to rule out Google's FCM / GCM server being blocked.

Also recommend try out our example to rule out anything that could be in your app that could be interfering.
https://gith

[2018-03-05 07:48] jkasten2 commented on #453
It still seems like they are only using one notification and updating it here. They seem be setting different content for the normal notification vs the expanded notification however. The expanded notification could be a big text style or an inbox style.

[2018-03-05 07:50] johnvinosh commented on #461
[logcat.docx](https://github.com/OneSignal/OneSignal-Android-SDK/files/1779933/logcat.docx)

[2018-03-05 07:58] calanti commented on #453
After further testing, I was wrong about the collapse_id causing it to not vibrate/alert the user when the notification gets updated, it very much does, and since we don't show the content of the message this is perfect for us. It would be nice to track the number of messages, so I will have a play with the extender service to see what's possible.

Thanks for all your help as always.

[2018-03-05 08:00] jkasten2 commented on #263
@whosea Thanks for the details about your setup. We will go through the Google Play process to be thorough but only a lower percentage of users are seeing this on a few apps so am not hopeful this will result in reproducing the issue.

[2018-03-05 08:43] jkasten2 commented on #263
I just made a number changes to the notification restoring logic in PR #462. In summary, it restores notifications at a slower rate with less priority to prevents spiking the CPU. If this Android bug is related to a race condition then this should fix or drop the issue to almost zero.

If the changes do not fix this, we will add error tracking which will include a list of notification properties t

[2018-03-05 08:56] johnvinosh commented on #461
@jkasten2 I tried using the emulator and it is the same.

I attached my app build.gradle file and also the project build.gradle.

Please check and let me know if I am doing anything wrong here.

[app_build.gradle.docx](https://github.com/OneSignal/OneSignal-Android-SDK/files/1780123/app_build.gradle.docx)

[project_build_gradle.docx](https://github.com/OneSignal/OneSignal-Android-SDK/files/1780124

[2018-03-05 10:19] SAFatemi commented on #460
This is my SO question:
[https://stackoverflow.com/questions/49107140/android-oreo-keep-signalr-connected-in-background](https://stackoverflow.com/questions/49107140/android-oreo-keep-signalr-connected-in-background)
Thanks.

[2018-03-05 19:14] jkasten2 commented on #453
Good to hear!, feel free to reply if any of the above was not resolved.

[2018-03-05 19:14] #453 closed

[2018-03-05 21:05] jkasten2 commented on #461
@johnvinosh Thanks for trying an emulator as well.

Just to confirm. For both your test device and the emulator, notifications are consistently working in the foreground and background but not after swiping away your app?

The problem would be seem to something with your app. To confirm though can you try our example project?

[2018-03-06 00:46] jkasten2 commented on #461
@johnvinosh The "Scheduling restart of crashed service..." could be from calling `System.exit`. Can you check if this in your app? Let us know if that fixes that logcat entry and / or fixes your notification issue.

[2018-03-06 00:59] jkasten2 commented on #408
@mochadwi Thanks for the logs. I check your `./gradlew dependencies --info` log however I don't see gcm or OneSignal in it. Could you double check that the following line is in your `app/build.gradle` and attach the new log?
`compile 'com.onesignal:OneSignal:[3.7.1, 3.99.99]'`

I also recommend trying to update your `rootProject.googleCommonLibVersion` to `11.8.0`.

[2018-03-06 01:04] jkasten2 commented on #401
Closing due to inactivity. Feel free to reply if you have more details and we can reopen.

[2018-03-06 01:04] #401 closed

[2018-03-06 01:18] jkasten2 commented on #258
@ominfowave We haven't had any other reports of this issue, are you still see this crash?

[2018-03-06 01:32] jkasten2 commented on #240
@josinaldobarbosa Closing this issue as we haven't seen any other reports of this issue or any other recent SQL errors. If you see any future errors make sure make sure the device is runner a newer version of your app that would have the OneSignal SDK 3.4.4 or newer.

[2018-03-06 01:32] #240 closed

[2018-03-06 01:34] jkasten2 commented on #400
@kiberzoid Closing due to inactivity. Feel free to reply with more details and we can reopen if you are still seeing this issue

[2018-03-06 01:34] #400 closed

[2018-03-06 01:37] jkasten2 commented on #413
@niqo01 Moving this issue to OneSignal/OneSignal-Gradle-Plugin#16 since the error is related to the gradle plugin project. Please follow up there if you are still seeing this issue. Thanks

[2018-03-06 01:37] #413 closed

[2018-03-06 01:41] jkasten2 commented on #404
@escalope Let us know if the above snapshot works for you. If so we can merge this in to our future builds. Thanks

[2018-03-06 01:41] #404 closed

[2018-03-06 01:42] #305 closed

[2018-03-06 02:00] jkasten2 commented on #378
@gsksarath We haven't received any other reports of `OneSignal.enableSound` not working. Can you also try removing your `NotificationExtenderService` to ensure this isn't interfering in any way?

I also recommend you try our example project as something else in your project could possibly be playing a sound when a GCM / FCM payload is received.

[2018-03-06 02:08] jkasten2 commented on #459
@rampr Ah I believe you are correct, sorry for the issue.

Feel free to reply if this wasn't it and I can reopen the issue.

[2018-03-06 02:08] #459 closed

[2018-03-06 02:13] jkasten2 commented on #420
@insacc We haven't see any other reports of `SyncJobService` like this.

Is it possible it could have from any other test builds you may have sent out where OneSignal was mis configured?

It is also possible someone in the wild could have been modifying your app's APK and removed the `SyncJobService`. Repeated reinstalls would have shown up and multiple users from a single device.

If you are stil

[2018-03-06 02:20] jkasten2 commented on #389
@ibnabdelfatah Closing this issue due to inactivity. Feel free reply with more details if the above suggestion did not help.

[2018-03-06 02:20] #389 closed

[2018-03-06 02:25] jkasten2 commented on #359
@kafabih4raka The dalvikvm logcat entries from your original post won't cause an issue with notifications not shown. Can you check the following documentation for some other reasons that you might be running into? There is another logcat entry you should check for.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown

Feel free to reply if the above did no

[2018-03-06 02:25] #359 closed

[2018-03-06 02:29] jkasten2 commented on #375
@pmaroco I'll follow up with you on the PR you linked to above.

[2018-03-06 02:29] #375 closed

[2018-03-06 04:05] johnvinosh commented on #461
@jkasten2 I will try the example project. But I checked the following Android Studio example project, It doesn't have the service class on the Manifest file.

[Example Project](https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/Examples/AndroidStudio/app/src/main/AndroidManifest.xml)

Could you please give me the link to download example project with the service class for background no

[2018-03-06 06:43] johnvinosh commented on #461
@jkasten2 As you suggested I tried using the Example application with the background notification and it worked on my emulator.

But on my test device which one plus 5 even after I turned off the battery optimisation it is failing.

[2018-03-06 19:46] jkasten2 commented on #102
@Talkless Looping back around to this issue in my investigation of our ANR issues. I was able to reproduce this ANR **without** OneSignal with your example project with just a blank Android Service. Left a comment on the Qt issue with more details below;
https://bugreports.qt.io/browse/QTBUG-55846?focusedCommentId=394115&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comme

[2018-03-06 21:33] jkasten2 commented on #448
Changed flag to be `RTC` instead of `RTC_WAKEUP ` in https://github.com/OneSignal/OneSignal-Android-SDK/commit/99451792b4bcc83b27751445c19a650afbb62df2#diff-b2e935842863c9a642600c4db8e88ecfL264. This prevents this service from holding a wake lock.

[2018-03-06 21:33] #448 closed

[2018-03-06 23:58] jkasten2 commented on #428
@M4ttscx Closing due to inactivity, if you can provide the stack trace of the crash we an take a look.

[2018-03-06 23:58] #428 closed

[2018-03-07 00:07] jkasten2 commented on #437
@rasoulinejad Please reply with the full stack trace if you are still seeing this error and we can reopen this issue. Or let us know if the above solved the issue for you.

[2018-03-07 00:07] #437 closed

[2018-03-07 02:39] jkasten2 commented on #461
@johnvinosh We haven't received any other reports of One Plus devices having an issue like this. You have the latest default ROM on your device? Or using Greenify which can suppress GCM / FCM message?

Do you have any other real devices to test with as well?

[2018-03-07 07:51] gnunicode opened #464 "License change"
@jkasten2 The license of OneSignal is a nonfree license because of the restriction about only using the code for OneSignal, which prevents any apps that use the code from being introduced to F-Droid. For example, this is currently holding up Lichess from being introduced to F-Droid. Could the license please be changed back to the original MIT license?

[2018-03-07 12:55] gvozditskiy commented on #454
Fixed with adding empty notification handlers
[code]

[2018-03-07 16:00] baole opened #465 "Crashes on JSONUtils - ConcurrentModificationException"
Since the last update, we received a number of reports with following stack track:

[code]

[2018-03-07 19:48] jkasten2 commented on #454
@gvozditskiy Thanks for the details, after reviewing the code for this I see where the issue is. Opening this up until we make a commit to fix this

[2018-03-07 22:46] jkasten2 commented on #464
@gnunicode The OneSignal modified MIT license states that the SDK or it's any portions of it's code can only be used with the OneSignal service.
https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.8.0/LICENSE#L15-L16

Could you link to the specific F-Droid license lines that conflict with this requirement?

Thanks.

[2018-03-07 22:49] jkasten2 commented on #465
@baole Thanks for reporting we will look into it. If your crash report includes the stack of other threads to please attach or link to this.

Also are you able to reproduce the issue?

[2018-03-07 23:06] #454 closed

[2018-03-08 07:33] gnunicode commented on #464
F-Droid is an app store, and the [inclusion policy] (https://f-droid.org/en/docs/Inclusion_Policy/) states that all software must be free and libre. (Free in this case is not about price but freedom to use the software - libre means the same and is to clarify so it's clear it isn't about price). The license of the SDK does not fulfil thus requirement since the restriction on only using it with One

[2018-03-08 08:01] rampr commented on #459
I think the crash was because we had not updated our support jar files. We are still confirming it. Will update you on what we find.

[2018-03-08 08:37] baole commented on #465
The attachment is a full crash report from Crashlytics. It happened on our production app and I'm not able to reproduce the issue.

[net.tandem_issue_5442_crash_5AA0A768038B00011FCB2ACBB73DC15A_DNE_0_v2.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1792344/net.tandem_issue_5442_crash_5AA0A768038B00011FCB2ACBB73DC15A_DNE_0_v2.txt)

[2018-03-08 13:13] eugenio-caicedo opened #467 "Unable to start receiver"
I got this error in my application. Although I'm not sure how it happened or why.

[code]

I'm using the next version of the library.

[code]

[2018-03-08 22:32] jkasten2 commented on #467
@eugenio-caicedo It looks like you are targeting Android API level 26 and this is a crash on a Android 8.0+ Oreo device.

You will need to updated to at least [OneSignal version 3.6.5)(https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.6.5) for full Android 8 Oreo support but we recommend you use the following line to keep your app updated to the latest 3.x version.
[code]

**Side n

[2018-03-09 02:44] jkasten2 commented on #464
@gnunicode Thanks for the links. In reviewing I see that Google Play services is not allowed either.

This SDK directly relies on the Google Play services library to register for a push token and to receive pushes from FCM / GCM so we won't be able to remove this. Almost all push notifications SDKs will use this as Android Oreo 8.0+ does not allow you to keep background services running forever to

[2018-03-09 06:41] gnunicode commented on #464
Ah OK, thanks for this information.

[2018-03-09 06:41] #464 closed

[2018-03-09 12:43] eugenio-caicedo commented on #467
@jkasten2 Perfect, I'm going to try this. Thank you very much.

[2018-03-09 21:48] jkasten2 commented on #360
Closing due to inactivity. I recommend contacting OneSignal support if you from their dashboard if you are still having an issue. Provide them the full player_id so they can look into it. Thanks!

[2018-03-09 21:48] #360 closed

[2018-03-10 11:25] VladD2 commented on #246
Guys! We have a similar problem. It occurs on almost empty broadcast receivers. Explain how you fix it?

I did a search on GoogleApiClientListener, but did not find anything sensible.

[2018-03-12 03:52] vinhdangd opened #468 "Crash on makeAndroidParamsRequest()"
I got a crash on my app with following stacktrace and I am not sure how it happened.

| java.lang.InternalError: Thread starting during runtime shutdown
-- | --
 | at java.lang.Thread.nativeCreate(Native Method)
 | at java.lang.Thread.start(Thread.java:730)
 | at com.onesignal.OneSignalRestClient.get(OneSignalRestClient.java:74)
 | at com.onesignal.OneSignal.makeAndroidParamsRequest(OneSignal.java

[2018-03-12 06:31] kbot983 opened #469 "Notification Callback Option"
How to implement a notification callback function
We are using Cordova SDK to build our app and we cant find documentation on how to implement it.

[2018-03-12 06:31] #469 closed

[2018-03-12 10:47] AliBadar commented on #451
@jkasten2
The issue is solved now i am getting notifications on 6.0.
Thanks.

[2018-03-12 10:47] #451 closed

[2018-03-12 17:20] jkasten2 commented on #468
@vinhdangd Do you use `Thread.setDefaultUncaughtExceptionHandler` in your app? Issue #443 noted this might be the case.

Going to merge this with issue #287 since this is the same issue. Please feel free to follow up there. Thanks.

[2018-03-12 17:20] #468 closed

[2018-03-12 17:24] jkasten2 commented on #467
@eugenio-caicedo Closing as resolved. Feel free to reply with more details if this did not help and we can reopen. Thanks

[2018-03-12 17:24] #467 closed

[2018-03-12 17:26] jkasten2 commented on #397
Closing due to inactivity. @CoLang Feel free to reply with more detail and we can reopen the issue. Thanks!

[2018-03-12 17:26] #397 closed

[2018-03-12 21:38] #452 closed

[2018-03-12 21:56] jkasten2 commented on #434
@paularius After reviewing the code in the 3.7.1 release this could happen in a rare case when initializing OneSignal in an Activity instead of in the onCreate of your Application class.  I have made some large change to the SyncService in the #470 PR which will end up solving this `null` error as well.

It will included in the 3.8.2 update this week, feel free to reply if this doesn't solve the i

[2018-03-12 21:56] #434 closed

[2018-03-12 22:11] jkasten2 commented on #268
We made some large changes to the SyncService which I believe should fix this issue in PR #470. This will released it this week under the version 3.8.2 which you can watch for on our [Releases Page](https://github.com/OneSignal/OneSignal-Android-SDK/releases)

Some ANRs are due to two instances of the main launcher `Activity` being created. Make sure your `Activity` can handle this, or better yet

[2018-03-12 22:11] #268 closed

[2018-03-12 22:12] jkasten2 commented on #331
We made some large changes to the SyncService which I believe should fix this issue in PR #470. This will released it this week under the version 3.8.2 which you can watch for on our [Releases Page](https://github.com/OneSignal/OneSignal-Android-SDK/releases)

Some ANRs are due to two instances of the main launcher `Activity` being created. Make sure your `Activity` can handle this, or better yet

[2018-03-12 22:12] #331 closed

[2018-03-12 22:12] jkasten2 commented on #362
We made some large changes to the SyncService which I believe should fix this issue in PR #470. This will released it this week under the version 3.8.2 which you can watch for on our [Releases Page](https://github.com/OneSignal/OneSignal-Android-SDK/releases)

Some ANRs are due to two instances of the main launcher `Activity` being created. Make sure your `Activity` can handle this, or better yet

[2018-03-12 22:12] #362 closed

[2018-03-12 22:13] jkasten2 commented on #386
We made some large changes to the SyncService which I believe should fix this issue in PR #470. This will released it this week under the version 3.8.2 which you can watch for on our [Releases Page](https://github.com/OneSignal/OneSignal-Android-SDK/releases)

Some ANRs are due to two instances of the main launcher `Activity` being created. Make sure your `Activity` can handle this, or better yet

[2018-03-12 22:13] #386 closed

[2018-03-12 22:13] jkasten2 commented on #416
We made some large changes to the SyncService which I believe should fix this issue in PR #470. This will released it this week under the version 3.8.2 which you can watch for on our [Releases Page](https://github.com/OneSignal/OneSignal-Android-SDK/releases)

Some ANRs are due to two instances of the main launcher `Activity` being created. Make sure your `Activity` can handle this, or better yet

[2018-03-12 22:13] #416 closed

[2018-03-12 22:15] jkasten2 commented on #267
We made some large changes to the SyncService which I believe should fix this issue in PR #470. This will released it this week under the version 3.8.2 which you can watch for on our [Releases Page](https://github.com/OneSignal/OneSignal-Android-SDK/releases)

Some ANRs are due to two instances of the main launcher `Activity` being created. Make sure your `Activity` can handle this, or better yet

[2018-03-12 22:15] #267 closed

[2018-03-12 22:18] jkasten2 commented on #102
We made some large changes to the SyncService which I believe should fix this issue in PR #470. This will released it this week under the version 3.8.2 which you can watch for on our [Releases Page](https://github.com/OneSignal/OneSignal-Android-SDK/releases)

@Talkless Feel free to follow up here about the Qt ticket even if this OneSignal update fixes your issue. Interested to know the root of th

[2018-03-12 22:18] #102 closed

[2018-03-12 23:43] jkasten2 commented on #447
@tjouin Let me know if our Gradle plugin above does not fix the issue and we will look into it. Thanks!

[2018-03-12 23:43] #447 closed

[2018-03-12 23:46] jkasten2 commented on #224
We haven't received any recent reports of this. Let us know if you are still seeing it and how many cases and we can investigate more accordingly. Thanks!

[2018-03-12 23:46] #224 closed

[2018-03-13 00:29] #396 closed

[2018-03-13 02:11] jkasten2 commented on #394
@naseeb8950925214 @denisshikunets We just released [version 3.8.2](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.2) which may have fixed this issue, which might be related to issue #263. Let us know if it does or does not and we can dig in further. Thanks!

[2018-03-13 06:00] eriuzo commented on #433
According to [Google Play Console](https://developer.android.com/topic/performance/vitals/bg-wifi.html#android_vitals)

I think this can be solved by allowing users to manually set location scanning interval, and providing default interval value of 15 minutes.

[2018-03-13 09:02] jkasten2 commented on #411
Closing due to inactivity. Please confirm the above and provide any more detail you can and we'll reopen this issue and look into it in more detail. Thanks!

[2018-03-13 09:02] #411 closed

[2018-03-13 09:32] jkasten2 commented on #458
I looked into if anything can be done at the time `Application.onCreate` is fired but it doesn't seem possible. Android's doc note that [`Application.onCreate`](https://developer.android.com/reference/android/app/Application.html#onCreate()) is called before any service, activity, etc are created. There isn't a way to get the `Intent` that started the process either from what I could find.

I look

[2018-03-13 10:00] jkasten2 commented on #465
@baole Thanks for the full log. It's odd that `com.onesignal.UserStateSynchronizer.getId (UserStateSynchronizer.java:162)` isn't matching up with [`3.8.0`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.8.0/OneSignalSDK/onesignal/src/main/java/com/onesignal/UserStateSynchronizer.java#L162) or [`3.8.1`](https://github.com/OneSignal/OneSignal-Android-SDK/blob/3.8.1/OneSignalSDK/onesignal/

[2018-03-13 11:01] baole commented on #465
We are going to release new version with OneSignal 3.8.2. Keep you posted on how it goes!

[2018-03-13 16:20] kafabih4raka commented on #359
Now it's fixed, the notification is now shown, I apologized I have given wrong logcat entries, in this thread, I just posting the error of GCM Intent Job Service.

[2018-03-13 17:40] Talkless commented on #102
Amazing! Thanks!

So we will be able to remove that `android:stopWithTask="true"` fix right?

[2018-03-13 20:59] jkasten2 opened #474 "filterOtherGCMReceivers does not work on Android 8.0+"
## Issue
Google changed the `com.google.android.c2dm.intent.RECEIVE` broadcast to be unordered from ordered. This breaks the OneSignal implementation of `filterOtherGCMReceivers` which relies on this which was using priority to filter. This filter is important to prevent the OneSignal payload from being sent to other SDKs which will sometimes; 1. Display a duplicated notification 2. Crash in the o

[2018-03-13 22:21] jkasten2 opened #475 "Notifications are delayed by doze mode when using a NotificationExtenderService"
## Reproduction Steps
1. Add a [`NotificationExtenderService`](https://documentation.onesignal.com/docs/android-customizations#section-background-data-and-notification-overriding)
    - Or use the [OneSignal Example project](https://github.com/OneSignal/OneSignal-Android-SDK/tree/3.8.2/Examples/AndroidStudio) which already has one setup
3. Install app on an Android 6+ device
3. Force put the devic

[2018-03-13 23:21] jkasten2 commented on #442
@karopass Closing due to inactivity. Please provide details noted above and we can reopen this issue. Thanks!

[2018-03-13 23:21] #442 closed

[2018-03-14 02:06] vinhdangd commented on #468
Thank you for supporting.

[2018-03-14 13:21] tjouin commented on #447
It did fix it thanks forget to tell u :/

[2018-03-14 14:59] smakinson commented on #389
I've been looking for how I should send a notification that:
* includes the url so that the browser is open by default ( app NOT installed )
* If my app is installed ignore the url and open the app, which is coded to use the extra data.

I have code that handles the extra data and works fine if the app opens, but the app only opens if I leave the url empty on the message. Is it possible to send a

[2018-03-14 19:06] jkasten2 commented on #389
@smakinson You can disable the OneSignal default open behavior by following the [Changing the open action of a notification](https://documentation.onesignal.com/docs/android-customizations#section-changing-the-open-action-of-a-notification) section in the OneSignal docs. This includes the default behavior of opening a URL in the browser when the user opens an app notification.

Some additional cla

[2018-03-14 19:07] jkasten2 commented on #447
@tjouin Good to hear our plugin fixed the issue! Thanks for letting us know.

[2018-03-14 19:56] jkasten2 commented on #263
OneSignal [version 3.8.2](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.2) is now available with the changes noted above. Please let us know if this fixes your issue or if it has any effect on the number of reports.

[2018-03-14 22:42] fjwgomez commented on #305
Im trying to implement this. My app just open a url webpage.. I need send a custom url throgh onesignal and not open the pre configured url but the custom from onesignal.  Please help. Sory about my english.
**This is the code of my home.ts**

import { Component } from '@angular/core';
import { Platform} from 'ionic-angular'; //import { NavController ,Platform} from 'ionic-angular';
import { InApp

[2018-03-15 04:11] jkasten2 commented on #305
@fjwgomez I sounds like you are looking for the same thing as **YuyangHYY** here so I recommend following the instructions above.

Please specify what your stuck on or not understanding if your still running into issues. Also please open an issue on the [OneSignal-Cordova-SDK](https://github.com/OneSignal/OneSignal-Cordova-SDK/issues) repo instead of replying here. This thread got off topic from A

[2018-03-15 06:41] jkasten2 commented on #446
Closing due to inactivity. Please provide more detail if you are still seeing a problem and we can open this issue back up.

[2018-03-15 06:41] #446 closed

[2018-03-15 06:43] jkasten2 commented on #425
@iballan Closing due to inactivity. We have updated this logic in the 3.8.2 release so this may no longer be an issue. Please provide the information above and the new stack trace if the issue persists after the update. Thanks!

[2018-03-15 06:43] #425 closed

[2018-03-15 12:07] Harivinoth commented on #341
Hi,

I got same issues when i run my project using terminal the below issues got can anyone please helpme?

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':transformClassesWithJarMergingForRelease'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

[2018-03-15 18:13] jkasten2 commented on #341
@Harivinoth The `org/apache/cordova/BuildHelper.class` entry is from Cordova itself not part of OneSignal. It seems your project got into a broken build state. I recommend following the suggested answer below to do a clean build of your project.

https://stackoverflow.com/questions/47020816/error-with-ionic-app-execution-failed-for-task-transformclasseswithjarmerging

[2018-03-16 01:03] fjwgomez opened #476 "Open Launch URL in an in-app view Ionic 3 Cordova"
I have the next code bout when i click in the notification nothing happens. Please help
ADDITIONAL DATA KEY: enlace

var notificationOpenedCallback = function(jsonData) {
        console.log('notificationOpenedCallback: ' + JSON.stringify(jsonData));
        var openUrl = jsonData.notification.payload.additionalData.enlace;
        // Add code here to use openURL.
        // Example of using the c

[2018-03-16 01:13] jkasten2 commented on #476
@fjwgomez This repo is only for the native Android OneSignal SDK. Please open a issue on our Cordova SDK for Ionic apps below.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues

Also please include the exact additional data you are sending in the new issue as well as any logcat or xcode output you are getting.

Thanks.

[2018-03-16 01:13] #476 closed

[2018-03-16 08:09] vaniakerer commented on #455
Yes, it happened just once

[2018-03-16 08:37] jkasten2 commented on #455
Thanks for the update, it must have been a short issue with the OneSignal server at that time.

[2018-03-16 08:37] #455 closed

[2018-03-16 08:51] baole commented on #465
Our latest build with OneSignal 3.8.2 still see the same crashes. Please check the full stacktrack in the attached file.
[net.tandem_issue_5442_crash_5AAB0BA0039100010DDABCDB4FA6504D_DNE_0_v2.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1818513/net.tandem_issue_5442_crash_5AAB0BA0039100010DDABCDB4FA6504D_DNE_0_v2.txt)

[2018-03-18 20:42] zzsdeo commented on #263
I have this crash in my crashlitics dashboard. It appears on Samsung Galaxy A3 running on Android 7.0 I'm using version 3.8.2 in my app

[2018-03-18 20:50] jkasten2 commented on #382
@rakeshnambiar The code you pasted looks like it is from both your `app/build.gradle` and your root `build.gradle`. Can you split this up into 2 sections?

I also don't see `com.onesignal.androidsdk.onesignal-gradle-plugin` in your `build.gradle`.  The section noted above should be added to the vary top of your `app/build.gradle`. Thanks!

[2018-03-18 20:55] jkasten2 commented on #263
@zzsdeo Can you answer the following so we have more details?

1. Are you creating any notifications outside of OneSignal in your app? Including any other SDKs
2. Are you using the `NotificationExtenderService`?
3. Did you have OneSignal in the last version of your app? If so, is ratio of effected users less than the last version of the SK?
4. Could you share your crashlitics link here or with One

[2018-03-18 21:24] zzsdeo commented on #263
@jkasten2
1. No
2. Yes
3. I'm using OneSignal for about 1 year and I did not get these crashes before update to version 3.8.2 This bug affected only one user so far.
4. I cannot figure out how to share the crash in Firebase Crashlitics. It has not share button like in old dashboard (fabric.io). I paste stack trace right here.

Fatal Exception: android.app.RemoteServiceException
Bad notification po

[2018-03-18 23:08] jkasten2 commented on #263
@zzsdeo Thanks, few more questions
1. When did you last release an update for your app?
2. What version of the OneSignal SDK were you using before?
3. Did you recently start adding any images to your notifications?
4. Can you contact OneSignal support linking them this issue so they can review the notifications you sent for any settings that could be related.

[2018-03-19 07:01] zzsdeo commented on #263
@jkasten2
1. 17 March
2. 3.8.1 and many older versions. I timely update the SDK.
3. No, I didn't. I'm using only text notifications.
4. OK, I'll contact with them.

[2018-03-20 08:23] AhmedKaram2 opened #477 "Device subscribe problem with promptLocation"
I start using one signal after publishing the first version of my app,
the problem that devices which new install the app subscribe successfully but the devices which update the app not subscribe so what the problem

[2018-03-20 08:40] jkasten2 commented on #477
@AhmedKaram2 We will need some more detail in order to look into this.
1. By not subscribed is the device showing up on the OneSignal dashboard as not subscribed or not showing at all?
2. Did you open the app after updating?
3. Are you able to reproduce the issue on your test devices?
4. If so can you check for any errors or warnings in the logcat?

[2018-03-20 08:53] AhmedKaram2 commented on #477
Thank you for your replay,

The device not showing at all
yes and when a follow my users I see that all update the app but only 5 users subscribed
yes, when I delete my test device from the dashboard and try to subscribe again by open the app and send tag it not appear but when removing the app and install it again subscribed successfully

[2018-03-20 08:56] AhmedKaram2 commented on #477
03-20 12:55:09.277 30400-30447/com.mohre.ips I/OneSignal: Location Change Detected
03-20 12:55:10.276 30400-30474/com.mohre.ips I/OneSignal: updating prefs: OneSignal, ONESIGNAL_USERSTATE_SYNCVALYES_CURRENT_STATE
03-20 12:55:10.277 30400-30571/com.mohre.ips I/OneSignal: updating prefs: OneSignal, ONESIGNAL_USERSTATE_DEPENDVALYES_CURRENT_STATE
03-20 12:55:14.287 30400-30447/com.mohre.ips I/OneSigna

[2018-03-20 08:58] jkasten2 commented on #477
@AhmedKaram2 These entries are ok. Can you attach the full logcat as a txt file?

[2018-03-20 09:05] AhmedKaram2 commented on #477
[logCat.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1828565/logCat.txt)

[2018-03-20 09:08] jkasten2 commented on #477
The device is registering with OneSignal but it didn't get a push token from Google. Can you send the rest of the log before the snippet you attached? The reason for the issue should be above what you attached.

[2018-03-20 09:12] AhmedKaram2 commented on #477
this all my logcat sorry about disturb :)
[logCat.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1828599/logCat.txt)

[2018-03-20 09:23] jkasten2 commented on #477
@AhmedKaram2 Thanks, it looks like the device is getting a push token from Google fine so this doesn't seem to be the issue.

Are you initializing OneSignal from your Activity class or your Application class? Are you doing so on the main thread or a background thread?

[2018-03-20 09:33] AhmedKaram2 commented on #477
This is the initilization of the oneSignal in Application class.
<img width="540" alt="capture" src="https://user-images.githubusercontent.com/8946140/37646383-f93b5efa-2c42-11e8-8efd-7de41ed514c2.PNG">

Then this the part of sending the tag of the user to subscribe
<img width="524" alt="captur" src="https://user-images.githubusercontent.com/8946140/37646468-372753fe-2c43-11e8-9141-ce0607cf7e1f.PN

[2018-03-20 09:35] AhmedKaram2 commented on #477
Maybe the problem with the code?

[2018-03-20 11:19] AhmedKaram2 commented on #477
I notice something maybe it help

when I go to settings and clear app cash data it works fine

[2018-03-20 19:24] jkasten2 commented on #448
PR #462

[2018-03-20 21:47] jkasten2 commented on #465
@baole Just created a fixed in the PR above and it will go into the next release. I created a unit test this time to ensure the problem was fixed and to prevent future regression of this issue. We will post a release on this page when it is available
https://github.com/OneSignal/OneSignal-Android-SDK/releases

Thanks!

[2018-03-20 21:53] jkasten2 commented on #477
@AhmedKaram2 Thanks for the details and code. Clearing the app data from settings is basically the same as fully uninstalling then reinstalling the app however.

Your initialization looks fine, so I don't believe this is an issue. However can you make sure you aren't calling `OneSignal.startInit(...).init()` from any where else in your app?

Since it looks like you are able to reproduce the issue

[2018-03-21 04:00] AhmedKaram2 commented on #477
Ok, Thank you 👍

[2018-03-21 04:44] jkasten2 commented on #477
Can you switch to the following snapshot in your `app/build.gradle`?

[code]

Please do the same steps that you did to reproduce the issue and attach the new `logcat.txt` so we can review it. Thanks!

[2018-03-21 04:55] AhmedKaram2 commented on #477
I remove Notification open handler and use the older version and publish update it works now I don't know why and also why I make like this but it works if you need me to make this steps as test inform me

thank you

[2018-03-21 05:31] jkasten2 commented on #477
@AhmedKaram2 What OneSignal version ended up working for you?

Can you repeat the steps of installing the old version of your app before OneSignal, then making a build of your app with the test version above? If possible we would like to find the root cause of the issue.

[2018-03-21 05:35] jkasten2 commented on #456
@paveltech Closing due to inactivity. We can reopen this issue if you can provide some of the details above or any other additional information.

[2018-03-21 05:35] #456 closed

[2018-03-21 05:36] jkasten2 commented on #457
@AliKhoshraftar Closing due to inactivity. If the above does not help please provide more details on the issue and we can reopen.

[2018-03-21 05:36] #457 closed

[2018-03-21 05:37] jkasten2 commented on #408
@mochadwi Closing due to inactivity. If you can double check the above and provide the new log we can reopen and take a look. Thanks

[2018-03-21 05:37] #408 closed

[2018-03-21 05:38] jkasten2 commented on #378
Closing due to inactivity. Please let us know if the above does not help and we can reopen this issue.

[2018-03-21 05:38] #378 closed

[2018-03-21 16:33] xcaEi opened #482 "java.lang.IllegalArgumentException in JobIntentService on Android 8.0"
I updated my app to use SDK 3.8.2. I'm seeing some issues on Android 8.0 on different devices (S8, Mate 9, OnePlus 5T) with the following exception
[code]

[2018-03-21 21:25] jkasten2 commented on #482
@xcaEi It looks like you setup a `com.onesignal.NotificationExtender` but didn't add the required `android:permission="android.permission.BIND_JOB_SERVICE"` setting.
See this comment for exact details.
https://github.com/OneSignal/OneSignal-Android-SDK/issues/351#issuecomment-340552046

Let us know if this does not help and we can reopen

[2018-03-21 21:25] #482 closed

[2018-03-22 06:21] jkasten2 commented on #477
@AhmedKaram2 I have found and fix the root of this issue in PR #484. It is due to a race condition in the SDK with `OneSignal.promptLocation`. I **highly recommend** updating to 3.8.3 as soon as we release it as this might have been an issue for a number of releases.

We also have a build of this PR available. Can you can try out so you can confirm this is fixed for you as well before this release

[2018-03-22 15:20] GrahamBorland commented on #263
Has anyone figured out if the crash occurs immediately after the app update is installed (when the system redisplays the persistent notification) or only after the app is launched?

[2018-03-22 22:03] jkasten2 commented on #287
@ishratkhan The specific instance you linked is fixed in PR #479 and will go out in the 3.8.3 release

However I am still unsure how your app or others are getting into a Java runtime shutting down state to reproduce these issues. We plan to move more Java Thread creations into `HandlerThreads` as an optimization. This will fix the `Thread starting during runtime shutdown` errors as we do so but I

[2018-03-22 22:04] jkasten2 commented on #461
Closing due to inactivity. If you can review my last message and reply we can reopen however. Thanks!

[2018-03-22 22:04] #461 closed

[2018-03-22 23:29] jkasten2 commented on #477
@AhmedKaram2 [OneSignal SDK 3.8.3](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.3) is now released with this fix!

[2018-03-22 23:29] #477 closed

[2018-03-22 23:30] jkasten2 commented on #465
@baole [OneSignal SDK 3.8.3](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.3) is now released with this fix!

[2018-03-22 23:32] jkasten2 commented on #458
Closing due to both inactivity and no possible solution. Feel free to reply still however and we can reopen. Thanks!

[2018-03-22 23:32] #458 closed

[2018-03-22 23:33] jkasten2 commented on #258
Closing due to inactivity. Feel free to reply however and we can reopen

[2018-03-22 23:33] #258 closed

[2018-03-23 13:48] vaniakerer opened #485 "Notification not showing when app in background in some devices"
Hi!
I see strange trouble, in my app notifications not showing when app is closed for few devices: asus zenfone selfie zd551kl (android 6.0.1) and Xiaomi mi5 but when app is open notifications works fine. On another devices Xiaomi mi a1, htc one m7, desire 610, sony xperia e5603 (Android 6.0) it works fine.

Here my code:

AndroidManifest.xml :
[code]

In App class :
[code]
And few classes:
[code]

[2018-03-23 13:58] vaniakerer commented on #485
edit device names

[2018-03-24 19:30] gcatak opened #486 "Error: more than one library with package name 'com.google.android.gms.license'"
Today, I opened Android Studio, then I get this error. Yesterday, there was a no problem such that!

Error: more than one library with package name 'com.google.android.gms.license'

com.google.android.gms:play-services-xxx libraries was

**11.8.0**

Onesignal library was

'com.onesignal:OneSignal:[**3.6.2**, 3.99.99]'

Then I changed them to latest version.

**Now App/Gradle:**

    apply plugin:

[2018-03-25 09:31] AhmedKaram2 commented on #477
Thank you for your efforts :)

[2018-03-26 08:30] hockleongloh opened #487 "java.lang.NullPointerException: at android.os.Parcel.readException"
[code]

Hi, can i know what kind of situation will trigger this error? Thanks.

[2018-03-26 14:36] disav1 commented on #427
Zenfone Go (ASUS_X005)100%
Operating Systems>100% 5
5.1

[2018-03-26 23:29] jkasten2 commented on #427
@disav1 Thanks for the details, this has been completely fixed in the 3.8.0 update

[2018-03-26 23:51] jkasten2 commented on #485
@vaniakerer The issue is related to some devices force killing apps which means most Intents including push can't start the app. See the follow guide on the details of this on how to white list your app on the device and how to check for the logcat entry to confirm this.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown

Thanks!

[2018-03-27 00:15] jkasten2 commented on #486
@gcatak You have few things out of date which I believe is causing the issue.

#### app/build.gradle
`buildToolsVersion "23.0.3"` - I recommend updating this to the latest `'27.0.3'` version
`targetSdkVersion 24` - set to `27`

#### build.gradle
`classpath 'com.android.tools.build:gradle:2.2.3'` - update to `3.0.1`
After both `jcenter()` add `google()`
[code]

[2018-03-27 00:17] jkasten2 commented on #486
@gcatak I also recommend adding the [OneSignal-Gradle-Plugin](https://github.com/OneSignal/OneSignal-Gradle-Plugin) to your project as this will ensure all your decencies are aligned to prevent build and runtime issues due to mis-match versions.

[2018-03-27 00:22] jkasten2 commented on #487
@hockleongloh Can you provide any more details about this error?
1. What version of the OneSignal SDK are you using?
2. Are you able to reproduce the issue on your test devices?
3. What versions of Android and device models are you seeing the crash on?
4. If this is in a production app how many devices and instances are you seeing this crash?

[2018-03-27 00:25] jkasten2 commented on #380
I believe this issue should be fixed in the 3.8.2 SDK update.
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.2

Feel free to reply and we can reopen you are still seeing an issue with the `ALARM_WAKEUP`

[2018-03-27 00:25] #380 closed

[2018-03-27 08:46] #382 closed

[2018-03-27 16:09] vaniakerer commented on #485
is there any way to solve this programmatically for all drives?

[2018-03-27 19:12] disav1 commented on #427
Do you add READ_PHONE_STATE to manifest? Or just catch the exception?

[2018-03-27 19:21] mck182 commented on #346
I'm using `compile 'com.onesignal:OneSignal:3.8.3@aar'`
but I still see the same error on Android 8:

[code]

I'm targetting Sdk 27:
[code]

Could there potentially be a regression in this?

[2018-03-27 19:30] jkasten2 commented on #346
@mck182 We haven't seen any other reports of this. There can be multiple receivers of `com.google.android.c2dm.intent.RECEIVE` Intent in your app. I recommend checking the Merged Mainfest to see if there are others for another plugin / SDK or your own in your app.

![image](https://user-images.githubusercontent.com/645861/37990250-968c95da-31ba-11e8-8e06-4b3f3e57b949.png)

[2018-03-27 19:47] mck182 commented on #346
Looking at the generated intermediate `AndroidManifest.xml`
I can see there are two receivers - one for OneSignal and the
other one for Firebase:

[code]

But the second one must come from some Google library as this
app doesn't actually use Firebase explicitly.

[2018-03-27 20:17] jkasten2 commented on #346
@mck182 You can click on the Firebase receiver in the Merged Manifest veiew and it will show you the exact dependency that added it on the bottom right. Either way though it shouldn't cause this issue.

Are you able to reproduce the issue? If so can you share the exact setting you use on the notification or if you used the REST API can you share the JSON payload?

[2018-03-27 20:19] GrahamBorland commented on #263
I'm not using OneSignal, but I'm posting here since I'm experiencing exactly the same issue with notifications in my app, and this issue contains the most useful analysis of the problem.

In my case, I have no custom views; just plain text notifications with small icon. I've tried the following workarounds:

1. `NotificationManager.cancelAll()` on first run of a new app version, before later attem

[2018-03-27 20:33] jkasten2 commented on #485
There isn't as far as I know, this isn't a normal Android behavior. These manufactures have a forked Android on some of their devices. The best you can do is detect them in your code and instruct the user to enable the setting.

Can you check to make sure you have a global ROM on your Xiaomi mi5? I have seen some Xiaomi devices sold that have English set by default and even the Google Play store b

[2018-03-27 20:33] #485 closed

[2018-03-27 20:37] jkasten2 commented on #263
@GrahamBorland Thanks for the details!

Like OneSignal, are you displaying notifications in reaction to the `android.intent.action.MY_PACKAGE_REPLACED` Intent?
Are you able to reproduce the issue? Even inconsistently on your own device?

[2018-03-27 20:39] GrahamBorland commented on #263
@jkasten2

No, my notifications display shortly after startup after running some database queries.

Never reproduced locally, on an emulator or a 7.0 Samsung device.

[2018-03-27 20:47] mck182 commented on #346
The Manifest merging log doesn't really help, it just
shows
[code]
...but that's not my dep, must have come from something
else and I can't seem to find out from what.

I can reproduce it. I have some custom grouping logic
in the handler and the first notification always works,
second notification is supposed to be added to the
group of the previous notification but that's where it
stops working.

[2018-03-27 21:03] GrahamBorland commented on #263
Incidentally, I'm creating my notifications with `android.support.v4.app.NotificationCompat`, support lib version 27.0.2.

[2018-03-27 21:28] mck182 commented on #346
Ok so from what I can tell, this may not be OneSignal's SDK
issue after all. The other Firebase receiver is being added by
[code]
in the build.gradle file. Removing this removes the receiver and
I no longer see the error.

I'll keep an eye on it and report back if I find anything more useful.

[2018-03-27 22:15] jkasten2 commented on #346
Ah right, the merged manifest doesn't show the tree. Yes, the `com.google.gms.google-services` will add some decencies too. You can run the following from the terminal to get a full dependency tree incase you need it in the future.
` ./gradlew app:dependencies`

Your doing this notification grouping in your `NotificationExtenderService` correct? Can you time how long your code is running? I tried

[2018-03-29 07:33] gsksarath commented on #378
@jkasten2

I found a workaround Myself for this error based on my preference value
by setting like this in NotificationExtenderService class

if(!enable_sound)
{
    builder.setSound(null);
    builder.setVibrate(null);
}

[2018-03-29 07:34] rameshkumarkhatri opened #488 "NullPointerException on Intent.getExtra(String, Int) WakefulBroadcastReceiver"
Hi, I am getting crash through crashlytics here is stack trace on device running Android 7:

[code]

Fabric tools:        classpath 'io.fabric.tools:gradle:1.+'
gradle file:     implementation 'com.onesignal:OneSignal:[3.6.5, 3.99.99]'

[2018-03-29 07:50] GrahamBorland commented on #263
FWIW the workaround we've gone with for now looks like this.

[code]

[2018-03-29 08:35] jkasten2 commented on #488
@rameshkumarkhatri Thanks for reporting, we fixed the issue in the PR above. It will be included in the next SDK release.

[2018-04-01 23:48] jkasten2 commented on #486
@gcatak Let us know if suggestions above worked for you. If not, please provide your updated `build.gradle` files in full and we can reopen this issue and take a look.

[2018-04-01 23:48] #486 closed

[2018-04-01 23:49] jkasten2 commented on #346
Closing this issue due to inactivity, however still feel free to report your findings as it might help others. Thanks!

[2018-04-02 03:27] asghaier76 commented on #477
I think the same is happening with the ionic plugin. has it also been fixed

[2018-04-02 04:44] jkasten2 commented on #477
@asghaier76 yes, the OneSignal Cordova version 2.3.3 has this update. https://github.com/OneSignal/OneSignal-Cordova-SDK/blob/2.3.3/plugin.xml#L30

Please open a new issue in the Cordova repo with your OneSignal code and a list of plugins your app is using by calling `ionic cordova plugin ls`
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues

[2018-04-02 05:25] rameshvoltella commented on #487
@jkasten2  hi i am also getting this issue on some devices

as you ask the details i will provide my infos

1. Version-  3.8.3 (com.onesignal:OneSignal:3.8.3)
2. No issues on my testing devices
3. Oppo CPH1609 (CPH1609), 4096MB RAM, Android 6.0 and Oppo A1601 (A1601), 3072MB RAM, Android 5.1
4. Yes it is happening on production i released app one day(1/4/2018) back i saw these two crashes both on

[2018-04-02 07:15] jkasten2 commented on #487
@rameshvoltella Thanks for the details, are you only seeing this crash on Oppo devices running Android 5.1 and 6.0?

[2018-04-02 07:20] rameshvoltella commented on #487
@jkasten2 yes till now am seeing this on these two devices, i only released an update with onesignal yesterday, till now only two device having this issue.

[2018-04-02 07:21] rameshvoltella commented on #487
@jkasten2 is the version and all am using is correct only right?

[2018-04-02 07:26] jkasten2 commented on #487
@rameshvoltella Correct, 3.8.3 is the latest SDK version. You can always check this page for the latest releases.
https://github.com/OneSignal/OneSignal-Android-SDK/releases

Odd that this seems Oppo specific. We investigate this crash in more detail this week

[2018-04-02 10:58] rameshvoltella commented on #487
@jkasten2  hi, now i got two more crash for oppo devices
Oppo CPH1701 (CPH1701), 3072MB RAM, Android 6.0 and Oppo A1601 (A1601), 3072MB RAM, Android 5.1

i am worried its gone impact all my oppo user once they update, because i am not sure what this crash do
please clear my doubt will my app crash when app get opened?

[2018-04-02 12:43] rameshvoltella commented on #487
@jkasten2  app is getting high 7 crashes now all are oppo device, need urgent help, what should i do for now?

[2018-04-02 15:03] mck182 commented on #346
Right; I should have mentioned that I only get a few hours
a week to work on this, sorry about that. I've managed to
time the execution of the function that I'm calling wihtin
`NotificationExtenderService`, it's reasonably fast - 20ms
on average.

I'm somewhat sure that the issue is due to the `google-services`
plugin which creates the second receiver and I believe that
one times out. If I remove

[2018-04-02 17:05] jkasten2 commented on #346
Can you reproduce this issue in a new Android project? If so please share it and we can take a look.

Let us know the device models you see this issue on and if it is Android 8.0 or 8.1. I also recommend testing work the Android emulator to see if the issue occurs there too

[2018-04-02 17:38] mck182 commented on #346
I'll give it a try, I just can't give you a reliable guess for when
(really sorry about that, my work time for this is very limited).
I'm seeing this on Nexus 6P and Android 8.0. I haven't really
tested on an emulator, but I'll try some multi combinations of
devices and Android versions.

[2018-04-02 19:42] jkasten2 commented on #487
@rameshvoltella Can you recopy your stacktrace? It is missing line number for most lines. The crash being reported with the app in the background or the foreground?

[2018-04-03 05:14] rameshvoltella commented on #487
@jkasten2 am copying the log from playstore console, am using pro guard also ,The number is like 1,2,3 only on play store This is the stacktrace got for **Oppo X9009 (X9009), 4096MB RAM, Android 5.1**

i dont know that but i havent see any oppo users on my onesignal dashboard,also  i want to know is the background crash affects the app usage?

[code]

Now am gone write the following condition on m

[2018-04-03 20:18] #488 closed

[2018-04-04 06:38] Khoonat commented on #286
@jkasten2 Your suggestion works. But if I remove them, I won't be able to inflate the map view.

[2018-04-04 06:59] rameshvoltella commented on #487
@jkasten2 hi yesterday i have released the new version of  my app with restricting oppo devices
[code]

This is what i used but still this crash is listing on my crash list same oppo device, i dont understand how does this happens, need you help its very urgent, can you tell me a way to avoid oppo devices  from my update till this issue get fixed.

[2018-04-04 20:23] jkasten2 opened #490 "ArrayIndexOutOfBoundsException thrown from com.android.okio.Util.checkOffsetAndCount on Android 5.x"
This is a very rare crash but is happening on a number of Android 5.x devices of different manufactures

[code]

This looks to be an internal bug with `com.android.okio` due to the stack and only happening on 5.X devices. Solution will most likely be a try-catch for this.

[2018-04-04 22:54] jkasten2 commented on #286
@Khoonat Could you share the Java code that no longer working in your app after adding the OneSignal-Gradle-Plugin?
You can open ticket below filling out the template so we can look into it
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/new

[2018-04-05 00:39] jkasten2 commented on #487
@rameshvoltella Thanks for the new stack trace, as you noted I think your Proguard setting are moving most of the line number. However your stack is good enough to see where it is being thrown from.

As a fix we will add a catch to this specific exception to work around the Oppo ROM bug you are seeing.

In the mind time is your code omitting Oppo devices ok to fix the issue?

[2018-04-05 02:16] rameshvoltella commented on #487
@jkasten2 happy that helped you,  but the condition i used to omit the oppo device is not working
[code]
The above line i added but still crash is reporting on my newer version.?Please give a help

[2018-04-05 08:46] runningcode commented on #348
It would also be nice to understand why this field is null and what it means.

[2018-04-05 19:10] jkasten2 commented on #348
@runningcode There is now a [`getPermissionSubscriptionState`](https://documentation.onesignal.com/docs/android-native-sdk#section--getpermissionsubscriptionstate-) that reports more details on what the status of the subscription is. Let me know if this doesn't cover what you need

Also [`addPermissionObserver`](https://documentation.onesignal.com/docs/android-native-sdk#section--addpermissionobse

[2018-04-06 02:58] yaseen-homage opened #491 "Oppo Devices - OneSignalSyncServiceUtils syncServicePendingIntent throws Null Pointer Exception"
[code]

[2018-04-06 05:12] rameshvoltella commented on #487
@jkasten2 any updates?

[2018-04-06 11:59] eomonteiro opened #492 "BUG Sound CUSTOM in category"
created the category and Setad custom sound and vibration default, works.

created the category and Setad custom sound and vibration off, does not work.

If you change the category, stop working in any case

[2018-04-09 06:56] rameshvoltella commented on #487
@jkasten2  hi its been 4 days no updates, i have stop all onesignal functionality with my app, because paid users on  oppo device started complaint about app crash, Please let me know when you guys can fix this,
Thank you

[2018-04-09 09:29] rameshvoltella commented on #433
@jkasten2 hi i am also getting this issue, just today i saw on android vital, i am using fuse api for getting location for only one time when app is been launched first time after that no fuse api fuction called i use this for past 9 months, i check the vital, the graph progress or even started after i have integrated onesignal to the app. the graph start from april 1sth, for the other location fu

[2018-04-09 09:40] rameshvoltella commented on #433
also @jkasten2  if i use .autoPromptLocation(false)  will onesignal stop to looking for location?

[code]

This how i am going to use will it avoid onesiganl location checking?

[2018-04-09 12:47] asfdfdfd commented on #465
Bug is still here. Attaching stack traces from 3.8.3.

[com.mirrorai.app_issue_816_crash_5AC9151D0318000144461FDD398CF1FA_DNE_0_v2.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1889927/com.mirrorai.app_issue_816_crash_5AC9151D0318000144461FDD398CF1FA_DNE_0_v2.txt)

[com.mirrorai.app_issue_816_crash_5ACB392401E800013A009EF9D799E07D_DNE_0_v2.txt](https://github.com/OneSignal/OneSigna

[2018-04-09 12:55] asfdfdfd opened #493 "NullPointerException: Attempt to invoke virtual method 'int android.content.Intent.getIntExtra(java.lang.String, int)' on a null object reference"
I have latest SDK (3.8.3). Those crashes started to appear after upgrading to 3.8.2.

[com.mirrorai.app_issue_807_crash_5AC76AA9019700011466FF3E3E4839DC_DNE_0_v2.txt](https://github.com/OneSignal/OneSignal-Android-SDK/files/1889951/com.mirrorai.app_issue_807_crash_5AC76AA9019700011466FF3E3E4839DC_DNE_0_v2.txt)
[com.mirrorai.app_issue_807_crash_5AC9958401C0000148663850BDEA06C4_DNE_0_v2.txt](https:/

[2018-04-09 18:34] jkasten2 commented on #348
@runningcode `idsAvailable` will be marked deprecated and has been removed from the OneSignal API docs since these new methods provide more details.

`idsAvailable` gives a `null` `registrationId` if you have called `setSubscription` with `false` or if the user has turned of notifications for your app. In addition the `idsAvailable` would not fire at all until the device registers with OneSignal.

[2018-04-09 18:47] jkasten2 commented on #493
@asfdfdfd Thanks for the full logs, to summarize those logs; the root of the crashes of all 3 of them is the following.
[code]

This is the same issue as #488 which has been fixed. It isn't in a release yet but it will included in one later this week.

[2018-04-09 18:47] #493 closed

[2018-04-09 18:53] jkasten2 commented on #465
@asfdfdfd Thanks for the logs, both include the following stack trace.

[code]

We will look into reproducing this issue and providing an update to fix this. Thanks

[2018-04-09 19:02] jkasten2 commented on #433
@rameshvoltella What version of the OneSignal SDK are you currently using in your app?

`.autoPromptLocation` is `false` by default, if set to `true` it will prompt the user for location permission on app start up if it isn't enabled already.

We are also looking into making a few changes in the next update to resolve this issue

[2018-04-09 19:09] jkasten2 commented on #491
@yaseen-homage Thanks for reporting, we will look into this and let you know what we find.

[2018-04-09 19:26] rameshvoltella commented on #433
Hi
i am using 3.8.3 (com.onesignal:OneSignal:3.8.3)
Two crashes and 1 bad behavior varning due to onesignal, i am sure you guys can fix it, mot users are experiencing this please give a updated version asap.
This is issue making warning. and issue #465 and #487 making huge crashes, please give priority.

[2018-04-09 19:40] eomonteiro commented on #492
@jkasten2 Already solved, the problem was in the Onesignal, support confirmed, TKS

[2018-04-09 19:41] #492 closed

[2018-04-10 06:31] yaseen-homage commented on #491
@jkasten2  Adding more Info As It might help you to debug
This crash happened few times in past 3 weeks. So far all the crashes are happening only on oppo devices.

DEVICE  : OPPO CPH1607 -OS(6.0), OPPO CPH1611 -OS (6.0.1)

[2018-04-10 20:27] jkasten2 commented on #491
This stack trace is different but I seems it is related to issue #487

[2018-04-10 20:29] jkasten2 commented on #487
@hockleongloh We are working on this fix and a few others to be added to the next release.

Can you let us know the device models, manufactures, and Android versions you are seeing this issue on? Is it only Oppo devices as @rameshvoltella is seeing?

[2018-04-11 13:51] hockleongloh commented on #487
@jkasten2 Yup. The Oppo devices that facing this issue is same as @rameshvoltella

[2018-04-11 17:50] marcelojunin opened #494 "Receiving 2 notifications with Ionic 3 and Onesignal"
My device get the notifications perfectly when the app is opened or in background. But if I close the app, It’ll get two notifications.

    `constructor(platform: Platform, statusBar: StatusBar, splashScreen: SplashScreen, oneSignal: OneSignal) {
           platform.ready().then(() => {
          statusBar.styleDefault();
         splashScreen.hide();

      oneSignal.startInit("XXXXXXXXXXXXXXXXX

[2018-04-11 18:58] jkasten2 commented on #494
@marcelojunin This looks another plugin / SDK in your app is displaying a 2nd notification when it receives a notification payload. I recommend running `ionic cordova plugin list` to find other plugins and run `ionic cordova plugin rm` to remove the other push notification plugin.

For future Ionic / Cordova issues please use this repo.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues
Tha

[2018-04-11 18:58] #494 closed

[2018-04-12 02:17] sinhpn92 commented on #487
I have same issue with lastest sdk version 3.8.3 on Oppo device with os 5 and 6.
This is crash report:
[code]

[2018-04-12 08:36] eriuzo opened #498 "Crash on GcmIntentService - Android 8 (Oreo)"
Hi, recently we got this crash report on Crashlytics:

[code]

[code]

The crash affects Android 8 (99%) and Samsung devices (62%).

This crash has affected more than 1% of all users in last 30 days. The crash to users ratio is less than 2, so I doubt that this crash is recurring, but the huge number of crashes is a concern.

I have searched for related issues and is seemingly fixed in Onesignal 3

[2018-04-12 09:05] sinhpn92 commented on #263
Have any solution to fix this issue? I have same problem with Samsung device on Android 7.0

[2018-04-12 13:25] runningcode commented on #348
@jkasten2 Is there some documentation on what the fields `from` and `to` mean in  `OSSubscriptionStateChanges`? What do they mean and how should they be used?

What does the `pushToken` field in `OSSSubscriptionState` mean?
What happens when I call the `setPushToken()` method on `OSSubscriptionState` object?

How can I retrieve the `registrationId` with the new APIs you described?

[2018-04-12 13:38] runningcode commented on #348
It seems that `pushToken` is the replacement for `registrationId`? is that correct? I don't see this in the docs. Are there any differences in terms of how it should be used? Are they backwards compatible?

[2018-04-12 14:55] javieritis opened #499 "TOO_MANY_REGISTRATIONS"
OneSignal android it returns the next error un log:
[code]
and dont receive any notification push...

Can anybody help me

[2018-04-12 17:41] jdestremps commented on #9
We need to be able to set the appId, etc. programmatically, so we can switch environments on the fly for different pre-prod versions and re-initialize the OneSignal stuff whenever we want.  Limiting it to the manifest is not very flexible.

[2018-04-12 18:31] #487 closed

[2018-04-12 18:51] jkasten2 commented on #498
@eriuzo Could you let us know the payload you sent to that reproduced this issue? Or if it was through our dashboard let us know the full options there. The issue could be related to if you use high priority or not and if you have any remote URLs for images.

The `GcmBroadcastReceiver` class hasn't changed since our 3.6.2 release, other parts of the SDK were updated after for Android Oreo support

[2018-04-12 18:57] jkasten2 commented on #499
@javieritis This can happen on a test device or emulator if have a large number of apps that are being reinstall continuously. It shouldn't happen a real device under normal use. See the following for a bit more details. https://stackoverflow.com/a/48439819

[2018-04-12 18:57] #499 closed

[2018-04-12 19:03] jkasten2 commented on #348
@runningcode Good questions!, we will update our docs with these details. I'll let you know when they are available

[2018-04-12 21:48] jkasten2 commented on #465
@asfdfdfd This occurrence has now been fixed in the 3.8.4 update>
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.4

[2018-04-12 21:48] #465 closed

[2018-04-12 21:49] jkasten2 commented on #433
This should now be fixed in the 3.8.4 update>
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.4

[2018-04-12 21:49] #433 closed

[2018-04-12 21:49] jkasten2 commented on #491
This should now be fixed in the 3.8.4 update>
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.4

[2018-04-12 21:49] #491 closed

[2018-04-12 21:49] jkasten2 commented on #487
This should now be fixed in the 3.8.4 update>
https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.8.4

[2018-04-12 21:51] jkasten2 commented on #263
@sinhpn92 There is a work around you can use noted in https://github.com/OneSignal/OneSignal-Android-SDK/issues/263#issuecomment-369096027

[2018-04-13 07:08] javieritis commented on #499
@jkasten2 dont use emulator, i use the reals phones nexus 5, nexus 6, and other...

[2018-04-13 09:44] runningcode commented on #348
Also in testing out the new api I find that the userId is null when the pushToken is not null. What does this mean?

[2018-04-14 05:37] thanhbc opened #500 "java.lang.IllegalStateException: Apps may not schedule more than 100 distinct jobs"
Hi, I am got a lot of this crash since the last 7days according to Fabric
[code]
<img width="461" alt="screen shot 2018-04-14 at 12 32 07" src="https://user-images.githubusercontent.com/4994446/38764799-e75c9568-3fdf-11e8-96d7-3dc898e749a3.png">
I using one signal version 3.8.4

[2018-04-14 11:26] TaifRaoof commented on #441
java.lang.ClassNotFoundException Didn't find class "android.app.job.JobServiceEngine" also appear again in android v7.0

i used the code in example project
https://github.com/OneSignal/OneSignal-Android-SDK/tree/master/Examples/AndroidStudio

[2018-04-14 11:27] TaifRaoof opened #501 "Didn't find class "android.app.job.JobServiceEngine""
java.lang.ClassNotFoundException Didn't find class "android.app.job.JobServiceEngine" also appear again in android v7.0

i used the code in example project
https://github.com/OneSignal/OneSignal-Android-SDK/tree/master/Examples/AndroidStudio

[2018-04-15 22:12] jkasten2 commented on #501
@TaifRaoof Can you provide more detail on where you saw this error? Was when building or in the device's logcat?

I was NOT able to reproduce this issue with the example project you linked to so we will need more details to continue

[2018-04-15 22:16] jkasten2 commented on #500
@thanhbc Thanks for reporting, can you provide the following details?
1. Android versions
2. Device models and manufacturers
3. If possible a link to the Fabric page would be great!
4. Are you able to reproduce the issue on your devices?

Also 3.8.4 was released 3 days ago so I believe this would be from 3.8.3

Thanks.

[2018-04-16 00:25] thanhbc commented on #500
Yes, thanks.
1. It's happened on android 5 and above
2. Most of devices (Samsung, huawei, oppo, Sony,....)
3. Will update shortly
4. I haven't encountered this issue on my devices yet.

I've upgraded to 3.8.4 and will update the result here.

Vào Th 2, 16 thg 4 2018 lúc 05:16 Josh Kasten <notifications@github.com> đã
viết:

--
Practice makes perfect!

[2018-04-16 06:35] GajeraSagar opened #502 "customize one signal title notification in android"
how to set one signal notification full customise in android

[2018-04-16 08:13] DimaKoz opened #503 "Exception: java.lang.NullPointerException: Attempt to read from field 'org.json.JSONObject com.onesignal.UserState.dependValues' on a null object reference"
I got a [crashlog](https://github.com/OneSignal/OneSignal-Android-SDK/files/1914339/log.txt) in OneSignal-Android-SDK 3.8.3
I can't reproduce it.
About devices:
<img width="1089" alt="screen shot 2018-04-16 at 11 07 06" src="https://user-images.githubusercontent.com/3092276/38797306-b8f727aa-4166-11e8-939e-b15a2c35c462.png">

upd:
My initialization of  OneSignal:
[code]

[2018-04-16 09:34] hockleongloh opened #504 "Big picture return null"
Hi, I am using sdk versipn 3.8.4. However, while I push message with big picture, OSNotification object doesn't return me big image data. Other details all are ok.

[2018-04-16 12:32] vigneshr87 opened #505 "Attribute "font" already defined with incompatible format."
After adding one signal dependency i get
  Attribute "font" already defined with incompatible format. I tried rename the resource but doesn't find helpful. Kindly help me solving this issue

[2018-04-16 18:03] gdeglin commented on #504
This may have been due to a brief issue that occurred with our service at the time this was reported. Could you try it again now? We can re-open this if the problem is still occurring.

[2018-04-16 18:03] #504 closed

[2018-04-17 05:24] Xaus commented on #76
i have same issue . i want when user opens app , all notifications in queue opened and handle their event .

[2018-04-17 06:12] marcoroche opened #506 "Problem managing sound and vibrations"
I'm using the package Cordova SDK that uses this package. When I look at the code, I think the problem comes from this package.
I already posted an issue with no answer
#https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/353

[2018-04-18 00:17] summera opened #507 "Google removing GCM in favor of FCM"
I received an email saying GCM will no longer work after **April 11, 2019** so apps need to be upgraded to FCM before then. I see that this library uses/depends on GCM. In the [docs](https://documentation.onesignal.com/docs/firebase-cloud-messaging-fcm) it says that it can work with FCM.

- Do you have docs for how to migrate to FCM using OneSignal?
- And do you plan to upgrade this library soon t

[2018-04-18 01:09] jkasten2 commented on #507
@summera Making sure your app in on the Firebase console is one part of the depreciation Google noted in their email. You can import your Google Project into Firebase from the Firebase console if you haven't done so already. This should be done instead of creating a new Firebase app to keep your subscribers. We will be providing exact details on this soon.

The 2nd part is this SDK depending on th

[2018-04-18 01:44] jkasten2 commented on #502
@GajeraSagar This can be set on the message from the [OneSignal dashboard](). It can also be set if you are using the [OneSignal REST API](https://documentation.onesignal.com/reference#section-notification-content) by setting `headings`.

[2018-04-18 01:44] #502 closed

[2018-04-18 01:47] jkasten2 commented on #503
Thanks for the log, contains of it below for reference.

[code]

We will look into the stack and follow up.

[2018-04-18 01:51] jkasten2 commented on #505
@vigneshr87 Could you provide the full error and any logs before this error? Also provide your root `build.gradle` and your `app/build.gradle`

[2018-04-18 03:43] 547453396 commented on #263
I also have this issue. But I do not used OneSignal.

[2018-04-18 10:28] DimaKoz commented on #505
@vigneshr87 see [here](https://stackoverflow.com/a/46279656/3166697)
Probably it should help you.
I guess a reason of this problem isn't in OneSignal but in compabilty between another your libraries and "com.android.support"

[2018-04-18 10:46] vigneshr87 commented on #505
I  have tried what has been mentioned at [https://stackoverflow.com/questions/45988998/error-attribute-font-already-defined-with-incompatible-format/46279656#46279656](url)  but some incompatibility between the google Api i guess. Since one signal has upgraded to latest google API. We are targeting lower version of API  it would be helpful if the SDK supports the Applications targeting lower googl

[2018-04-18 12:05] krzysiek-zgondek commented on #263
Maybe it's somehow related to this: https://developer.android.com/guide/topics/data/autobackup.html

[2018-04-19 05:03] vaibhav-droid commented on #263
I am not using One Signal SDK but getting the same error

Fatal Exception: android.app.RemoteServiceException: Bad notification posted from package packagename: Couldn't expand RemoteViews for: StatusBarNotification(pkg=packagename user=UserHandle{0} id=100 tag=null score=0: Notification(pri=0 contentView=packagename/0x1090064 vibrate=null sound=android.resource://packagename/raw/notification defa

[2018-04-19 05:53] jkasten2 commented on #505
@vigneshr87 What Android compile and target SDK version you using? Can you post your root `build.gradle` and `app/build.gradle` files?

[2018-04-19 05:54] jkasten2 commented on #500
Thanks for the details, we will try to see if we can reproduce the issue with the information you have given us.

[2018-04-19 05:59] jkasten2 commented on #506
@marcoroche Sorry for the delay, followed up with you the thread you linked to. Closing this one in favor of your other issue.

[2018-04-19 05:59] #506 closed

[2018-04-19 06:02] jkasten2 commented on #346
Closing issue due to inactivity, we can reopen later if you can provide an example project and / or more details.

[2018-04-19 06:02] #346 closed

[2018-04-20 08:44] eriuzo commented on #498
Hi, `targetSdkVersion` is `27`

Here is dashboard parameters

![github_bug](https://user-images.githubusercontent.com/4884891/39040526-9c383f8e-44b1-11e8-95f0-dd4e153b8a40.png)

[2018-04-21 18:01] akuma34 opened #508 "Verify error :"
4-21 17:55:15.332 10445-10445/? E/AndroidRuntime: **FATAL EXCEPTION**: main
                                                   Process: parent1.kidstriangle.com.chromewebview, PID: 10445
                                                   java.lang.VerifyError: com/onesignal/LocationGMS
                                                       at com.onesignal.OneSignal.onAppFocus(OneSignal.java:1050)

[2018-04-21 18:02] akuma34 commented on #508
Happening only on Kitkat 4.4, App crash while launch, others android version works fine.

[2018-04-24 03:35] luck-alex13 opened #509 "IllegalStateException GoogleApiClient is not connected yet."
Hi, I have such crash in my firebase console.
SDK Version is last 3.8.4
Device models and OS versions are different.

[code]
Full stacktrace is here  https://pastebin.com/TTVc4Fde

Try to fix this crash, please.

[2018-04-24 10:07] benbenmushi commented on #498
Hello there,

We have the same problem with our lastest version.

The only changes made that seems to make sense with the problem are:
- compileSdkVersion from 25 to 27
- targetSdkVersion  from 25 to 27

![onesignalcrash](https://user-images.githubusercontent.com/1941907/39180724-ee841958-47b7-11e8-83fd-ff8b60f4d2a8.png)

[2018-04-24 10:28] benbenmushi commented on #498
This might be related:
https://stackoverflow.com/questions/46445265/android-8-0-java-lang-illegalstateexception-not-allowed-to-start-service-inten

[2018-04-24 13:17] mitchellwit opened #510 "Not able to build app after update gradle 3.1.2, Program type already present ADMMessageHandler"
Android Studio version 3.2.1
Gradle version:
classpath 'com.android.tools.build:gradle:3.1.2'
distributionUrl=https\://services.gradle.org/distributions/gradle-4.4-all.zip

OneSignal:
com.onesignal:OneSignal:3.8.4

Error:
Program type already present: com.onesignal.ADMMessageHandler$Receiver
Message{kind=ERROR, text=Program type already present: com.onesignal.ADMMessageHandler$Receiver, sources=[U

[2018-04-24 23:33] jkasten2 commented on #510
@mitchellwit I tested our SDK with AGP 3.1.2 and Gradle 4.4 without any issue.
The following error from your log means you included OneSignal twice in your project.
[code]

Make sure you didn't add both a .jar / .aar file in your project at the same time as using the following in your `app/build.gradle`
[code]

[2018-04-24 23:39] jkasten2 commented on #508
@akuma34 The `java.lang.VerifyError` error normally means you have hit the 65k method limit which is only an issue on Android 4.4 and older.
https://stackoverflow.com/a/100134/1244574

To fix the issue you will need to setup mutlidex in your app with the instructions below.
https://developer.android.com/studio/build/multidex.html
If you have this already in your project double check your code in t

[2018-04-24 23:40] jkasten2 commented on #509
@luck-alex13 Thanks for reporting we will look into it

[2018-04-24 23:57] jkasten2 commented on #498
@benbenmushi I believe the link is related. It notes that a high priority FCM / GCM message puts the app into a temporary whitelist for several minutes which should allow the service to start with a wake lock.

Can you provide the full stacktraces from your screenshot as well?

[2018-04-25 03:27] vaibhav-droid commented on #263
@mahesh-gupta-23 I am not using any custom view for the notification but still getting the error so it might be some another case.

[2018-04-25 06:45] mitchellwit commented on #510
But compile is obsolete and will be removed this year. Do you have it working with implementation as well? Both of them are not working here. Its only added once in my gradle file

[2018-04-25 08:00] llmagicll commented on #487
@jkasten2 when will the OneSignal Unity patch due to this issue? i keep getting this exception on Android. The latest OneSignal Unity is still 3.8.3 i think. Thanks

[2018-04-25 08:57] benbenmushi commented on #498
@jkasten2 Hi !
here is one of our typical notifications
![onesignalregularnotif](https://user-images.githubusercontent.com/1941907/39234976-fd3a7b0a-4874-11e8-9845-e0ff8e9b6f9a.png)

I have noticed there is 2 similar errors which occurs on differents devices:
The first one:
![crashonsignalsamsung_devices](https://user-images.githubusercontent.com/1941907/39235067-347a7bd8-4875-11e8-99b6-fb96aaa8e1

[2018-04-25 13:32] raminbbt opened #511 "OverrideSettings extender ignores NotificationCompat.Builder.setContentIntent"
When i receive a notification, i customize it with `OverrideSettings.extender`
Everything works `[setColor and ...]` except `setContentIntent`
My Code:

[code]
I have changed the `Activity, requestCode` and also `PendingIntent flags`, but no LUCK!

[2018-04-25 14:19] mitchellwit commented on #510
After i changed some other dependency versions it started working. It was in combination with another library

[2018-04-25 20:24] jkasten2 commented on #510
@mitchellwit Good to hear! Could you let us know the exact library and version that was the issue? This may help others.

We have `compile` in our gradle instructions as some developers are using an old version of Gradle and the AGP plugin. `implementation` will work just fine as well.

[2018-04-25 20:32] jkasten2 commented on #498
@benbenmushi Thanks for all the details on the 3 different crashes you are seeing. The first two with `UpgradeReceiver` and `BootUpReceiver` is something we can prevent by always using a `JobService` from these events. There are just replaying these `Intents` to put notifications back into the shade during these 2 events

However the last one is odd, as I noted before we do start a service on Andr

[2018-04-25 23:09] kingsofteng commented on #510
I need a solution for this as well. I have the same environment with @mitchellwit , and got the same error.
@jkasten2  could it possible to help me on this issue?

[2018-04-26 08:01] rostopira opened #513 "NPE on flushBufferToDisk"
**Description:**
20% of devices on new release experience critical issue
Reports error log:
[code]

**Environment**
1. Android SDK 27
2. Crash occurs on different devices (Samsung, Motorola, ZTE and others) on all API levels that we support (from Jelly Bean to Oreo)
3. OneSignal SDK 3.8.4 (same crash were on 3.8.3 as well)
4. Issue wasn't present in 3.8.2

**Steps to Reproduce Issue:**
Unknown

[2018-04-26 08:33] #511 closed

[2018-04-26 08:39] rameshvoltella opened #514 "Null point exception on com.onesignal.UserStatePushSynchronizer.addOnSessionOrCreateExtras"
Hi

i am getting  Null point exception on onesignal

Am using onesignal **version 3.8.4**

Just started to get on googleplaystore crash report

Affected device :Motorola Moto E (2nd Gen) (otus_ds)
Affected 10 times today

I am showing the log below

[code]

As i am using proguard this is only i can able to show .

Please ask for any help regarding this issue

[2018-04-26 10:14] rameshvoltella commented on #503
i am also getting new bug after updating to latest version **onesignal 3.8.4**

Affected device :Motorola Moto E (2nd Gen) (otus_ds)

here is the following log

[code]

[2018-04-26 19:12] rostopira commented on #513
Here is code, that is used in my app

At the Application onCreate:
[code]

NotificationExtenderService:
[code]

Other internal usage (used on background thread and main thread as well):
[code]

Another one (on both threads as well):
[code]

[2018-04-26 19:13] rostopira commented on #513
I will be on vacation for a week, but you (or someone from OneSignal team) can contact me via telegram if you need more details
https://t.me/rostopiradv

[2018-04-26 20:35] jkasten2 commented on #514
@rameshvoltella Thanks for reporting, we review the `addOnSessionOrCreateExtras` method in our SDK to see if we can find any issues.

[2018-04-26 22:06] jkasten2 commented on #510
@kingsofteng Can you share you root `build.gradle` and your `app/build.gradle`? Also provide the compile tree from this output might help find the duplicate class issue.
`./gradlew app:dependencies`

@mitchellwit In your casing using version `15.0.0` of `com.google.android.gms` and `com.google.firebase:firebase-core` create this error? Then after downgrading back to version `12` fixed the issue? A

[2018-04-27 09:56] alexlee0528 commented on #263
I have this issue and getting the crash reports every day from android os 7.0. Any solution for this?

[2018-04-27 21:51] jkasten2 commented on #501
@TaifRaoof Closing due to inactivity. Please provide more detail and we can open this ticket back up

[2018-04-27 21:51] #501 closed

[2018-04-27 23:07] rodrigosimoesrosa opened #516 "OneSignal calls setSubscription(false) when device is offline?"
Hi everyone,

Could someone help me with this issue?

I found a scenario which OneSignal Android SDK call `setSubscription(false)` when the smartphone is without internet and the app is closed. How can I fix it? There is a configuration which disables this behavior?

OneSignal SDK version 3.8.4

Android:
minSdkVersion 16
targetSdkVersion 25

[2018-04-28 01:52] Nightsd01 commented on #516
Hi @rodrigosimoesrosa , we're not quite sure what you mean?

What is this scenario? How do you know that OneSignal is calling `setSubscription(false)`...?

[2018-04-28 02:31] rodrigosimoesrosa commented on #516
Hi @Nightsd01,

The scenario could be explained by these steps:

1. User registered in OneSignal Platform and suitable to receive push messages;

2. Two internet connections (GSM and Wifi) enabled with the app closed;

3. Shutdown Two internet connections (GSM and Wifi), after that turn-up GSM internet;

4. You could see the new status of the device on your list:
<img width="1390" alt="screen shot

[2018-04-29 13:49] ali-mahmoodvand opened #518 "Failed push"
I send push notification for my subscribed users and failed a lot of segment users.
Then unsubscribe my user immediately
I loss ~100K from my user in last 2 push notification .
[Before send users](http://141.105.69.159/onesignal/img/1525081142317.jpg)
[Failed count](http://141.105.69.159/onesignal/img/1525080906975.jpg)
[After send users](http://141.105.69.159/onesignal/img/1525081153524.jpg)
@gde

[2018-04-30 12:08] Ebraheemb commented on #456
![whatsapp image 2018-04-30 at 15 07 45](https://user-images.githubusercontent.com/12219367/39426395-48d00a96-4c88-11e8-8c60-0c387702a3fd.jpeg)
 I get the same error

[2018-04-30 13:25] Ebraheemb opened #519 "app_id not found. You may be missing a Content-Type: application/json header"
Hi
I'm trying to get OneSignal user id, but I get this error:
{"errors":["app_id not found. You may be missing a Content-Type: application/json header."]}

This is the prompt error:
![whatsapp image 2018-04-30 at 15 07 45](https://user-images.githubusercontent.com/12219367/39429012-337b6064-4c92-11e8-8e8d-b1ef7caf996d.jpeg)

This is my build.gradle:
`apply plugin: 'com.android.application'
apply p

[2018-04-30 19:50] Nightsd01 commented on #503
Hi, thanks for reporting this issue. It should now be fixed (#517).

[2018-04-30 19:50] #503 closed

[2018-05-01 03:34] jkasten2 commented on #516
@rodrigosimoesrosa At any time did you call `setSubscription(false)` in your app? Even if this was called when the device is offline it will be synced to OneSignal when the device comes back online. I know this isn't the condition you noted in your step by step but it is possible your WiFi was having issues and didn't sync right away. I can't see any other SDK scenario where something like this co

[2018-05-01 11:08] mitchellwit commented on #510
No i moved to version 15.0.0. The other changes i made are int he message above

[2018-05-02 07:39] Ebraheemb commented on #519
**Fixed**

After many tries, I changed the dependency
from: implementation 'com.onesignal:OneSignal:[3.8.3,4.0.0)'
to:  implementation 'com.onesignal:OneSignal:[3.8.3, 3.99.99]'
![image](https://user-images.githubusercontent.com/12219367/39511043-aa3da5be-4df4-11e8-8e88-39e1bf9b4f1b.png)

I don't know why this happens.

in case of **"implementation 'com.onesignal:OneSignal:[3.8.3,4.0.0)'"** I get

[2018-05-02 16:48] endymion00 opened #520 "Sometimes getUserId() does not return player (under NativeScript)"
**Description:**

I'm using OneSignal SDK in a NativeScript application (via nativescript-onesignal plugin) and find that sometimes the app can't get the playerId.
By using the old method idsAvailable it does not fail and the playerId is obtained.
The problem is that very few times the suggested method in OneSignal SDK documentation does not return the playerId (I get a null value).
In NativeScrip

[2018-05-02 17:04] jkasten2 commented on #519
Using `[3.8.3,4.0.0)` will cause gradle to pull in 4.0.0-SNAPSHOT versions if you including the snapshot repo which I see you have
[code]
Using `[3.8.3, 3.99.99]` ensures a 4.0.0 version is never fetched.

[2018-05-02 17:04] #519 closed

[2018-05-02 17:10] jkasten2 commented on #518
@ali-mahmoodvand For an issue like this I recommend contacting OneSignal support. This can be done from the support bubble in the bottom right while signed into your account or sending an email to support@onesignal.com with your app id and notification ids included.

One thing I do recommend checking is if OneSignal is still working for you on your test devices. If you remove the OneSignal SDK fro

[2018-05-02 17:10] #518 closed

[2018-05-02 17:15] jkasten2 commented on #520
@endymion00 [`getPermissionSubscriptionState`](https://documentation.onesignal.com/docs/android-native-sdk#section--getpermissionsubscriptionstate-) returns the current subscribed state of the user. When the app is first opened you may not have a `userId` since the device can still be registering.

Was is recommend is if [`getPermissionSubscriptionState`](https://documentation.onesignal.com/docs/a

[2018-05-02 22:28] jkasten2 commented on #456
@Ebraheemb Did you try the suggestions in the my message above? https://github.com/OneSignal/OneSignal-Android-SDK/issues/456#issuecomment-370175437
Please provide the files noted in the comments if it doesn't help.

[2018-05-03 08:35] endymion00 commented on #520
@jkasten2 Oh, I see. Thank you very much for your help :)

[2018-05-03 09:08] salmahosni5771 opened #522 "OTHER Apns 3000 Error"
**Description:**
I got this "error other Apns 3000 Error"  returned  from APNS  asking for enabling the Push notification on capabilities however i double checked and found it's ticked

**Environment**
 Xamarin native ios  c#
VisualStudio 15.7

**Steps to Reproduce Issue:**
--tried to re produce the certificate using the one signal provisioning  tool
-- Double checked the Push notification is enab

[2018-05-03 10:13] runningcode commented on #348
Would it be possible to mark those fields as nullable and document them in the SDK? I find it a lot quicker to look at the documentation for the code I'm looking at instead of having to search somewhere else for documentation.

Also, how can we force onesignal to register for this case so that it isn't null?

[2018-05-03 15:13] vigneshr87 commented on #405
I am facing the same issue and my resolution strategy is

configurations.all {
    resolutionStrategy.eachDependency { DependencyResolveDetails details ->
        def requested = details.requested
        if (requested.group == 'com.android.support') {
            if (!requested.name.startsWith("multidex")) {
                details.useVersion '25.3.0'
            }
        }
    }
}

[2018-05-03 19:55] jkasten2 commented on #394
Crash from a Android 6.0 device, model Vibrance RQ-560

[code]

[2018-05-03 20:28] jkasten2 commented on #405
@vigneshr87 `25.3.0` will be to low if you are using `targetSdkVersion` 26 or higher. I recommend on removing your `resolutionStrategy` code and use the `onesignal-gradle-plugin` instead as this has it's own `resolutionStrategy` that will always pick the correct version.

Add the following to the top of your `app/build.gradle` to use it.
[code]

[2018-05-03 21:33] jkasten2 commented on #522
@salmahosni5771 This error is iOS not Android related. Also since this is an error you are seeing in Xamarin it best fits the [OneSignal-Xamarin-SDK)(https://github.com/OneSignal/OneSignal-Xamarin-SDK/issues) repository so going to close this issue for off topic.

However I believe what you need to do is sync your profile in Xcode so the new provisioning profile syncs to your system. Please open a

[2018-05-03 21:33] #522 closed

[2018-05-03 21:40] jkasten2 commented on #348
@runningcode For the nullable annotation we are going to wait until a 4.0.0 release of this SDK. We don't want to break anyone's project with unexpectedly.

The SDK retries automatically to register the device. The player / user id will only stay `null` if there was a networking issue to onesignal.com.

[2018-05-04 04:08] jkasten2 commented on #508
Closing due to inactivity. Let us know if the above does not help and we can reopen this issue.

[2018-05-04 04:08] #508 closed

[2018-05-04 08:04] vigneshr87 commented on #405
@jkasten2   After removing resolutionStrategy , the above exception disappeared but my app crash while receiving notification
                 java.lang.AbstractMethodError: abstract method "void com.google.firebase.iid.zzb.zzd(android.content.Intent)"
                                                                          at com.google.firebase.iid.zzg.run(Unknown Source:29)

[2018-05-04 08:28] ugnivs opened #524 "PlayerId"
Will the playerId be changed if user updates application in playmarket?

[2018-05-04 10:48] ramkailash-mob-incedo commented on #263
Fatal Exception: android.app.RemoteServiceExceptionBad notification posted from package com.viewlift.hoichoi: Couldn't expand RemoteViews for: StatusBarNotification(pkg=com.viewlift.hoichoi user=UserHandle{0} id=412 tag=null score=0 key=0\|com.viewlift.hoichoi\|412\|null\|10097: Notification(pri=0 contentView=com.viewlift.hoichoi/0x109007e vibrate=null sound=null defaults=0x0 flags=0x8 color=0xff0

[2018-05-04 10:49] ramkailash-mob-incedo commented on #263
If anyone found the solution. Then plz update me.

[2018-05-04 18:50] jkasten2 commented on #405
@vigneshr87 It looks like your firebase dependencies may have not been aligned. I just released a new version of `onesignal-gradle-plugin` which might fix the issue. Can you try updating this section to:
[code]

If this didn't help please create an issue here filling out all the sections so we can try reproduction the issue on our end.
https://github.com/OneSignal/OneSignal-Gradle-Plugin/issues/ne

[2018-05-04 18:51] jkasten2 commented on #524
@ugnivs No, updating the app will keep the same OneSignal player / user id.

[2018-05-04 18:51] #524 closed

[2018-05-05 11:58] j2emanue opened #525 "oneSignal dependency causing deSugar gradle error in android after firebase versioning update"
im seeing build issues after the new firebase verisioning has been added.

https://android-developers.googleblog.com/2018/05/announcing-new-sdk-versioning.html

I created a empty project and with google play plugin 3.2.0 i get the following build error in gradle:

<details><summary>Full Stacktrace from Gradle</summary><p>

[code]

</p></details>

when i comment out your library in my gradle file i

[2018-05-06 05:00] jkasten2 commented on #525
@j2emanue Thanks for reporting with all these details, I was able to reproduce the issue. Gradle isn't giving a very good error when Java 1.8 is used under `compileOptions` in the `app/build.grade`. I remove this from your example as was able to get a much better error of.
[code]
Duplicated google classes like this are the result of using different module versions from the `com.google.android.gms`

[2018-05-06 11:09] j2emanue commented on #525
thanks for the awesome response time, & thanks for looking into this, you want developers to turn off using java 8 available features inorder to build oneSignal sdk?  im already using lambdas from java 8 in a few places and the new time functions etc.  does your team have any timeline to address this ? and my code is a mixture of java and kotlin.  More importantly, we are using default interfaces

[2018-05-07 02:58] luck-alex13 opened #526 "NullPointerException com.onesignal.UserStatePush.addDependFields"
Hi, I have such crash in my firebase console.
SDK Version is last 3.8.4
OS versions: 93% - Android 4.2.2; 7% - Android 4.1.2

[code]

[2018-05-07 13:45] rostopira commented on #513
Is there any progress on this?

[2018-05-07 18:30] jkasten2 commented on #525
@j2emanue You can use Java 8 with the OneSignal SDK. I just wanted to point out that removing Java 8 setting you have under `compileOptions` will give better error messages to debug this issue. Sorry for this confusion.

The error your getting now notes that the Firebase SDK now has mixed versions. Version of both `com.google.android.gms` and `com.google.firebase` must match exactly when using ver

[2018-05-07 20:14] #507 closed

[2018-05-07 21:49] jkasten2 commented on #507
@summera @rameshvoltella We just released [version 3.9.0](https://github.com/OneSignal/OneSignal-Android-SDK/releases/tag/3.9.0) that supports FCM. GCM will be drop and FCM will be added with the upgrade automaticly as long as you followed the [OneSignal standard setup guide](https://documentation.onesignal.com/docs/android-sdk-setup#section-1-gradle-setup).

[2018-05-07 22:01] jkasten2 commented on #526
@luck-alex13 This is now fixed in the 3.9.0 OneSignal SDK released today!

[2018-05-07 22:01] #526 closed

[2018-05-07 22:12] summera commented on #507
@jkasten2 Thanks a lot! I'll be upgrading the SDK soon.

[2018-05-07 22:13] jkasten2 opened #527 "setEmail retries after sending a bad or missing emailAuthHash"
If `setEmail` has a bad or missing `emailAuthHash` when it is required it should remove the value from the toSync values to prevent retrying. The HTTP response code error contains should be checked to determine if the value should be deleted from the toSync cache

[2018-05-08 04:26] trungnguyennam commented on #508
I have the same issue. I used eclipse sample project and it only crash on 4.4 device( is ok with gradle but my partner still use Eclipse :( ) . Can you provide multidex for Eclipse or the "right" google_play_services ? @jkasten2 . Thanks

[2018-05-08 04:30] luck-alex13 commented on #526
@jkasten2 Thank you! I will update in the near future

[2018-05-08 06:07] j2emanue commented on #525
HI Josh, so that means OneSignal is using firebase packages below 14
currently, correct ?

On Tue, May 8, 2018 at 1:30 AM, Josh Kasten <notifications@github.com>
wrote:

[2018-05-08 06:41] j2emanue commented on #525
HI Josh, so that means OneSignal is using firebase packages below 14
currently, correct ?

so i've added the plugin for oneSignal has suggested. here is what i have so far:

top level gradle:

`// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    repositories {
        jcenter()
        maven { url 'https://maven.fabric.io/public' }

[2018-05-08 07:11] minhdangoz commented on #509
I have got this same issue:
com.google.android.gms.common.api.internal.zzaz.zze (Unknown Source)
com.google.android.gms.common.api.internal.zzbi.zze (Unknown Source)
com.google.android.gms.common.api.internal.zzba.zze (Unknown Source)
com.google.android.gms.internal.zzcfy.removeLocationUpdates (Unknown Source)
arrow_right
com.onesignal.LocationGMS.onFocusChange (SourceFile:291)
com.onesignal.OneSi

[2018-05-08 16:58] jkasten2 commented on #508
@trungnguyennam You can check out this guide for including Google Play Services for Eclipse.
https://stackoverflow.com/questions/42979484/how-to-add-google-play-services-to-my-eclipse-adt-project

There isn't many guides for using multidex with Eclipse and haven't done so myself but this site looks to have a complete guide you can try.
http://docs.repro.io/en/dev/sdk/getstarted/android-multidex-ec

[2018-05-09 11:02] ravenfeld opened #528 "Update google-services"
When update com.google.gms:google-services:3.3.1
We have the following error
com.google.gms.googleservices.GoogleServicesPlugin.versionCompare(GoogleServicesPlugin.groovy:349)
The mistake would be related to the fact that you used 12 in your SDK if I understood correctly.
The version of firebase in 15. *. * corrects me in the worry of the blow ironing in 12 would be a pity for my case

[2018-05-09 19:14] jkasten2 commented on #525
@j2emanue It looks like as far as everything top level in your project you are restricting everything to `12.0.1` correctly. However the issue is most likely with one of your dependencies including a newer version.

Since the OneSignal-Gradle-Plugin hasn't been updated to support version 15 of these Google libraries your best option for now is to use your own `resolutionStrategy` code.

This will

[2018-05-09 19:16] jkasten2 commented on #528
@ravenfeld Google's `com.google.gms:google-services` Gradle plugin version 3.3.0 has some bugs causing builds to fail noted in this Google issue.
https://issuetracker.google.com/issues/79122163

I haven't tested 3.3.1 but there might still be some incompatibles with their plugin. We will test this version and get back to you.

In the mean time you can use version `com.google.gms:google-services:3.

[2018-05-09 21:40] Nightsd01 commented on #514
@rameshvoltella We resolved a null pointer issue recently in 3.9.0 and based on the stack trace you provided, I believe it is a related issue.

Can you tell me if this issue is still occurring in version 3.9.0 of the OneSignal SDK? Thanks!

[2018-05-09 21:40] Nightsd01 commented on #514
(Didn't mean to close)

[2018-05-10 05:54] fatemeh2sh opened #531 "userid is null"
i have problem with userid in oneSignal.

  OSPermissionSubscriptionState status = OneSignal.getPermissionSubscriptionState();
 String userID = status.getSubscriptionStatus().getUserId();
   boolean isSubscribed = status.getSubscriptionStatus().getSubscribed();

**`return userID to null in some phone`**
 this is json
**{
  "permissionStatus": {
    "enabled": true
  },
  "subscriptionStatus": {

[2018-05-10 11:37] j2emanue commented on #525
yes, your resolutionStrategy has patched the issue.

[2018-05-10 14:40] Asad4429 commented on #263
[code]

OneISignal version 3.8.3
Android sdk: 27.1.1
BuildToolVersions: 27.0.3

[2018-05-10 18:41] jkasten2 commented on #531
@fatemeh2sh If `getUserId()` is `null` you can call [`addSubscriptionObserver`](https://documentation.onesignal.com/docs/android-native-sdk#section--addsubscriptionobserver-) to setup a callback that will fire when any subscription property changes. You can then check if `getTo().getUserId()` is not `null` when this fires.

[2018-05-11 13:40] molnardindex opened #533 "Gradle if minifyAble set to true One Signal detects Support Library isn't added."
**----update----**
Today morning I tried to set multidexEnabled to true, than I was able to set minifyEnabled to false. Without multidexing I'm not able to set miniyEnabled to false because of 65k methods limit. With these settings One Signal works perfectly.
But if turn minifyAble to false, I get an error message, Support Library is not added to project. (Anyway which support lib is missing for O

[2018-05-11 14:32] mvvOrigin commented on #533
Have the same issue with 3.9.0
https://github.com/OneSignal/OneSignal-Android-SDK/releases

only in release builds

proguard-rules.pro is added from
https://github.com/OneSignal/OneSignal-Android-SDK/blob/master/OneSignalSDK/onesignal/consumer-proguard-rules.pro

[2018-05-11 15:38] molnardindex commented on #533
@mvvOrigin it good to read I'm not alone with my problem. I tried to downgrade back to previous version, but is didn't solve this issue.
Anyway you said you have this issue only at release builds. Did you tried to run your debug build like I wrote above? Not with Android Studio->Run 'app', but build a debug apk by Studio->Build->Build APK(s), than install it on device (e.g. by Crashlytics).

[2018-05-12 07:14] thariq12 commented on #337
Hi, I'm using MI A1 smart phone with Oreo. I receive error notifications very often when the phone receive  a notification and the details section starts with "java.lang.runtimeexception" and some where in the middle it shows "com.onesignal.gcm", but I do not use or signed up to One signal services and I never tried. how can I remove the pop up?
![screenshot_20180512-124230](https://user-images.gi

[2018-05-12 08:06] aryayudha commented on #451
i have same issue, how to fix it?

[2018-05-12 08:31] fatemeh2sh commented on #411
krishna2122  i have this problem. do you solve problem?

[2018-05-13 09:08] molnardindex commented on #533
I have another project where I use One Signal. Before I was able to build a signed minified apk. Now I tried to build a debug apk without minify, and One Signal worked properly. But if I set minifyEnabled true, I get the same issue. One Signal throws an error, Android Support Library cannot been found.

[2018-05-13 10:10] mjalijani opened #534 "Gradle Plugin com.google.gms:google-services:3.3.x Bug - java.lang.NumberFormatException: For input string: " 12""
**Description:**

i'm importing the onesignal in mt project and im getting this error :

i'm using the last version

and i'm also using  :

![screenshot 51](https://user-images.githubusercontent.com/21081719/39966090-40a12534-56bb-11e8-853a-b21bf264ddf1.png)